[2018-02-26 19:09] todd-cook commented on #716
1. Regarding fuit, I'd like to see where people say it's not a diphthong; and is there consensus.
2. Your results may vary depending on the input: if the first is stressed or isolated by diaeresis, then you should get the two syllables; otherwise the weak i by position should be consonantal.

I can make adjustments if there is a concrete rule that people can cite; I have looked in my available gra

[2018-02-26 20:25] TylerKirby commented on #716
@todd-cook For fuit, I believe the word is disyllabic. @diyclassics, @kylepjohnson what are your opinions?. I haven't seen any evidence to the contrary, but if there's more nuance to this issue in certain domains (e.g. poetry, certain epochs of Latin) please share what you've found.
Cf http://www.wheelockslatin.com/chapters/introduction/introduction_diphthongs.html,
https://en.wiktionary.org/wiki/

[2018-02-28 13:24] osho-agyeya commented on #707
Please elaborate.

[2018-02-28 14:35] chennakeshava1998 commented on #707
PR #676 already added the old and middle egyptian lists to  cltk/cltk/corpus/swadesh.py . So I did not understand to what file I had to add those python dictionaries given in https://github.com/Sedictious/cltk/blob/6d462dc4c54ec8a9d9142a71a03ef68481241bbe/cltk/corpus/swadesh.py

Please correct me if I am wrong but I couldn't find any reference to old and middle egyptian lists in the documentation

[2018-03-01 05:32] TheFlash10 opened #722 "Old Norse Alphabet"
Is [this](https://lrc.la.utexas.edu/eieol/norol/10#grammar_1383) ok for reference ?? @clemsciences
Its given in the grammar section

[2018-03-01 15:56] clemsciences commented on #722
Hey, your link is wonderful! I didn't know this website. Select the correct paragraph https://lrc.la.utexas.edu/eieol/norol/10#grammar_1381 because your link is to pronunciation and not exactly for alphabet.

[2018-03-01 16:01] TheFlash10 commented on #722
Thanks 😄

[2018-03-02 00:17] pabitralenka opened #724 "Add Swadesh list for Odia"
@kylepjohnson In reference to #655, I will add Swadesh list for Odia from [here](http://ielex.mpi.nl/language/Oriya/). The order of the list is not in the order of Swadesh lists in Wikipedia. I will rearrange them, maintain the order according to the Swadesh list format and then add it.

[2018-03-02 11:31] salonirk11 commented on #563
@kylepjohnson can i take this up if this has not already been worked upon?

[2018-03-02 11:51] salonirk11 commented on #563
@kylepjohnson I would like to take this up if it hasnt already been completed.
I will use brahmi script for this task. I will use the following unicode for this.
https://unicode.org/charts/PDF/U11000.pdf

[2018-03-02 21:04] clovell opened #726 "Latin lemmatizer slow--proposed fix"
The Latin BackoffLemmatizer is slow, especially if lemmatize() is called more than once. The main factor seems to be that a call to lemmatize() results in a call to _define_lemmatizer(), so that all the lemmatizers in the backoff chain are re-trained every time lemmatize() is called. If _define_lemmatizer() is called in __init__ instead, the BackoffLemmatizer is much faster. Code to do this is her

[2018-03-03 07:41] salonirk11 opened #727 "Parallel corpus for the Bible (Hebrew and Romanised version)"
@kylepjohnson  I want to prepare a line by line parallel corpus of the Bible as a kickstart to develop machine translation interface to Moses. I will use the Tanakh for hebrew version and the old testament for the romanized version.
Please let me know if I can take this up.

[2018-03-03 07:47] salonirk11 commented on #727
I will use http://www.scripture4all.org/OnlineInterlinear/Hebrew_Index.htm to generate the corpus.

[2018-03-04 09:53] LBenzahia commented on #727
@salonirk11, Thrilled to see this!. go for it :+1: !

[2018-03-05 20:15] diyclassics commented on #726
Nice catch, and makes sense. I will look at this soon. In the meantime, did you happen to time the difference? I'm curious (and will probably set this up for myself when I get a chance to review!) PJB

[2018-03-06 18:32] diyclassics commented on #726
"Much faster" is an understatement—I'm getting ~622x faster with lemmatizing a paragraph of text (Cic. Pro Quinctio 1). There is now an up-front cost to initializing the lemmatizer class (the same time difference), but it is now a one-time cost. Thanks again for catching this—I encourage you to make a PR for this.

[2018-03-06 18:33] diyclassics commented on #726
@kylepjohnson—622x faster!

[2018-03-06 23:00] clovell commented on #726
I made a pull request. I'm wondering if we might get a further speedup by loading the lemmatizer chain from a pickle, instead of training it each time it's initialized.

[2018-03-07 04:14] rajeevnagarwal opened #732 "Add Indonesian Swadesh list"
@kylepjohnson In reference to #655, I want to add Swadesh list in Indonesian language. I will use google translate API to translate English words to Indonesian.

[2018-03-07 04:18] RN0311 opened #733 "Add a new Swadesh list in Marathi."
In reference to #655, I want to add Swadesh list for Marathi language from [here](https://en.wiktionary.org/wiki/Appendix:Marathi_Swadesh_list).

[2018-03-07 04:18] RN0311 commented on #733
In reference to #655, I want to add Swadesh list for Marathi language from [here](https://en.wiktionary.org/wiki/Appendix:Marathi_Swadesh_list).

[2018-03-07 08:25] clemsciences commented on #732
Hey @rajeevnagarwal!
Are you sure Indonesian is within scope of CLTK? Moreover Google Translate is not a good dictionary (in my opinion). When was the first time that a book was printed in Indonesian? Before this date, we can consider the language as a classical language.

[2018-03-07 08:28] clemsciences commented on #733
A pull request #687 is currently opened, so you may contact the author.

[2018-03-07 13:37] RN0311 commented on #733
Oh, yeah. @clemsciences . Thanks!

[2018-03-07 13:40] #733 closed

[2018-03-08 09:13] salonirk11 commented on #727
This is the prepared corpus with line by line translation from hebrew to english.
https://github.com/salonirk11/hebrew_eng_parallel_bible
Please let me know if i can add this to CLTK

[2018-03-08 09:17] LBenzahia commented on #727
Thanks a lot @salonirk11 , I'll check it out.

[2018-03-08 11:01] #732 closed

[2018-03-08 14:45] diyclassics commented on #726
@clovell—I've thought about this as well. Part of what is going on here is that it was meant to be a proof of concept more than anything else—a demonstration that a backoff approach would work for lemmatization the way it does for, say, POS-tagging. So, I like the transparency of having all the steps necessary for putting the chain together listed explicitly in the code. This lemmatizer is meant t

[2018-03-08 17:01] #722 closed

[2018-03-09 18:51] kylepjohnson opened #735 "Implement blog post integrating SyntaxNet and NLTK"
Ticket for @TheFlash10 (will assign once part a member of the cltk org).

Follow blog posting here: http://www.davidsbatista.net/blog/2017/03/25/syntaxnet/

Do your code in a Jupyter notebook and paste back here. Please include very careful installation or setup instructions for your OS, so that others can reproduce.

For a next step, I will want you to add this to our official docs, however let's

[2018-03-09 23:01] kylepjohnson commented on #652
Sorry @MissingBytes this is being handled now by PR #734

[2018-03-09 23:02] kylepjohnson commented on #651
Hey @souravsingh it looks like this is being covered now by PR #734 . I'll report back here if it becomes open again

[2018-03-10 05:13] TheFlash10 commented on #735
The links in 'setup' section in the blogpost do not work. I will find the links to setup and update it.

[2018-03-10 16:44] kylepjohnson commented on #643
Hi @avkumar19 I merged your PR. Thanks and sorry to be so slow -- the team has been overextended lately. We are working on dividing these tasks for the future.

I left this comment over there: https://github.com/cltk/hindi_text_ltrc/issues/1#issuecomment-372043143

Is this cleanup issue done, too?

[2018-03-10 16:59] kylepjohnson opened #738 "Crawl Medieval texts on Wikisource"
We just want the text, not the HTML. You could write a crawler, however there are not that many -- you could probably copy-paste.

https://en.wikisource.org/wiki/Portal:Medieval_texts

Use this repo/corpus as a model: https://github.com/cltk/french_text_wikisource

See here on adding a corpus to the CLTK: https://github.com/cltk/cltk/wiki/How-to-add-a-corpus-to-the-CLTK

[2018-03-10 18:06] Nada1996 commented on #738
@kylepjohnson can I work on this?

[2018-03-10 20:10] giannhs694 commented on #655
Does the order of the words in the list matter?

[2018-03-10 23:23] clemsciences commented on #655
Yes, of course, otherwise how could we know the meaning of the word? It is a normalized list.

[2018-03-12 09:31] ashwanidv100 opened #742 "Corpus need to be forked"
I want to transfer my repo to cltk for adding medieval_text. More text will be added soon ( URL: https://github.com/ashwanidv100/medieval_text_wikisource )

[2018-03-12 17:15] adsrc commented on #738
Hey @kylepjohnson, could I please be assigned this issue? I have read the guidelines and will complete it in a few hours.

[2018-03-14 12:12] kevinstadler opened #743 "Improvements to multilingual stop module"
This is a collection post for a number of issues that I ran into while trying out the new [language-general stop module](cltk/stop/stop.py) module on some Classical Chinese data. I'll probably have a go at many of them myself over the next couple of days, but would be interested to hear the opinion of @diyclassics in particular if my proposed solutions are ok!

- [x] `StringStopList` does not supp

[2018-03-14 14:22] diyclassics commented on #743
Thanks for the thorough and considered response. I can respond in more detail soon, but I wanted to address a few things up front so that you could continue with what sounds like very productive work!
- re: StringStoplist v. CorpusStoplist—that was to some degree an experiment in a new approach to how CLTK modules should be structured, i.e. an abstract Class with functional/general Subclasses at t

[2018-03-14 15:54] francescomambrini opened #744 "TypeError with tag.ner and corpus readers"
Hello,
I ran into a `TypeError` error while loading the Latin Library texts and trying to pass the tokenized words to the NER tagger. Consider this minimal scenario:

[code]
This would result in:
[code]
The problem is most likely generated by the datatype returned by the `words()` method of the corpus reader, which is `nltk.corpus.reader.util.StreamBackedCorpusView`. If you explicitly convert it t

[2018-03-15 13:14] DLibatique opened #745 "AttributeError in line tokenizer?"
When I try to call LineTokenizer from cltk.tokenize.line, I get the following Traceback. Problem has only started showing up in the past few days or so. Thank you!

[code]

[2018-03-16 02:16] kylepjohnson commented on #619
@taineleau

https://github.com/cltk/cltk/issues/619#issuecomment-366490320 and above

This all is very interesting to read. If you are interested in GSoC, go ahead and put these ideas down in a document for us. To prove that your ideas are too risky, it would help to see code illustrating some of this and research papers explaining how to do this.

About word segmentation, I have been told by othe

[2018-03-16 02:53] kylepjohnson commented on #700
Any updates on this @inishchith?

Also: Since we cover [Hindi from AD 1050 to 1796](https://github.com/cltk/cltk/wiki/List-of-Classical-languages), would there have been any Urdu words that have crept in during that timespan? I don't know, just thinking aloud.

[2018-03-16 02:59] kylepjohnson commented on #697
Hi any work done on this yet? Rule-based stemming is challenging but how it has been done in the past.

For inspiration look at the [Stemmer()](https://github.com/cltk/cltk/blob/da1b58838005a76c7f7ce239b23b17f4447df1d2/cltk/stem/latin/stem.py#L15) for Latin, which @lukehollis did some years back.

And you should look at stemmers for other, similar Indian languages. For example, I read that Lucene

[2018-03-16 03:25] kylepjohnson commented on #735
@TheFlash10 have you made any progress on this?

[2018-03-16 03:29] kylepjohnson commented on #742
@ashwanidv100 please respond in #738 if this is the task you mean to reference.

[2018-03-16 03:29] #742 closed

[2018-03-16 03:31] kylepjohnson commented on #738
@Nada1996 or @adsrc you are both free to work on this. Really, if you copy-paste, it'll be a quick one.

[2018-03-16 05:09] ashwanidv100 commented on #738
Hey @kylepjohnson, I am also working on this one. I added the PR #741, but I found some checks were not successful, I think that's because cltk does not have repo for medieval_text. So, I added some text, directly copy-paste from Wikisource and still adding...As for adding corpora, the repo needs to be transferred to cltk from (https://github.com/ashwanidv100/medieval_text_wikisource).

[2018-03-16 09:31] omarahmed10 commented on #738
hi @kylepjohnson this is the link of my corpora [medieval_text_wikisource](https://github.com/omarahmed10/medieval_text_wikisource).
I added the PR [#746](https://github.com/cltk/cltk/pull/746) but you asked me for the corpora and also to change the language name so what do you suggest

[2018-03-16 14:32] inishchith commented on #700
@kylepjohnson i could only partially work on it . i've made changes [here](https://github.com/cltk/cltk/pull/713#discussion-diff-171262990R11) on the  words reported above .

i found that there are mixed reviews on this . I'm still carrying out searches , shall keep this thread  updated .
Also @avkumar19 referenced this thread , your review would be helpful 😄

[2018-03-16 14:35] the-ethan-hunt commented on #697
@kylepjohnson , yes a PR is pending for review. Please see PR #719

[2018-03-16 17:11] avkumar19 commented on #700
@kylepjohnson you are right about the fact that from AD 1050 to 1796 Indian literature was getting influenced by Urdu. One of the best examples of this could be [Amir Khusrow](https://en.wikipedia.org/wiki/Amir_Khusrow) who compiled most of his work in [Braj](https://en.wikipedia.org/wiki/Braj_Bhasha) and [Urdu](https://en.wikipedia.org/wiki/Urdu). And  [Braj](https://en.wikipedia.org/wiki/Braj_Bh

[2018-03-17 14:57] ashwanidv100 commented on #735
Hey, @kylepjohnson I want to work on this, I also proposed this project in my GSoC'18 proposal. Can you please assign this task to me too.

[2018-03-17 15:45] ashwanidv100 commented on #744
You can try again by adding this command `from cltk.corpus.latin.corpora import LATIN_CORPORA`

[2018-03-17 16:52] ashwanidv100 commented on #745
Please, could you share a complete code @DLibatique

[2018-03-18 00:32] TheFlash10 commented on #735
Download bazel v0.4.5:
Download the Bazel version for your system = https://github.com/bazelbuild/bazel/releases (For mac install the darwin version)

# **Run the installer**
chmod +x bazel-version-installer-os.sh
./bazel-version-installer-os.sh --user

If you ran the Bazel installer with the --user flag as above, the Bazel executable is installed in your $HOME/bin directory.
It's a good idea to a

[2018-03-18 00:35] TheFlash10 commented on #735
My code runs till the last line of echo sentence but then gives an error of  **pywrap_tensorflow_internal** file, instead of giving the output of parsed ASCII Tree.

I will resolve the issue and comment further ASAP.

[2018-03-18 13:56] kevinstadler commented on #743
Thanks, that makes more sense now!

* Regarding the `StringStopList`, I would just scrap this class altogether, since its functionality is completely subsumed by the `CorpusStopList`, since the `CorpusStopList` calculations can all be applied to a single string as well, simply by treating it as a document collection of 1 document, or am I wrong? So my suggestion was to rename the `CorpusStopList`

[2018-03-18 15:17] DLibatique commented on #745
At projector_prep.py in my CL262-in-class repo:

https://github.com/DLibatique/CL262-in-class/blob/master/projector_prep.py

[2018-03-18 15:24] DLibatique commented on #745
(I realize now that I could just as easily split the text with .split('\n'), but figured it was still important to bring this to CLTK's attention in case anyone else wants to use the line tokenizer)

[2018-03-20 13:29] pharos-alexandria opened #753 "Greek lemmatizer bug"
[code]

returns
['λόγων/λογάω', 'λογίων/λογάω'] instead of λόγος.

[2018-03-20 13:46] pharos-alexandria commented on #753
This happens, if accent is tonos instead of oxia.

Bute with oxia the output is also not correct:

[code]
returns
['λόγων/λόγων', 'λογίων/λογίων']

[2018-03-20 19:11] diyclassics commented on #745
Runs without error here.

[2018-03-20 19:12] diyclassics commented on #745
Oh—I see. You have a file named 'copy.py' in this directory, which is overriding a file of the same name used by pyparser. Rename or remove this file and it should work. Confirm and I'll close this issue.

[2018-03-20 20:06] DLibatique commented on #745
Yep, that would do it. Thanks @diyclassics!

[2018-03-20 20:15] #745 closed

[2018-03-20 20:26] diyclassics commented on #744
The ```words``` method in PlaintextCorpusReader returns a custom NLTK class and the NER script is looking for a list. One way you can get around this is by converting the LL words to a list before passing to ```tag_ner```, so:

[code]

NB: This *will* get slow if the number of words is very large. But for the *BG* (~10000 words), you should be fine.

[2018-03-20 20:27] diyclassics commented on #744
Also (*for now*), you can directly access the LatinLibrary corpus with the following:

```from cltk.corpus.latin import latinlibrary```

(I write *for now* because there is an open PR that will eventually change this import.)

[2018-03-21 13:37] omarahmed10 commented on #555
Hi @LBenzahia , @LBenzahia   I am willing to contribute to
Add number function : transform arabic numbers <-> arabic strings and
Add Arabic Normalizer, where can I start?

[2018-03-24 05:29] ashwanidv100 commented on #753
I can fix this in my local repo ```
from cltk.stem.lemma import LemmaReplacer
 sentence = 'λόγων λογίων'
 lemmatizer = LemmaReplacer('greek')
 lemmatizer.lemmatize(sentence, return_raw=True)
['λόγων/λόγος', 'λογίων/λόγος']
[code]

[2018-03-24 20:12] salonirk11 commented on #727
@LBenzahia please let me know the reviews for this.

[2018-04-01 12:59] stellargo commented on #649
@kylepjohnson if the issue is stale can i take it up?

[2018-04-01 14:26] stellargo commented on #669
To allow travis to seamlessly push the changes to and push to GitHub, you will need to set up GitHub personal access token and tell travis about it. Essentially we will create an environment variable GH_TOKEN with your actual GitHub token, that is encrypted on the travis-ci servers. So this way you don't expose your actual GitHub token to anyone who looks at your .travis.yml file.
[code]

[2018-04-02 12:27] giannhs694 commented on #753
Shouldn't this be in greek_models_cltk issues? I've made a pr there

[2018-04-03 17:18] #716 closed

[2018-04-04 16:24] TheFlash10 commented on #735
Hey Kyle can you review this, it works well now... The problem was I was using python 3.6. It should be done in python 2.7 !! @kylepjohnson
This is for MacOSX

[2018-04-26 18:32] diyclassics commented on #726
Fixed with #731

[2018-04-26 18:32] #726 closed

[2018-05-18 08:04] xuzhaoqing commented on #619
Hi, @kylepjohnson I’m wondering if we could just use the corpus in wikisource? There are hundreds of books with millions of words, which is also accurate and wonderful. The only problem is that  it's difficult to download them, but a web-crawler would be useful. What's more, which kind of corpus would you like? since China has a very long history, the so-called Classical Chinese has different styl

[2018-05-18 16:47] kylepjohnson commented on #619
@xuzhaoqing Thanks for the offer. Yes, it would be wonderful to have the WikiSource documents in our repo.

For Chinese, we do not have a firm cutoff date, so I think it is OK to be inclusive up to the mid-1800's.

Do you know how to write a web crawler? One of us can help you get started.

This repo is a good example of the kind of documents we would like: https://github.com/cltk/french_text_wiki

[2018-05-19 08:35] xuzhaoqing commented on #619
@kylepjohnson Hi, thanks for your reply! I would be very thankful if any of you could give me some guidance on Web-Crawler in python. I'm new in web-crawler. What's more, do you have any platforms for us to communicate(i.e. IRC,mail,slack,gitter). Thanks!

[2018-05-22 17:44] diyclassics commented on #559
Fixed in #600, #686

[2018-05-22 17:44] #559 closed

[2018-05-22 17:52] diyclassics commented on #561
Looking for more feedback on this subject—compare the module structure here: https://github.com/diyclassics/cltk/tree/stop-update/cltk/stop

I have two set-ups that produce the same results, which amount to imports like the following:

- from cltk.stop.latin.stop import LatinCorpusStoplist
   or
- from cltk.stop.latin import LatinCorpusStoplist

I'm leaning toward the second now (also looks closer

[2018-05-22 18:09] kevinstadler commented on #743
Thanks that's looking good, I think those test examples will do too! For Chinese-specific punctuation one could probably just copy-paste the list from the zhon package at https://github.com/tsroten/zhon/blob/3884593a028b12bcdf79f59d6ea6295271238f87/zhon/hanzi.py#L29 ?

[2018-05-22 22:09] todd-cook commented on #680
Probably a good idea to add them to the requirements: these libraries have become fairly standard includes for Python NLP work.
I suppose the real issue is that we should then peg the versions and be mindful that upgrading one may require bringing others along. Of course, unit tests that perform integration testing of these libraries will make these implicit links among the dependencies more robus

[2018-05-22 22:45] todd-cook commented on #561
I would like to see if tokenizer could use the injection paradigm that I tried with the LatinSyllabifier:

https://github.com/cltk/cltk/blob/master/cltk/prosody/latin/Syllabifier.py
- the constructor takes a ScansionConstants class ( or has a default of the Latin ScansionConstants)
such as the one for Latin:
https://github.com/cltk/cltk/blob/master/cltk/prosody/latin/ScansionConstants.py
--In this

[2018-05-22 23:18] todd-cook commented on #657
This has been fixed. Closing

[2018-05-22 23:18] #657 closed

[2018-05-22 23:22] todd-cook commented on #625
Looks like the issue has been resolved.
We may want to update the documentation though.

[2018-05-22 23:22] #625 closed

[2018-05-22 23:27] diyclassics commented on #561
@todd-cook Thanks for the feedback. 1. On the tokenizer, I'll take a closer look at the injection paradigm and see how it could be incorporated; also re: "hopefully a number of different languages could use the same base class pattern"—that's where I'm going with this thread in general. 2. On the stops module—the classes available here are working toward avoiding static 'default' lists and standar

[2018-05-22 23:37] todd-cook commented on #561
Yes, please share the paper.

[2018-05-23 03:47] kylepjohnson commented on #561
This is a great thread. I'll throw in my 2 cents concerning what I like in an API. This is kinda long, and I am thinking about the API throughout the project, not just this particular issue.

### 1) What makes for a good API for users?

Looking from the outside in, I like like our APIs with the language passed as as a parameter to an class or function. `WordTokenizer` is an example of this:
[code]

[2018-05-23 14:15] diyclassics commented on #743
"Can we scrap the distinction between these two classes altogether by making a SimpleStopList class whose build_stoplist() is sensitive to whether it is passed a single string or a list/collection?" Testing this out this morning—and I'm more and more inclined to agree, esp. since the sklearn vectorizers work with a document list of length 1.

[2018-05-23 20:20] todd-cook commented on #561
@kylepjohnson
I don't see any problem with implementing the imports as described.

@diyclassics I agree with your points. And re: "passed as a parameter" I think it worth the added complexity, and shouldn't be that difficult to maintain.

Where projects tend to get into trouble is when they start building tools that do import with side effects (classic example one imports a data connection package

[2018-05-28 02:39] swasheck commented on #615
This is still an issue. Once the corpus has been downloaded, what can we do? It seems like primary value is to use all of the sets as training sets and then ... uhh ... analyze something ... somehow. Additionally, "latest" documentation is broken ("Concordance" doesn't work as there's no method call `write_concordance_from_file()` anymore, I guess?).

[2018-05-28 15:38] kylepjohnson commented on #561
Yes. Thanks for indulging me.

If I follow, the model looks promising for what you're talking about here.

To  your and Todd's comment, I will try my hand at a dummy-data example of the package/module that I have in mind. If we can stuff everything general into `sentence.py` and `word.py`, then place language-specific data and processing into modules (eg, `greek.py`), then I think we could have so

[2018-05-30 13:47] Sedictious opened #764 "POS tagging by text allignment"
Since properly tagged (free) corpora are scarce, I have been doing some research on POS tagging by using bilingual corpora.

I think it would be useful to either write some docs for using commercially established tools and integrate them to CLTK or implement widely used text alignment algorithms (like the proposed IBM models). If anyone has any useful tools in mind or general suggestions, please s

[2018-05-30 16:38] kylepjohnson commented on #764
I am not familiar with this approach. Any docs you can share?

There must be tremendous advantage for us to integrate with proprietary software. In general, though, the best NLP is done through FOSS, so we can probably find a good alternative. :)

[2018-05-30 17:09] Sedictious commented on #764
The basic idea is that you determine the tasgset of a target language by matching it with a (presumably morphologically related) tagged language. For text alignment [GIZA++](http://www.statmt.org/moses/giza/GIZA++.html) is the most used, implementing both the early IBM models and their numerous revisions.

Related bibliography:

http://www.aclweb.org/anthology/D07-1041
https://www2.lingfil.uu.se/l

[2018-05-30 18:28] kylepjohnson commented on #764
Thanks. From the Borin article, I the hypothesis "that  word  pairs  that  are  good   translations  of  each  other  are  likely  to  be  the  same  parts  of speech  in  their  respective  languages”.

For this approach, is it required to have fully aligned texts (ie, a source text and its direct translation)?

I could see this with (say) Greek and Russian, or Latin and German. However with some

[2018-05-30 21:18] diyclassics commented on #764
Adding @jamesgawley—his GSoC work may be relevant here.

[2018-05-31 04:51] TheFlash10 commented on #735
Please review, it works well now... The problem was that I was trying with python 3.6. It should be done in python 2.7 !! @kylepjohnson
This is for MacOS

[2018-05-31 08:05] todd-cook commented on #764
I think CLTK contributors should take a stab at POS tag annotating a small corpus, then inviting people to correct and build from there.

As for computational and comparative linguistics for expanding on POS tag sets; the theoretical possibility that it can be done, is devalued by the inconsistent results that are harvested.
I’ve done quite a bit of work—not yet in CLTK, but headed for CLTK—with t

[2018-05-31 11:58] Sedictious commented on #764
@todd-cook  You bring up some valid points, especially regarding generated datasets. Your second  suggestion made me wonder about the existence of a computational model determining the confidence of the alignment based on some kind of syntactical analysis (by say distinguishing between independent and dependent clauses). However, I assume this would imply a circularly defined solution, since this

[2018-05-31 16:50] kylepjohnson opened #765 "Part of speech tagger for Old English"
Issue for @free-variation, who will fill out the details for the community on what is involved. The basics, though:
* Write data download instructions (or a script, bash or Python) to download [The York-Toronto-Helsinki Parsed Corpus of Old English Prose (YCOE)](http://www-users.york.ac.uk/~lang22/YCOE/YcoeHome.htm). (Note: Since the corpus data is proprietary, we cannot re-host the actual data in

[2018-06-01 11:20] Sedictious commented on #764
I managed to get GIZA running (wrote a little bit about it [here](https://github.com/Sedictious/cltk/blob/Tutorial/docs/Word_Allignment_With_GIZA++.rst)). Given the small (~17500L) training set, the algorithm performs surprisingly well. That being said, it still produces less-than-acceptable results and has difficulty assigning high confidence rate to similar or even identical graphemes. If anyone

[2018-06-01 13:46] diyclassics commented on #765
Since we have this nice develop-OE & follow-Latin setup here, it would be good to start thinking in terms (like in the tokenization, stop, etc. discussion) of base classes with language-specific subclasses. If this is the direction you want to go, I can write/rewrite/refactor the Latin code as necessary as @free-variation finishes OE code. (Talking spec. here about the 'pre-process' and 'train' bu

[2018-06-01 18:05] todd-cook commented on #764
I vote for not putting GIZA code into CLTK.
CLTK does need some small corpus of tagged sentences. If GIZA helps you with a first pass at generating that corpus, then fine. The corpus will need a second pass and verification.
A small high quality tagged corpus is far more valuable than a larger corpus with a higher error rate.

[2018-06-01 18:48] Sedictious commented on #764
@todd-cook Hmm, I see what you mean. If time is not a huge concern, I can try to manually prepare a highly accurate (albeit small) training set. Otherwise, I would be happy to try helping with parsing existent sources (like #765 ).

My main aim was to find a way to generate the POS tags rather than offering potential users access to the generated corpus itself. In hindsight, I can see this being p

[2018-06-04 06:57] minxuancao commented on #635
Hello, is this issue still open? I would like to give it a shot if possible

[2018-06-04 14:01] Sedictious commented on #764
@todd-cook @kylepjohnson  As a follow-up question, could someone please point me to the conventions for generating POS tags? I'm trying to use [this](https://corpora.uni-hamburg.de/hzsk/de/islandora/object/text-corpus:ren-0.6#additional-files) set, to train NLTK's taggers.

[2018-06-05 03:55] kylepjohnson commented on #765
Smart idea @diyclassics and this a good place to start experimenting, since relatively few are training their own taggers. Since I wrote the code, I can illustrate a few ideas we talked about in #561

@free-variation push ahead with your work independent of mine and Patrick's conversation on this. When it's ready, we can include your innovations to my code (linked above) into the new classes.

[2018-06-13 22:39] todd-cook commented on #764
@Sedictious The easiest way to train a tagger is the simplest way you can find!

However, for longevity, defense-ability and robustness, you might consider a two step process:

1. Generate the POS tag annotated texts using XML [see below] (This is what Perseus provides)

--Although XML is a bit overkill and painful to use--it is *highly unlikely* that users will be willing to update non-xml POS ta

[2018-06-17 20:52] TylerKirby opened #775 "Convert phi5 with TLGU"
I imported my local phi5 files with the corpus importer and successfully installed the TLGU by importing it, yet I'm unable to convert the full corpus.

My phi5 files are in `~/cltk_data/originals/phi5` and `t.convert_corpus(corpus='phi5')` executes without throwing any error but no files are created and nothing is logged. Using `convert` on a single file works perfectly.

[2018-06-18 13:39] diyclassics opened #776 "Betacode converter should handle lowercase input"
The betacode replacer does not currently work with lowercase character, e.g. like those used in older versions of the Perseus xml files (www.perseus.tufts.edu/hopper/dltext?doc=Perseus%3Atext%3A1999.01.0125):
```"""ta/ te a)/lla kai\ di' h(\n ai)ti/hn e)pole/mhsan a)llh/loisi."""```

A solution could be to use ```upper()``` on strings that are passed in, though there needs to be some caution in ha

[2018-06-18 20:14] Sedictious commented on #776
Actually '\n' is already treated as a special character by ``upper()``

In your example ``"h(\n ai)ti/hn".upper()"`` results in ``'H(\n AI)TI/HN'``

[2018-06-18 21:44] kylepjohnson commented on #776
Excellent, @Sedictious

Merged PR #778 and released as v. 0.1.86

[2018-06-18 21:44] #776 closed

[2018-06-19 15:46] diyclassics commented on #776
Yes—but shouldn't it result in 'H(\N' (or, perhaps, 'H(\\N')?, i.e. I think the '\n' needs to be escaped in the upper conversion so that the process is 'H(\N' > 'ἣν' not 'ἡ\n'. Let me test the PR on some strings and send an update.

[2018-06-19 15:51] kylepjohnson commented on #776
Patrick, I merged this b/c I had a rare spare moment, however was not thinking about the details. Send any updates you see fit.

FWIW, here is what I get from the following:

[code]

Whether these `\n` would always be escaped by `upper()` (say from arbitrary read files), I don't know.

[2018-06-19 16:13] Sedictious commented on #776
@diyclassics  I'm sorry, I'm not sure I quite follow. From the documentation

So following this definition, \n shouldn't be converted and is indeed treated differently. Following the same logic `` '\w'.upper() `` gives  `` '\\W' `` so `` Replacer().beta_code(r"""pe\wn""") `` correctly gives `` 'πὲων' ``.

[2018-06-19 17:31] diyclassics commented on #776
Haven't had a chance to test all the combinations—but this sounds reasonable. I only brought special characters up in the initial post to flag potential pitfalls with the use of slashes in betacode.

[2018-06-20 04:28] free-variation commented on #765
@kylepjohnson I see from your Latin training code that you use the n-gram taggers, plus the (older?) TnT and a conditional random field tagger.  Not in your list is the Brill tagger.  Is that because we want to stick to statistical taggers?  I ask because I wonder if some hand-editing of rules might not be useful for OE.  I confess though that editing Brill rules takes me back to my first semester

[2018-06-22 23:32] #651 closed

[2018-06-25 07:49] clemsciences opened #787 "N-gram phonological/phonetic transcription"
For now, cltk/phonology/utils.py has a n-1 and n+1 environment to determine the pronunciation of a letter. It would be better to give the possibility to take into account as much environment as necessary.

[2018-06-25 14:36] francescomambrini opened #790 "Greek Scansion class: small bug in prosody/greek/scanner.py"
In line 141 of `scanner.py` the class method `_long_by_nature` checks only if a character is a single consonant, but not if it is a double consonant:

[code]
vowel_group is then used to check if a group is a diphthong. The result is that a syllable with a double consonant and a diphthong is not recognized as "long by nature". E.g.:

[code]

[2018-06-26 12:11] clemsciences commented on #698
Old French was derived from Frankish and Gaulish languages hence the change.

@the-ethan-hunt, no, Old French was not derived from Frankish and Gaulish. At best, they had a strong influence, concerning pronunciation, words and accents, but the core language is from Latin, or, more precisely, Vulgar Latin.

[2018-06-26 12:44] TylerKirby commented on #790
Thanks for finding this bug! I'll try to push out a fix this evening.

[2018-06-29 05:32] free-variation commented on #765
@kylepjohnson I think I've hit a point where I could use a quick look at the OE tagger work.  The repo, as you specified here, is at https://github.com/cltk/english_models_cltk .
I'm not sure what, if anything, needs to happen next.  Do the pickle files need to move into the core `cltk` repository?

Thanks!

[2018-07-01 19:02] kylepjohnson commented on #765
First, some mundane compatibility issues that I explain here: https://github.com/cltk/english_models_cltk/issues/1

[2018-07-06 15:34] kylepjohnson commented on #765
Following up from @free-variation 's recent work in https://github.com/cltk/english_models_cltk/

POS taggers have been created, similar to how the Latin and Greek ones were (ie, with the NLTK). Next steps …

* Add your taggers to [pos.py](https://github.com/cltk/cltk/blob/f8082e6b0ed4616efc1a3ab3c78e7b9321178c8b/cltk/tag/pos.py#L15)
* You are the first to use the perceptron tagger, so you will ne

[2018-07-07 13:58] DLibatique opened #792 "Upgrade CLTK supported version 3.7"
Attempting to install CLTK in a virtual environment, and it's failing due, it seems, to an issue with python-crfsuite:

[code]

[2018-07-07 15:52] willismonroe commented on #792
https://github.com/scrapinghub/python-crfsuite/issues/69

Seems like it might be down to using a conda-python environment... here's a previous CLTK issue with similar error messages: https://github.com/cltk/tutorials/issues/11

[2018-07-07 16:17] DLibatique commented on #792
Any suggestions for a fix or workaround? I've never run into this issue before using pip/virtualenv, and I've tried using pipenv as @diyclassics suggested but got the same error message ... The computer I'm working on just got wiped and the OS reinstalled yesterday, though, so I may be missing something that I have on my other computers ...

[2018-07-07 20:41] kylepjohnson commented on #792
Thanks @willismonroe that is exactly what I was going to post.

@DLibatique I am wondering how you installed Python. Apologies if I did not read your output carefully enough, but how have you installed Python?

Also, it just came to mind that 3.7.0 just came out. If you have this, could you roll back to the latest version of 3.6?

If you use the steps laid out here, one of us will best be able to

[2018-07-07 21:19] willismonroe commented on #792
Before starting all over with a new python install, you could try installing python-crfsuite through "conda-forge".

I'm unfamiliar with the conda environment, but this might preempt the compilation of the package from scratch which is what's causing you trouble.

[code]

[2018-07-07 21:54] kylepjohnson commented on #792
WFIW I was just trying to build (`python setup.py install`) with 3.7.0 (compiled from source; OS: Ubuntu 19.04), and got a pycrf-suite build error: https://gist.github.com/kylepjohnson/649f26b26fda41105c1baf4ff240f8bf

This may or may not warrant a new issue, depending on whether/how I fix this

[2018-07-07 23:48] DLibatique commented on #792
Definitely a 3.7 issue. Just downloaded and created the virtual environment with 3.6 and everything is working fine now.

[2018-07-08 19:00] kylepjohnson commented on #792
Thanks, Daniel, this is a big help. I have renamed this ticket to keep track at least our one know issue, the crf suite.

If anyone wants to reach out to them on our behalf, feel free. Haven't seen this come up on the nltk lists yet, but I do not follow all of them.

[2018-07-08 21:17] clemsciences opened #794 "How to integrate the runes-analyze repository into cltk?"
This repository https://github.com/cltk/runes-analyzer is not really a corpus, even if it permits to retrieve Sweden's runes from a web site. It has a rune to latin alphabet transcriber, contains alphabets, and has a basic phonetic/phonological transcriber. So any idea to integrate in the great CLTK project?

[2018-07-09 17:05] kylepjohnson commented on #794
Most of this is fine for the core ("great" :) CLTK. Here are the reasons why I think this:

* The data in data.py is quite small. If it were large, I would recommend putting it into <https://github.com/cltk/germanic_models_cltk>.
* About the licensing: I believe what you have done with "Viking Language 1 by Jessie L. Byock 2013" constitutes fair use.
* Note: Please add at least 1 test for each fun

[2018-07-09 17:58] diyclassics commented on #792
cf. https://github.com/scrapinghub/python-crfsuite/issues/88 and, in particular, the sentence: "Of course we should also upload an wheel to pypi for py37" (2 days ago). Maybe just need to wait a bit, use 3.6.5 in the meantime.

[2018-07-10 13:00] #794 closed

[2018-07-14 11:50] puramchendrasekhar1 commented on #584
I am using python 3 in anaconda but getting same error , gensim also installed but getting error ModuleNotFound Error, could anyone help me  ?

[2018-07-15 20:35] SnakyGrain opened #800 "Problems with Latin Decliner"
I've recently installed the CLTK on Windows 10 - everything seems to be working fine. My particular interest is in the Latin Language stuff, and I can run e.g. the Collatinus Lemmatizer just fine, but I'm having some problems with Decliner (CollatinusDecliner). I don't know whether this is due to the Windows 10 environment, but for example:

print(decliner.decline("via") works fine, as expected

p

[2018-07-19 14:51] DLibatique commented on #79
Necro-ing this thread to mention that I'm running into this issue with Ovid Met. 1 -- some inflected Greek forms (e.g. Lycaeone, Paeane) are having the -ne stripped off in tokenization. Chatting privately with @diyclassics about it and short-term, I can add to the exceptions list, but just bringing this up for a possible longer-term solution.

[2018-07-27 23:51] free-variation commented on #765
@kylepjohnson I think we should rename the `english_models_cltk` repository to `old_english_models_cltk`, then later have another for ME.  This has to do with how the corpus and model loading facilities assume that the name of the language and its repo are the same, e.g. in [pos.py](https://github.com/cltk/cltk/blob/f8082e6b0ed4616efc1a3ab3c78e7b9321178c8b/cltk/tag/pos.py#L15)

[2018-07-31 03:24] free-variation opened #811 "Split test fixtures by language?"
I'm working with  cltk/cltk/tests/test_tag.py .  The `setUp` fixture downloads all models for all languages tested in the test case, meaning that for every test function, the system re-downloads everything.  This makes running tests slow.

Would it make sense to break the one test case into one per language, so that the fixtures can be specific to the language?

[2018-07-31 14:57] clemsciences commented on #811
Hey @free-variation,

What I do when I want to check if my tests pass is to comment the code that does not interest me for this case. It's not a good practice, for sure, but it's quickly done.

The problem with splitting tests by language is that we would have much more test files. And, I agree with what @willismonroe wrote:

[2018-07-31 18:44] kylepjohnson commented on #811
I started writing a long response explaining why I did not like this proposal, however the more I wrote the more intuitive it seemed.

Here is what I like about the current system: the tests mirror the project's directory structure, eg, anything in `cltk.ner` will be in `test_ner.py`. This makes a lot of sense for those developing cross-language functionality.

However, for those focusing on one p

[2018-08-01 02:32] free-variation commented on #811
@kylepjohnson yes, the three layer approach makes sense to me.  The module level test works as a sort of integration test, while the language tests can function as unit tests, even for TDD-purposes (which is why they need to run fast).  I'm not familiar with Python's doctest mechanism but will bone up on it.

@Sedictious and @clemsciences any objections to my moving OE tests to a new language test

[2018-08-01 21:32] free-variation commented on #811
Good point @clemsciences -- there's no need to move tests, just copy to a new file.  Very well, I'll do the same for OE.

[2018-08-03 16:31] kylepjohnson commented on #811
Clement has submitted #814 which adds ON-only tests.

@free-variation Within this Issue, would you like to submit an OE test module?

Also, a question for all: What do you think of the following?
* Move the general-use NLP tests to a new dir, `cltk/tests/nlp`
* Move the language-specific tests to another new dir, `cltk/tests/languages`

This would be more intuitive to newcomers, I think.

[2018-08-03 16:51] free-variation commented on #811
@kylepjohnson Yes to both.

[2018-08-04 17:47] Sedictious commented on #811
Sorry for responding late. I really like the idea as it removes the hassle of commenting out code and decreases compilation time.  I can start working on language-specific tests for Middle High German and Middle English as per #814

[2018-08-05 21:10] free-variation commented on #811
#818 for moving tests to subdirectories.  I haven't included #816 in moving the files because it's still open.

[2018-08-08 03:44] free-variation commented on #811
#818 merged by @kylepjohnson.

[2018-08-08 03:44] #811 closed

[2018-08-09 22:41] free-variation opened #820 "Methods for morphological analysis of word forms"
Let's define morphological analysis as a relation between a word form (in its orthographic representation, in our usual case) and one or more (ambiguity) bundles of morphosyntactic features (including part of speech).

So English "sing" might map to {V, 1, Sing, Ind, Pres, Act, Hab} = Verb POS, 1st person, singular number, indicative mood, present tense, active voice, habitual aspect.
"Sing" could

[2018-08-10 15:29] clemsciences commented on #820
Hey @free-variation ,

I am giving my opinion.

* Answer 1:
Morphosyntactic features and Parts Of Speech (or *pars oratori* ) seem to be the same for me. POS-annotators of corpora may choose coarse or fine-grained POS tagsets depending on their aim. There is an equilibrium found between annotation complexity, time and necessity. Obviously, the more morphosyntactic features we have for each word, t

[2018-08-15 19:36] free-variation commented on #820
Thank you four your thoughts @clemsciences . And sorry for the delayed reply.

To your points:

Right, so a lot could be said about this point.  Not that I disagree with you, but I'd just like to make a couple of observations.  What follows is basically how I understand the issue, and I apologize if it's long-winded and boring and pedantic :)

1. POS tagging, as we know, is a traditional task of c

[2018-08-15 22:51] clemsciences commented on #820
Very interesting answer! I'm going to think about it for the next days, then i'm going to suggest what should be done for classical languages. It would be great if we could gather here articles about POS tagging methods for classical languages. I'll put the ones I read.

[2018-08-15 23:28] jtauber commented on #820
Fusional languages have long presented a problem for item-and-arrangement approaches to morphology and, since Matthews, there's has been an increasing focus on paradigmatic structure and morphology distinct from syntax. Principal parts become an important part of modelling morphology in most word-and-paradigm approaches.

If you look at my own Greek verb analysing code, for example, the stem data

[2018-08-16 01:58] jtauber commented on #820
The main takeaway from my code should be that the *data* matters more than the code. I'd love to put together a database of Old Norse principal parts / stems like I am for Greek.

I have some code for Proto-Germanic ablaut classes too I need to make public at some point.

[2018-08-17 02:45] xuzhaoqing commented on #619
Thanks for your help @kylepjohnson  @Sedictious , and I'm so sorry not to reply for a long time. I have built a web crawler to  download [24Histories](https://en.wikipedia.org/wiki/Twenty-Four_Histories),which is one of the most important set of Classic Chinese texts.  You could check the code and the data via my [repository](https://github.com/xuzhaoqing/Classical_Chinese_Data_Webcrawler). May I

[2018-08-17 07:19] Sedictious commented on #619
@xuzhaoqing You have to create a new repo (something like chinese_text_24Histories) with your texts. Take a peek at similar repos to get the idea of the directory structure/file format. You then have to link your repo to the core. Navigate to cltk/cltk/corpus/chinese/corpora.py and the rest should be self-explanatory.
If you have any other questions, ask away :)

[2018-08-17 15:48] xuzhaoqing commented on #619
Hi, @Sedictious  I'm confused that since I'm not a member of cltk, how could I create a new repo in cltk just like others? Thanks!

[2018-08-17 15:59] clemsciences commented on #619
Hey @xuzhaoqing, I created a repository at https://github.com/cltk/chinese_text_24_histories for you. I also sent you an GitHub invitation to get write access to this.

[2018-08-17 16:12] kylepjohnson commented on #619
@xuzhaoqing Your repo (<https://github.com/xuzhaoqing/Classical_Chinese_Data_Webcrawler>) looks like a good start. A few points:
* Write in the README where you got these texts
* Also write the license of your texts. For example, see the bottom of this text: https://zh.wikisource.org/wiki/%E5%91%A8%E6%98%93
* I see that you created the CLTK repo. This is good, but note that I renamed it to <https:

[2018-08-17 17:14] xuzhaoqing commented on #619
@kylepjohnson  Thanks for your guidance!  It's not very difficult to get all the data, and there is a categorical tag in Chinese Wikisource named [Classical Articles](https://zh.wikisource.org/wiki/Category:%E5%8F%A4%E6%96%87), so I will get all the data here.  I would reply to you after I get successful.

And you're almost right, I would get the texts before 1919, because even though officially w

[2018-08-18 01:12] adeloucas opened #823 "Unable to import CDLI_Corpus: invalid syntax"
When one attempts to import the CDLI_Corpus, the following syntax error occurs:

![akkadian bug](https://user-images.githubusercontent.com/38022737/44294206-6fb0c180-a248-11e8-90b8-904690dcba5b.png)

Lines in question:
https://github.com/cltk/cltk/blob/5feef5919142c4b555eef33d57190cdca7deb5ce/cltk/corpus/akkadian/cdli_corpus.py#L108-L115

Is the solution as simple as breaking the line differently?

[2018-08-18 02:08] willismonroe commented on #823
Maybe a problem with f-strings, try modifying them to another method of
string formatting.

On Fri, Aug 17, 2018, 6:13 PM Andrew Deloucas <notifications@github.com>
wrote:

[2018-08-18 02:09] kylepjohnson commented on #823
Hey Andrew, In trying to replicate this, I ran into another error

1. From following the FileImport docs (http://docs.cltk.org/en/latest/akkadian.html#read-file)

[code]

Users will not have access on hand anything at `('..', 'Akadian_test_texts', 'Akkadian.txt')`. Can you make this a little more clear to an outsider? For example, is there a special markup expected of Akkadian.txt?

2. To the erro

[2018-08-18 02:17] adeloucas commented on #823
@kylepjohnson -- good call. The writing is a bit vague... in the re-write, I'll supply something closer to these instructions (also shows how I encountered the bug; I'll take @willismonroe's advice and change the f-string to a .format()).

For your test, it seems that Akkadian is missing a second 'k'.

![entering bug](https://user-images.githubusercontent.com/38022737/44294816-059d1a00-a252-11e8-9

[2018-08-22 13:16] GamlielSchwartz commented on #649
Hi, I could do this if you want though I'm a bit unfamiliar how to use the template you provide. Which parts would I switch out for the Hebrew? Like, would I make a new section Swadesh_HB = ... and then start listing the Hebrew words? New to GitHub and open source, sorry...

If you let me know how to work with the template, I could even provide the Hebrew script words instead of the romanized if y

[2018-08-23 03:15] GamlielSchwartz commented on #649
@kylepjohnson I guess I would just add the Hebrew to this page cltk/corpus/swadesh.py right? It would just be a dictionary with the 300 or so words on that pdf above listed in that order? Or Is there a list I can see in English that has certain words in a certain order that I would need to find in the above pdf? Sorry again for lack of familiarity with how this works.

[2018-08-28 18:41] free-variation commented on #820
@clemsciences and @jtauber, if you're interested, I have some results from an investigation into merely statistical approaches to the problem of morphological analysis.

The ISWOC corpus I've been using for OE provides the following representation for features:

[code]
So there's a `part-of-speech` attribute and a `morphology` attribute.  The latter is a feature bundle encoded as:

[code]

The pro

[2018-08-28 18:45] free-variation commented on #820
![model](https://user-images.githubusercontent.com/516801/44743624-02672100-aad1-11e8-8163-6a4003fc25f5.png)

[2018-09-01 23:29] free-variation commented on #820
Performance of the perceptron tagger on all features, now with Cohen's kappa values and confusion matrices.

I'd say it does quite well!
[code]
[code]

[2018-09-06 15:53] #823 closed

[2018-09-18 05:59] free-variation commented on #764
In a different context I've used semi-supervised methods for improving the accuracy of NLP tools.  This can work in situations where one has some set of annotations and a larger set of untagged texts.

I was planning on experimenting with this approach with the OE taggers in CLTK.  Using the ISWOC corpus I'm getting NLTK taggers at around 85% accuracy (which climbs to around 90% using neural metho

[2018-09-19 02:58] free-variation commented on #792
see #832 for proposed solution.

[2018-09-21 10:19] clemsciences commented on #820
Hey @kylepjohnson, is it possible to add @free-variation into the Germanic team?

[2018-09-21 18:10] kylepjohnson commented on #820
Yes! You two and @Sedictious are all now maintainers of the Germanic team.

[2018-09-21 18:18] free-variation commented on #820
Thank you!!

On Fri, Sep 21, 2018 at 2:10 PM Kyle P. Johnson <notifications@github.com>
wrote:

[2018-09-22 05:32] #792 closed

[2018-09-22 06:11] kylepjohnson opened #834 "Write Python interface to LEMLAT3"
Open to anyone.

Another lemmatizer for Latin, this one from a well known team who has been doing this for a long time.

https://github.com/CIRCSE/LEMLAT3

1) It would be very helpful to make an installer as we do with TLGU ([see our wrapper](https://github.com/cltk/cltk/blob/9b9cdb42dcc1c707ab3db3ef8214837bb7c262b5/cltk/corpus/greek/tlgu.py#L39)). Right now, just the binary is available, so build

[2018-09-22 17:39] free-variation commented on #834
Since it's basically just a programming exercise, not requiring specialist knowledge (my Latin is restricted to a smattering of ecclesiastical), I can volunteer, but if there's someone who feels stronger ownership over Latin tools I'll certainly step back.

[2018-09-22 17:42] kylepjohnson commented on #834
Don't be so modest! You could knock this out better and faster than most of us.

[2018-09-22 18:57] free-variation commented on #834
Note that on a stock 64bit Linux system the "embedded" binary (I assume we want that one right?  It comes with its own MySQL, though one wonders if SQLite might not have been better -- anyway), unless one has the 32-bit ELF support and libraries it won't run.  I wish we could volunteer to recompile this for them for 64-bit Linux !

[2018-09-22 19:12] free-variation commented on #834
It's impressive for its coverage:
[code]

[2018-09-22 19:42] kylepjohnson commented on #834
We can write to Prof Passarotti about his schedule for releasing the source (says it'll happen but no ETA).

How much work is involved for installing this? I'm thinking about the burden we'd place upon a user with little to no experience with Java. 
I agree that the MySql is a pain. I might want to let the user install this himself (recomment through brew on Mac, apt/yum on linux) and offer a help

[2018-09-22 19:51] free-variation commented on #834
There's no java, it's just a pretty fat `apt-get` to pull down all the 32 bit files.  The MySQL is built into the embedded version (there's also a "client" version, where you do maintain a separate MySQL instance), so there isn't a second installation -- they seem to have done a nice job of that.

I say we go ahead.  The database seems to be valuable, on a very quick examination.  I did report the

[2018-09-22 19:54] kylepjohnson commented on #834
Wonderful I look forward to seeing this. There is a similar task need for TensorFlow's SyntaxNet. The install in 100x nastier but same idea of capturing output of the CLI.

[2018-09-23 12:43] psychemedia opened #835 "AssertionError: CLTK linguistics data not found for language greek"
I'm trying to run `cltk` under Python 3.5 on Azure Notebooks ([example](https://notebooks.azure.com/OUsefulInfo/libraries/gettingstarted/html/4.2.0%20Classics.ipynb)) using latest `pip` version of `cltk` (and also getting same result with latest install from this repo) and am getting the following error trying to run the Greek tokeniser:

[code]

raises error:

[code]

Following a crib on [`cltk/g

[2018-09-25 17:14] kylepjohnson commented on #835
Hi @psychemedia Thanks for the message. I'll try to help out. A few things first:

- I am not familiar with Azure notebooks. Are they Linux backed? We only support POSIX environments.
- From the error, it looks like you still need to *import* the data models. A unique aspect of the CLTK is that it has a particular method of allowing users to install just the data that they need for a given problem

[2018-09-25 19:09] psychemedia commented on #835
Hi @kylepjohnson

Azure notebooks run in a Linux container (and use a conda py distribution, I think):

[code]

You can see an nbpreview / download my cltk working notes notebook [here](https://notebooks.azure.com/OUsefulInfo/libraries/gettingstarted/html/4.2.0%20Classics.ipynb).

Ah, that sorted it, thanks:

[code]
 and all is good.. (though I note like *nltk* `word_tokeniser()` it also returns p

[2018-09-25 19:09] #835 closed

[2018-09-25 19:30] kylepjohnson commented on #835
You bet. Please reach if any other hiccups along the way.

Agreed. This is why we made a little wrapper for it (`nltk_tokenize_words`), to separate the final period by default: http://docs.cltk.org/en/latest/multilingual.html#word-tokenization

[2018-09-25 20:52] psychemedia commented on #835
Will do; are you happy to accepts questions, perhaps wrapped as issues relating to documentation?, here, or elsewhere? eg I also recently posted a question to the Google group: https://groups.google.com/forum/#!topic/classical-language-toolkit/nJ9Yy8yr5uI

[2018-09-25 21:21] kylepjohnson commented on #835
The google group is OK, too. It'll have more visibility here, though, so this might be preferable.

[2018-09-26 21:44] psychemedia opened #836 "Add link to URL POS mappings, to Collatinus docs"
Apols for coming here as a non-classicist - I'm trying to put together some Jupyter notebooks to try to demonstrate various python packages can be used within them to support teaching / learning in various subject areas.

Generating Latin declensions / conjugations using `CollatinusDecliner` returns a set of code strings:

[code]

How do I parse these strings (eg `v1spia---` or `--p-g-nb-`).

I'm

[2018-09-27 01:11] kylepjohnson commented on #836
No apologies necessary. We truly appreciate you disseminating knowledge of the tool. We need eyeballs to point out stuff like this.

Good question. You've got the right idea. They look similar to those used by Perseus ([see here](https://github.com/cltk/latin_treebank_perseus#readme) for an older version of their mapping. I could suss it out by staring long enough, however we ought to have a clear

[2018-09-27 05:41] PonteIneptique commented on #836
Hi ! Sorry for that !
In an effort to make the data i18n, I basically translated collatinus French words to Perseus code which is available on the link @kylepjohnson copied up there :)

There is a function that could be used here https://github.com/alpheios-project/pyperseus-treebank/blob/master/pyperseus_treebank/latin.py#L44 to translate it to a more human thing.

Although, they might not be com

[2018-09-27 14:32] kylepjohnson commented on #836
That was very smart.

I will add a URL to the POS mappings, to the Collatinus docs.

@psychemedia There's your answer for this, but open new issues about anything lse.

Changing this issue to an updated docs one.

[2018-09-27 15:34] PonteIneptique commented on #836
@psychemedia It's completely up to date as it did not change ( I worked for Perseus ). The code has not been updated because there was no reason to update it :)

[2018-09-29 15:19] psychemedia opened #837 "Mismatch between lemmatiser and decliner?"
I was playing around with one of the example sentences I found, maybe in docs or one of the the tutorials, trying to find the decliner string associated with a particular word:
[code]

I then tried to simplify things so I could just pass a word in:

[code]

and then analyse a sentence using one of the example sentences I found in docs or maybe aa tutorial:

[code]

So `audierat` is lemmatised as `

[2018-09-30 17:59] psychemedia commented on #837
FWIW, I notice that the POS tagger does parse `audierat`:

[code]

returns:

[code]

[2018-10-01 05:31] todd-cook commented on #837
@psychemedia  thanks for bringing this to my attention; I have some pending work to do on updating the pos tagger.
Also, you are correct the decliner and lemmatizer do not have equivalent capabilities; they have been grown/groomed? from different sources. Eventually convergence should be possible--but that's a goal we're working towards.

[2018-10-02 07:57] ashish4321 commented on #696
Can i try to work on this?

[2018-10-06 06:56] siddharthkv7 commented on #707
@kylepjohnson @clemsciences  Is there anything else to be done here? Else maybe this issue can be closed (swadesh lists for old and middle egyptian have already been added)

[2018-10-11 20:30] #743 closed

[2018-10-13 14:47] GusRiva opened #841 "Installation Issue"
Hi, hope this is the right place for this issue.
I've been trying to install cltk with various methods and always find the same error:
 "Failed building wheel for python-crfsuite"

I have a Mac working on Yosemite 10.10.2 ; Python 3.6.1 with the Anaconda 4.4.0 distribution.

Below is the full message when I run "pip install cltk"

Thanks

[code]

[2018-10-13 16:01] kylepjohnson commented on #841
Some have used Anaconda successfully, but I am not acquainted with it. 

Could you try installing with Python 3.7 from the Mac binary, as in our docs? 

[2018-10-15 12:40] psychemedia commented on #841
How about if you try to install without building the wheel?

`pip install --no-cache-dir cltk`

[2018-10-19 14:03] francescomambrini commented on #560
If you are still interested, I am working on a Corpus Reader based on MyCapytain. It's part of a project I call [perseus-nlp-toolkit](https://github.com/francescomambrini/PerseusNLPToolkit) that aims to offer some tools to process (mostly) texts and resources of the Perseus Project.

The `CapitainCorpusReader` works very much along the line of @kylepjohnson 's script (above), but: a. reads the ori

[2018-10-19 14:52] PonteIneptique commented on #560
Note that there is other corpora that I update regularly for my PhD :

- https://github.com/PonteIneptique/digiliblt
- https://github.com/lascivaroma/additional-texts
- https://github.com/lascivaroma/priapeia

One good way to avoid non-passing texts is using a nice release like https://github.com/lascivaroma/priapeia/releases and https://github.com/OpenGreekAndLatin/csel-dev/releases/ :)

*BTW, I

[2018-10-26 22:15] free-variation commented on #820
If interested in this issue please see https://github.com/cltk/old_english_models_cltk/blob/master/notebooks/Morphological%20Analysis%20for%20Small%20Annotated%20Corpora.ipynb

I guess we can close this for now.

[2018-10-26 22:15] #820 closed

[2018-10-26 22:20] free-variation commented on #764
Well I tried semi-supervised approaches but I couldn't get them to work.

What instead worked better than the NLTK taggers was using an LSTM stack with character and word inputs, to output a full morphosyntactic feature bundle.  See here: https://github.com/cltk/old_english_models_cltk/blob/master/notebooks/Morphological%20Analysis%20for%20Small%20Annotated%20Corpora.ipynb

Accuracy for Old Englis

[2018-10-27 05:17] todd-cook commented on #764
I'm curious how a 5-gram probablistic tagger fares against an LSTM?
I have pending task to look at this with the latest Perseus Latin tagset.
I'll notebook it and share soon.

Todd

On Fri, Oct 26, 2018 at 3:20 PM John Stewart <notifications@github.com>
wrote:

[2018-10-29 04:15] kylepjohnson commented on #841
@GusRiva Glad to hear you could get it installed (and thanks @anetschka ).

If there are particular steps that Anaconda users need to take (on Mac or not), we'd take a PR. It's a pretty common use case.

[2018-10-29 04:16] #841 closed

[2018-10-31 07:54] y12uc231 opened #842 "error: invalid argument '-std=c99' not allowed with 'C++/ObjC++'"
No able to install with source code setup.py file with command python setup.py install

Writing /var/folders/fz/cc79kdhn7_s40fbldqq9wr9c0000gn/T/easy_install-lkg27g71/python-crfsuite-0.9.6/setup.cfg
Running python-crfsuite-0.9.6/setup.py -q bdist_egg --dist-dir /var/folders/fz/cc79kdhn7_s40fbldqq9wr9c0000gn/T/easy_install-lkg27g71/python-crfsuite-0.9.6/egg-dist-tmp-nhwb4851
error: invalid argument

[2018-10-31 14:53] kylepjohnson commented on #842
Hi we need more information about your OS to help. What v of Python? What OS?

Also, please read this carefully, if you have not already: http://docs.cltk.org/en/latest/installation.html

[2018-10-31 15:10] kylepjohnson commented on #800
Looks like you post slipped through the cracks. Sorry about that.

The errors you see are not caused by Windows, I am certain. Rather, this looks to be an error coming from Collatinus, which is a separate project from ours. Incidentally, they now have a new always up-to-date version online: https://outils.biblissima.fr/en/collatinus-web/ (though only lemmatizer, it seems)

And here some more infor

[2018-10-31 15:10] #800 closed

[2018-10-31 16:03] y12uc231 commented on #842
Hi, Sorry! Forgot to mention.

This is python 3.6.3 on Mac 10.12.6

[2018-10-31 17:45] kylepjohnson commented on #842
Looks like a clang issue, not able to compile something in python-crfsuite . I think you'll need to track this down with them:
* https://github.com/scrapinghub/python-crfsuite/issues/69
* https://github.com/scrapinghub/python-crfsuite/issues/47

Are you using Conda? If so, we do not currently support issues with it (though users do report getting it to work).

I'll close this but open it up if you

[2018-10-31 17:45] #842 closed

[2018-11-02 15:54] diyclassics opened #843 "Latin sentence tokenizer misses abbreviation with punctuation"
Abbreviations containing punctuation, e.g. "M'." (for Manius), ignored by sentence tokenizer, e.g.:

["Numquam ego dicam C. Fabricium, M'.", "Curium, Ti. Coruncanium, quos sapientes nostri maiores iudicabant, ad istorum normam fuisse sapientes."]

instead of

["Numquam ego dicam C. Fabricium, M'. Curium, Ti. Coruncanium, quos sapientes nostri maiores iudicabant, ad istorum normam fuisse sapientes.

[2018-11-02 20:33] todd-cook commented on #843
I have fix for this!
I’ll submit a pr.

Todd

On Fri, Nov 2, 2018 at 8:54 AM Patrick J. Burns <notifications@github.com>
wrote:

[2018-11-04 00:51] diyclassics commented on #843
I've got one too! Curious to see whether we approach the problem the same way or not.

[2018-11-05 08:01] todd-cook commented on #843
I've looked all over, and I can't find my version; it might have gotten clobbered in an update. It was pretty simple in that it allowed one to specify a multi-character exception case, e.g. like a multi-character abbreviation. I added it onto the end of the tokenization effort such that it would look at a chain of tokens and if two consecutive tokens matched the multi-character exception then it w

[2018-11-23 17:52] kylepjohnson commented on #560
We are very interested in this work, for two reasons.

1) @diyclassics and others have been interested in making "readers" like you are creating. For Patrick, I think the concern has been to give users access to good texts for both NLP and reading (with traditional line and section numbers).

2) Lately, I have been thinking more and more that the CLTK ought to settle upon interfacing with one or t

[2018-12-15 11:44] francescomambrini commented on #560
Thank you, Kyle! I second both point very much. My reader pretty much does what I wanted it to, as far as I can see, but the code has become a bit messy lately.
Let me tidy it up, then when can test it more formally and see what must be corrected!

[2018-12-17 17:04] kylepjohnson commented on #560
@francescomambrini Looking forward to it. Don't be too much of a perfectionist, as others here can us out help, too.

[2018-12-28 07:14] #678 closed

[2018-12-29 21:56] free-variation opened #845 "Multiple issues with CLTK container at Docker Hub"
At https://hub.docker.com/r/cltk/cltk which is listed as an official Dockerfile, though marked as a container by Docker Hub, the command `docker pull cltk/cltk' fails.

There is a container that seems to work: https://hub.docker.com/r/achaitanyasai/cltk  -- though it's not marked as "official".

In addition, the Dockerfile at https://github.com/cltk/cltk_docker is based on a Python 3.5.2 image, so

[2018-12-31 09:26] Seenivasanseeni opened #847 "Transfer ownership of directory"
I am working on tamil language in cltk. So i created a corpus in https://github.com/Seenivasanseeni/cltk_tamil_corpus. As mentioned in the docs, I need to transfer the ownership. I don't have sufficient permission to do the same. So How do i transfer the repo ownership ?

[2018-12-31 11:42] sainimohit23 opened #849 "Do corpus has to be old?"
I want to contribute by expanding corpus of Indian languages. Do corpus has to be old? By old I mean does it have to be written way back in time? Because I have some good corpus.

[2019-01-01 00:32] kylepjohnson commented on #849
We old do NLP for the historical, pre-modern forms of languages. So yes, the corpus must be old (the exact year depends on the language, but generally before 18th c.).

For anyone interested in GSoC, carefully read this blog post first: http://cltk.org/blog/2018/12/30/under-resourced-languages-cltk.html

[2019-01-04 18:09] sainimohit23 opened #851 "Stemmer for hindi"
I want to become a active contributor for this project. I want to make a stemmer for Hindi language. I also have some Hindi corpus ready to be added. First one is Hindu epic "Ram Charit Manas" and second one is another Hindu epic "Mahabharat".

I have also prepared corpus for Maithali language.

[2019-01-05 11:25] sinAshish opened #852 "Add Corpora for new Classical Language(Babylonian,etc)"
Hi, I wish to take part in GSoC '19 with CLTK, hence I'll be starting with scrapping text for old Babylonian texts to add to the corpora as well as work on the extension of old-Norse corpora.

[2019-01-06 21:44] kylepjohnson opened #853 "Improve CLTK's logger"
Coming from Todd's comment to his own PR ([here](https://github.com/cltk/cltk/pull/846#discussion_r245496363)).

Current logger code here: https://github.com/cltk/cltk/blob/9b9cdb42dcc1c707ab3db3ef8214837bb7c262b5/cltk/utils/cltk_logger.py

And current example use:
[code]

Todd's full comment below:

The lines:
LOG = logging.getLogger(__name__)
LOG.addHandler(logging.NullHandler())
are the preferr

[2019-01-08 18:33] diyclassics opened #855 "GitHub reports vulnerability in pyyaml"
CLTK currently has an older version of PyYAML (i.e. in requirements.txt: PyYAML==3.13) as a dependency. GitHub recommends upgrading to the latest version (i.e. pyyaml ~> 4.2b1). Cf. https://github.com/yaml/pyyaml/issues/243

[2019-01-09 00:43] todd-cook commented on #845
Perhaps we should publish multiple docker files in a folder, that way folks can mix and match.
The next major refactoring of the API might be dockerized for ease of use.

[2019-01-09 00:53] todd-cook commented on #383
This has been refactored https://github.com/cltk/cltk/pull/846
you can do:
from cltk.corpus.readers import get_corpus_reader
latinlibrary = get_corpus_reader(language='latin', corpus_name='latin_text_latin_library')

[2019-01-09 00:53] #383 closed

[2019-01-09 00:59] todd-cook commented on #361
https://github.com/cltk/cltk/pull/854 implements a JsonFileCorpusReader for the cltk_jsons folders/files
(the existing NLTK Json corpus reader was tweet focused, and not sufficient).

Greek and Latin Perseus files are currently supported. Other corpora may need different readers. I tried to work directly with TEI and XML copora, but wasn't satisfied.

[2019-01-09 01:57] kylepjohnson commented on #845
This was done by a helper 3 years ago. I just tested and, yes, remarkably it still runs!

Thinking as we have been for the API, how would we configure these to help users make the most of the project?

In my daily work, I do not use Docker for using software libraries, so this an honest question.

@todd-cook What are some examples of different types of Dockerfiles?

[2019-01-09 02:46] kylepjohnson commented on #845
FYI

Docker hub has changed a bit since I was last in there. They do automated builds now, and I have set it up to pull/build from https://github.com/cltk/cltk_docker (to which you both ought to already have access).

This is the Dockerfile it's using, about as simple as it gets: https://github.com/cltk/cltk_docker/blob/master/Dockerfile

And the report of the latest build: https://cloud.docker.co

[2019-01-09 02:50] free-variation commented on #845
So what I had in mind is one (or more) containers, preloaded with models, but also with a Jupyter server and some example notebooks, so that users can play around locally without having to deal with terminals, editors, and whatnot.

I do think Docker Hub is useful, because it makes running a container a 1-step process.  It's totally true that Docker should simplify, not complicate.  I was turned o

[2019-01-09 02:52] kylepjohnson commented on #855
There's one with bleach, too.

[code]

I'll update and close this if it builds right.

[2019-01-09 03:48] todd-cook commented on #845
Different Dockerfiles could be useful for preloading models, and most useful, for wiring up utilities that have to be run from the command line to convert or process text; e.g. a Greek text converter that only works on certain versions of Linux, or a MyCaptains converter, or a Latin lemmatizer that requires MySql to run, etc.

The only advantage that using Dockerhub would offer is that it could en

[2019-01-09 03:54] free-variation commented on #845
@todd-cook do you think there's value in the scenario from above, where a new user can run (in one command) a container, then use a browser pointed at the container to play with the system?  For example, the current tutorials could be repackaged as notebooks, so that they're interactive.

[2019-01-09 04:13] todd-cook commented on #845
@free-variation yes, there's definite value in that. It sounds like you want to tackle this and I think it would be a valuable contribution.

[2019-01-09 04:15] kylepjohnson commented on #855
Build passed and v 101 should appear soon.

https://travis-ci.org/cltk/cltk/builds/477149011

[2019-01-09 04:15] #855 closed

[2019-01-09 04:18] free-variation commented on #845
Cool --  I'm throwing together a rather rough lemmatizer for OE, after which I'll create an example of a container with Jupyter, using OE models.

[2019-01-12 01:40] kylepjohnson commented on #852
Hi this is not the right place to discuss GSoC. Please see our blog and reach out on twitter.

[2019-01-12 01:40] #852 closed

[2019-01-12 05:58] sinAshish commented on #852
thanks for letting me know!

[2019-01-12 16:09] elieobeid7 opened #856 "Fix Buckwalter's algorithm"
Consider this word `ميشلين`, the correct way to write it in english, is `michelline` more or less.

Using [Buckwalter][1] from CLTK , I get

`my$lyn`

Using ISO233-2 from that same library, I get

`myšlyn`

 - Transliteration should have only been done using only the English alphabet A to Z, no accents or symbols
 - Gets the basics right,  like  `ش` is always either `ch` or `sh`
 - Ignore letters

[2019-01-15 19:26] sainimohit23 opened #857 "Sanskrit Sandhi and Compound Splitter"
I want to contribute a deep learning based compound segmentation model for sanskrit language. It is based on this paper : http://aclweb.org/anthology/D18-1295 .

For this task I will use cltk's [transliterator](http://docs.cltk.org/en/latest/sanskrit.html#transliterator) functions of sanskrit.

Steps:
* Sanskrit text will be romanized using [this](http://docs.cltk.org/en/latest/sanskrit.html#roman

[2019-01-16 04:02] kylepjohnson opened #858 "Read the Docs might not be building"
Checking in on the build history at RTD: http://readthedocs.org/projects/cltk/builds/

Last build reported is currently "1 month, 2 weeks ago" (though several pushes to master since then).

I will look into it. Figure it's either a change in our code base, a git hook problem on GH's side, or a hook problem with RTD.

[2019-01-16 04:07] kylepjohnson commented on #858
A config internal to RTD seems to have been added, and I manually set builds to be triggered after any new commit to `master`. A build was just triggered, so I think the problem is solved.

https://readthedocs.org/projects/cltk/builds/8398586/

[2019-01-16 04:07] #858 closed

[2019-01-26 07:39] sainimohit23 opened #862 "Add functionality to CLTK"
Functionality to process vocabulary using functions similar to these depricated tensorflow [functions](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/contrib/learn/python/learn/preprocessing)
 would be useful for CLTK. Can I start working on these?

[2019-01-27 22:00] kylepjohnson commented on #862
Can you explain the use case why you want to add these? Do you have research examples of your own, which would be benefited by such functions w/in the CLTK?

[2019-01-30 08:56] siddharthkv7 commented on #790
Hello, if it has not been fixed yet, can I work on this?
@kylepjohnson @TylerKirby

[2019-01-30 14:07] TylerKirby commented on #790
Hey @siddharthkv7 that would be great. This seems like a pretty small fix. We just need to be checking for double consonants (ξ , ψ , and ζ)

[2019-01-31 20:24] kylepjohnson opened #866 "Closing old Swadesh PR"
This is long overdue.

Context: About a year ago, we posted as a "beginner's task" to add a [Swadesh list](https://en.wikipedia.org/wiki/Swadesh_list) for an ancient language. Many PRs came through (which is good), however some dilemmas quickly emerged. I am including some here for future reference:
* The length of Swadesh lists varies a lot. I knew that there were older forms with more/fewer than

[2019-01-31 20:55] #866 closed

[2019-02-02 08:51] sainimohit23 commented on #862
Deep Learning based NLP tasks require vocabulary processing. Words in a vocabulary are required to have an `ID` for the generation on word vectors. These are then used to make embedding matrix. Since, Deep Learning based NLP is very prevalent these days. Adding functionality for vocabulary processing might be very helpful for users. I have worked on RNN based NLP tasks like image captioning, seq2s

[2019-02-08 07:58] harshitbansal05 opened #870 "Import error for latin stops list"
In the tutorial https://github.com/cltk/tutorials/blob/master/3%20Basic%20NLP.ipynb, there is an import `from cltk.stop.latin.stops import STOPS_LIST`. However, it gives the error `ImportError: No module named 'cltk.stop.latin.stops'; 'cltk.stop.latin' is not a package`. I think it can simply be solved by moving the file `latin.py` in `cltk/stop` to `cltk/stop/latin/stops.py`.

[2019-02-08 07:59] harshitbansal05 commented on #870
@kylepjohnson if possible, can I work on it?

[2019-02-08 08:03] todd-cook commented on #870
Good catch!
Patrick has done some recent work on this and should weigh in on corrective action.

[2019-02-08 12:23] diyclassics commented on #870
The import should be ```from cltk.stop.latin import STOPS_LIST``` (recommended btw for deprecation in favor a more specifically named list, i.e. PERSEUS_STOPS). @harshitbansal05—you can make the edit to the tutorial, or if you prefer I can take it.

[2019-02-08 14:30] #790 closed

[2019-02-08 15:38] harshitbansal05 commented on #870
@diyclassics there is already a pr in tutorials for this, so it can be merged.

[2019-02-11 14:20] #857 closed

[2019-02-11 16:51] kylepjohnson commented on #857
@sainimohit23 Looks like this fell through the cracks.

We have not been aware of this paper nor its [data set](https://github.com/OliverHellwig/sanskrit/). In the past, we have thought this problem is to hard w/o, but this data changes things (and a plausible DL algo really helps).

If you are still interested in working on this, please let us know and also email me directly. Thx.

[2019-02-11 16:58] kylepjohnson commented on #857
Also, looking more at this, it appears that there is an implementation in here already. In this case, it is better for our project to use this code, since (a) the method has some scholarly backing and (b) it's already written and working.

I will reach out to the author and see what he says about licensing (no notice in the repo) and possible working together.

[2019-02-11 19:59] Shaul1321 opened #871 "Latin nominative to infinitive"
Hello,

I am trying to use CollatinusDecliner() to convert verbs from nominative to infinitive form. The following code outputs a very long list of all possible conjugations, with code names that (I guess) encode the form. How can I find which of them stands for the infinitive?
[code]

Thanks!

[2019-02-11 21:31] kylepjohnson commented on #871
Looking at the output here, I see that there is no infinitive form here, which would be `vulnerare`.

Could you paste the entire output into a [gist](https://gist.github.com/) and link to it here?

[2019-02-11 21:36] kylepjohnson opened #872 "Notice: Collecting and closing old stoplist PRs"
Some of these are close to a year old and there was likely a reason they were not pulled.

About stops for our less-supported languages, I would like to approach again with a comprehensive set of instructions/standards/guidance based upon @diyclassics 's recent publication. Something should be documented in the wiki, probably.

* https://github.com/cltk/cltk/pull/739
* https://github.com/cltk/cltk

[2019-02-11 21:36] #872 closed

[2019-02-12 16:58] siddharthkv7 commented on #775
Hello @TylerKirby , if you could provide me with some guidance, maybe I could work on this?

[2019-02-12 17:10] siddharthkv7 commented on #843
@todd-cook @diyclassics I would be happy to work on this, if I could get some guidance..

[2019-02-12 17:19] kylepjohnson commented on #775
Hey Tyler, this is really old! I don't know when, but it's on my radar (and assigned to me).

@siddharthkv7 This is a tricky task that would be difficult to mentor a newcomer on, right now.

[2019-02-12 20:00] diyclassics commented on #843
It looks from the notebook posted in the first cell above that I have already done this work, but not submitted it. Let me double check before anybody does more work on this.

[2019-02-15 19:16] kylepjohnson opened #873 "Push Py3 compliant flexidate to PyPI"
A few years back, some CLTK contribs updated the `flexidate` library to be Py2/3 compatible, but the code was never pushed to PyPI. This library allows us to accurately do historical dates before the year A.D. 1.

Looks like I have access now (<https://github.com/openknowledge-archive/flexidate/issues/1#issuecomment-462676902>) and plan on pushing soon.

@todd-cook This will be critically helpful

[2019-02-18 20:16] Shaul1321 commented on #871
Thanks, I figured out it's v2spmp.

[2019-02-18 20:46] kylepjohnson commented on #871
`v2spmp` is not a complete tag, I don't think. And to be honest, this does not look like an infinitive, but some kind of second person singular passive. Collatinus uses the same tags as Perseus treebanks, here: https://github.com/cltk/latin_treebank_perseus

Going to close this, however we can open it if you paste the full output.

[2019-02-18 20:46] #871 closed

[2019-02-18 20:48] kylepjohnson commented on #871
Also, the official web version from the Collatinus group might help you work through some of these issues: https://outils.biblissima.fr/en/collatinus-web/

[2019-02-24 22:50] AMR-KELEG opened #875 "TypeError on reading unsupported corpora (Arabic corpora)"
## How to reproduce the error?
[code]

## The error message:
[code]
# Solution
The line https://github.com/cltk/cltk/blob/master/cltk/corpus/readers.py#L34 should be changed so that an empty list is returned if a language isn't supported yet.
This can be done by using an empty list as a default value for get if a key isn't found in the `SUPPORTED_CORPORA` dictionary.

[2019-02-25 19:21] AMR-KELEG commented on #856
@elieobeid7
For the Buckwalter transliteration, The output is correct.
Buckwalter transliteration has a one-to-one scheme. It's kind of a standard that I don't think should be altered.
Since the number of characters in the Arabic alphabet is more than those in the English alphabet, then the algorithm decided to make use of symbols like $ in the transliteration.

You can check the transliteration t

[2019-02-26 16:38] sharris-umass commented on #266
Here is a list of word frequencies from the *poetic* corpus:
https://people.umass.edu/sharris/in/aspr_count.html
I'm appending a txt file of prepositions
[data_PRP.txt](https://github.com/cltk/cltk/files/2906485/data_PRP.txt)
If this project is still alive, I'd be glad to contribute more.

[2019-02-26 18:26] kylepjohnson commented on #266
@sharris-umass this is a closed old ticket, but thanks for reaching out.

Here is our current OE stops list: https://github.com/cltk/cltk/blob/master/cltk/stop/old_english/stops.py

What are the differences between your list and ours?

cc @Sedictious @clemsciences for visibility

[2019-02-26 18:59] free-variation commented on #266
@sharris-umass 's list of prepositions contains items that are not in the existing stop-word list.  We could add them, though I'd like to first pose the question: do we really want to stop out lexical (spatio-temporal, which most of these are) prepositions?  In contrast to more narrowly grammatical prepositions, such as `of`.

[2019-02-26 19:09] Sedictious commented on #266
@sharris-umass @kylepjohnson The first thing I noticed in your list was the fact it doesn't account for orthographic normalization (which is by itself a massively complex topic, so you mostly have to do the dirty work by hand), I don't think the list you provided as-is, is significantly different to what we have now, unless you want to propose some specific additions/deletions.

@free-variation Yo

[2019-02-26 19:15] kylepjohnson commented on #266
Can you give me an example of what you mean? For lists, I like their simplicity. It is trivial for anyone (even if not a programmer) to edit them, and Python doesn't get fussy about whitespaces. Deeply nested `dict`s can be difficult to make look readable. But I'm open to alternatives, perhaps.

[2019-02-26 19:17] kylepjohnson commented on #873
FYI I have put in a little work into the flexidate library. Follow the link in this comment: https://github.com/openknowledge-archive/flexidate/issues/8#issuecomment-467564478

I am mostly understanding what it can/cannot do (I did not write it myself and the docs were lacking). Will report back when finally pushed to PyPI.

[2019-02-26 19:31] Sedictious commented on #266
@kylepjohnson We could use a defaultdict and assign to all the stopwords the value of 1. Then we could check whether a word is a stopword in O(1) time, by checking `STOPWORDS['word']` instead of `word in STOPWORDS`

[2019-02-26 19:45] kylepjohnson commented on #266
You're right about lookup (I needed to refer [to this to refresh my memory](https://wiki.python.org/moin/TimeComplexity)).

Is the benefit you have in mind when removing stopwords from a list of tokens? I know this is slow:

[code]

This is what our tutorials usually recommend.

@Sedictious If you can implement these as `defaultdict` without breakage to other parts of the code, I am open to this.

[2019-02-26 19:51] Sedictious commented on #266
@kylepjohnson I can implement this! However, since we don't have a filter function (yet), implementing this may be pointless. I could open an issue to see what the community consensus is.

[2019-02-26 21:20] sharris-umass commented on #266
@kylepjohnson the list I posted contains only prepositions (from Mitchell & Robinson's *Guide to Old English*). I can also provide conjunctions, pronouns, and so forth. I'll post it later today.

The stop list you sent--and thank you for that--contains long vowels. I've had difficulty in my own FST parser with long vowels, as they do not match short vowels in regex. So ēow and eow are equivalent l

[2019-02-26 21:51] sharris-umass commented on #266
@kylepjohnson , @Sedictious , @clemsciences , @free-variation
Proposed stopword list compiled from a list of closed-class words.
[oe_stopwords.txt](https://github.com/cltk/cltk/files/2907678/oe_stopwords.txt)

[2019-02-26 22:00] jtauber commented on #266
Why not just a set in that case?

[2019-02-26 22:01] kylepjohnson commented on #266
@sharris-umass You are certainly right that these nouns and the rest should not be in our stops list.

I am familiar with this problem with polytonic Greek. For that, we wrote a [normalizing function](https://github.com/cltk/cltk/blob/master/cltk/corpus/utils/formatter.py#L119), which I would like to do here, too, so to minimize redundancy. We would also need to write a stops remove function, I th

[2019-02-26 22:12] free-variation commented on #266
@sharris-umass This is partly a theoretical issue, but I think my conception of closed class is tighter than yours.  For example, I'd take `onmiddan` to be lexical and therefore not a candidate for stop-removal.  But you're the scholar of Anglo-Saxon and I'm not!  So I'd defer to you (and the other Germanists) to decide whether, in practice, the student or scholar of OE would benefit from its remo

[2019-02-26 22:15] kylepjohnson commented on #266
@jtauber you're right, that has the same performance.

@free-variation you're referring to the OE stops module, right? Sure, please go for it (and opening a new issue just for it wouldn't be a bad idea). Pleas try to use, and modify if necessary, the function `cltk_normalize()`. I would like to minimize the number of normalizers for this kind of Unicode stuff.

[2019-02-26 22:27] sharris-umass commented on #266
@free-variation I see absolutely no objection to your view and defer to anyone who writes a dissertation on prepositions! There is some semantic weight to the term: *onmiddan* is rare (14 instances) and used exclusively in OE translations of Latin to mean 'amid' or 'in the midst of', and in one case, "*among* the Israelites." It's likely some sort of accommodation made to the index of OE prp's in

[2019-02-28 16:21] michiboo opened #876 "adding Chinese corpus repositiory to CLTK"
Hi I have created and uploaded a Classical Chinese scrapped from Wikisource, size about 700 mb,  the link is here https://github.com/michiboo/Classical_Chinese_Wikisource

Can somebody from CLTK side fork this, then I could incorporate it into the corpus.

Thanks!

[2019-02-28 16:49] kylepjohnson commented on #876
Thank you for this. Someone will have time to look this weekend, I hope.

[2019-03-01 00:08] free-variation opened #877 "Improve IPA transcriber for OE"
The [current IPA transcriber](https://github.com/cltk/cltk/blob/master/cltk/phonology/old_english/phonology.py) for OE largely ignores the phonological environment, relying mostly on unconditioned mappings of letters to IPA symbols.

To give a basic example, currently `c` yields `/k/`, so that first person singular `ic` is mapped to `/ik/`.  But according to [this resource on OE phonology](https:/

[2019-03-01 08:25] clemsciences commented on #877
Maybe it is the opportunity to use https://github.com/cltk/cltk/blob/master/cltk/phonology/utils.py for an other language than Old Norse.

[2019-03-01 18:46] free-variation commented on #877
That's an impressive class, @clemsciences.  Do you have examples of its use in IPA transcription?

[2019-03-01 19:02] clemsciences commented on #877
https://github.com/cltk/cltk/blob/master/cltk/phonology/old_norse/transcription.py and https://github.com/cltk/cltk/blob/master/cltk/tests/test_languages/test_old_norse.py

[2019-03-01 23:06] free-variation commented on #877
This looks really cool.  I'll work on it this weekend.  I was thinking of offering something around OE meter too (which mostly uses alliteration on content words).

[2019-03-01 23:11] clemsciences commented on #877
You can get inspired by https://github.com/clemsciences/cltk/blob/master/cltk/prosody/old_norse/verse.py. and I'm sure @Sedictious may be interested in this task too.

[2019-03-01 23:53] diyclassics opened #879 "Remove pandas as a dependency"
pandas is only used in the IndianSyllabifier and only for reading a csv file before its data in converted to a numpy array. pandas is also the largest external dependency (e.g. slowest to install in travis-ci). The csv reading and conversion to numpy can be done with the standard libraries, spec. ```csv```

[2019-03-01 23:57] kylepjohnson commented on #879
I remember this code and can do it.

[2019-03-01 23:58] diyclassics commented on #879
Already did it.

[2019-03-01 23:58] diyclassics commented on #879
I don't notice any speed difference, etc. with the new code fwiw.

[2019-03-02 00:45] #879 closed

[2019-03-02 14:28] #870 closed

[2019-03-04 18:59] Sedictious commented on #877
@free-variation Yes you're completely right, the module is lacking in the more refined points of OE phonology. At the time I couldn't figure out any elegant way to implement conditional rules but Clement's project really excels in that respect. Anyway, I found [this](https://hera.ugr.es/tesisugr/24589329.pdf) dissertation to be a really good reference for OE.

[2019-03-05 22:47] clemsciences opened #882 "Improve Old Norse inflection module"
Old Norse lacks a lemmatizer. In order to make one, I'll use a [dictionary](https://github.com/cltk/old_norse_dictionary_zoega) and an [inflection module](https://github.com/cltk/cltk/tree/master/cltk/inflection/old_norse).

The project is [here](https://github.com/cltk/old-norse-lemmatizer).

Any comments or suggestions are welcome.

[2019-03-06 14:48] diyclassics commented on #882
Nice—take a look at the (newly added!) docs for the Backoff Lemmatizer and see if any of the work here would be helpful to this project: http://docs.cltk.org/en/latest/multilingual.html#lemmatization-backoff. I won't be able to help with the ON part of the project, but if there is a role for lexicon-, regex-, or training-data-based solutions to ON lemmatization, let me know if I can help.

[2019-03-06 14:49] diyclassics commented on #882
Also, will follow your work on inflection-based lemmatization—curious whether that would be useful with Latin/Greek work.

[2019-03-09 15:13] diyclassics commented on #361
Now that @todd-cook has made progress with the readers API for plaintext and json—should we close this issue and create reader-specific issues for TEI/XML and any other formats?

[2019-03-10 01:30] diyclassics opened #884 "Remove PHI & TLG utilities?"
Since there are an increasing number of plaintext/xml/etc. options for corpora with open licenses that the CLTK can use/rehost, should we continue to support working with PHI & TLG, at least in the main repo? Seems to be a lot of overhead for corpora we cannot directly incorporate in the project. (Btw happy for the answer to be 'no', just curious what the general opinion is.)

[2019-03-10 08:03] todd-cook commented on #884
I vote to deprecate and remove, here's why:
Sadly, there are some corpora which stubbornly wish to remain private and pay-for-play (there's a couple other ones out there too), despite the fact the world at large has drifted more toward the humanitas of open source. The PHI and TLG functionality is fantastic, but unless those private sources supported the CLTK development and would commit to doing

[2019-03-10 15:28] diyclassics commented on #884
Since greek_software_tlgu & greek_software_tlgu_python are already separate from the main repo, perhaps it would be best to also have something like a separate tlgu-utils package. There's a lot of good work in this wrapper worth keeping available, but my instinct it that it does not need to be part of the main repo.

[2019-03-10 16:12] kylepjohnson commented on #884
The idealist in me agrees with Todd. We shouldn't be encouraging the use of closed tools. On the other hand, there are still no open corpora that yet come close to the coverage (especially) of the TLG.

Patrick's separate package idea isn't bad, either. Could we put this one on the back burner for now?

[2019-03-11 10:15] clemsciences commented on #877
If you take some code in cltk.phonology.old_norse.transcription.py and the following code:

[code]
(I have not tested the code.)

You can easily get what you want:

[2019-03-11 17:41] free-variation commented on #877
Hi @clemsciences

Yes, I implemented the whole thing for OE, up to the rule for `c`.  It worked!  However, I find it difficult using cltk.phonology.utils to concisely state such classically non-item-specific phonological rules as: "intervocalic fricatives are voiced", since in the existing framework, as I understand it, this would require a rule for each concrete fricative.

Also, there are OE rul

[2019-03-11 19:56] clemsciences commented on #877
You are right. The following can do the job but it's quite long.

[code]

You just have to define the "to_voiced" method.

So I'm looking forward to see your implemented idea!

[2019-03-12 00:48] diyclassics opened #886 "requirements.txt does not match setup.py, .travis.yml. etc."
Seems like some extra 'dependencies' have found their way into the requirements.txt; e.g. jupyter etc.

[2019-03-12 01:47] #886 closed

[2019-03-12 12:41] #454 closed

[2019-03-12 12:52] diyclassics commented on #638
@inishchith—Thank you for the contributions. Reviewing the tokenizers, it seems to me that I may have had this wrong (and apologies in advance for that!). Could you confirm?

Reading through different Issues on this it seems that ```indian_punctuation_tokenize_regex``` is closer to a word tokenizer than a sentence tokenizer, i.e. the output list is a list of individual tokens. Would it be accurate

[2019-03-13 02:35] free-variation commented on #877
@clemsciences and @Sedictious

In my cltk clone I have a proof of concept for an orthophonology module.  If you can, take a look at:

https://github.com/free-variation/cltk/blob/master/cltk/phonology/old_english/orthophonology.py
Which shows the implementation for a particular language,  and

https://github.com/free-variation/cltk/blob/master/cltk/phonology/orthophonology.py
that contains the fram

[2019-03-13 02:56] free-variation commented on #877
(To be clear, this is neither complete nor robust, as it's still a POC.  I haven't yet implemented the digraphs and diphthongs, and there isn't much error trapping.)

[2019-03-13 15:43] free-variation commented on #877
I've added digraph/diphthong handling and more OE rules.  The current rule set:

[code]

I have a remaining knot around the handling of digraph `sc`.

[2019-03-13 23:18] clemsciences commented on #877
Wow, it does a much better work, but it's really verbose (higher complexity leads to more code?).
I'm going to read your code tomorrow with more attention.

[2019-03-14 19:22] free-variation commented on #877
@clemsciences you're right, for simple rules, as in item-specific ones with simple specifications of environmental features, the mechanism is wordy.  The more complex rules I think benefit from this format.

I have therefore added a simplified mechanism on top of the existing one, roughly similar to the rules in your system:

[code]

Enabled by this:

[code]

[2019-03-14 20:52] LanceMylonakis opened #889 "Add Ottoman Turkish"
Ottoman Turkish Project Proposal:
My project will be able to do the following for the Ottoman Turkish language:
- [x] Add alphabet
- [ ] Transliterate between Ottoman-Perso-Arabic script and Latin script (modern Turkish variant).
- [ ] Do stemming/lemmatization.
- [ ] Reverse of 2 - assemble grammatical suffixes onto root words.
- [ ] Create a list of stopwords.

[2019-03-14 21:19] kylepjohnson commented on #889
Ottoman Turkish adds new dimensions to the CLTK, as it is not Indo-European, from a period later than more our ancient/classical languages, and geographically spread so far into the East.

Your tasks look like discrete units of work, which is helpful in keeping your tasks do-able. We encourage contribs to use "feature branches", so to add 1 small feature at a time (instead of trying to do everythi

[2019-03-14 21:41] free-variation commented on #889
Could we add transcription to IPA for (1), from one of the orthographies?  Latin, I'd guess.  I've just done this for Old English and would be happy to help.

Also, I'm interested in approaches to (3).

[2019-03-14 22:05] free-variation commented on #889
It may be useful for lemmmatization, per a strategy that @clemsciences is investigating for Old Norse.

[2019-03-14 22:48] LanceMylonakis commented on #889
@free-variation I could create a dictionary to connect the transcription to IPA as well for reference. I will do so directly from the Arabic-alpha version, rather than the Latin because a few Ottoman sounds got dropped from Modern Turkish which uses the Latin. A list can be found here: https://en.wikipedia.org/wiki/Ottoman_Turkish_alphabet

I plan on working directly with the Arabic orthography ov

[2019-03-15 16:36] kylepjohnson commented on #889
@LanceMylonakis Two examples of alphabet modules:
* Basic phonology (consonant/vowel): https://github.com/cltk/cltk/blob/master/cltk/corpus/old_english/alphabet.py
* Orthographic (accents, diaeresis): https://github.com/cltk/cltk/blob/master/cltk/corpus/greek/alphabet.py

Not saying you need to add one or both of these. Just pointing out that others have found this helpful in building up more soph

[2019-03-15 17:54] michiboo commented on #876
Hi! so any news on this?

[2019-03-17 16:01] Sedictious commented on #876
@michiboo I can do this for you, but first I'd like to learn if there is any need to latinize the characters or we can keep it as-is @kylepjohnson

[2019-03-18 01:44] kylepjohnson commented on #876
Thanks @Sedictious for offering. Please help @michiboo in this, if he has questions.

@michiboo there are a few things you need to do before we can accept:
* In the readme give a link to where you got these
* In a section called `License`, say that this is CC BY-SA 3.0 and give this link https://creativecommons.org/licenses/by-sa/3.0/
* Transfer ownership of your repo to the `cltk` org (do this un

[2019-03-18 01:47] kylepjohnson commented on #876
A few more things:

To @Sedictious I don't personally care, whether they are in Latin characters or not.

However @michiboo please explain the years these texts were written. I know there are a lot of texts here, so I understand if you do not want to do this for everything here, however our users should know what the dates roughly are. We do not have a hard cutoff for Chinese, but anything after 1

[2019-03-18 14:53] francescomambrini commented on #560
Hi @kylepjohnson,
I finally found the time (and the courage...) to tidy up the mess.
I started a new project with the Corpus Reader:

https://github.com/francescomambrini/capitain_corpus_reader

It includes a minimalist set of tests, which is perhaps more a frame for building more serious ones.
Do let me know your opinions and I really hope that we can all work together to include some readers to

[2019-03-18 15:05] diyclassics commented on #560
Thanks!—I'll give it a look this week. Also, tagging @todd-cook who has made some nice contributions to the CLTK to corpus readers recently.

[2019-03-18 15:10] kylepjohnson commented on #560
Ambitious work. Thank you for sticking at it. @francescomambrini while the code is fresh in your mind, would you please add some minimal docs in the README of your repo: Just enough to get us started using the code as you intended. (It's probably obvious after reviewing the code, but I find it's good to know the API up front, before code review.)

And since you wrote last December, there have been

[2019-03-18 15:18] francescomambrini commented on #560
Will do! In general, I think the docstrings should not be too bad: I write them for myself, as I typical forget what I was trying to from one coding section to the other... ;-)
I'll expand them and include them in the documentation.

[2019-03-18 16:01] kylepjohnson commented on #560
Yes your docstrings do look good. Just a a few user-facing examples (but don't spend much time on this).

[2019-03-18 16:04] PonteIneptique commented on #560
I just want to give a very big thank you to @francescomambrini for yet another connection between Capitains and CLTK ;)

[2019-03-26 03:23] kylepjohnson commented on #873
`flexidate` is updated (v 1.3) and available on PyPI.

All information in the to be-pulled PR: https://github.com/openknowledge-archive/flexidate/pull/9#issuecomment-476458821

Until merged, docs are in the readme of my branch: https://github.com/kylepjohnson/flexidate/tree/check-py3

[2019-03-26 03:23] #873 closed

[2019-03-31 01:25] free-variation commented on #889
@LanceMylonakis If you are interested in providing IPA transcriptions of Turkish text, I'd be glad to collaborate.  I'm looking for a test-case using a non-Latin alphabet.

[2019-04-02 04:42] #843 closed

[2019-04-02 05:39] kylepjohnson commented on #889
Merged #891 to add alphabet. Just to confirm, @LanceMylonakis you prefer to call this Ottoman instead of just Turkish?

[2019-04-02 18:46] kylepjohnson commented on #669
IIRC I tried this manually, and it didn't work. We still have #755 around for reference.

[2019-04-02 18:56] kylepjohnson opened #892 "Closing miscellaneous old PRs"
About a month ago, I closed a few dozen old PRs according to a topic (#872, #866). There are still too many, so I will list in this ticket those I am closing. Most of these were well intended contributions by would-be GSoC students, however due to their being incomplete never got closed out. (At times I communicate with students on Gitter or email, so the entire story may not be contained within t

[2019-04-02 18:56] #892 closed

[2019-04-02 18:57] kylepjohnson opened #893 "Review 3 wikisource corpus PRs"
#750
#738
#839

[2019-04-02 19:40] diyclassics commented on #638
Continuing to refactor the sentence (and by extension the word) tokenizers following my comment above. Looking for someone who knows Sanskrit (and/or related languages) to help with this. First pass at separating sentence tokenization from word tokenization here: https://github.com/diyclassics/cltk/blob/sent-tok-reorg/cltk/tokenize/sanskrit/sentence.py.

Also, will consider closing this issue and

[2019-04-02 22:04] kylepjohnson opened #895 "Cache dependencies during travis build"
Coming from @diyclassics 's first effort: #885

https://github.com/cltk/cltk/pull/885/files#diff-354f30a63fb0907d4ad57269548329e3

Docs: https://docs.travis-ci.com/user/caching/

[2019-04-02 22:18] kylepjohnson commented on #895
Testing cache of only pip with #896
[code]

Note that build will not fail if the cache does not close.

Next will make it:

[code]

[2019-04-03 19:42] kylepjohnson commented on #895
Latest results not helping build time, or marginally so: https://github.com/cltk/cltk/pull/896#issuecomment-479598088

Per Patrick's input I'll close the PR and this issue.

There are big savings to be had, as there are several VERY SLOW tests in there. This could be a point of investigation.

[2019-04-03 19:42] #895 closed

[2019-04-03 19:49] kylepjohnson opened #897 "Profile slow unit tests"
When watching the builds, I have long noticed several very slow tests. Don't know which of these it is or the cause -- either a slow download or actual computation. That is, when the progress "dots" "walk" across the screen: https://travis-ci.org/cltk/cltk/jobs/514967233#L1919

To check for test times, here is a resource (note to self or whoever takes this up): install nose-timer (<https://pypi.or

[2019-04-04 15:23] diyclassics commented on #897
I am going to guess that the sentence and word tokenizers on the Latin corpus readers are causing slowdowns with the .sents(), .words(), etc. PlaintextCorpusReader methods. I can look into this. (Actually fixing the .words() may take a little more time, but refactoring the word tokenizers *is* next on my list.)

[2019-04-04 15:52] kylepjohnson commented on #897
Added a minimal timer example in #898 . Let us know if the output is meaningful for checking your slower tests: https://travis-ci.org/cltk/cltk/builds/515780948

[2019-04-04 16:18] kylepjohnson commented on #897
Tests are listed from slowest down: https://travis-ci.org/cltk/cltk/jobs/515780950#L2252

For the record, I am not worried about these … but if they can be cut down, makes sense to do so.

[code]

[2019-04-04 17:36] diyclassics commented on #897
I have (at least on my machine) test_corpus.py down to 23.37 seconds total. Check Travis now. Will make a PR if worthwhile. PJB

[2019-04-04 18:08] free-variation commented on #897
I was a bit surprised at the slow times for the tests at the *bottom* of the list: > 30s for transcription tests, say.

Looking at the code, it seems each test creates a new transcriber object, which means a model is loaded in from the filesystem.  Is that what slows down the tests?  If so then perhaps we create them once in the test module?

[2019-04-04 18:12] diyclassics commented on #897
Weird—test_stem.TestSequenceFunctions.test_lemmatizer_inlist_latin takes 1.68 seconds on my machine.

[2019-04-04 18:25] diyclassics commented on #897
@free-variation I added a setUpClass for the situation you describe at test_phonology.py went (on my machine) from 28.60 seconds to 3.76 seconds.

[2019-04-04 18:35] free-variation commented on #897
Here's a profile of the *last* test above:

[code]
So yes, it's creating the macronizer that takes time.  The performance is a lot better on my laptop as well, so I'm guessing that whatever VMs these tests run on (AWS free tier machines?) have way crappier I/O.

[2019-04-04 18:38] diyclassics commented on #897
@free-variation Yes, good catch. The commit above adds the transcriber to setUpClass—in the short run this strategy may be a useful/worthwhile on for speeding up the travis builds.

[2019-04-04 18:50] kylepjohnson commented on #897
Go ahead and refactor everything or send a bunch of small PRs, I don't care. As long as each build takes a little less time, we can't lose.

@free-variation still each call is < 1 sec. How did you profile this? Would there be sense in doing this on Travis, too?

[2019-04-04 21:45] free-variation commented on #897
@kylepjohnson Python comes with an easy-to-use profiler.  So:

[code]

[2019-04-04 21:54] free-variation commented on #897
The difference in performance between the build and running tests locally might be related to the resources of the VM, e.g. slow I/O, at travis-ci.org

[2019-04-04 22:13] LanceMylonakis commented on #889
@kylepjohnson yes, I prefer to call this Ottoman instead of Turkish, as the latter usually refers to the modern reformed language (or less commonly to all branches of Turkic languages throughout central Asia).

@free-variation I will take a look at what you have done so far and see what I can do for Ottoman to IPA transcription.

[2019-04-04 22:16] #877 closed

[2019-04-04 22:25] free-variation commented on #889
@LanceMylonakis you'll want to look here:

https://github.com/cltk/tutorials/blob/master/languages/old_english/Phonological%20Rules.ipynb
and
https://github.com/free-variation/cltk/blob/b04929c7db4ef8d080eae6c92b125a090e811980/cltk/phonology/old_english/orthophonology.py

I have little doubt that improvements will be required to deal with Ottoman -- it's all for the better!

[2019-04-26 23:05] kylepjohnson opened #903 "Fix broken NER doctest"
Open to anyone.

This simple NER doctest: https://github.com/cltk/cltk/blob/9b9cdb42dcc1c707ab3db3ef8214837bb7c262b5/cltk/tag/ner.py#L78

is all of a sudden failing (example: https://travis-ci.org/cltk/cltk/jobs/525125856#L1935 ).

The test expects 4 padded spaces on the left.

I have no idea why this would break all of a sudden.

[2019-04-30 16:17] diyclassics commented on #903
Investigating... The doctest passes locally with ```python -m doctest -v ner.py```.

[2019-05-01 16:17] wmshort opened #905 "Possible integration of Latin and Greek WordNet API wrapper into CLTK"
Kyle has suggested it may be possible to include an API wrapper for the Latin and Greek WordNets into the CLTK.

Internally for development purposes we have been using a very basic API that provides access to lemma, synset, relation, and semfield data. For inclusion into the CLTK this would probably require some systemization and rationalization (not to mention better documentation), but it works

[2019-05-01 20:00] diyclassics commented on #903
This doctest can be considered redundant as there is a unittest that tests the same functionality—going to remove.

[2019-05-01 20:01] diyclassics commented on #903
Separate (and for a different issue)—looks like this module could be updated/refactored/revisited in general. Will add to my to-do list...

[2019-05-02 15:15] kylepjohnson commented on #905
Anyone is welcome to work on this. I would volunteer myself, but I won't be able to touch it for at least a few weeks.

@wmshort A huge help to the dev/integrator would be to give a some simple examples (for Greek and Latin, `Semfields` and `WordNet`), of how to run this code, with an `if __name__ == "__main__"`. Adding it to the bottom of the gist would make most sense.

[2019-05-03 00:04] wmshort commented on #905
Done. I've updated the code a bit to reflect the web-based API better, and have provided basic usage examples for Greek and Latin, and the various ways of getting at the data. These examples could easily be tied together as a runnable script, but the library shines in the REPL too.

[2019-05-03 15:27] kylepjohnson commented on #903
Closing with #906

[2019-05-03 15:27] #903 closed

[2019-05-04 03:12] free-variation opened #908 "API for Dependency Trees"
As we look towards adding support for dependency parsers in CLTK, I thought it might be useful to provide an easy-ish-to-use interface that might facilitate access to dependency structures for students and philologists.

Specifically with an eye to integrating the new [PyTorch-based neural models](https://stanfordnlp.github.io/stanfordnlp/) from the Stanford NLP group, I've sketched out a possible

[2019-05-14 08:38] clemsciences opened #909 "List of contributors disappered"
@diyclassics, why did you remove the contributors in https://github.com/cltk/cltk/blob/master/contributors.md?

[2019-05-14 16:26] diyclassics commented on #909
Not intentional—sorry about that.

[2019-05-15 09:48] clemsciences commented on #909
It's not a real problem, it was just strange 😅.

[2019-05-16 01:35] kylepjohnson commented on #856
@AMR-KELEG We have been communicating about email, but not about this. Can we close this issue?

[2019-05-16 04:35] kylepjohnson commented on #908
@free-variation very interested.

I'll walk through some points here, with early thoughts.

Yes, I have seen this before and assumed it was hype … or maybe something I didn't understand. The concept of a semantic dependency is fascinating and I would go out and read Mel’ˇcuk's *Dependency Syntax*, however since such annotations are not available in any treebank, I won't.

True, but it's important

[2019-05-16 13:18] AMR-KELEG commented on #856
@kylepjohnson I believe that the transliteration is correct.
However, we can implement the QALAM romanization algorithm which produces romanized Arabic words based on the way characters are pronounced http://www.cs.bu.edu/ftp/amass/Arabic/qalam.txt

Example:
- `ث` is pronounced in a way similar to `th`

I haven't used any transliteration algorithm other than Buckwalter however I believe implementi

[2019-05-16 15:11] kylepjohnson commented on #856
Ha. Sorry, sometimes I am ignorant of the complexity an implementation. I have seen non-trivial transliteration, in the past.

Question: Is this a feature you want to add yourself? If so, I can re-name this ticket and assign to you.

[2019-05-16 16:12] AMR-KELEG commented on #856
Yes, I am willing to work on it.
I will put it on my to-do list.
Regarding the complexity of the task, I must admit that I underestimate the time required for tasks most of the time :sweat_smile:

[2019-05-16 17:23] elieobeid7 commented on #856
I feel like Qalam isn't the best algorithm and would be much better than  Buckwalter, I'm trying to read its transliteration and I can barely understand a thing, I am a Lebanese native who uses arabic for day to day chat.

I don't think Qalam is worth the time, but I ain't no Phd grad, that's just my two cents. Just edit  Buckwalter, call Elie algorithm who cares really, do the changes I mentioned

[2019-05-16 18:57] elieobeid7 commented on #856
Also I'd like to state that whoever created Qalam doesn't know a thing about Arabic, not a single thing.

I'm trying to analyze their examples looking for reasons to forgive them, and I thought maybe they're trying to go the phonetic way, maybe they want to add accents

First of all this is so wrong because you'll never be able to translate a first name or last name like that because those don't g

[2019-05-16 20:39] AMR-KELEG commented on #856
I think you are too harsh to the researchers who have invented the algorithm.
I am a native Arabic Speaker and I believe that the following transliteration (generated from Qalam)
` bismi ellaahi elraHmaani elraHym` is better than the one you proposed `bi esm allah al rehman al rahim`

It's fine if an algorithm doesn't fit your application but that doesn't make it a horrible one!

Regarding the ide

[2019-05-16 20:46] elieobeid7 commented on #856
That's what I did.

[2019-05-16 20:46] AMR-KELEG opened #911 "Add Qalam Arabic-Latin transliteration system to cltk"
Reference: http://www.cs.bu.edu/ftp/amass/Arabic/qalam.txt

Steps:
- [x] Support the basic Arabic characters
- [ ] Support diacritics
- [ ] Propose solutions to the bugs reported by the Algorithm's author

[2019-05-16 20:55] elieobeid7 commented on #856
Regarding my example, using phonetics is good sometimes but shouldn't be a part of the algorithm, because that way you'll be breaking it in many ways to fix something.

addressing phonetics should be done using a dictionary which of words and the best ways to write them. If phonetics is integral part of the algorithm, it means that no first name or last name will ever be correct. Plus phonetics de

[2019-05-18 21:24] todd-cook commented on #908
How can dependency trees account for ambiguities? How would could it represent:

Vehiculum indicat aurum.
Which can be:
The vehicle points out the gold.
The gold points out the vehicle.

Or:
Cives nunc vocamus.
Which can be:
Now we are calling the citizens.
We the citizens are calling now.

For a slightly different but perhaps similar problem, I plan to tackle the ambiguity problem at the POS tag

[2019-05-21 13:24] clemsciences commented on #909
Fixed  #910

[2019-05-21 13:24] #909 closed

[2019-05-25 01:27] free-variation commented on #908
So many interesting points raised by you two, one could organize a whole conference :)

@kylepjohnson

The basic proposition here is quite novel to me; it would be terrific to discuss live one day.  I think it's surprising to one raised, as it were, in the generative tradition because it basically does away with the notion of infinity that's at the heart of generative linguistics.  That, for a dea

[2019-05-25 01:36] free-variation commented on #908
@kylepjohnson
``` I don't think we could abstract away from XPaths without losing many of its useful features.```

Right, this is basically where I ended up too.  I did review a few tree APIs, There's a bit of a philosopher's stone thing going on, where one wants to provide "regular expressions for trees".  I find the concept a bit unstable because it is deeply in the nature of REs to operate on l

[2019-05-25 12:28] avagraha opened #914 "Generic remark"
Hi, no idea how to use your app: perhaps have I to scan a (well and clear) 
printed edition of 
Cicero/Livius/Quintilianus/Tacitus/Ieronimus/Agostinus...and then, via OCR, 
your app identifies and highlightes the clausulae into a text viewer? 
thanks. best,
PS: molossus + iambus or (better) spondaeus + creticus ?? 

[2019-05-30 18:24] free-variation commented on #908
@todd-cook Ambiguity: the short of it is that the neural parsers don't return alternatives, at least not via the basic interface.  And since they don't work like the dynamic programming parsers of old (e.g. Viterbi) where you can backtrack to generate an alternate parse, additional machinery would be needed to return lower probability alternatives.

For dep parsers doing so might not be that compl

[2019-05-30 21:24] free-variation commented on #908
Here's a little experiment in handling ambiguity.

It's known that when it comes to attachment height for ambiguous PP adjuncts, L1 English speakers tend to prefer lower attachment height, while Romance speakers tend to prefer higher attachment heights.

For example, for the sentence:

English speakers (even from a young age) will put the woman in the river, while for

Italian speakers will put th

[2019-06-02 02:35] almostearthling commented on #196
Hi, I see that this issue has been closed but @kylepjohnson also said that the discussion can continue. I think that one of the primary discrepancies in not allowing customization of `~/cltk_data` lies in the use of Python Virtual Environments, which are often suggested throughout the documentation. An user might want to use a virtual environment to keep such a dynamically developed library as CLT

[2019-06-02 21:27] elieobeid7 opened #915 "Questions about Arabic"
Questions about the Arabic libraries in CLTK

1. Which tokenizer is used? The  stanford segmenter?
2. Does CLTK have a good arabic morphology analysis/lemmatizer? I found one for greek but nothing for arabic, unless I missed it
3. Do we have access to [LDC corpora SAMA 3.1 ](https://catalog.ldc.upenn.edu/LDC2010L01)?

[2019-06-03 15:15] clovell opened #916 "Question about Latin lemmatizer and ambiguous lemmas"
How does the Latin backoff lemmatizer handle ambiguity? E.g. if lemmatizing duci, how does the lemmatizer choose between dux (dat. sing.) and duco (passive infinitive)? Is there a way to set up the lemmatizer to return all possible lemmas for a token?

[2019-06-03 17:51] elieobeid7 commented on #914
This is not an OCR, you could use this to process text, maybe but you're better off using

https://stackabuse.com/pytesseract-simple-python-optical-character-recognition/

[2019-06-04 01:48] kylepjohnson commented on #914
@avagraha What is it you are trying to do?

We do not offer any support for OCR, but instead we work on text that is already digitized.

Yes, you can do this.

Have you used Python before?

[2019-06-04 02:03] kylepjohnson commented on #915
cc @AMR-KELEG

@elieobeid7  good questions. We need your help in answering them.

Two questions for you, about this:
* How difficult are word divisions in Classical Arabic? Could you just use a regular expression, such as r"\w+"? If so, please try one of the following and report back here: http://docs.cltk.org/en/latest/multilingual.html#word-tokenization

No, we do not. What are our options? (Als

[2019-06-04 02:49] todd-cook commented on #196
I like this idea. It is a little bit fringe, but as someone who works with corpora, I think it could be useful. Unless somebody chimes in against it (thoughts @kylepjohnson ? )
@almostearthling I would say go ahead and PR it.

[2019-06-04 07:56] Sedictious commented on #916
I'm not the best person to answer this (maybe @diyclassics could help you more with this)

From the docs:

Ambiguous forms are determined based on the trained model and thus depend on the given context. You can set the ``verbose`` flag to see which model is used from the chain for each given lemma.

Regarding your second question, there is no way to return all possible candidates as far as I know.

[2019-06-04 12:54] diyclassics commented on #916
Thanks, @Sedictious. The possibility to return all possible candidates is an open feature request, for which I've written the code already. I will create a pull request soon, updating this issue.

[2019-06-04 12:58] diyclassics commented on #916
@clovell—you may be interested in a talk I gave yesterday on this topic: http://bit.ly/burns-lila2019-slides. Fwiw an update to the backoff lemmatizer (currently called the ensemble lemmatizer) will give users more information about how disambiguation decisions are made and will make better use of all information derived from the sublemmatizers.

[2019-06-04 15:00] kylepjohnson commented on #196
@almostearthling thanks for the input.

I don't know how I feel about it … I lean more against than for. If I explain my logic, perhaps someone can correct a flaw in it:
* I understand why people don't like having software litter their home dir (as @TinaRussell mentions above). However two points: (1) a home dir is the only common denominator we can count on all of our users having access to; (2)

[2019-06-04 16:00] kylepjohnson commented on #196
Update: @almostearthling I didn't notice that you had already written some code. I see think diff -- is it the correct one?

https://github.com/almostearthling/cltk/commit/4bab5204ac07727dd6f450081d3b509385caf947

In this case, do I understand the following right?

1. CLTK looks in an OS's PATH for `$CLTK_DATA`.
2. If `$CLTK_DATA` found, use that; else use `~/cltk_data/`

If so, I am fine with thi

[2019-06-04 18:51] todd-cook commented on #196
Yeah, the code looks good and this is how I would do it.
I like the edge case ability to override the data dir, good idea.
I made a comment on the code branch that pathlib  and Path may provide cleaner path part concatenation and may allow users to better type hint function interfaces, but that could be done later. Pathlib is great, but sometimes you still have to cast the Path object back to a st

[2019-06-04 19:08] AMR-KELEG commented on #915
Currently the tokenizer used is the one implemented by PyAraby package:

[2019-06-04 21:50] kylepjohnson commented on #915
@AMR-KELEG thank you for that, I should have checked more carefully. Here are the docs @elieobeid7 : http://docs.cltk.org/en/latest/arabic.html#word-tokenization

[2019-06-04 22:17] almostearthling commented on #196
First I'll try to explain the `builtins` mechanism.

The `builtins` module allows for definition, at package level, of objects, variables and functions that become the same level as Python's intrinsic builtin items - such as the `print()` function or the `None` object. In Python 2.x it was called `__builtins__`, thus interaction with it was considered something dangerous to say the least, if not s

[2019-06-04 22:50] almostearthling commented on #196
All tests succeed after commit fb191f88fb5207deed5aab8fcb65c2670449ed18 too.

[2019-06-05 03:14] kylepjohnson commented on #196
They already need to know of the current data dir convention, so this is not any worse.

Both excellent points.

I really appreciate the offer, however we do not support Windows (or do you refer to [Windows Subsystem for Linux](https://en.wikipedia.org/wiki/Windows_Subsystem_for_Linux)?). ... I am open to reevaluating Windows support, however I think this deserves its own issue

This is what you h

[2019-06-05 08:33] almostearthling commented on #196
Yes, I couldn't wait.

Fine, thank you. I'll PR as soon as I get back to my Linux workstation to do all of the mandatory merge/rebase work.

[2019-06-05 13:29] clovell commented on #916
@Sedictious—Thanks! I should have spotted that in the docs. I don't know much about how trained models work, so that's something I need to investigate.

@diyclassics —Thanks for the link to the talk! The new approach to lemmatizing looks really fruitful, and I'm excited to see the upcoming changes. In the interim I think I can use the Collatinus wrapper to get multiple lemmas.

[2019-06-05 15:51] elieobeid7 commented on #915
Thank you guys!

[2019-06-05 15:51] #915 closed

[2019-06-05 16:02] kylepjohnson commented on #856
I have been slow to chime in on this one, but a few thoughts:

* @elieobeid7 your criticisms of Buckwalter and Qalam may be fair, however the CLTK does not (usually) create novel research. Instead, we let professors and researchers publish results and then we simply implement them in Python. (We make sometimes make exceptions, though our new algorithms are often written by researchers themselves,

[2019-06-05 17:31] almostearthling commented on #196
The die is cast. :grin:

[2019-06-05 19:30] elieobeid7 commented on #856
Addressing the open questions:

- If we're taking before[ Arabic diacritics](https://en.wikipedia.org/wiki/Arabic_diacritics), then it was pretty different, but there's no point in targeting that era, since very few writings survived and scholars argue about the pronunciation of words in Arabic. After diacritics were introduced, Arabic didn't change, few words got lost, few added but  pronunciatio

[2019-06-05 19:30] #856 closed

[2019-06-07 13:59] diyclassics commented on #916
@clovell Btw here is a current version of the Collatinus wrapper: https://nbviewer.jupyter.org/github/diyclassics/lemmatizer-review/blob/master/lemmatizer-review.ipynb#collatinus-wrapper

[2019-06-07 18:19] kylepjohnson opened #918 "Question: What attributes necessary for `cltk` namespace?"
I don't know the right way to phrase this question, but I notice that `dir(cltk)` returns some associated attributes that are useless. Which of the following can we `del` at the to the bottom of `cltk/__init__.py`?

[code]

I wonder about: `__builtins__`, ` __cached__`, `__loader__`, `__spec__`.

[2019-06-07 23:09] todd-cook commented on #918
Excellent question!
I'll research it some.

My gut reaction is they probably aren't a problem or dangerous. By contrast one thing we should be cautious about is package level object which get eager initialized (slowing the code and causing bloat).

[2019-06-07 23:12] todd-cook commented on #908
Excellent explanations and illustrations, this is something we'll want to capture and communicate to curious users. Couldn't hurt to have the functionality I suppose.

[2019-06-07 23:57] todd-cook commented on #905
@wmshort Excellent work and a great resource.

I notice you also have an offline archive https://github.com/wmshort/latinwordnet-2
A couple of questions:

Are there any features, existing or planned that would make the online API interaction better than the static snapshot (ignoring the lag of data updates) e.g. perhaps popularity, thumbs up, thumbs down votes, or recently updated flags, etc.

I'm

[2019-06-08 00:02] #862 closed

[2019-06-08 00:08] todd-cook commented on #834
Is there any expectation that this data asset will be updated on a regular basis in the future?
If not, a developer could install mysql, load the data and dump the tables to json files? It's probably just string, numbers and dates at best? The licence is Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License, so it should be okay to transform, right?

[2019-06-08 08:05] wmshort commented on #905
@todd-cook @kylepjohnson Thanks! We are very excited to launch this project, and are looking forward to collaboration with others. We are looking to foster community involvement in every aspect of the project!

Great questions.

Let me say, first, that we are certainly open to revisions to the API if there is some organization of the data that might work better for consumers. There is also data th

[2019-06-08 12:28] almostearthling commented on #918
The first thing I thought of has been to import a module from the standard library:

[code]

`datetime` is a good candidate because it's pure Python. All four attributes are kept by the module maintainer.

In fact `__cached__` and `__spec__` are set by the import machinery, and can be useful for it to determine whether or not to reinitialize the package, which costs time and resources. `__loader__

[2019-06-10 19:10] diyclassics commented on #834
I spoke with the LemLat developers last week and will be following up shortly—fwiw I have had trouble with the program (embedded version in OSX) crashing while using subprocess & shlex to get stdout. This is a process that has worked for getting similar content from TreeTagger, LatMor, Words, etc. Lemlat code is marked "#IN PROGRESS" in this notebook: https://github.com/diyclassics/lemmatizer-revi

[2019-06-10 19:53] free-variation commented on #918
I say keep all, as these seem to belong to the module bureaucracy.   `__loader__`, for example, seems to be involved with introspection.

[2019-06-10 20:04] kylepjohnson commented on #918
Okay, thanks for all the input. Will leave as-is.

[2019-06-10 20:04] #918 closed

[2019-06-12 22:17] avagraha commented on #914
Hi, I am on Windows here, no idea about Python (exceptt the downloaders
based on it).
My purpose is to scan a printed text, or if the text is small (but I can say
that texts are very long!!)
I can write it, ex.gr:

"et facere et pati fortia Romanum est".

Then I launch you magic app :) or I put my text into CMD.exe I press Enter
and I read:

"et facere et pati = dact+cr"
"fortia Romanum = cr+spon"

[2019-06-13 09:36] PonteIneptique commented on #45
Hey there,
some code that might be helpful to anyone wanting to do the whole website :

[code]

[2019-06-14 02:23] kylepjohnson commented on #914
Sorry, but I do not understand you question.

This project is for students and scholars of literature. We cannot help with OCR or downloading videos.

[2019-06-14 02:23] #914 closed

[2019-06-16 22:52] free-variation opened #921 "Pipelines"
I'm using _pipeline_ to mean a chain of interdependent linguistic processors, a common data structure in NLP packages.  As I understand things, currently CLTK tasks do not depend on a pipeline.  Text in hand, one calls a tokenizer, or a tagger of some sort, or a lemmatizer.

**Context:**

In an attempt to improve the lemmatizer for OE, I trained a neural lemmatizer using stanford's new PyTorch mod

[2019-06-20 02:20] kylepjohnson commented on #921
Correct. Users have made their own "pipelines". For an official pipeline, I am in favor of the idea. [As I was working out here](https://github.com/cltk/cltkv1/pull/8/files#diff-ce066d2076a22d87dc6151b9aecce279R9), I like the idea of a primary, general-use interface -- for most people most of the time. There would be a particular default pipeline, for each language, that is defined for users of th

[2019-06-20 05:05] free-variation commented on #921
@kylepjohnson All right, so we move ahead.

I propose doing this: for OE I've trained a lemmatizer, am currently training a POS/morpho tagger, and will then train a dep parser.  It's not totally out-of-the-box, as I've had to hack various things in stanfordnlp, mostly around how training files and word vectors get discovered.

But once done, perhaps I could wire up your NLP object so that a comple

[2019-06-20 15:39] todd-cook commented on #921
Congrats on undertaking this investigation. It sounds like it has already been fruitful.

I'm excited about Pytorch and am looking forward to contributing to CLTK some Pytorch based models. If possible, we should probably consider using sci-kit learn compatible transformer architecture of skorch: https://github.com/skorch-dev/skorch
 This will give us reusable and standardized pipeline interfaces

[2019-06-20 16:19] kylepjohnson commented on #921
@free-variation Yeah, go for it. Whatever you come up with will be logical and smart, I am sure. Once you have a minimum working version is together, with the NLP object, we can then have a conversation about specific design decisions you make?

@todd-cook Would love to see an example of the use case you're thinking of for us. Would these vectors be for general preprocessing -- say, as a replaceme

[2019-06-21 04:14] free-variation commented on #921
Looks like in the upcoming release of Tensorflow 2, Keras is now integrated as its high-level API: https://www.tensorflow.org/versions/r2.0/api_docs/python/tf/keras

In terms of TF vs PyTorch, I think one thing is to say we're definitely pulling in PyTorch because it's a dependency for stanfordnlp, another to say we're somehow committing to PyTorch as the DL framework.  Do we need the stronger sta

[2019-06-21 04:16] free-variation commented on #921
Slight progress report: I trained a POS and morpho feature tagger using stanfordnlp and word2vec vectors I created by hand.  Training was slow (even on a GPU machine), but the result is satisfactory: about 0.5% better accuracy than my custom Keras system.  So nothing is lost by sticking to a stanfordnlp model for OE POS/morpho.

[2019-06-21 06:21] todd-cook commented on #921
I think the fasttext embeddings will outperform the traditional word2vec embeddings when used for highly inflected languages. They should be considered a drop in replacement for word2vec embeddings--I've been meaning to put together a notebook proof of this, hang on...

Yes, I think all ML contributions should be delivered in a way so that they compatible with the scikit learn pipeline and transfo

[2019-06-21 15:26] diyclassics commented on #921
Ah—have a lot I'd like to contribute to this but no time to respond until after next week! One thing is that I have a book chapter coming out next month on CLTK and pipelines. I'll see if I can distribute a preprint to you all soon...

[2019-06-30 01:56] free-variation commented on #921
@kylepjohnson would it make sense to move this issue and #908 to cltkv1?

[2019-06-30 04:36] kylepjohnson commented on #921
I think so, yes. Is it enough to just reference this issue, and not transfer the entire thread?

[GitHub says I can transfer an issue to another repo](https://help.github.com/en/articles/transferring-an-issue-to-another-repository), however the UI is not giving me this option.

[2019-07-11 20:03] todd-cook opened #925 "Latin WordTokenizer broken"
The replacement class should also split the -ne enclitic, and it should handle known abbreviations.

e.g.
In [1]: from cltk.tokenize.latin.word import WordTokenizer

In [2]: toker = WordTokenizer()

In [3]: toker.tokenize('atque haec abuterque puerve paterne nihil')
Out[3]: ['atque', 'haec', 'abuter', '-que', 'puer', '-ve', 'paterne', 'nihil']

In [4]: toker.tokenize('Cicero dixit orationem pro Se

[2019-07-11 20:04] todd-cook commented on #925
@diyclassics also perhaps relevant to: https://github.com/cltk/cltk/issues/561

[2019-07-12 14:45] diyclassics commented on #925
Thanks for this—I remember some issue with trying to preserve the older import syntax for word tokenizer while implementing the new language-specific version for Latin (circular import problem? something like that). On a quick look, this looks to avoid that problem which is great. I will have a chance to review in full over the weekend.

[2019-07-19 23:27] elieobeid7 opened #929 "Feature request: implementing jaro distance"
CLTK already has Levenstein, I personally find Jaro distance more useful in my own projects, for my use case, therefore I suggest adding Jaro distance and Jaro-Winkler distance.

[2019-07-21 19:03] free-variation commented on #929
Sure, go ahead.  I'm curious: What is your use case?  Are you working on language change?

[2019-07-23 16:42] elieobeid7 commented on #929
Awesome, I'll add it in a few weeks.

Yes, I'm working language change, after transliteration, Jaro is awesome to detect the accuracy of words, so you can feed it a dictionary and the list of words you worked on, if the error margin is negligible, you can just replace the word with the dictionary one.

Also, it's a great tool to detect duplicate sentences that don't really match, if you're working

[2019-08-02 14:44] wmshort commented on #916
FWIW, the Latin WordNet lemmatizer,

http://latinwordnet.exeter.ac.uk/lemmatize

which is obviously lexicon-backed, does also give all possible candidate lemmas, with relevant morphological analysis on which any match is based. Ambiguous forms can be filtered, if desired, on the basis of part of speech or by specifying a morphological tag. E. E.g.

/lemmatize/eam/v/

gives only "eo", restricting r

[2019-08-11 12:16] asterbini opened #930 "cltk/lemmatize/old_english/__init__.py missing -> lemmatizer not installed"
Hi, I noticed that pip does not install the old_english lemmatizer.
This happens because the file cltk/lemmatize/old_english/\_\_init\_\_.py is missing.
To fix-it just touch cltk/lemmatize/old_english/\_\_init\_\_.py and reinstall cltk

BTW, the example on the docs has a typo (OldEnglishDictio**r**aryLemmatizer instead than OldEnglishDictio**n**aryLemmatizer)

[2019-08-12 05:23] kylepjohnson commented on #930
Thank you for this, Andrea. I don't know how this has not been noticed yet.

@free-variation here's the module in question: https://github.com/cltk/cltk/blob/master/cltk/lemmatize/old_english/lemma.py

John, should one of us make add this __init__ or did you intentionally leave it out?

[2019-08-14 01:19] free-variation commented on #930
Whoops, ti ringrazio per la segnalazione, @asterbini.  Mo' lo riparo :)

Note that this "naive" lemmatizer is on its way to being replaced by a PyTorch thing with greater recall.

[2019-08-14 08:47] asterbini commented on #930
I would love to try it ...

[2019-08-16 16:14] PonteIneptique commented on #925
Quick note, as you fix this issue, you might be interested to know that some characters do not result in tokenization: I have met the following

[code]

The apostrophe are not use for tokenization.

[2019-08-17 00:10] kylepjohnson commented on #925
Hey Todd I am beginning to look at your work in #926 and to catch myself up on the tokenization modules. Before I get too deep, I saw this:

Do you mean deprecated only for Latin, right? I will log a warning and raise an error when one chooses `language=latin`, unless people have other, better suggestions:

Other note, maybe related: The docs for `WordTokenizer` are completely screwed up. I will b

[2019-08-17 00:55] todd-cook commented on #925
yes, just for Latin. I vote we delete the deprecated class on next release.
I plan on working on a neural net tokenizer soon, since I've found other
problems bordering on language trivia (still important though).

On Fri, Aug 16, 2019 at 5:10 PM Kyle P. Johnson <notifications@github.com>
wrote:

[2019-08-17 21:29] kylepjohnson commented on #925
`"apostrophe 'da pedicare' here"` --> `['apostrophe', "'da", "pedicare'", 'here']`

@PonteIneptique this is a valid thing to notice. Would you prefer the result being this? `['apostrophe', "'", "da", "pedicare", "'", 'here']`

I don't consider this a problem: My feeling is that such single apostrophes, when used as quotation marks, is something that an end user should preprocess (removing or repla

[2019-08-17 21:39] kylepjohnson commented on #925
Sorry Todd, which exactly is the deprecated class? TBH I haven't kept up up to speed on the tokenizers.

Maybe relevant: In my PR yesterday I raised the issue of whether we really need any kind of inheritance: https://github.com/cltk/cltk/pull/932#issue-308262216 If anyone thinks it is really a nice-to-have, I won't fight it.

[2019-08-17 22:14] kylepjohnson opened #933 "Change logging to NullHandler()"
We currently have two ways of error logging, with our own handler which writes to `/cltk_data/cltk.log` and a `NullHandler()`, which does nothing (neither prints to screen or writes to file).

Our own logger:
- source: https://github.com/cltk/cltk/blob/master/cltk/utils/cltk_logger.py
- use example: https://github.com/cltk/cltk/blob/8de70a881befa2686bc106d1108783ab3bda004a/cltk/utils/file_operatio

[2019-08-17 23:05] kylepjohnson commented on #933
FWIW here's what `scikit-learn` does, a library not dissimilar from ours. It's only declares once, in the root [sklearn/__init__.py](https://github.com/scikit-learn/scikit-learn/blob/10249939e5781470c536bb3485022447d177291b/sklearn/__init__.py#L23):

[code]

Note the `StreamHandler()`, not `NullHandler()`. Is sklearn thus not a good parallel?

Then, in their "examples" scripts dir, we see this inv

[2019-08-17 23:17] kylepjohnson opened #934 "Question: To use black auto-formatter?"
About:

Source: https://github.com/psf/black

Example: [cltk/tokenization/word.py, before and after](https://black.now.sh/?version=stable&state=_Td6WFoAAATm1rRGAgAhARYAAAB0L-Wj4CA3B05dAD2IimZxl1N_Wk8FsFk-5t4RuDPTQXQile0e_4b0kchgROFQENyRtR1W1fLyrZv1EQueyM4yNdcrT-04qkVfgPQd_w9wLFfIQCDBe7kK-2q2sSIW8OiQ8GcXKCsvCaLV_rnas7qJZ6fjXzDzC1K38D3yJqN9BmCqvB5iHrzsRN1VaPoYIH5SWWIEnbBHxHi80-SMjjc4yFOWIxfqr7QMsGmV

[2019-08-19 15:51] diyclassics commented on #934
Just started experiment with Black on another project this week—let me get a bit more time with it and I'll weigh in here.

[2019-08-20 08:03] PonteIneptique commented on #925
@kylepjohnson We can open another issue for this,  but to me, a word tokenizer should do this work. If I have to pre-process words before a tokenizer, I might as well write my own (or that's at least what I expect people would do)...

`'da` not being a word or a token for Latin, if feels like `["'", "da"]` should be the output. It was a real surprise for me to see this in the output :)

[2019-08-21 12:17] diyclassics commented on #925
Can we go back to these refactored files? The issues above should have been handled already: https://github.com/diyclassics/cltk/blob/bc73d5389772e24f2f2b179f739ac5a7563c74ec/cltk/tokenize/latin/word.py and https://github.com/diyclassics/cltk/blob/bc73d5389772e24f2f2b179f739ac5a7563c74ec/cltk/tokenize/word.py (esp. lines 69-73).

The only remaining issue (I think) here is that—in an effort to main

[2019-08-21 12:21] PonteIneptique commented on #925
Just maybe a silly question but why would you not have a `._base` module where you put the "prototypes"/parent classes, then cyclical is not an issue anymore ?

[2019-08-21 12:22] diyclassics commented on #925
Fwiw I'll continue to push for this kind of inheritance for 1. avoiding duplication of code between languages and 2. separating the code for language-specific developments, and 3. supporting multiple types of components for each NLP process (e.g. choice between regex sentence tokenization and punkt sentence tokenizer for Greek—cf. https://github.com/diyclassics/cltk/blob/bc73d5389772e24f2f2b179f73

[2019-08-21 12:26] PonteIneptique commented on #925
*ie*

[code]

where the abstract is in prototypes.py, `WordTokenizer` in `word.py`, Treebank et al in `generic.py` ?

[2019-08-21 12:42] diyclassics commented on #925
The import problem (from what I remember) was more of an issue of trying to maintain backwards compatibility and reusing names in the api. Honestly—it's been a few months and I'm forgetting the exact motivation! Anyway, fixing...

[2019-08-21 12:43] PonteIneptique commented on #925
you could probably still import stuff from generic into word, and generic into latin, without breaking things I believe

[2019-08-21 12:46] diyclassics commented on #925
This is great—also, with the current inheritance setup, you can add this new tokenizer to the module (tokenize.latin.word), e.g. LatinNNWordTokenizer without removing other tokenizer options.

[2019-08-21 16:29] todd-cook commented on #925
No to rollback, it's suboptimal.
There's a bug at:
https://github.com/diyclassics/cltk/blob/bc73d5389772e24f2f2b179f739ac5a7563c74ec/cltk/tokenize/latin/word.py#L32
and the regex for latin exceptions should be compiled and cached so that
aren't run uncompiled on every call.

On Wed, Aug 21, 2019 at 5:17 AM Patrick J. Burns <notifications@github.com>
wrote:

[2019-08-22 16:31] diyclassics commented on #925
Fair enough on rollback—I'll look at the bug and recompiling the regexes.

[2019-08-22 16:36] diyclassics commented on #925
@todd-cook Any suggestions on how to keep the option of aliasing an import from cltk.tokenize.word to cltk.tokenize.latin.word?, i.e. making these two thing do the same thing...

1.
from cltk.tokenize.word import WordTokenizer
t = WordTokenizer('latin')

2.
from cltk.tokenize.latin.word import WordTokenizer (or from cltk.tokenize.latin.word import LatinPunktWordTokenizer)
t = WordTokenizer()

I'm

[2019-08-22 17:00] todd-cook commented on #925
Yes, as I recall, when I re-orged the code I used the if-else chain because
it avoided the circular import and because it reduced the lines of code and
helped the coverage pass. If this doesn't help I'll take a deeper look in a
little bit; I'm tied up with a few things at the moment.

On Thu, Aug 22, 2019 at 9:36 AM Patrick J. Burns <notifications@github.com>
wrote:

[2019-08-27 14:38] BlackLotus96 opened #935 "Question: What POSTag do I have to use? And how?"
Hi guys, I'm a beginner in CLTK and in general in NLP; for a project I would like to understand better how does a POSTagger work in particular for Latin; I would like to write a web app in Django and I need CLTK and it's POSTaggers with a little explaination of its several Tag (unigram, bigram, trigram, and so on). I've tried some scripts to tag a latin sentence such as:  'Agricolarum vita beata n

[2019-08-30 08:47] lailoo commented on #619
Hi, I am a researcher in natural laguange processing. Recently attempt to collect a bigger classical corpus for training BERT model. It's a surprise to find this resource. And I wondering if can upload some data which I crawler from web to enrich this corpus. Besides owing to the begining to this work, I also need some help to collect some high quality data in furture work.

[2019-08-30 10:09] clemsciences commented on #619
You could upload on CLTK crawled text, but you have to be sure that the license of the texts is permissive enough to do that. You can at least provide your script which retrieved and extracted the interesting contents.

[2019-09-03 14:51] PonteIneptique commented on #925
Regarding the work done, is it possible to have a release that fixes the regression ?

[2019-09-16 19:47] ryanfb commented on #845
I've been doing some work on Docker containerization in my fork here: https://github.com/ryanfb/cltk_docker (should also build on Docker Hub at https://hub.docker.com/r/ryanfb/cltk)

I think using Docker volumes is the way to go for persisting corpora across runs, rather than distributing them in the image. You'll also notice I'm using a git submodule to install cltk - this lets you install any sp

[2019-09-16 21:09] kylepjohnson commented on #845
Ryyan, in short, yes to both PRs.

I have a question about the submodule install, but I will look into it later in detail. Into what repo are you pulling the cltk as a submodule? Your docker repo?

[2019-09-16 21:48] ryanfb commented on #845
Yes, right now it’s a git submodule in my repo - that would be included in the PR. Partly this should also make it easier to use the Dockerfile to do CLTK development testing as well, since it’s not installing from pip.

[2019-09-16 23:41] kylepjohnson commented on #845
@ryanfb  I am in front of my computer and [can see the diff](https://github.com/cltk/cltk_docker/compare/master...ryanfb:master#diff-3254677a7917c6c01f55212f86c57fbfR1). To be perfectly honest, I find a submodule less desirable than pip, for the following reasons:
- We support [officially released versions on PyPI](https://pypi.org/project/cltk/#history) (what's declared in `setup.py`), not the ma

[2019-09-17 14:51] ryanfb commented on #845
That's completely reasonable - I was operating under the assumption that each PyPI release had a corresponding git tag. I'll switch back to `pip install` before making a PR. I think then it would probably also then be good practice to have the version in the Dockerfile as you do in your example command, so that way a Docker Hub automated build can be triggered by upping the version number. And als

[2019-09-17 17:46] kylepjohnson commented on #845
Ryan's PR merged, build is passing, and all available on docker hub: https://hub.docker.com/r/cltk/cltk

This is a reasonable assumption and probably the right thing to do. I will keep this in  mind for the devops pipeline for our upcoming v1.0 release.

@free-variation and @ryanfb I am going to close this issue, then open a new one just for Jupyter + Docker.

[2019-09-17 17:46] #845 closed

[2019-09-17 17:52] kylepjohnson opened #936 "Docker container with Jupyter"
Following from #845 , from suggestions by @free-variation and @ryanfb . @ryanfb I will assign this one to you once you accept the CLTK org invitation.

Questions:

* Must this require a new Dockerfile?
* If so, do we want this to be a separate repo?

I presume yes to both of those (which is fine) however I am wondering out loud whether there is a way to cut down on projects that will need maintena

[2019-09-17 18:29] kylepjohnson commented on #934
FWIW I have been using this in the v1 repo, and I think it is fantastic. Using the command `isort --recursive . && poetry run black src/cltkv1 tests docs` ([ex](https://github.com/cltk/cltkv1/blob/master/Makefile#L11)). Have not run into one single problem or accidental breakage.

However perhaps let's wait until the v1 code is ready to do this on the current code base.

[2019-09-17 18:37] ryanfb commented on #936
I think it makes sense to have it as e.g. `Dockerfile.jupyter` within the same repo. You can set Docker Hub to auto-build multiple Dockerfiles within a repo as different tags, so I would suggest doing that and having `latest` (default tag) be the plain `Dockerfile` and `jupyter` be the Jupyter build.

I have a first pass pretty well done that I'm testing now - will probably be able to push shortly

[2019-09-17 18:54] ryanfb commented on #936
An automated build of my PR should be available at https://hub.docker.com/r/ryanfb/cltk on the `jupyter` tag using the following config:

![aqhejx5e](https://user-images.githubusercontent.com/19781/65070688-1808ec00-d95b-11e9-9fb2-b564d4388647.png)

[2019-09-18 13:59] ryanfb opened #937 "Add "Gorman Trees" corpus for Greek"
https://github.com/perseids-publications/gorman-trees = https://perseids-publications.github.io/gorman-trees/

~500,000 tokens of parsed Ancient Greek.

[2019-09-18 15:59] diyclassics commented on #937
Or provide instructions for loading it as a remote corpus; though that may take rewriting corpus_importer (would have to check—@kylepjohnson?)

[2019-09-18 16:00] diyclassics commented on #937
Related—worth separate issues: retrain the backoff lemmatizer, the pos taggers, etc. Will create soon.

[2019-09-18 17:41] kylepjohnson commented on #937
If it is a Git repo, we only need [to add it to our official Greek repo](https://github.com/cltk/cltk/wiki/How-to-add-a-corpus-to-the-CLTK#adding-a-git-backed-corpus-to-github) or an individual can it [locally through a custom config file](http://docs.cltk.org/en/latest/importing_corpora.html#user-defined-distributed-corpora).

Regarding the structure of this repo, it appears to be meant to be an

[2019-09-18 17:45] kylepjohnson commented on #937
Also, a related topic: Should we continue to fork other repos ([example](https://github.com/cltk/treebank-releases)) or simply point to the original upstream?

The benefit of forking is that we protect against upstream breakage; the downside is that someone must manually update each repo with a PR, which in practice means that the data in our forked repos is usually out of date.

In the past, I fa

[2019-09-18 18:57] ryanfb commented on #937
Vanessa Gorman also has a repo with just the XML files [here](https://github.com/vgorman1/Greek-Dependency-Trees), and has stated (on the GLtreebank Google Group) that she intends to keep both up to date.

I'd be happy to make a quick PR for pulling that repo in as a Greek treebank corpus. The past forking was why I was unsure. There are, as you mention, upsides and downsides to each approach.

[2019-09-18 19:03] kylepjohnson commented on #937
OK please make the PR using the original XML repo (thus not our own cltk fork).

Meta: In general, I am inclined to reduce the number of corpora we make available, and instead focus energies on better integration.

[2019-09-18 19:19] #937 closed

[2019-09-18 19:20] kylepjohnson commented on #937
Closing this issue, let's open up Gorman-specific issues going forward for integrations etc.

Thanks Ryan!

[2019-09-19 09:15] KoichiYasuoka commented on #619
Hi, my collegues and I have released [UD-Kanbun](https://github.com/KoichiYasuoka/UD-Kanbun), a python-based tokenizer, POS-tagger, and dependency-parser for classical Chinese texts. We are developing [UD_Classical_Chinese-Kyoto](https://github.com/UniversalDependencies/UD_Classical_Chinese-Kyoto/) tagged corpus of 孟子, 論語, and 禮記, which was derived and manually-annotated from [Kanripo](https://git

[2019-09-19 09:17] sailordiary commented on #619
@KoichiYasuoka Actually this new [BERT-based model](https://github.com/shenshen-hungry/Ancient-Chinese-Segmentation) performs pretty well. Seems like the paper is accepted to [CCL2019](http://www.cips-cl.org/static/CCL2019/paper-accepted.html) but hasn't been released yet.

[2019-09-19 13:57] diyclassics commented on #937
My take—open for discussion of, of course...
1. For the most part we should point to the original upstream.
2. But I think that we should continue to host a limited number of corpora for each language; the ones that we host should be supported by corpus readers and should have metadata, rights statement, etc. Cf. https://github.com/cltk/latin_text_tesserae.

[2019-09-19 15:30] kylepjohnson commented on #937
So we're on the same page.

I agree with your logic. But when we do choose to host something, I think we should have a checklist to help us make and justify the decision. Collecting/hosting/managing texts is starting to feel (to me) ancillary to the project's NLP focus, and maintenance is burden and technical debt; however you are completely right that it is called upon for us in some circumstance

[2019-09-19 15:41] kylepjohnson commented on #619
Dear @KoichiYasuoka Thank you very much for letting us know about your scholarship and code. The CLTK wants to support East Asian languages, however have not had specialists like you to advise us.

How do you recommend the CLTK use `UD-Kanbun`? Should we import it and then write a wrapper for it ? ([Example using Arabic](http://docs.cltk.org/en/latest/arabic.html#pyarabic).) Or if you think our de

[2019-09-19 15:41] clemsciences opened #939 "Add Referenzkorpus Mittelhochdeutsch"
I would like to add the [Referenzkorpus MittlerhochDeutsch](https://www.linguistics.rub.de/rem/access/index.html) (a corpus of annotated Middle High German books). However, as mentionned in #937, it seems better to have as few corpora as possible.  What if a corpus provider does not provide any code to read it? Would not it be good to add a corpus reader as a CLTK repository?

Moreover, the corpus

[2019-09-19 15:43] kylepjohnson commented on #619
@sailordiary Please let us know when this BERT-based model is available for use! Or if you have other suggestions for Chinese support, as I said to Koichi-san, please reach out anytime.

[2019-09-19 15:47] kylepjohnson commented on #939
Thanks for asking, Clem. The Lizenz is good for us to host, and the code is not currently available in Git form (or is it?). In this case, please move forward with adding it, *if* you think it's important and necessary for your current code and/or scholarship.

Just please be aware that we *might* want to remove it in the future. So I leave the decision up to you. If this sounds fair, go ahead and

[2019-09-19 16:00] clemsciences commented on #939
For this corpus, I have not found any code to parse it. So, yesterday, I created a new repository [here](https://github.com/cltk/middle_high_german_texts) in CLTK.

I think I'm going to let it in CLTK and, if it must be removed in the future, then I will change its owner to me.

[2019-09-19 16:48] #939 closed

[2019-09-19 19:33] kylepjohnson commented on #939
Sure, let's keep this in mind in the months to come. Thx!

[2019-09-19 23:58] KoichiYasuoka commented on #619
Hi, @kylepjohnson UD-Kanbun is based on [MeCab](https://pypi.org/project/mecab-python3/) and [UDPipe](https://pypi.org/project/ufal.udpipe/), and their licenses are MIT, BSD and MPL. You can freely import UD-Kanbun (including our MeCab dictionary and UDPipe model enclosed) for CLTK. We often update our dictionary or our model, so please follow [github](https://github.com/KoichiYasuoka/UD-Kanbun) o

[2019-09-20 02:36] kylepjohnson commented on #619
Thanks for the info, Kochi-san.

1) To start, I will add your project to our documentation, in order that our users know about it.
2) Beyond this, I do not know what will be best for our users. I will talk with our developers, to see what they recommend :)

[2019-09-20 02:40] kylepjohnson opened #940 "Add reference to UD-Kanbun in Chinese docs"
Coming from #619 and reported to us by @KoichiYasuoka , that this new project provides POS-tagger and dependency-parser for classical Chinese texts.

In [docs/chinese.rst](https://github.com/cltk/cltk/blob/master/docs/chinese.rst), under POS and Dependency parsing headers, add a brief description, link, and API example to https://github.com/KoichiYasuoka/UD-Kanbun .

[2019-09-20 03:44] todd-cook commented on #937
I agree. I also think we should eventually give some thought to even
trimming some of the offerings we do have (e.g. some of the Perseus texts
are bit sub-standard, and some of the latin library texts are corrupt and
polluted with mangled Greek, etc). Looking at NLTK, it has some stable base
corpora, that are great examples of setting expectations and showing how a
corpus can be made available, ca

[2019-09-20 16:50] kylepjohnson commented on #937
corpora, that are great examples of setting expectations and showing how a
corpus can be made available, can be annotated, tagged, etc.

With the NLTK, their corpora (not models) are meant mostly for pedagogical purposes. For example, a new user can import some texts and get to learning their API immediately. But those doing research usually find their own corpora.

responsibility for providing fo

[2019-09-21 13:22] diyclassics opened #941 "Add feature to JVReplacer for Latin to replace 'u' with consonantal 'v'"
It would be nice to be able to reverse the functionality of JVReplacer, so that it does not only do:

verbum > uerbum

but also

uerbum > verbum

I rewrote the JVReplacer class to do this: https://github.com/diyclassics/cltk/blob/uv-norm/cltk/stem/latin/j_v.py. Harder than expected, but I'm just getting a hang on the replacement patterns and beginning to generalize them better.

Converts all of Ca

[2019-09-21 16:34] kylepjohnson commented on #941
Bonus parameters are a nice touch, the kind of thing a real scholar would think of.

Why? 😄

Perhaps I do not have full understanding of what you are trying to capture and replace.

At its most rudimentary, if we set aside the nuanced features (like not converting capitalized "V"), a reverse mapping is easy. This is dumb but would work:

[code]

So I see thinks like the [ENDINGS_](https://github.c

[2019-09-21 16:38] kylepjohnson commented on #941
^ note I submitted previous comment too soo, see it now please.

[2019-09-21 17:05] kylepjohnson commented on #925
To be honest, I lost track of this issue. Todd, are there directions you could give to me, Thibault, or Patrick?

If not, that's OK. Just wondering!

[2019-09-21 17:12] todd-cook commented on #941
I have taken a stab at this before with a script, but wasn't happy with some of the edge cases.
One has to at least do trigram matching & process some conversions before others, e.g.
uulgus -> vulgus
uua -> uva

Shell script pasted, since gitbum won't attach it:

#!/usr/bin/env bash
# nomalizeLatinText.sh - change consonantal U to V, and
# some other vowel normalizations v o l g u s -> vulgus
#
#

[2019-09-21 17:17] todd-cook commented on #941
I would move the switches in the replace function to the init() method and do the precompile there. It's way too costly to recompile on every call. Otherwise it looks promising!

[2019-09-21 17:20] diyclassics commented on #941
Yes—the edge cases are maddening. Yesterday was a day spent writing and rewriting regular expressions. Feel like I’m close to formalizing most of this—the ‘vol(u|v)’, ‘sol(u|v)’, ‘ser(u|v)’, and the like give the most difficulty (not unexpected)—some may not be solvable on a unigram basis, like ‘soluit’ vs. ‘solvit’. But the success rate so far is (anecdotally) very good, so seems a feature worth

[2019-09-21 17:23] diyclassics commented on #941
—-

There’s a comment about moving the compiles back to init. This requires the decision about the direction u > v or v > u to be made at class definition rather than at calling the replace method, but I’m increasingly in favor of this anyway.

[2019-09-21 17:28] diyclassics commented on #941
@kylepjohnson “Why?” Good question—1. it’s a task that humans are good at but is harder than expected to formalize, so a worthwhile challenge; 2. this conversation got me thinking about assumptions for normalizing data: https://twitter.com/diyclassics/status/1175402549047910400?s=21; 3. practically, a (messyish) collection like the Latin Library is very inconsistent with editorial practice in this

[2019-09-21 17:30] diyclassics commented on #941
@kylepjohnson Evaluation set is coming—I’d like to put out a number so that a contributor know what they are trying to improve, only makes sense. (And not just for this task, but in general.)

[2019-09-21 17:31] kylepjohnson commented on #941
(note: I wrote this just before seeing your last comments, Patrick)

Maybe this is my point: Some edge cases may be difficult in and of themselves, then on top of that they might interfere with each other. Hence putting the intentions clearer (it'd help me, at least).

I see two goals here, in fact: (1) [Dimensionality reduction](https://en.wikipedia.org/wiki/Dimensionality_reduction) this is the

[2019-09-21 17:34] kylepjohnson commented on #941
@diyclassics

I see these as my type (2).

I don't doubt that it's valuable, but it might be better to do this in a separate class, though same module. Capturing the edge cases you want may become a rabbit's hole we do not know the depth of yet :)

[2019-09-21 22:16] kylepjohnson commented on #941
Maybe I shouldn't write too much while I'm still sleepy. It's clear from your title @diyclassics the scope of this change.

I wonder whether, if the rules are becoming difficult to keep in line, should might reference a grammar's rule set. [Allen and Greenough's on consonantal v](http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.04.0001) and [here](http://www.perseus.tufts.edu/hop

[2019-09-22 05:38] todd-cook commented on #925
Closing this issue since, there was a release that included fixes for this issue and it has been corrected.
If the apostrophe functionality is desired, we should open another issue.

[2019-09-22 05:38] #925 closed

[2019-09-22 09:37] clemsciences commented on #930
This issue has been solved.

[2019-09-22 09:37] #930 closed

[2019-09-22 10:27] BlackLotus96 opened #942 "Understanding code examples"
from here (https://github.com/kylepjohnson/notebooks/blob/master/pos_tagging/Cross-validation%20of%20the%20CLTK's%20POS%20taggers%2C%20Latin.ipynb ) I wanted to understand better the code written, in particular, the lines

    train_reader = TaggedCorpusReader(local_dir, 'train_latin.pos')
    train_sents = train_reader.tagged_sents()

    test_reader = TaggedCorpusReader(local_dir, 'test_latin.po

[2019-09-22 12:38] kylepjohnson commented on #942
I will look tomorrow, this notebook is very old and I forget. 

Also see this if you havent http://cltk.org/blog/2015/08/02/updated-accuracies-pos-taggers.html <http://cltk.org/blog/2015/08/02/updated-accuracies-pos-taggers.html> it might link to another notebook. 

Sep 22, 2019, 03:27 by notifications@github.com:

[2019-09-22 16:08] clemsciences commented on #942
More recent examples can be found here: https://github.com/cltk/tutorials.

[2019-09-25 05:12] jrhaneydata commented on #413
I think it would be worthwhile to reopen this issue. I had the same problem.

I think the documentation on Corpus Readers should mention that corpus readers for some corpora (e.g., "latin_text_latin_library" and "latin_text_perseus") will only work if other corpora have already been imported (i.e., "latin_models_cltk").

I now see that it's in the tutorials, but I think it would also be wise to ha

[2019-09-25 05:31] kylepjohnson commented on #413
Thanks for the message. This is a fair point.
Patrick, what would you think about a verbose warning, printed to screen?

[2019-09-25 18:33] diyclassics commented on #413
Seems like a good solution—Perhaps worth looping @todd-cook in as well.

[2019-10-03 06:20] nolanee commented on #738
Hi @kylepjohnson, is someone still working on this? May I work on this?

[2019-10-06 16:16] diyclassics opened #943 "Latin sentence tokenizer splits on limited punctuation"
The current version of the Latin punkt sentence tokenizer only splits on ('.', '?', '!'). More flexibility is needed to account for editorial practice, digitization choices, etc.

re: editorial practice, cf. e.g. discussion in Pinkster, H. 2010. “Notes on the Language of Marcus Caelius Rufus.” In Dickey, E. and Chahoud, A. eds. Colloquial and Literary Latin. Cambridge: Cambridge University Press;

[2019-10-07 20:38] #943 closed

[2019-10-10 04:18] lsbmsb opened #946 "Are we tagging some of the issues for Hactoberfest?"

[2019-10-10 15:41] kylepjohnson commented on #946
For reference: https://hacktoberfest.digitalocean.com

No, we are not taking part in this. Thank you for letting us know, though.

I should raise the issue to the larger group that we could begin thinking about developing "easy" tasks/issues in anticipation of GSoC (should we decide to take part for 2020).

[2019-10-10 15:41] #946 closed

[2019-10-13 20:59] clemsciences opened #948 "Stop module code and its documentation do not match"
#840 updated the stop module (cltk.stop.stop) but its [docs](http://docs.cltk.org/en/latest/multilingual.html#stoplist-construction) was not updated.

It seems that a child class of `BaseCorpusStoplist` must have attributes `vectorizer` and `tfidf_vectorizer` like in cltk.stop.latin

[2019-10-20 05:05] lsbmsb commented on #946
Thanks, Kyle for acknowledging this. Have you already started the discussion of GSoC? It yes, please let me know.

[2019-10-20 05:07] lsbmsb commented on #616
@kylepjohnson really sorry, I did not complete this before. Has this work is done by another PR or something ? if not, I will start working on this and get it merged/closed.

[2019-10-22 14:15] kylepjohnson commented on #946
For GSoC, we haven't made a decision yet. Stay tuned, thx

[2019-10-22 14:21] kylepjohnson commented on #616
Here's the Marathi list, which hasn't been touched in 2 years: https://github.com/cltk/cltk/blob/master/cltk/stop/marathi/stops.py

You may read through the comments above, but basically we don't want any modern nouns (like "computer") that could accidentally sneak in; and we don't want any nouns/adjectives/verbs.

@lsbmsb would you visually review this list and let us know of any possible problem

[2019-10-24 15:03] Rutvik-Trivedi opened #951 "Increasing Support for Gujarati Language by adding POS Tagger"
At present, the Gujarati Language support is very limited and most of the development is yet to be addressed. The implementation and development of a POS Tagger for the Gujarati language will be a good start. The implementation will be based on the following paper: [Part-Of-Speech Tagging Using Conditional Random Fields](https://www.aclweb.org/anthology/I08-3019.pdf)

[2019-10-24 15:04] Rutvik-Trivedi commented on #951
@kylepjohnson Sir, please review this issue and acknowledge if proceedings are useful

[2019-10-24 17:02] kylepjohnson commented on #951
Gujarati is definitely in scope for us, but only the form of the written language that was used up until the introduction of the printing press. Going by Wikipedia's rundown, for Gujarati we're looking at texts between c. AD 1000 and 1850.

* Early literature (1000 AD to 1450 AD): https://en.wikipedia.org/wiki/Gujarati_literature#Early_literature
* Medieval literature (1450 AD – 1850 AD): https://

[2019-10-24 17:22] Rutvik-Trivedi commented on #951
@kylepjohnson Sure Sir. I will get some advice from the authors of the paper. Meanwhile, I would like to suggest an approach from my own research on how to approach this. Please have a look at this paper: [Cross-lingual Annotation Projection Is Effective for Neural Part-of-Speech Tagging](https://www.aclweb.org/anthology/W19-1425/)
This paper suggests an approach to implementing a POS Tagger for l

[2019-10-26 06:42] kylepjohnson commented on #951
I would need more time to read and understand this, but from skimming it, the idea seems promising. What closely related language (to Gujarati) would you suggest and would you be using the multilingual learning or the zero-shot version? Could the modern Gujarati be the source and the target be pre-modern Gujarati?

I've looked at your code and it is impressive, however we would normally prefer to

[2019-10-29 14:21] Rutvik-Trivedi commented on #951
The Hindi Language is very much similar to Gujarati based on the structure of sentences (which is more important for a POS Tagger). So, if CLTK has a data corpus for Hindi Language, then it may be promising to give it a try.

I shall try it out with my implementation on the modern corpus to find out if the results are acceptable or not.

Thank you very much for your feedback. I will surely impleme

[2019-11-08 15:04] chrisdrymon opened #955 "Greek Corpora Importer"
Does the corpora importer (specifically the Greek one) do anything right now?

`from cltk.corpus.utils.importer import CorpusImporter`
`corpus_importer = CorpusImporter('greek')`
`corpus_importer.list_corpora`

This gives no errors, but gives no output either. It does create the folder "cltk_data" and the cltk.log within it, but nothing else.

[2019-11-08 15:12] clemsciences commented on #955
This is because you have not downloaded anything. You has only checked the list of available corpora on CLTK.

You can download a corpus with
[code]
for example.

[2019-11-08 15:43] kylepjohnson commented on #955
That sounds like a problem, there should be output.

What OS and what version of Python?

[2019-11-08 15:56] chrisdrymon commented on #955
It's python 3.7 and MacOS Catalina.

[2019-11-08 15:59] chrisdrymon commented on #955
Ah... I was under the impression that .list_corpora showed the corpora that were available for download, not the ones that were already downloaded. If you are correct, then how do I find out what corpora are available for download?

[2019-11-08 17:11] clemsciences commented on #955
@chrisdrymon, list_corpora is the list of copora that are available for download so you're right and it's surprising that you got no output. What is the version of your cltk package? Have you tried to download a corpus?

[2019-11-08 17:28] kylepjohnson commented on #955
In fact, `list_corpora` ought to give all corpora defined in `cltk/corpus/greek/corpora.py`. Let me pull the latest and report back what I get …

[2019-11-08 17:34] kylepjohnson commented on #955
@chrisdrymon I just did a pull and tested on my machine and everything is OK for me. That said, I would like to understand what's causing your problem.

Please take a look at my commands and send back the following (including the creation of a new virtualenv).

[code]

[code]

[code]

[2019-11-08 17:36] kylepjohnson commented on #955
^ I accidentally closed this issue -- reopening : ) (And thanks Clement for jumping in).

One other note @chrisdrymon do not do the above commands from within this cloned repo (in case you have cloned) but from something like `~/Downloads`

[2019-11-08 23:24] chrisdrymon commented on #955
Thank you for your help, Kyle. When I do everything exactly as you have shown, it works perfectly.

Previously, I was doing it through a conda environment. It was a new environment with almost nothing else installed on it. Do you know why that wouldn't have worked? Ideally, I'd like to continue working through conda if I could.

[2019-11-08 23:33] chrisdrymon commented on #955
Ok, we can close all this. The problem, of course, was an embarrassing user error. I right away incorporated it into PyCharm and expected it to output without a print() command.

[2019-11-08 23:33] #955 closed

[2019-11-09 04:04] kylepjohnson commented on #955
User error yes, but completely understandable. Our docs are done in a "REPL" (ipython, in particular) which outputs without needing to print.

Actually, I am curious to know whether the cltk works as expected w/ conda. Is that what you used in the above successful test? We hear mixed reports about it :- )

[2019-11-09 14:13] chrisdrymon commented on #955
Yes, so far, it has worked well with that very simple conda environment. I'll add it to a more complicated environment over the next week and give you an update.

[2019-11-10 05:34] nolanee opened #956 "Add Swadesh list for Coptic"
I would like to add a Swadesh list for Coptic.

[2019-11-12 20:33] clemsciences opened #957 "Levenshtein module not found"
[code]
---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-11-5d85521ff9dd> in <module>
----> 1 from cltk.prosody.latin.hexameter_scanner import HexameterScanner

c:\users\clems\pycharmprojects\apicius\venv\lib\site-packages\cltk\prosody\latin\hexameter_scanner.py in <module>
     15

[2019-11-12 20:37] kylepjohnson commented on #957
The idea here is for users to install this themselves. Clement, you think it'd be enough to provide the example pip call? In this case, it isn't obvious (`pip install python-Levenshtein `).

[2019-11-12 20:40] clemsciences commented on #957
I would actually prefer not to use an external module at all for this task.

[2019-11-12 20:44] todd-cook commented on #957
Yes, we should not use the external module, it is GPL https://pypi.org/project/python-Levenshtein

I will review the PR linked in a few minutes when Travis reports.

[2019-11-12 20:55] kylepjohnson commented on #957
Let's talk about it first, before merging …

First, a little background --

- There are two kinds of distance measures here, one word-to-word and the other for longer strings. For word-to-word we have the 2 algos [Levenshtein_Distance](https://github.com/cltk/cltk/blob/master/cltk/text_reuse/levenshtein.py#L16) and [Damerau_Levenshtein_Distance](https://github.com/cltk/cltk/blob/master/cltk/text_r

[2019-11-12 20:59] kylepjohnson commented on #957
Clement, I took a closer look at your examples. These seem fine with me. Comment here: https://github.com/cltk/cltk/pull/958/files#r345440871

[2019-11-12 21:05] todd-cook commented on #957
I supposed it's okay to use it as GPL, just prefer to steer away from any potential license headaches.

[2019-11-12 21:16] kylepjohnson commented on #957
I see where you are coming from. There are a few places where we have copy-pasted GPL code, as in the case of the pyaraby library, since we only needed a small part of their bigger library: https://github.com/cltk/cltk/blob/9b9cdb42dcc1c707ab3db3ef8214837bb7c262b5/cltk/corpus/arabic/utils/pyarabic/araby.py#L24

Some others, in writing code for our project, have given a GPL license. If we wanted to

[2019-11-12 21:16] kylepjohnson commented on #957
ld be

[2019-11-12 21:17] kylepjohnson commented on #957
^ Sorry didn't mean to truncate my own comment and close this issue. Reopening

[2019-11-12 21:19] kylepjohnson commented on #957
On a related note, I have thought about moving us to Apache 2.0, when the new api is finished. A few comments on its benefits over MIT:

- https://www.gnu.org/licenses/license-list.html#ModifiedBSD
- https://www.gnu.org/licenses/license-list.html#apache2

These of course are from an opinionated source :)

[2019-11-14 22:09] kylepjohnson commented on #956
Edward, thanks let's do this. Pasting my offline message …

We'd take a Coptic Swadesh. The canonical Swadesh is 100, but there are others I've seen (Phoenician, I remember, is one) have 200-some. About: https://en.wikipedia.org/wiki/Swadesh_list#Final_Swadesh_list

1. I personally am in favor of the 100 number, especially if you are creating this yourself, from scratch. Question: Is there one alr

[2019-11-14 22:31] nolanee commented on #956
Great! I'll get right on it. Pasting from my offline message:

1) Since the other Swadesh lists so far were of the roughly-200 item variety, I just did the Coptic one in the same fashion. Would you prefer I change it to the 100 word variety? I based mine off [the one from wikipedia](https://en.m.wiktionary.org/wiki/Appendix:Afro-Asiatic_Swadesh_lists), which seems to be the same version used for t

[2019-11-15 04:31] kylepjohnson commented on #956
Nah, keep it as-is, perfectly fine.

Please do. This way, users can find a word by index `[29]` equals blood for any language.

Nah, don't worry about inflections, just words of different etymology. (Note: For stopword lists, we do prefer all possible morphological forms.)

Yes to swadesh test, but don't worry about the corpus importer. We only need to test the importer once, just to check that th

[2019-11-16 18:09] #956 closed

[2019-11-16 18:18] nolanee commented on #653
There doesn't seem to be any documentation of the Arabic Swadesh list. Shall I add it?

[2019-11-16 20:18] kylepjohnson commented on #653
Yeah go for it!

[2019-11-16 22:59] #653 closed

[2019-11-27 18:49] clemsciences opened #961 "List of papers citing CLTK"
In order to show use cases of **CLTK** for newcomers, it would be great to maintain a list of papers citing **CLTK**. What do you think about it?
And what about a list of presentations concerning **CLTK**?

[2019-11-27 19:17] diyclassics commented on #961
See here: https://github.com/cltk/cltk/wiki/CLTK-Research. Agreed about a section citing the project as well. Feel free to add anything that fits here.

[2019-11-29 08:04] rash150996 commented on #222
**TokenizeSentence** is not working. I wrote the same line but its giving me a **_invalid syntax_** error. Any suggestion?

[2019-11-29 17:18] kylepjohnson commented on #222
Please post your entire tracback and also what OS and Python version. 

[2019-12-01 09:38] lsbmsb commented on #616
Hi Kyle,

I read the stop words list. As it was created by the high-frequency words from the https://github.com/cltk/marathi_text_wikisource As you mentioned above this list does not contain any typically frequent nouns which can later be removed with a tool (such as TfidfVectorizer()) except some which I will mention in next paragraph. As you suggested it does contain some of the pronouns like "त

[2019-12-09 05:11] lsbmsb commented on #616
Any comment @kylepjohnson?

[2019-12-18 07:05] lsbmsb commented on #616
Pinging @kylepjohnson and @diyclassics

[2019-12-23 09:54] PonteIneptique opened #962 "Latin Collatinus bugs with disambiguated lemma"
Currently, declining `aggero2` builds wrong answers as the `2` is taken into account when building the form.
Fix incoming today.

[2019-12-23 17:13] lsbmsb commented on #616
Pinging @kylepjohnson

[2020-02-09 16:47] lisni946 opened #964 "pip installation issue for cltk"
I've been trying to install the cltk pip, by an error keeps coming up.

I'm using Python 3.8, pip 20.0.2, and terminal on Mac OS X.

the command line reads:

Collecting cltk
  Using cached cltk-0.1.113.tar.gz (612 kB)
Requirement already satisfied: gitpython in ./venv/lib/python3.8/site-packages (from cltk) (3.0.7)
Requirement already satisfied: nltk in ./venv/lib/python3.8/site-packages (from clt

[2020-02-10 00:27] todd-cook commented on #964
What are your macOS version numbers?
Did you update Xcode lately?

It looks like they may have changed some stuff that breaks obliviously.

On Sun, Feb 9, 2020 at 8:47 AM lisni946 <notifications@github.com> wrote:

[2020-02-10 01:19] kylepjohnson commented on #964
Dang, I got the same thing (and haven't touched XCode in ages).

[code]

[2020-02-10 01:27] kylepjohnson commented on #964
This came up once before and nothing came of it: https://github.com/cltk/cltk/issues/842#issuecomment-434783483

At the time, others couldn't reproduce the issue.

@todd-cook 5 mins of searching online doesn't give me an obvious answer (past similar issues seem tied to conda). Ideas?

[2020-02-10 03:15] todd-cook commented on #964
the crf release notes:
https://python-crfsuite.readthedocs.io/en/latest/
mention that py 3.7 is only supported in the latest release. Perhaps 3.8 has a breaking change.

[2020-02-10 19:58] lisni946 commented on #964
@todd-cook my OS is 10.11.6 and no, I haven't updated Xcode
also, tried switching to python 3.7.1, but the same error occurred.

[2020-02-10 22:34] bcrowell opened #965 "Improved error message for the case where a corpus is missing"
Thanks for all your hard work on this project, and for making it open source. As a newbie trying to get going with a freshly installed copy of CLTK, I ran into a situation where a corpus I needed was missing, but I had a hard time using the error message to figure out that the error was a missing corpus or what I needed to do to fix that. The error was because I was trying to do lemmatization in G

[2020-02-11 01:22] kylepjohnson commented on #965
Hi Ben, thanks for the feedback. You're right, that some of our error messages are perfectly unfriendly.

We have some code revision work going on, and improving error messages has been one of the key points.

I will keep this issue open and assigned to me, so it doesn't get lost.

Anything else? Were you in fact able to get the lemmatizer running?

[2020-02-11 02:44] bcrowell commented on #965
Yes, I did figure it out -- thanks for asking! Other than this, I had some relatively minor suggestions about documentation. I'll post that as a separate issue.

[2020-02-11 02:54] bcrowell opened #966 "Two suggestions for documentation"
I have two suggestions re the documentation.

Under CorpusReader: "Most users will want to access words, sentences, paragraphs and even whole documents via a CorpusReader object." I wasn't able to figure out immediately what this meant. I think the following might be more readable for someone who doesn't already know what CLTK does:

"In a corpus, we traditionally have ways of referring to a certa

[2020-02-11 03:08] free-variation commented on #966
I've wondered about this too.  The general question is whether the CLTK should index corpora.  For Latin and Greek, that feels duplicative of Perseus, but for other languages it seems like an obvious use case.

@kylepjohnson this must have come up before.  Do you have a position on the question?

[2020-02-11 23:35] bcrowell commented on #966
Reading more of the docs, I did find some info in the section titled "Multilingual" that seemed related to searching. However, it seemed pretty simple and low-tech. I think I'll try this weekend to cobble together a script to do lemma-based searching.

Since this github issue is about documentation, I would also suggest organizing the table of contents so that a topic like "Multilingual" doesn't a

[2020-02-12 04:16] kylepjohnson commented on #966
@bcrowell maybe you've looked, here's the `CorpusReader()` code: https://github.com/cltk/cltk/blob/bf4a82fcaf519a038d8c8c9f8388aff30eb1a395/cltk/corpus/readers.py#L55

@todd-cook and @diyclassics have done all the work in this area. These have the benefits of a inheriting what the NLTK can do ([as here](https://github.com/cltk/cltk/blob/bf4a82fcaf519a038d8c8c9f8388aff30eb1a395/cltk/corpus/readers.

[2020-02-14 19:20] bcrowell commented on #966
Made a pull request for an edit to the documentation on CorpusReader: https://github.com/cltk/cltk/pull/967

[2020-02-16 23:21] free-variation commented on #966
@kylepjohnson when I used `indexing` above I may have inadvertently evoked unintended senses.  I meant indexing in the sense of text search, a la [Lucene](https://lucene.apache.org/) and friends: A way of searching for textual elements by word/phrase/lemma/POS tag ...

Time was when I spent a lot of time, in professional settings, dealing with custom search solutions.  I don't know the state of th

[2020-02-17 17:47] bcrowell opened #968 "Greek lemmatizer silently fails if input is not normalized: suggest changing docs or behavior"
This seems similar to issue #273 . That issue seems to have been closed because the specific bug described there has been fixed. If I'm understanding correctly, then this issue is similar but still needs to be fixed.

When I try to lemmatize text from Tesserae, it silently fails, and simply returns the text without lemmatizing anything. The problem is fixed if I normalize the string. The sample co

[2020-02-17 20:41] bcrowell commented on #966
In case this is of interest to anyone, perhaps as a sample for the tutorials, here is a script I wrote to do searching in Homer modulo lemmatization. It's slow, mainly because it tries to do a part-of-speech analysis for each search result. The searching itself is fairly fast, and could be made faster by writing a permanent index of lemmas to disk.

[code]

[2020-02-19 17:42] PonteIneptique opened #969 "Latin tokenizer tokenizes wrongly "bitumen" with "bitume" & "-ne""
Hi there,
When I was looking closer at the results of tokenization, I saw this magnificient feature:

[code]

[2020-02-19 18:59] diyclassics commented on #969
Cf. also #79 (& #944)—yes, a problem that I should revisit and probably rethink from scratch.

[2020-02-19 19:04] PonteIneptique commented on #969
The pr #970 replies to the situation, at least partially. With ideas for getting further.

[2020-02-23 15:55] bcrowell opened #971 "λέων, "lion," incorrectly lemmatized as λής"
I could be misunderstanding something about this, but as far as I can tell, λέων should be the lemma. I don't find a dictionary entry for λής in Cunliffe or Liddell-Scott.

[2020-02-24 14:52] PonteIneptique commented on #969
@diyclassics actually, this code should probably be used to populate this list, and it's all CLTK based:

[code]

[2020-02-24 15:04] PonteIneptique commented on #969
This could also be used for the others to be fair.

[2020-02-28 19:36] bblumenfelder commented on #836
Hi,
I wrote a PHP-Class that maps and converts these tags.
https://github.com/bblumenfelder/postag_mapper
You can also provide a JSON-File to define your own format. For now this class only maps the tags retrieved by the Latin WordNet-API (which strangely enough only knows four PoS: a, n, v and r).
I will extend the class to also map the other PoS given by the CLTK.

[2020-03-05 06:32] chrisdrymon opened #973 "ἀνθ’ lemmatized as ἀνθάς"
The Greek lemmatizers return ἀνθ’ as ἀνθάς, even when normalized first. I'm not sure ἀνθάς is even a word. It should typically return ἀντί. Can this be fixed?

[2020-03-06 05:52] kylepjohnson commented on #966
This is a good script. Let's follow up on the lemmatizer failing in the #968

[2020-03-06 05:52] #966 closed

[2020-03-06 06:09] kylepjohnson commented on #968
Thanks for spelling out the issue -- you're correct that the lemmatizer isn't making the match because the diacritics are combined in one and *combining* in the other.

I've added a note here about it.

https://github.com/cltk/cltk/blob/master/docs/greek.rst

Soon-ish, I hope to remove this module all together in favor of the other or stanfordnlp (forthcoming).

[2020-03-06 06:09] #968 closed

[2020-03-09 03:34] chrisdrymon opened #974 "Greek 123 N-Gram POS Tagger Memory Issues"
Is there a way to keep the 1-2-3-Gram Backoff tagger from endlessly chewing through memory?

I've written some code which feeds a sentence from a Greek text, through the 1-2-3-Gram Backoff tagger, takes a quick count, and then feeds in the next sentence through the tagger. Larger texts are causing crashes because of memory issues. On my Macbook's activity monitor, I can see if quickly eat through

[2020-03-10 23:17] chrisdrymon commented on #974
So I decided to feed entire texts in instead of doing it sentence by sentence. As far as I can tell, this has worked fine. And there is no associated memory issue. In a sense, the previous complaint is still valid and may still be worth investigating. I'm not sure where the blame lies: with the tagger, with my code, or with Python's memory management. But for now, this other approaches seem suffic

[2020-03-10 23:17] #974 closed

[2020-03-11 00:30] kylepjohnson commented on #974
Thanks, Chis. Keep an eye on it and if something similar arises, post a minimum code snippet to reproduce what you're seeing. I'm by no means an expert, but there are ways to carefully profile memory issues. (BTW most of our taggers inherit from the NLTK, so that's another avenue to research.)

[2020-03-11 20:20] #969 closed

[2020-03-12 06:16] PonteIneptique commented on #962
Fixed by #963

[2020-03-12 06:16] #962 closed

[2020-03-15 17:22] kylepjohnson opened #1008 "Decide whether to include ITRANS modules for Sanskrit in v1"
Low priority.

Here's the old code, it was copied over from a non-active GH project: https://github.com/cltk/cltk/tree/master/cltk/corpus/sanskrit/itrans

ITRANS is the Sanskrit equivalent of Beta Code for Greek

Problems: It's GPL and code is messy. Either we find someone to rewrite and/or ask the author to relicense for us.

[2020-03-29 02:34] kylepjohnson opened #1007 "Allow for .bin variants of FastText models"
These are really big, so they shouldn't be our default.

[2020-03-29 09:00] kylepjohnson opened #1006 "Move over stops-generating code"
`cltk/stop/stop.py`.

I moved over the simple lists but left the above, thought it could go a few places. TBD

[2020-04-06 06:35] kylepjohnson opened #1005 "Add ELMO from the NLPL repo"
Context in cltk/cltkv1#36, with w2v models added in PR cltk/cltkv1#49. This comment explains where to pick up: https://github.com/cltk/cltkv1/issues/36#issuecomment-599143540

[2020-04-08 00:50] kylepjohnson opened #1004 "List of modules not (yet) moved over to new CLTK v1 package"
Context: I've slowly been refactoring legacy CLTK code and adding a modern NLP API. We're close to having an alpha ready and the following is remaining code that hasn't been moved from the old version to the latest.

Note: This GitHub repo is only for experiments. In the coming weeks, all the code in here will be put into a dev branch of the main `cltk/cltk` repo.

Some of the following I want to

[2020-04-10 14:40] jacknoutch opened #976 "Typo of function "strip_accents" in docs"
The function "strip_accents" regarding James Tauber's greek-accentuation library, is written incorrectly as "strip_accent" in the docs. (The section is under Greek/Accentuation and Diacritics/The Characters Module.)

[2020-04-10 16:51] kylepjohnson commented on #976
Good observation. How about you give a shot at making a pull request? You can do it all within github's ui, even.

[2020-04-11 20:35] jacknoutch commented on #976
Done.
That's my first pull request! Hopefully it's correct. May there be more interesting ones to come...!

[2020-04-11 23:22] gspopovic opened #978 "Missing Module from cltk.prosody.latin"
Following issue occurred when attempting to scan Aeneid 1.1-10 from a file:

[2020-04-12 17:36] clemsciences commented on #978
Hello,

The missing Levenshtein module can be retrieved by installing fuzzywuzzy and python-Levenshtein. Here is an example of how to install them:
[code]
The former is necessary, the latter is just to improve speed performance as stated [here](http://docs.cltk.org/en/latest/multilingual.html#levenshtein-distance-calculation).

[2020-04-15 19:54] #976 closed

[2020-05-09 00:11] dstelzer opened #979 "Latin verse scanners recurse infinitely"
From `prosody.latin.hexameter_scanner.py`:

[code]

If this second scan fails as well (e.g. if a line is too badly malformed for optional_transform to fix it), it recurses infinitely until it crashes with a RecursionError. The same holds true for HendecasyllableScanner and PentameterScanner.

The condition should instead be:
[code]
This will return an invalid verse if the optional transformations

[2020-05-09 03:07] kylepjohnson commented on #979
@dstelzer Is the second `optional_transform` a typo? It would be un-idiomatic to have two variables named this, but one being `self.`.

@todd-cook will know best. Input here? Here are the conditions in question:

* Hexameter: https://github.com/cltk/cltk/blob/master/cltk/prosody/latin/hexameter_scanner.py#L275
* Hendecasyllable: https://github.com/cltk/cltk/blob/e74a70d3c5d0bd88be00463d729db6db78d

[2020-05-09 03:08] kylepjohnson commented on #979
Also @dstelzer please provide text of poetry, for at least one meter type, that causes this recursion to happen.

[2020-05-09 03:43] dstelzer commented on #979
It's a bit unidiomatic, but it's not a typo: `self.optional_transform` determines whether the scanner should try again with more freedom if it fails to scan once, and `optional_transform` is a parameter to the `scan` method determining if that extra freedom should be used.

It may just be my general incompetence with git, or a technical fluke, then. I'll try again tomorrow.

"Phaselus ille, quem v

[2020-05-09 03:49] kylepjohnson commented on #979
For making a pull request: https://github.com/cltk/cltk/wiki/Example-Git-and-Python-workflow

I see where you're coming from now, thanks. Let's see what Todd suggests. I am sure we can find a less confusing name.

[2020-05-09 03:53] todd-cook commented on #979
Your use case brings up a good point, there are number of lines in hexameter poems that are incomplete, often deliberately so, and so method of meter detection or meter for what is there would be helpful too.

@dstelzer  Thanks for the example. I'll take a look at this. I'll take another crack at the code; there's a few things to fix.

[2020-05-12 09:39] satishkrr opened #980 "Tamil Corpus"
[code]

could someone help me with this

[2020-05-12 17:07] kylepjohnson commented on #980
We don't have any data sets for Tamil. This function is to download texts or special data.

What are you looking to do?

[2020-05-14 07:30] satishkrr commented on #980
from the help doc give for Tamil i just tried to run this code and got this error...
would appreciate if you could suggest me a insight for a kick start with Tamil

[2020-05-15 06:36] Rutvik-Trivedi commented on #951
Greetings Sir, sorry for the (really really) late reply. But I was occupied with academics and then applying for GSoC and all, so was unable to spare time on this issue. As advised here,

and here,

I have implemented the POS Tagger using modern Gujarati and also using a Hindi corpus translated to Gujarati and created an NLTK CRF Tagger for this as it is compatible for CLTK. I have done some detai