[2014-09-17 03:48] kylepjohnson opened #7 "Updated greek sentence tokenizer for final sigma"
[Once this is closed](https://github.com/kylepjohnson/cltk_greek_sentence_tokenizer/issues/1), push the update to the cltk.

[2014-09-22 02:34] #7 closed, assigned to kylepjohnson

[2014-09-30 10:04] gmarty opened #9 "How to generate lemmata_list.py?"
That would be great to get everything to regenerate `/cltk/stem/classical_latin/lemmata_list.py` (instructions, script, corpus...).

I'd like to tweak it to add word frequency to create, for example, predictive IME keyboard in Latin, or sort lemma candidates by their frequency.

[2014-09-30 11:17] #9 closed, assigned to nobody

[2014-10-01 17:21] fractaledmind opened #10 "Python3.4 issue"
So, I am trying to get `cltk` up and running on my new Yosemite machine, and I have hit a problem. I have Python 2.x and 3.x installed via Homebrew. I used `pyvenv` to create a virtual environment and then pip installed `cltk` into that directory. All is good up to now. But, when I try to create a script to do the compiling (as in the docs), I discover that Sublime Text (my editor) is importing al

[2014-10-02 00:58] #10 closed, assigned to nobody

[2014-10-04 16:49] fractaledmind opened #11 "FYI: I'm rewriting the compiling/importing code"
Kyle,

I have started down the path of writing code to convert Perseus XML into structured, formatted plain text. It is a task, so who knows how long it'll take, but along the way, I have dug into the `cltk` code, primarily the code under `/corpus`. I have forked this repo and am working on this fork, but it will probably be a while till I get a working Pull Request. Before then, I wanted to let y

[2014-10-05 22:49] fractaledmind opened #12 "Compiling TLG texts"
Ok, I'm writing the `TLG` class right now, and in reading through the code, I was struck by the compiling process as well as the actual output. Obviously the output is not ideal (`@` everywhere and other odd characters), and simply dropping all non-ASCII characters is dropping information.

So, I went looking trying to figure out how in the hell to interpret the TLG binary text files, and I found

[2014-10-06 18:11] #11 closed, assigned to nobody

[2014-10-06 19:17] #12 closed, assigned to nobody

[2014-10-06 19:23] kylepjohnson opened #14 "Write test for Latin stemmer.py"
Assert expected result for simple stemmer use, as at http://docs.cltk.org/en/latest/classical_latin.html#stemming

[2014-10-06 20:11] fractaledmind opened #16 "Write wrapper API for `tlgu`"
`tlgu` is a command line utility for converting TLG and PHI binary files into Unicode files. There is a base class (`TLGU`) in the `tlgu.py` file. We need to write a semantic API for the various options. These should be `*kwargs` passed to the `run()` method.

So, we need to:
- [x] name the various options
- [x] refactor the `run()` method

For reference, here are the options as given on the man p

[2014-10-06 20:15] smargh opened #17 "Write downloader for `tlgu`"
The `TLGU` class, which wraps the `tlgu` command line utility, needs a method to automatically download the utility. There is already an initial method to compile the executable from the downloaded C file. I have hosted the files on GitHub here (<https://github.com/smargh/tlgu>), but we will likely eventually move this under the CLTK organization.

The downloader definitely needs the `tlgu.c` and

[2014-10-06 20:18] fractaledmind opened #18 "Write PHI7 sub-class"
We need a `PHI7` sub-class that mirrors the `TLG` and `PHI5` sub-classes. This will be a sub-class of the `LocalCorpus` class.

[2014-10-06 20:21] fractaledmind opened #19 "Write LacusCurtius sub-class"
We need a `LacusCurtius` sub-class that mirrors the `LatinLibrary` sub-class. It will be a sub-class of the `RemoteCorpus` class.

[2014-10-06 20:22] fractaledmind opened #20 "Write TreebankPerseusGreek sub-class"
We need a `TreebankPerseusGreek` sub-class to mirror the `PerseusGreek` sub-class. It will be a sub-class of the `RemoteCorpus` class.

[2014-10-06 20:22] fractaledmind opened #21 "Write TreebankPerseusLatin sub-class"
We need a `TreebankPerseusLatin` sub-class to mirror the `PerseusLatin` sub-class. It will be a sub-class of the `RemoteCorpus` class.

[2014-10-06 20:23] fractaledmind opened #22 "Write POSLatin sub-class"
This will be a sub-class of the `RemoteCorpus` class.

[2014-10-06 20:23] fractaledmind opened #23 "Write SentenceTokensLatin sub-class"
This will be a sub-class of `RemoteCorpus`.

[2014-10-06 20:24] fractaledmind opened #24 "Write SentenceTokensGreek sub-class"

[2014-10-06 20:52] fractaledmind opened #25 "Create multiple base classes for corpora"
I'm starting to think that there would be some advantages to creating a sort-of matrix of base classes that can be mixed and matched in the corpus specific classes. So, for example, there is the distinction between `RemoteCorpus` and `LocalCorpus`, but there is also a distinction between `GreekCorpus` and `LatinCorpus` (and then any other languages added to `cltk`). There is also the distinction b

[2014-10-08 04:39] fractaledmind opened #26 "Python 2.7 compatibility"
Are you using something that makes `cltk` impossible to work with 2.7? If not, we should make is cross-compatible.

[2014-10-08 04:42] smargh opened #27 "Document type classes"
We need to think about what the different document types are and how they might be structured. For example, prose vs poetry. And structure may be work, book, section, sentence, word. What are further complexities here?

If we can get a good object schema for documents, it should make our indexing, schema, and API better.

[2014-10-08 13:23] fractaledmind opened #28 "Restructure `cltk_data/`"
This is a great idea. One of the things I added to the `CLTK` class was the ability to set another path for `cltk_data/`, but under that dir, I do think another schema would be beneficial. I think `corpora/`, `taggers/`, `tokenizers/`, `utilities/`, and `user_data/` should be second level directories.

Question tho:  Should
- pos_latin
- sentence_tokens_greek
- sentence_tokens_latin
- treebank_per

[2014-10-08 14:11] #26 closed, assigned to nobody

[2014-10-08 14:17] fractaledmind opened #29 "Write TEI XML converter"
Now that we are nearly done with `TLGU` and have our output spectrum for TLG, PHI5, and PHI7, we need to find a way to mirror that as close as possible with Perseus Greek and Perseus Latin, which come in TEI-XML format. Like the TLG, this is a highly structured, machine readable format. We should be able to (at least) generate a plain text version (easy enough, but I want to think through finding

[2014-10-09 00:32] fractaledmind opened #30 "Integrate Logeion data"
[Logeion]() is the best Greek/Latin dictionary on the web and mobile. It has a large number of the best dictionaries in well-formatted structures and has a lot of frequency and other word statistics. I think we should add this data.

Here is the SourceForge `.sqlite` files: http://sourceforge.net/projects/logeion/files/, and here's the GitHub repo: https://github.com/logeion/logeion-backend. I don

[2014-10-09 00:43] smargh opened #31 "Read/interpret TLG's *.BIN files"
Does anyone know of a way to read the TLG/PHI's `*.BIN` files? I know that these are CD/DVD files in binary format. But, I don't know how to get any type of even partially usable data from them. Any help or suggestions would be greatly appreciated.

[2014-10-09 03:05] smargh opened #32 "Write corpora sub-classes"
This is a new, single Issue for all of the remaining corpora that need their own sub-class:

+ [ ] PHI7
+ [ ] LacusCurtius
+ [ ] TreebankPerseusGreek
+ [ ] TreebankPerseusLatin
+ [ ] POSLatin
+ [ ] SentenceTokensLatin
+ [ ] SentenceTokensGreek

[2014-10-09 03:05] #18 closed, assigned to nobody

[2014-10-09 03:05] #19 closed, assigned to nobody

[2014-10-09 03:06] #20 closed, assigned to nobody

[2014-10-09 03:06] #21 closed, assigned to nobody

[2014-10-09 03:06] #22 closed, assigned to nobody

[2014-10-09 03:07] #23 closed, assigned to nobody

[2014-10-09 03:07] #24 closed, assigned to nobody

[2014-10-09 03:10] #29 closed, assigned to nobody

[2014-10-09 03:16] smargh opened #33 "TLG/PHI indices"
So, the newest version of `tlg.py` has new versions of the `index_authors()` and `index_meta()` meta, using `tlgu` to convert the `.DIR` files into ASCII text, and then parse those into dicts.

This goes back to an earlier discussion, but I think it's cleaner to have a space for this discussion. Do we generate these indices and then package them with CLTK, so that users download them (although the

[2014-10-09 13:52] fractaledmind opened #34 "Investigate new corpora"

[2014-10-09 15:08] kylepjohnson opened #35 "Question about new project structure"
Since we're getting closer to rolling out the new corpus functionality, I should bring up the reorganized file structure that you've introduced. I'll briefly throw out a few points and questions, which I don't mean to sound accusatory (or defensive).

* what was wrong with the previous dir structure? from what I have seen, what I had was most common for packed apps.
* I liked that the `docs` were

[2014-10-09 19:59] #30 closed, assigned to nobody

[2014-10-09 20:18] smargh opened #36 "Project Planning"
All of the great discussion here reminds me that we probably need some structure. What tasks are what people doing when? In general, I think we should have a timeline plan. What needs to be done now? What should be done next? What do we postpone? Then, we can assign project leads. Anyone can work on a task, but one person is responsible for getting it out the door. For example, I have given myself

[2014-10-10 02:27] kylepjohnson opened #37 "Move Greek sentence tokenizer training set"
Move the CLTK organization.

[2014-10-10 02:28] kylepjohnson opened #38 "Move Latin sentence tokenizer training set"
Move to CLTK organization repository.

[2014-10-10 02:29] kylepjohnson opened #39 "Move Greek Treebank"
Move to CLTK organization.

[2014-10-10 02:30] kylepjohnson opened #40 "Move Latin Treebank"
Move to CLTK organization.

[2014-10-10 02:31] kylepjohnson opened #41 "Move Latin Library and write index.json"
Move to CLTK organization and add `index.json`.

[2014-10-10 02:34] kylepjohnson opened #42 "Move POS tagging training data sets"
Move to CLTK organization.

[2014-10-10 02:40] kylepjohnson opened #43 "Compile Index Thomisticus corpus for CLTK"
http://www.corpusthomisticum.org/it/index.age

[2014-10-10 02:40] kylepjohnson opened #44 "Compile Index Thomisticus treebank for CLTK"
http://itreebank.marginalia.it/

http://www.corpusthomisticum.org/it/index.age

[2014-10-10 02:41] kylepjohnson opened #45 "Compile Musisque Deoque for CLTK"
http://www.mqdq.it/mqdq/indice_autori_alfa.jsp?scelta=AZ&path=metri_opere

[2014-10-10 02:42] kylepjohnson opened #46 "Compile Poeti d’Italia for CLTK"
http://www.mqdq.it/mqdq/poetiditalia/indice_autori_alfa.jsp?scelta=AZ&path=metri_opere

[2014-10-10 02:43] kylepjohnson opened #47 "Compile Corpus Grammaticorum Latinorum for CLTK"
http://kaali.linguist.jussieu.fr/CGL/text.jsp

[2014-10-10 02:44] kylepjohnson opened #48 "Compile Lacus Curtius Latin for CLTK"
https://github.com/kylepjohnson/corpus_lacus_curtius_latin

[2014-10-10 02:45] kylepjohnson opened #49 "Compile Lacus Curtius Greek for CLTK"
http://penelope.uchicago.edu/Thayer/E/Roman/Texts/home.html

[2014-10-10 02:48] kylepjohnson opened #50 "Compile PROIEL treebank for CLTK"
https://github.com/proiel/proiel-treebank

[2014-10-10 02:52] kylepjohnson opened #51 "Compile IntraText Latin corpus for CLTK"
http://www.intratext.com/Catalogo/Autori/Aut33.HTM

http://www.intratext.com/LAT/

[2014-10-10 02:59] #34 closed, assigned to nobody

[2014-10-10 03:04] kylepjohnson opened #52 "Add cltk download to tests"
This will have to come after the `Corpus` class rewrite.

Update travis config: https://github.com/kylepjohnson/cltk/blob/master/.travis.yml

and rm the try/excepts at 65 and 88 of https://github.com/kylepjohnson/cltk/blob/master/cltk/tests/test_cltk.py

[2014-10-10 23:06] smargh opened #53 "Add Sphinx documentation"
I think we need to have fuller documentation, and I think that [Sphinx](http://sphinx-doc.org) is as good an option as any. I'm working to add it to my code now.

[2014-10-10 23:12] smargh opened #54 "Convert TLG DOCCAN2 metadata keys"
I am working on extracting as much info from the TLG index files as possible. While I still can't get to the `*.BIN` files (cf. [Issue 31](https://github.com/kylepjohnson/cltk/issues/31)), I can read the `*.DIR` and `*.TXT` files with `tlgu`, and `DOCCAN2.DIR` has a robust index of information for the TLG texts. The problem is that the `key`:`value` pairs are a bit odd. The `keys` are all three le

[2014-10-11 04:00] #39 closed, assigned to kylepjohnson

[2014-10-11 04:00] #40 closed, assigned to kylepjohnson

[2014-10-11 17:51] kylepjohnson opened #55 "Remove large files from entire git tree"
The repository's size was out of control when I started work on it. I think it's close to 1GB all together. I'm using `bfg` to rm any files larger than 1MB. https://rtyley.github.io/bfg-repo-cleaner/

Any large with `lexicon` and `stem` now and elsewhere I am moving to a proper corpus repository.

[2014-10-11 20:20] #55 closed, assigned to kylepjohnson

[2014-10-12 02:16] #42 closed, assigned to kylepjohnson

[2014-10-12 02:16] #38 closed, assigned to kylepjohnson

[2014-10-12 02:16] #37 closed, assigned to kylepjohnson

[2014-10-12 02:19] #48 closed, assigned to kylepjohnson

[2014-10-12 02:29] #41 closed, assigned to kylepjohnson

[2014-10-12 18:37] #28 closed, assigned to kylepjohnson

[2014-10-12 19:25] kylepjohnson opened #56 "Write indices for text corpora"

[2014-10-12 19:31] kylepjohnson opened #57 "Corpus variables"
Here's a first attempt at a json list of most of the corpora now within the [cltk organization](https://github.com/cltk).

The two types below are `text`, `treebank`, and `training_set`. In the near future I hope to add `parallel_text`. And there should be some kind of `undefined` option as a catchall.

@smargh is this enough to get you started?

[code]

[2014-10-12 19:41] #25 closed, assigned to kylepjohnson

[2014-10-12 20:06] #50 closed, assigned to kylepjohnson

[2014-10-12 20:31] #51 closed, assigned to nobody

[2014-10-12 20:33] #43 closed, assigned to nobody

[2014-10-14 15:06] #44 closed, assigned to nobody

[2014-10-14 15:15] #16 closed, assigned to nobody

[2014-10-15 03:22] kylepjohnson opened #58 "Write test for POS tagging"

[2014-10-16 01:13] smargh opened #59 "Download API"
This is my working thinking for the downloading of corpora (importing and compiling). This simultaneously tries to mirror the better parts of NLTK, as well as address the peculiarities of our situation. Thoughts and suggestions welcome.

- - -

# CLTK API

## `cltk_data/` Directory Structure

[code]

## Importing Corpora

Importing a corpus will write data to two or possibly three sub-directories

[2014-10-21 00:41] #52 closed, assigned to kylepjohnson

[2014-10-21 00:42] #58 closed, assigned to kylepjohnson

[2014-11-01 18:15] kylepjohnson opened #60 "Add proper names POS tagger for Greek"
https://github.com/cltk/greek_proper_names/

Read file `proper_names.txt`, train tagger, and package into https://github.com/cltk/cltk_greek_linguistic_data

[2014-11-01 18:18] kylepjohnson opened #61 "Add proper names POS tagger for Latin"
https://github.com/cltk/latin_proper_names/

Read file proper_names.txt, train tagger, and package into https://github.com/cltk/cltk_latin_linguistic_data

[2014-11-01 18:20] #14 closed, assigned to kylepjohnson

[2014-11-02 19:43] smargh opened #62 "Add Greek Letters module"
Reading your elegant code for find possible Proper Names, I thought that it would be helpful to make a simple module with access to the Greek alphabet in all of its diacritical multiplicity. I'm thinking that it simply contain `dictionaries` variously organized, where the `keys` are English letter equivalents (use Perseus' conversion?), as well as `sets` with simply the Greek letters.

I'm thinkin

[2014-11-09 17:31] kylepjohnson opened #63 "Fix Beta Code diaeresis for iota, others in beta_to_unicode.py"
https://github.com/kylepjohnson/cltk/blob/master/cltk/corpus/greek/beta_to_unicode.py

When converting TLG Beta Code, found these two errors:
[code]
Anything with a plus ('+') should be checked and a pattern added if not right.

[2014-11-17 01:20] smargh opened #64 "Code Style Guide"
Just read thru some of the code in the `new_downloader` branch. Looks like it is coming together. But I can see large-scale obvious changes. This is totally fine with me, but I do want to continue collaborating, and it would probably go faster and smoother if I had a clearer idea of your programming idiosyncrasies. I know from personal experience that articulating such things is difficult, but may

[2015-01-06 01:11] kylepjohnson commented on #59
My main goal with the corpora import is to make this simple for other language experts to adapt existing corpora and add them to the CLTK's central repository, thus downloadable by all users.

I needed to settle upon an index for the corpora, which I have come up with in eg: https://github.com/kylepjohnson/cltk/blob/master/cltk/corpus/greek/corpora.py

For API, I have followed along the lines in t

[2015-01-06 01:11] #59 closed

[2015-01-06 01:15] kylepjohnson commented on #57
I've settled upon the following index for corpora. More about this here: https://github.com/kylepjohnson/cltk/wiki/How-to-add-language-support-to-the-CLTK
[code]

[2015-01-06 01:15] #57 closed

[2015-01-06 01:25] kylepjohnson commented on #17
TLGU can be downloaded, installed, and used.

The code which downloads it is at: https://github.com/kylepjohnson/cltk/blob/master/cltk/corpus/utils/importer.py

And installation code: https://github.com/kylepjohnson/cltk/blob/master/cltk/corpus/greek/tlgu.py

It can be downloaded with instructions at: http://docs.cltk.org/en/latest/importing_corpora.html#listing-corpora

And used with instructions

[2015-01-06 01:25] #17 closed

[2015-01-06 01:34] kylepjohnson commented on #32
This ticket's aim is correct, but I want to refine the discussion going forward based on the latest content types. In writing a corpus reader, for which I think we should rely as much as possible on the NLTK's CorpusReader. Info here:

http://www.nltk.org/api/nltk.corpus.reader.html

http://www.nltk.org/howto/corpus.html

These NLTK readers will suffice, for most languages, for most of our corpora

[2015-01-06 01:34] #32 closed

[2015-01-06 01:35] #35 closed

[2015-01-06 01:36] #36 closed

[2015-01-06 16:51] smargh commented on #17
Looks good.

[2015-01-08 04:23] kylepjohnson opened #65 "Enable TLGU to convert entire TLG and build in `~/cltk_data/greek/text/tlg/`"
Read files from `~/cltk_data/originals/tlg` and move them to `~/cltk_data/text/tlg` + name of conversion type, eg, `plaintext`, `full`. This will only read `TLG*.TXT files.

[2015-01-08 04:35] kylepjohnson opened #66 "Add contributors function to setup.py"
When builds are invoked with eg `python setup.py sdist install`, output a file into the root of the repository called something like `contributors.py`. Add a function to `setup.py` which reads all `*.py` files in the `cltk/` dir and look for all values matching `__author__`. Build a dictionary of these contributors and in which file their name appears, then output this all to a file in markdown.

[2015-01-08 05:31] kylepjohnson opened #67 "Remove or fix ugly output in PHI5 import"
The import works fine, but just gave me some messy output.

[code]

[2015-01-08 05:32] kylepjohnson commented on #67
Same for PHI7.

[code]

[2015-01-11 21:46] Sedlacekj opened #68 "TLG not importing using corpus_importer on Ubuntu14.04"
Hi, I built Ubuntu 14.04 in a VirtualBox machine
I next used Kyle's bootstrap build of Python, recommended for Ubuntu
I next installed numpy, NLTK, and CLTK.
I did the corpora tests on the next page of Kyle's instructions, and TLG was listed there.
I imported several of the Greek corpora just fine, (They appeared in my CLTK_data folder) but when I attempted to import TLG, it crashed me out of Pyth

[2015-01-11 22:18] kylepjohnson commented on #68
Hi James,

I see the error. For corpora that are imported locally, that is not downloaded, you need to give a second argument to `import_corpus()`, as in the final example at: http://cltk.readthedocs.org/en/latest/importing_corpora.html#importing-a-corpus

The CLTK is not able to provide files for the TLG or PHI disks. You need to obtain copies of those yourself.

Kyle

PS Also, don't attach scree

[2015-01-30 22:48] kylepjohnson opened #69 "Fix failing build for Lacus Curtius import"
Related to the temporary renaming of Lacus Curtius tar. Remove old 'lacus_curtius.tar.gz' and rename  'lacus_curtius_new.tar.gz' to 'lacus_curtius.tar.gz'  in [Lacus Curtius repository](https://github.com/cltk/latin_corpus_lacus_curtius). Also update [Latin corpora.py file](https://github.com/kylepjohnson/cltk/blob/master/cltk/corpus/latin/corpora.py).

Failing build: https://travis-ci.org/kylepjo

[2015-02-01 15:23] kylepjohnson commented on #69
Fixed.

https://travis-ci.org/kylepjohnson/cltk/builds/49005707

[2015-02-01 15:23] #69 closed

[2015-02-01 15:24] #68 closed

[2015-02-05 10:36] kylepjohnson opened #70 "Add PHI7 index"
This is an easy job. Someone just needs to extend what I've done for PHI5 and TLG.

https://github.com/kylepjohnson/cltk/blob/master/cltk/corpus/utils/formatter.py

[2015-02-15 04:17] kylepjohnson commented on #67
Argh. Ditto for TLG. I need to fix this. The import still works fine.

[code]

[2015-02-27 16:35] smargh opened #71 "Import TLG broken"
Using the newest build from `pip` (0.0.1.7), I cannot import the TLG corpus, even though I have the original files and all. Intially, this was the error:
[code]
So, I went in and commented that one logging message. Now, running this code in the shell in the virutual env just kills the shell (exit code 1, no traceback):
[code]

I have no idea what is happening since there's no traceback.

[2015-02-27 16:41] kylepjohnson commented on #71
I think it's the TLG path `TLG-E (Greek Texts)')`. The code as-is expects `TLG_E`. I'm open to making this a little more flexible.

Speaking of tracebacks, I have been interested in improving the logging, to remove all the sys.exits(1), improve error handling, and add tracebacks to the logs. I haven't done much along these line so interested in any help!

[2015-02-27 16:41] #71 closed

[2015-03-09 03:04] #64 closed

[2015-03-15 21:16] kylepjohnson commented on #67
Fixed with https://github.com/kylepjohnson/cltk/commit/973996e132a97c8f1e4c813b9cdd38d3e7c6feb5

[2015-03-15 21:16] #67 closed

[2015-03-15 21:21] kylepjohnson commented on #66
Added an adequate solution for now: https://github.com/kylepjohnson/cltk/blob/master/cltk/utils/build_contribs_index.py

This reads anyone in `__author__` in any file, then adds it to `contributors.md`: https://github.com/kylepjohnson/cltk/blob/master/contributors.md

This isn't hooked into `setup.py` but could be at some point.

[2015-03-15 21:21] #66 closed

[2015-03-24 20:43] kylepjohnson opened #74 "Add ability to shallow clone to importer.py"
Right now `importer.py` expects a `tar.gz` file which it unpacks. I'd like to improve and extend this by instead making a system call with eg `git clone --depth 1 ...`. I'll need to add the git repository URI to each language's corpus indices, as well as add some new logic to `importer.py` that correctly handles new files, etc.

This will make for less maintenance in maintaining the corpora at htt

[2015-03-25 15:21] kylepjohnson opened #75 "Add logic to build word frequency list for a text"
While browsing for Sanskrit corpora, I came across the DCS Corpus out of Heidelberg. It has some useful pre-compiled data concerning the texts in the corpus. See here:

http://kjc-fs-cluster.kjc.uni-heidelberg.de/dcs/index.php?contents=corpus

Of most use to people reading texts would be a running dictionary (see the "Dict." column) and a word frequency list ("Freq.").

The CLTK could easily make

[2015-03-26 16:12] lukehollis commented on #75
This sounds great--a natural progression from the tokenizer/stemmer/lemmatizer.  Would we want the ability to include a stoplist here?  And can you explain a little bit more about what you mean by dictionary matching?  (Dictionary lookup?--some of those stem/word lists from Whitaker's Words might be useful if the python implementation of the dictionary was finished at some point)

[2015-03-26 16:19] kylepjohnson commented on #75
Yes, smart idea.

I having nothing in particular in mind – in end result something like the matching of inflected form that Perseus does.

You are the expert on this! Will your [open_words](https://github.com/segetes/open_words) do the trick here? Apologies if I am misunderstanding something you've explained before :)

[2015-03-30 04:15] kylepjohnson opened #76 "Fix Latin lemmatizer"
Due to a backend overhaul, the Latin lemmatizer is temporarily broken. I hope to have this fixed in a day or two. Comments at https://github.com/kylepjohnson/cltk/blob/master/cltk/stem/lemma.py#L19

[2015-03-31 19:18] maccius commented on #75
At Kyle's suggestion, I am going to make an attempt at the word-count component of this issue.

[2015-03-31 19:27] kylepjohnson commented on #75
Thanks @maccius.

I plan on pitching in on a concordance maker, [similar to what the NLTK does](http://www.nltk.org/_modules/nltk/text.html), only allows for writing to file.

I'll begin stubbing things out at `cltk/utils/philology.py` (or sim.). Any simple text statistics or traditionally-minded work can go in here. Any ideas or volunteers welcome in this thread.

[2015-04-01 03:44] kylepjohnson commented on #76
[Fixed](https://github.com/kylepjohnson/cltk/commit/429781db1c98ab6006e9da43a35e7584adb812f2). I just need to change the path in `lemma.py` to the new location in `cltk_data`. Pretty easy.

[2015-04-01 03:44] #76 closed

[2015-04-01 14:57] kylepjohnson commented on #75
@maccius and others I've stubbed out something very basic at [`utils/philology.py`](https://github.com/kylepjohnson/cltk/blob/add-phil/cltk/utils/philology.py) (and untested) on branch `add-phil`. Drop what you like into the class `Philology()`.

[2015-04-01 14:58] kylepjohnson commented on #65
[I fixed this a while back](https://github.com/kylepjohnson/cltk/blob/master/cltk/corpus/greek/tlgu.py).

[2015-04-01 14:58] #65 closed

[2015-04-01 15:00] kylepjohnson commented on #74
As of `v0.0.1.12` the backend has been rewritten to *only* import via a Git shallow clone. It does a shallow update now, too, with `git pull`.

https://github.com/kylepjohnson/cltk/blob/master/cltk/corpus/utils/importer.py

[2015-04-01 15:00] #74 closed

[2015-04-01 15:02] kylepjohnson commented on #56
#70 (for PHI7) is the only open ticket left, so I'll close this and leave it. The indices still need improvement, but at least they exist.

[2015-04-01 15:02] #56 closed

[2015-04-07 03:38] kylepjohnson opened #77 "Add two Tibetan corpora to core, docs"
Two new additions to https://github.com/cltk

POS tagged text: https://github.com/cltk/tibetan_pos_tdc

Lexica: https://github.com/cltk/tibetan_lexica_tdc

These need to be added to cltk core, in `corpora/tibetan` and `importer,py`, and to docs.

[2015-04-10 20:02] kylepjohnson opened #78 "Consider using boltons in place of some file operations"
https://github.com/mahmoud/boltons

Lots of useful stuff to clean up filesystem work done in `importer.py`, eg:

* Atomic saves: https://boltons.readthedocs.org/en/latest/fileutils.html#atomic-file-saving

* copytree without raising dumb errors: https://boltons.readthedocs.org/en/latest/fileutils.html#creating-finding-and-copying

* do like mkdir -p: https://boltons.readthedocs.org/en/latest/fileu

[2015-04-10 20:09] kylepjohnson commented on #75
Latest version 0.0.13 has a simple Concordance writer in a new `philology` module: https://github.com/kylepjohnson/cltk/blob/49b6c39b1a04db91cd427fe4277ff31e51b05f35/cltk/utils/philology.py

Instructions here: http://docs.cltk.org/en/latest/multilingual.html#concordance

I consider this just a first pass. Concordance output is OK but still hard on the eyes. The code is redundant, too. Needed are a

[2015-04-10 20:09] #75 closed

[2015-04-11 04:10] kylepjohnson commented on #77
Fixed with [v0.0.1.14](https://github.com/kylepjohnson/cltk/releases/tag/v0.0.1.14).

[2015-04-11 04:10] #77 closed

[2015-04-24 05:17] kylepjohnson opened #79 "Laitn word tokenizer: Account for 3rd decl. consonant"
Currently the new Latin word tokenizer will wrongly strip off -ne from [3rd declension consonant nouns](http://en.wiktionary.org/wiki/Appendix:Latin_third_declension#Consonant_stem), such as 'nomine'. Likewise for Cicerone – for both, making exceptions for anything ending in -ine or -one will do the trick.

Big thanks to @AmitShilo for pointing these out.

Any and all exceptions welcome. [Code her

[2015-04-24 05:27] kylepjohnson opened #80 "Proposal: Greek word tokenizer"
I would like to add a Greek word tokenizer as @diyclassics and I have [done for Latin](https://github.com/kylepjohnson/cltk/blob/master/cltk/tokenize/word.py).

For Greek, the jury is still out about whether to segment affixed enclitics and, if so, how 'aggressively' to do this:

@AmitShilo wisely suggested that a Greek word tokenizer should handle [crasis, of which Smyth gives a comprehensive ove

[2015-04-24 05:44] kylepjohnson commented on #79
More words of wisdom from @AmitShilo

As to finding all exceptions, I have thought to do the following: Gather all words in the PHI5 (7MM), filter out anything not ending in que, ne, or ve, order these from most to least frequent, and finally build a list of exceptions out of these, most all of which will be valid exceptions. There'll probably be a good number of obscure examples, though knowing L

[2015-04-24 11:16] diyclassics commented on #79
In the short term, -ne should disabled for the reasons mentioned below. I don’t have hard numbers in front of me, but anecdotally -que is going to be far more common than -ve, -ne, or -cum. The exceptions list I made for -que (and -ve) comes from the top 10,000 word types and should be a good start. Since I’m planning on using this tokenizer in my work this week, I should be able to make the -que

[2015-04-24 14:02] kylepjohnson commented on #79
@diyclassics You're right, -ne and -ue should come after -que.

@ everyone, I've located and ranked all enclitic words in this notebook:

http://nbviewer.ipython.org/github/kylepjohnson/ipython_notebooks/blob/master/que%2C%20ne%2C%20ue%20enclitic%20exceptions.ipynb

And here's the relevant data:
* [all que enclitics, ranked](https://gist.github.com/kylepjohnson/5a5aa14e2181709c9f93)

* [all ne enc

[2015-04-24 16:14] kylepjohnson commented on #79
I couldn't help myself and went ahead and (hopefully) got all of the que, ne, and ue exceptions.

http://nbviewer.ipython.org/github/kylepjohnson/ipython_notebooks/blob/master/que%2C%20ne%2C%20ue%20enclitic%20exceptions.ipynb

I pulled out all the headwords from the OLD and if a suspect enclitic appears as a entry, I added it to the following list of exceptions. In other words, the following words

[2015-04-24 16:21] kylepjohnson commented on #79
I see that we'll need to add the [inflections of quisque[(http://en.wiktionary.org/wiki/quisque#Inflection). What else?

[2015-04-24 16:33] kylepjohnson commented on #79
@diyclassics I need to slow down on this, clearly I wasn't thinking about inflected forms being wrongly caught up in this. Any review of the larger lists is still necessary.

[2015-05-17 14:51] kylepjohnson commented on #79
Due to lack of movement, I am going to close this issue for now. If anyone is moved to revisit it, feel free.

[2015-05-17 14:51] kylepjohnson commented on #80
Due to lack of movement, I am going to close this issue for now. If anyone is moved to revisit it, feel free.

[2015-05-17 14:51] #80 closed

[2015-05-17 14:51] kylepjohnson commented on #78
I may leverage this in the future, but I do not see any such work coming up anymore.

[2015-05-17 14:51] #78 closed

[2015-05-17 14:54] kylepjohnson commented on #61
This ticket is too narrow, though lots to be done still with:

https://github.com/cltk/latin_proper_names_cltk

including improved Penn-style tagging, the CLTK's current POS tagger, training an NER model

[2015-05-17 14:54] #61 closed

[2015-05-17 14:54] kylepjohnson commented on #60
This ticket is too narrow, though lots to be done still with:

https://github.com/cltk/greek_proper_names_cltk

including improved Penn-style tagging, the CLTK's current POS tagger, and training an NER model.

[2015-05-17 14:54] #60 closed

[2015-05-17 14:55] #33 closed

[2015-05-17 14:56] kylepjohnson commented on #27
This is a good conversation worth archiving if/when we get to writing a proper corpus browser.

[2015-05-17 14:56] #27 closed

[2015-07-09 06:00] kylepjohnson opened #83 "Retrain POS models"
The original POS taggers may have had duplicates in them. This shouldn't have negatively affected them, however I want to retrain the models in order to be certain. I will also do a full cross validation.

The current, known-good training set:
https://github.com/cltk/latin_treebank_perseus/blob/master/latin_training_set.pos

One small improvement I have made to the training set is that I have lowe

[2015-07-09 06:50] kylepjohnson commented on #83
A new model maker added:
https://github.com/cltk/latin_treebank_perseus/blob/master/make_pos_models.py

and new models living temporarily at:
https://github.com/cltk/latin_models_cltk/tree/new-models/taggers/pos

The new models work except, I think, the ngram backoff tagger (for which something is definitely off at the moment. Fix for this coming soon-ish.

[2015-08-01 05:24] kylepjohnson commented on #83
Retrained Latin models are now in master branch. They may be obtained by re-importing:
[code]

Next, I'll follow the same procedure for Greek.

[2015-08-01 07:40] kylepjohnson commented on #83
Greek models updated (also now with some improved handling of words ending in an apostrophe). https://github.com/cltk/greek_treebank_perseus

From a cursory look, these evaluate close to my previous stats. Closing ticket, however I will report back here about cross-validation sometime in the near future.

[2015-08-01 07:40] #83 closed

[2015-08-03 04:20] kylepjohnson commented on #83
Followup post: http://cltk.org/blog/2015/08/02/updated-accuracies-pos-taggers.html

[2015-08-31 05:27] kylepjohnson opened #91 "Parse all TLG index files"
I have started on this again and getting better results than before. So far, I have had complete success with `AUTHTAB.DIR` and `LSTSCDCN.DIR`.

https://github.com/kylepjohnson/ipython/blob/master/tlg/Parse%20AUTHTAB.DIR.ipynb

https://github.com/kylepjohnson/ipython/blob/master/tlg/Parse%20LSTSCDCN.DIR.ipynb

I will use this ticket to track my progress parsing everything, including author files c

[2015-08-31 05:28] kylepjohnson commented on #31
Closing, opening broader issue in #91.

[2015-08-31 05:28] #31 closed

[2015-08-31 05:29] kylepjohnson commented on #54
Closing for #91.

[2015-08-31 05:29] #54 closed

[2015-08-31 05:31] kylepjohnson opened #92 "Fix Travis CI build"
Something is going on here

https://travis-ci.org/kylepjohnson/cltk/builds/77841867

Tests run locally fine for me. I suspect GitHub-Travis CI connectivity problems.

[2015-08-31 13:16] marpozzi commented on #91
great work!

I've done a sort of brute force approach with some success with bin files,
please feel free to dig in those and see if you can pull something useful.
I'm totally new to github and all that, so I've pulled them in Steven's
repo: Classical-Studies-Resources
<https://github.com/smargh/Classical-Studies-Resources>/Scripts
<https://github.com/smargh/Classical-Studies-Resources/tree/master/

[2015-08-31 18:43] kylepjohnson commented on #91
Phenomenal, Martin! I remember @smargh talking about this, but hadn't seen the finished product.

I think we've got almost everything now. Only remaining is the works per author (which I did once, but would like to re-implement).

Posting Stephen's data:

https://github.com/smargh/Classical-Studies-Resources/blob/master/tlg_authors_by_date.json

https://github.com/smargh/Classical-Studies-Resource

[2015-09-01 06:19] kylepjohnson commented on #91
I've added @smargh 's, and my latest, as JSON, here:

https://github.com/kylepjohnson/cltk/tree/master/cltk/corpus/greek/tlg

Will follow up with a list of TLG index files still needing parsing.

[2015-09-02 01:02] kylepjohnson commented on #91
Formatting help from @marpozzi in pull request #93 .

The next step, which I hope to have help thinking through, is to change the keys to `author_date.json` so that we can programmatically sort and search through them.

For example, how to record '2 B.C./A.D. 3' so that it sorts before '2 B.C.-A.D. 4'? And there are inconsistencies in their syntax, it seems, which will require hand checking.

And

[2015-09-02 06:34] kylepjohnson commented on #92
I added a keyboard input() to confirm download + install of TLGU. This was stalling out the automated builds. I added a testing argument for Travis CI to get around this.

https://github.com/kylepjohnson/cltk/compare/035e8552b8d7...7eb09368e809

Now everything passing again.

https://travis-ci.org/kylepjohnson/cltk/builds/78347279

[2015-09-02 06:34] #92 closed

[2015-09-02 06:59] kylepjohnson opened #94 "Normalize Unicode throughout CLTK"
I've been reading about `normalize()` and hope it will prevent normalization problems in the future. This builtin method solves the problem of accented characters made with combining diacritics not equaling precomposed characters. Examples of this appear in the testing library, where I have struggled to make two strings of accented Greek equal one another.

Example of `normalize()` from *Fluent Py

[2015-09-02 07:10] kylepjohnson opened #95 "Add intelligent sorting for Greek (and other languages)"
*Fluent Python* by Luciano Ramalho discusses the Unicode Collation Algorithm (UCA), which can be used for sorting various scripts. He recommends the [PyUCA](https://pypi.python.org/pypi/pyuca/) library to help in this (126-127).

Example:
[code]

I see this being used in [philology.py](https://github.com/kylepjohnson/cltk/blob/master/cltk/utils/philology.py) and [frequency.py](https://github.com/k

[2015-09-02 20:07] kylepjohnson opened #96 "Replace re with regex library"
The `regex` library is an intended replacement of Python's builtin `re` library. It has a backwards compatible version, but offers many improvements in its development version.

Docs: https://pypi.python.org/pypi/regex

To start, I would like to add this as a dependency and invoke as the legacy `VERSION0`.

For upcoming work in information retrieval (IR), we can leverage `VERSION1` for advanced se

[2015-09-06 18:12] kylepjohnson commented on #91
Update: Ongoing development here: https://github.com/kylepjohnson/cltk/blob/tlg-json/cltk/corpus/greek/tlg/parse_tlg_indices.py

I'm pretty happy with everything, save the date index, which is a total mess.

[2015-09-06 18:15] kylepjohnson opened #99 "Add PHI index"
@marpozzi has done most of this work.

Current state: https://github.com/kylepjohnson/cltk/blob/master/cltk/corpus/latin/phi/phi_index.json

And the script he used to do this: https://gist.github.com/marpozzi/b22b758490aff83bc62b

Martín, if you would like to start writing access functions, based on those I am doing for the TLG, go for it.

[2015-09-06 18:26] kylepjohnson commented on #91
I see two viable libraries for dealing with pre-1 A.D. dates:

Astropy's `Time`: http://astropy.readthedocs.org/en/latest/time/

The less precise, and this may be preferable, flexidate: https://pypi.python.org/pypi/flexidate

Some example usages:
[code]

[code]

[code]

[2015-09-10 03:46] kylepjohnson opened #101 "Add function for Greek NER"
Similar to task #102.

We should add simple support for [Named entity Recognition](https://en.wikipedia.org/wiki/Named-entity_recognition) for Greek.

A good list of names is here: <https://github.com/cltk/greek_proper_names_cltk>. It just needs to be imported with `CorpusImporter()` first.

Steps: Take a text string, tokenize into unigrams, do a match against the contents of `proper_names.txt`.

[2015-09-10 03:57] kylepjohnson opened #102 "Add function for Latin NER"
Similar to task #101.

We should add simple support for [Named entity Recognition](https://en.wikipedia.org/wiki/Named-entity_recognition) for Latin.

A good list of names is here: <https://github.com/cltk/latin_proper_names_cltk>, made by @maccius. It just needs to be imported with `CorpusImporter()` first.

Steps: Take a text string, tokenize into unigrams, do a match against the contents of `pr

[2015-09-13 07:03] kylepjohnson commented on #91
New release takes care of all TLG indices, except date, which I'm still working on.

https://github.com/kylepjohnson/cltk/releases/tag/v0.0.1.23

Docs: <http://docs.cltk.org/en/latest/greek.html#tlg-indices>.

I'm closing this and opening issue just parsing date index.

[2015-09-13 07:03] #91 closed

[2015-09-13 07:07] kylepjohnson opened #103 "Write functions to handle author_date.json for TLG"
This follows from #91, which took care of parsing and functions for all TLG indices except the date .IDT.

Currently available as JSON: https://github.com/kylepjohnson/cltk/blob/master/cltk/corpus/greek/tlg/author_date.json

and Python dict: https://github.com/kylepjohnson/cltk/blob/master/cltk/corpus/greek/tlg/author_date.py

Some preliminary code for parsing the messy date formats:
https://githu

[2015-09-13 15:25] marpozzi commented on #99
Ok, I think I can. I was thinking of a class that loads the json index and provides helper methods to get names, works, and iterators to work with texts. Do you think is a good idea or better avoid the class? I'm not sure what methods would be useful.

My other concern is if we could create new indices for PHI based on those I got for TLG (female, geography, etc.). Don't know if they are useful fo

[2015-09-13 16:01] diyclassics commented on #99
This might be a useful resource, via James Gawley at the Tesserae Project:
http://tesserae.caset.buffalo.edu/blog/authors-and-text-dates/

[2015-09-13 22:07] kylepjohnson commented on #99
Very helpful resource, @diyclassics. We'll be sure to incorporate this somehow.

[2015-09-13 22:17] kylepjohnson commented on #99
@marpozzi

Useful, yes, though I always recommend to programmers to finish something simple, then see how to improve it. To start, how about you to a PHI version of [what I did for the TLG](https://github.com/kylepjohnson/cltk/blob/master/cltk/corpus/greek/tlg/parse_tlg_indices.py)? Once that is finished, I am open to talking about your ambitious idea.

I have long wanted a robust author-work sele

[2015-09-14 13:02] marpozzi commented on #99
Please be in touch here before starting the work, though, as I would want

why wouldn't I use the best resources? Living in Argentina and speaking
Spanish doesn't make me less informed or aware of current scholarship.

[2015-09-14 17:18] kylepjohnson commented on #99
Spanish doesn't make me less informed or aware of current scholarship.

@marpozzi No offense intended. I was not referring to your location or language, only the inherent challenges of dating any ancient author. No one person can authoritatively know all dates for all authors, so I was suggesting we open some of this up to outside input.

[2015-09-18 17:10] kylepjohnson opened #104 "Add Lapos POS tagger"
[Olga Scrivner](https://twitter.com/obscrivn) pointed me to an interesting recent paper on Latin POS tagging, ["Lexicon-assisted tagging and lemmatization in Latin"](http://www.researchgate.net/publication/280878677_Lexicon-assisted_tagging_and_lemmatization_in_Latin_A_comparison_of_six_taggers_and_two_lemmatization_methods). Their claim is bold:

Lapos is C++, which is not a deal-breaker for us b

[2015-09-18 18:46] kylepjohnson opened #105 "Make new CLTK repositories for Computational Historical Semantics Latin data"
Medieval Latin, lots of good stuff here. May require reaching out to site admins for a direct dump.

http://www.comphistsem.org/34.html

[DB of Latin texts](http://www.comphistsem.org/48.html):
- Thousands of lemmatized texts
- Full text view
- Lemmatized word lists of any text
- Semantic fields of any given term in any given text
- Simple Comparison of different results

[Frankfurt Latin Lexicon]

[2015-09-18 18:56] kylepjohnson opened #106 "Update for Python 3.5"
Released this week: https://www.python.org/downloads/release/python-350/

There should be no breaking changes, though this needs to be confirmed, both on Travis CI and locally.

Update docs, too.

[2015-09-21 22:15] kylepjohnson commented on #106
An NLTK bug in upgrading to 3.5, which [`test_tag.py` caught](https://travis-ci.org/kylepjohnson/cltk/builds/81463496).

[code]

This has already been opened with NLTK. We'll need to wait on a fix from them before moving on, most likely. https://github.com/nltk/nltk/issues/1106

[2015-09-27 04:54] kylepjohnson opened #107 "Modify NLTK's PunktLanguageVars to better handle final period '.'"
I believe the NLTK's preferred tokenizer handles final periods badly for our purposes.

[code]

Comparing word tokens becomes a pain because one currently must check for presence of a final period. Unless I hear objections, I am going to keep the PunktLanguageVars, but wrap it to return results like:
[code]

[2015-09-27 05:05] kylepjohnson commented on #102
A basic implementation for Latin:

https://github.com/kylepjohnson/cltk/blob/ner/cltk/ner/ner.py

[2015-09-27 08:04] kylepjohnson commented on #101
http://docs.cltk.org/en/latest/greek.html#named-entity-recognition

[2015-09-27 08:04] #101 closed

[2015-09-27 08:05] kylepjohnson commented on #102
http://docs.cltk.org/en/latest/latin.html#named-entity-recognition

[2015-09-27 08:05] #102 closed

[2015-09-30 05:33] kylepjohnson commented on #107
Function added, but not documented or pushed to PyPI version yet.

https://github.com/kylepjohnson/cltk/blob/master/cltk/tokenize/word.py#L177

Docs needed at: http://docs.cltk.org/en/latest/multilingual.html#word-tokenization

[2015-10-01 06:03] kylepjohnson commented on #107
New generic word tokenizer implemented:

http://docs.cltk.org/en/latest/multilingual.html#word-tokenization

Something to consider for the future is tighter integration with @diyclassics 's [Latin word tokenizer](http://docs.cltk.org/en/latest/latin.html#word-tokenization).

[2015-10-01 06:03] #107 closed

[2015-10-02 05:36] kylepjohnson commented on #96
`re` switched out with `regex`.

https://github.com/kylepjohnson/cltk/commit/d64379b950c4df82e42816c15ed65de0c3947eb2

This will sure prove useful when we begin to write information retrieval modules.

[2015-10-02 05:36] #96 closed

[2015-10-03 03:24] kylepjohnson opened #108 "Add support for Word Mover's Distance"
WMD looks amazing and there is a Python implementation of it (<https://github.com/renaud/wmd>). It's a more accurate alternative to similarity algorithms like LDA, LSI, and TF-IDF.

Personally, I would like to use WMD for document and sentence classification. For instance, it could be used for extraction of particular Platonic ideas across the Greek canon.

First, I'll need to push my Word2Vec mod

[2015-10-03 03:31] kylepjohnson opened #109 "Add Word2Vec models for Greek and Latin"
Over the past months, I've developed over 150 Word2Vec models, but I haven't been able to settle on which ones to push! There are a lot of options to choose from and I've been testing the qualities of each combination. ([See my code for generating the models here](https://github.com/kylepjohnson/ipython/blob/master/word2vec/make_w2v_models.ipynb).)

W2V will have great value for info retrieval (wi

[2015-10-03 03:32] kylepjohnson commented on #108
This issue is dependent on #109.

[2015-10-10 05:52] kylepjohnson opened #110 "Get code coverage to > 90%"
I have added the excellent CodeCov to the project.

https://codecov.io/github/kylepjohnson/cltk?ref=ba6a33074862265b3d03600b1f5913c7a978db87

Get the [browser extension](https://github.com/codecov/browser-extension) and see where tests are required, right in your browser.

Right now we are at about 87%. Some easy ones to grab:
[code]

[2015-10-16 03:42] kylepjohnson commented on #106
Tagged version released.

https://github.com/kylepjohnson/cltk/releases/tag/v0.1.27

Will develop in 3.5, but keep the Travis CI tests running for 3.4 for a little while, though I don't intend on truly supporting it.

[2015-10-16 03:42] #106 closed

[2015-10-18 17:19] kylepjohnson opened #111 "Add information retrieval library"
In progress right now, with fairly convenient functions for matching patterns to corpus texts. I'll document and push a first iteration of this sometime today, most likely.

Module on development branch: https://github.com/kylepjohnson/cltk/blob/query/cltk/ir/query.py

[2015-10-19 01:19] kylepjohnson commented on #111
Docs for pattern matching, with special helpers for TLG and PHI5 corpora: http://docs.cltk.org/en/latest/multilingual.html#information-retrieval

Release: https://github.com/kylepjohnson/cltk/releases/tag/v0.1.28

[2015-10-19 01:19] #111 closed

[2015-10-22 05:10] kylepjohnson commented on #109
Built with code currently available on the `vector` branch.

https://github.com/cltk/greek_word2vec_cltk

https://github.com/cltk/latin_word2vec_cltk

Both contain lemmatized and un-lemmatized versions. Other configs are within range of what are often used for English, with the exception of a larger window (30 words) for these being non-fixed order languages.

Not perfect, but pretty good from my

[2015-10-22 05:10] #109 closed

[2015-10-22 05:17] kylepjohnson opened #112 "Add support for word vectors"
https://github.com/kylepjohnson/cltk/blob/vector/cltk/vector/word2vec.py

Following from #109 , adding Word2Vec models.

This is primarily, for now, for Word2Vec and its sister-algorithms. But should be expanded to other vector measures, especially those in gensim and scikit-learn.

I also added a 'keyword expander' to the info retrieval module, which I'm fairly excited about: https://github.com/k

[2015-10-23 18:05] kylepjohnson commented on #109
API Release: https://github.com/kylepjohnson/cltk/releases/tag/v0.1.29

https://github.com/kylepjohnson/cltk/blob/master/cltk/vector/word2vec.py

https://github.com/kylepjohnson/cltk/blob/master/cltk/ir/query.py#L234

[2015-11-17 05:38] kylepjohnson opened #113 "Write Contributors' Guide"
The CLTK is becoming a little more formal about its organization and processes. Something one of GitHub's academic liaisons ( @arfon ) recommended that I write a contributors' guide, to help get new folks contributing as quickly as possible.

For the CLTK Core, this could include some Git branching help, plus instructions to test the software before making a pull request.

I'm open to any ideas. I

[2015-11-17 05:44] kylepjohnson commented on #113
Feature:

* [GitHub Desktop](https://desktop.github.com/)

* Check that the [contrib builder](https://github.com/cltk/cltk/blob/master/cltk/utils/build_contribs_index.py) works accurately

* How to run tests (perhaps include nosetests, coverage, and travis-ci)

[2015-11-19 04:33] kylepjohnson opened #114 "Improve PHI5 cleanup"
Was working with `phi5_plaintext_cleanup(<str>, rm_punctuation=True, rm_periods=True)` and a range of odd characters were sneaking through. Here are the ones I could find. These just need to be added to the pattern of the function.
[code]

[2015-11-19 04:42] kylepjohnson commented on #114
Script I was using to find problems.

https://gist.github.com/kylepjohnson/dc5027e3b83ee5a7d62c

Sort the final set, then inspect the beginning, then then end with sorted(..., reverse=True)

[2015-11-19 23:36] j-duff opened #115 "Lemmatizing Satires 1.1"
I'm just getting my bearings in CLTK and I decided to try and run the Latin lemmatizer on Satires 1.1 (Horace), as an enormous string. However, Python throws up a KeyError on the third word, 'maecenas' ('Qui fit, Maecenas...').

'''
Traceback (most recent call last):
  File "/Users/johnduff/Desktop/HInitializer.py", line 26, in <module>
    print(lem.lemmatize(sat1o1, return_string=True))
  File "

[2015-11-20 01:32] kylepjohnson commented on #115
Hi Jack!

Thanks for opening the issue.

Can you share the script you're using? Also, what version of Python and what OS are you using?

Let me know and I'll get back to you as soon I can.

[2015-11-20 14:59] kylepjohnson commented on #115
Looking at this with fresh eyes, I can see that you are indeed using Python 3.5. Apologies for my mistake.

Something to note in case you haven't: you'll need to have imported the Latin data repo (`latin_models_cltk`), which you obtain through these steps: http://docs.cltk.org/en/latest/importing_corpora.html#importing-a-corpus

Anyways, still happy to help.

[2015-11-20 17:14] j-duff commented on #115
Hi Kyle!

Just getting to this now, sorry.

Indeed, I am using Python 3.5 and the most recent NLTK and CLTK, including
the corpus and latin_models_cltk as of this Monday, I believe. I'm running
OSX 10.5.

The error I listed was caused by me calling

print(lem.lemmatize(sat1o1, return_string=True))

[where lem = LemmaReplacer('latin'), and sat101 = a lower()-ed, JV-ed and
''.join-ed string of Horac

[2015-11-20 19:43] kylepjohnson commented on #115
Hi Jack!

I have given this a try, at least how *I* usually do this operation, and it performed as intended. Here are the commands I used in IPython (though the usual Python REPL do the same thing):

[code]

Would you please try these very commands and report back whether this works for you, too?

[2015-11-20 20:39] j-duff commented on #115
Indeed, that did the trick. I think my problem was that I had:

from ctlk.stem.lemma import LemmaReplacer as LR
lem = LR('latin')

Without that 'as' this works exactly as intended, thanks for the swift help.

Also, many thanks for this resource, it's opening up a lot of
cross-disciplinary research opportunities for me right now.

On Fri, Nov 20, 2015 at 2:43 PM, Kyle P. Johnson <notifications@gith

[2015-11-20 21:00] kylepjohnson commented on #115
Jack,

Happy to help! We're always interested in hearing how people are using the toolkit, so keep us appraised if you do something special.

Concerning cross-disciplinary research, that's what we're all about. The project is beginning to formalize, so if there is a feature you would like to help add, please don't be shy about asking to take it on. There are also some smaller, easy projects to get

[2015-11-20 21:00] #115 closed

[2015-11-26 20:05] smargh commented on #94
So there is a wrapper function in the Alfred-Workflow repo that I have used in all of my project to handle Unicode strings consistently:
[code]

[2015-11-26 22:15] kylepjohnson commented on #94
Thanks, @smargh , for sharing. You inspire me to try something like this soon.

[2015-11-29 20:17] kylepjohnson opened #116 "Add macronizer"
FYI I'm in the process of porting @Alatius 's excellent Latin macronizer, along with Johan's help. It takes raw text and marks vowel length.

See [this review](http://blogs.dickinson.edu/dcc/2015/07/20/johan-winges-new-latin-macronizer/) for example of what it can do.

[2015-11-29 23:51] kylepjohnson commented on #99
I'm going to close this ticket for now and see if interest picks up on it again. What we have is workable for now, I think.

[2015-11-29 23:51] #99 closed

[2015-11-29 23:53] kylepjohnson opened #117 "Add Whoosh for complete search support"
In progress on `whoosh` branch, at `cltk/ir/boolean`.

[2015-12-06 05:10] kylepjohnson opened #119 "Rewrite contribs module"
Rewrote a module which makes file ([contributors.md](https://github.com/cltk/cltk/blob/master/contributors.md)) about project contributors, from the `__author__` variable at the top of modules.

Use it with `python cltk/utils/contributors.py` or:
[code]

PR: https://github.com/cltk/cltk/pull/118

[2016-01-05 00:10] kylepjohnson opened #121 "Create repo for digilibLT (Late Antique Latin)"
http://digiliblt.lett.unipmn.it/g_bulk_opere.php

[2016-01-10 07:36] kylepjohnson commented on #117
Done.

https://github.com/cltk/cltk/releases/tag/v0.1.31

[2016-01-10 07:36] #117 closed

[2016-01-10 07:39] kylepjohnson opened #123 "Add PROIEL treebanks to corpus importer"
Corpus forked here: https://github.com/cltk/multilingual_treebank_proiel

Next need to add to [corpora.py](https://github.com/cltk/cltk/blob/master/cltk/corpus/multilingual/corpora.py).

[2016-01-10 07:44] kylepjohnson opened #124 "Add support for PROIEL treebanks"
This depends on #123 .

There are a few good projects here, including:

* Train morphological tagger (see https://github.com/cltk/latin_treebank_perseus )
* Dependency syntax tagger
* Write "maps" between different tagging syntax, such as the Perseus and PROIEL

[2016-01-10 07:53] kylepjohnson commented on #110
Because of new code I have added which requires local corpora, code coverage has slipped to below 80%. So code coverage is about as good as it'll get until there is a fair amount of new code added.

[2016-01-10 07:53] #110 closed

[2016-01-10 07:56] kylepjohnson commented on #105
After this, see also #124

[2016-01-10 07:57] kylepjohnson commented on #124
We can do the same with addition of Computational Historical Semantics Latin, #105

[2016-01-10 08:03] kylepjohnson opened #125 "Add Levenshtein distance"
A basic implementation shouldn't be too difficult. Allow for sentence-to-sentence comparisons, of course, but consider other chunking, too (such as line or even paragraph).

Use [FuzzyWuzzy](https://github.com/seatgeek/fuzzywuzzy), which will probably become a CLTK dependency. See options for FuzzyWuzzy which offer many options to apply the concept.

[2016-01-13 20:42] paolomonella opened #126 "How can I run a Python script in the virtual environment?"
I followed the installation instructions (on Xubuntu 15.10, Python 3.4).

If I activate the virtual environment with
```$ source venv/bin/activate```
and open an interactive Python console with
```$ python3.4```
In the Python interactive console I can run commands like:
```from cltk.corpus.utils.importer import CorpusImporter```

However, I wrote a Python script (cltk.py) and put it in the folder

[2016-01-13 21:46] kylepjohnson commented on #126
Hi Paolo! Thank you for using the CLTK and reporting your issue.

You have done everything fine, with one exception: you should remove the "shebang" and path from the top of the file (`#!/usr/bin/env python`). This is pointing Bash to your system Python, not your virtual environment.

Also, with Python 3 on a modern operating system, you don't need to the `# -*- coding: utf-8 -*-`.

Please let me

[2016-01-13 23:04] paolomonella commented on #126
Thank you Kyle for such a prompt response! I removed the shebang line, and still no luck. I came across the solution, as it happens, by accident. I had named my script cltk.py, which apparently confused Python. As soon as I renamed it to myCTK.py, it worked like a charm!
I've got another question that I could not find addressed in the docs, so I'll file another issue for that (mainly for the use o

[2016-01-13 23:04] #126 closed

[2016-01-13 23:10] paolomonella opened #127 "Lemmatisation/POS returning a list?"
I see that CLTK applied to Latin chooses the most plausible lemma / POS by itself. I see it does a great job at it. But is there a way I can asl CLTK to return a list (or dictionary) of all possible lemmas / morphological analyses, so i can then write some code to let the user interactively choose the best one?

[2016-01-13 23:20] kylepjohnson commented on #126
Ah, that makes sense! I'm glad you corrected me.

[2016-01-13 23:37] kylepjohnson commented on #127
I'm glad to hear the tagger is generally working OK.

Note: I recommend using `tag_tnt()` or `tag_ngram_123_backoff()`. These have the highest accuracy.

We inherit the tagger code from the NLTK, so you'll need to look there. I have taken a cursory look at the [TnT tagger source](http://www.nltk.org/_modules/nltk/tag/tnt.html) and do not think getting multiple returns is (easily) possible.

Perhap

[2016-01-13 23:52] kylepjohnson commented on #127
Thinking about this a bit more ... a few ideas:

* Hack the NLTK code. The TnT tagger code does not look terrible complicated. You ask on the NLTK page how to do this.
* Rework [Perseus's original lemma file](https://raw.githubusercontent.com/cltk/latin_pos_lemmata_cltk/master/perseus_data/latin-lemmata.txt). Note that programmatically reading morphology labels in this file is a challenge.

Your s

[2016-01-14 00:47] kylepjohnson commented on #119
Good examplle to follow from nodejs people: https://github.com/nodejs/node/blob/v0.12/CONTRIBUTING.md#governance

[2016-01-18 18:54] paolomonella commented on #127
Dear Kyle,

thank you for your replies. As I'm exploring the field, I'm currently
trying a number of options on the table, including re-training
TreeTagger. I wrote a report on this on the Digital Classicist list. I
asked you a couple of questions on list (on the way that CLTK chooses
the best lemma/POS tag).

Would you mind replying to those on list? I hope that this thread will
be beneficial to

[2016-02-12 00:18] kylepjohnson opened #128 "Add metadata to cltk/__init__.py"
Along the lines of what NLTK does, so metadata (eg, `cltk.__version__`) can be imported from repl, etc.

https://github.com/nltk/nltk/blob/develop/nltk/__init__.py#L26

[2016-02-15 00:54] lukehollis commented on #125
Fuzzywuzzy ratio sound good? Would the input values for the function be just some amount of text loaded as a string?

[2016-02-15 03:21] kylepjohnson commented on #125
You mean fuzzywussy's default ratio? Yes, I would inherit their default, but allow an optional argument to override it. As for input and output, string seems right to me.

@lukehollis Are you needing this for the frontend for any reason? If so, I can try to expedite. Or if no rush go for it yourself! People been asking for a long time.

[2016-02-15 05:26] lukehollis commented on #125
Sounds great. As my former Latin professor used to remark: "a change of occupation is as good as repose"!  In pr: https://github.com/cltk/cltk/pull/129

Right now just wrapping fuzz.ratio for the most basic method and then including the sentence tokenizers in the next.

[2016-02-15 17:16] #125 closed

[2016-02-15 17:21] kylepjohnson opened #130 "Add Levenstein distance enhancements"
We have a good implementation now by @lukehollis . Now just a matter of thinking a little more about interface. The following, from [my comment to Luke's PR](https://github.com/cltk/cltk/pull/129), are things for us to think about for next iteration:

* Define language in class declaration (?)
* Add a function which will process just strings w/o tokenization
* Think about optional lemmatization/st

[2016-02-15 17:22] kylepjohnson commented on #125
Some optional follow-up ideas in #130

[2016-02-15 21:52] kylepjohnson commented on #130
Two thoughts about Greek to add to this:

* This is motivation for me to take care of #94 . This needs to be done b/c combined and pre-combined characters (I assume) won't match.
* Think about an optional diacritic-stripping function for non-lemmatized/stemmed words. This could enhance similarity scores for words of the same stem or headword.

[2016-02-16 05:32] kylepjohnson commented on #113
[Quickstart for contributors](https://github.com/cltk/cltk/wiki/Quickstart-for-contributors) written in anticipation of Google Summer of Code.

[2016-02-16 05:32] #113 closed

[2016-02-16 15:29] lukehollis commented on #130
Great thoughts here--this is sounds like it has a lot of potential.  I can add to the docs and write tests.

Yes to the language agnostic version:  I think a good example of this is the people that are wanting to compare Latin and Greek.

I was dreaming at one point about converting Latin and Greek into some kind of phonetic metalanguage but settled for trying romanize: https://github.com/gschizas

[2016-02-16 18:11] kylepjohnson commented on #130
So much here to discuss.

* The transliteration might have value here (though the one linked to seems to be doing it phonetically from Modern Greek). Hadn't considered this before, but we could definitely catch proper nouns, which folks would find really useful. Clever.

* @diyclassics wrote some [good code on alliteration](https://github.com/diyclassics/Alliteration-in-Latin-Literature) for an AC

[2016-02-18 06:22] kylepjohnson opened #131 "Fix Read the Docs build"
Doc pages haven't been updating right recently, don't know why.

http://readthedocs.org/projects/cltk/builds/

[2016-02-19 03:34] kylepjohnson commented on #112
This ticket is a little too vague, especially in light of recent innovations to Word2Vec (e.g., [Sense2Vec](http://arxiv.org/abs/1511.06388)). Closing as invalid.

[2016-02-19 03:34] #112 closed

[2016-02-22 03:03] kylepjohnson opened #133 "Pin dependencies to requests.txt"
As recommended in the [The Elements of Python Style](https://github.com/amontalenti/elements-of-python-style) (and by many others), I've made two dependency files, `requirements.txt` and `dev-requirements.txt`, in the root of the repo.

I'm not 100% that `requirements.txt` will be useful to anyone, as requirements are currently build built by Pip via the `setup.py` file. On the other hand, the dev

[2016-02-22 03:04] kylepjohnson commented on #133
See here:

https://github.com/cltk/cltk/blob/master/requirements.txt

https://github.com/cltk/cltk/blob/master/dev-requirements.txt

[2016-02-22 03:04] #133 closed

[2016-02-22 05:00] kylepjohnson commented on #131
Had to monkey around with RTD settings. I think the root problem was a bug appearing while Tex was building a PDF version. This isn't necessary, so I turned this option off and everything building fine.

Going to add a RTD badge (yes, I know, yet another!) which will make these kind of build failures more apparent.

One final note is that I am interested in switching sometime to [MkDocs](http://ww

[2016-02-22 05:00] #131 closed

[2016-02-22 06:01] kylepjohnson opened #134 "Develop JavaScript frontend and Python backend to CLTK webapp"
This is a high–level stub for the project detailed on the [Project ideas](https://github.com/cltk/cltk/wiki/Project-ideas), on the CLTK Wiki.

[2016-02-22 06:05] kylepjohnson opened #135 "Develop machine translation interface to Moses"
This is a high–level stub for the project detailed on the [Project ideas](https://github.com/cltk/cltk/wiki/Project-ideas), on the CLTK Wiki.

[2016-02-22 06:05] kylepjohnson opened #136 "Improve lemmatizer"
This is a high–level stub for the project detailed on the [Project ideas](https://github.com/cltk/cltk/wiki/Project-ideas), on the CLTK Wiki.

[2016-02-22 06:06] kylepjohnson opened #137 "Make dependency grammar taggers for Greek and Latin"
This is a high–level stub for the project detailed on the [Project ideas](https://github.com/cltk/cltk/wiki/Project-ideas), on the CLTK Wiki.

[2016-02-22 06:10] kylepjohnson commented on #124
I've written this task up in better detail in #137. This should be closed b/c there are some important decisions that should be made by whomever approaches the entire project.

[2016-02-22 06:10] #124 closed

[2016-02-22 06:10] kylepjohnson commented on #123
I've written this task up in better detail in #137. This should be closed b/c there are some important decisions that should be made by whomever approaches the entire project.

[2016-02-22 06:10] #123 closed

[2016-02-22 06:12] #119 closed

[2016-02-22 06:14] kylepjohnson commented on #53
Closing this out as nobody (including me) has been able to get Sphinx to build docstrings for over a year. Anyone is free to re-open if so inclined.

[2016-02-22 06:14] #53 closed

[2016-02-22 06:17] kylepjohnson commented on #127
Hi Paolo, I haven't been able to sign up for the list, but please be in touch with anything you think the CLTK can do for your work!

[2016-02-22 06:17] #127 closed

[2016-02-22 06:41] kylepjohnson opened #138 "Improve part–of–speech tagger"
This is a high–level stub for the project detailed on the [Project ideas](https://github.com/cltk/cltk/wiki/Project-ideas), on the CLTK Wiki.

[2016-02-22 06:43] kylepjohnson commented on #135
[Moses for Mere Mortals](https://en.wikipedia.org/wiki/Moses_for_Mere_Mortals) looks like it'd be almost critical for a first iteration of this project's success.

Repo here: <https://github.com/jladcr/Moses-for-Mere-Mortals>.

[2016-02-22 06:46] kylepjohnson commented on #116
I got busy and didn't finish this. I got @Alatius fork to build with Clang (ships with Mac) but a few hiccups, which while they appeared small, kept me from fully integrating the code. My almost–working Clang code here: <https://github.com/kylepjohnson/latin-macronizer>.

I'd be happy for anyone to take this on.

[2016-02-22 06:59] kylepjohnson opened #139 "Get Latin macronizer to compile, add to prosody module"
This is a high–level stub for the project detailed on the [Project ideas](https://github.com/cltk/cltk/wiki/Project-ideas), on the CLTK Wiki. See also notes in ticket #116.

[2016-02-22 07:00] kylepjohnson commented on #116
Closing because this issue is better explained and situated in ticket #139.

[2016-02-22 07:00] #116 closed

[2016-02-22 07:07] kylepjohnson opened #140 "Rewrite Ruby text reader for CBETA Chinese corpus"
This is a high–level stub for the project detailed on the [Project ideas](https://github.com/cltk/cltk/wiki/Project-ideas), on the CLTK Wiki.

[2016-02-22 07:18] kylepjohnson opened #141 "Port Flexidate to Python 3"
[Flexidate](https://github.com/okfn/flexidate) is a library which handles dates before the common era, which the Python standard library cannot. Currently it works for Python 2 but not 3. We need someone to make FlexiDate work with Python 3.5, while not breaking functionality for 2.7.

[2016-02-22 17:43] kylepjohnson commented on #137
[Malt Parser](http://www.maltparser.org/) should be considered, too. The [NLTK has a wrapper](http://www.nltk.org/_modules/nltk/parse/malt.html) which was broken for a while, yet appears to have been fixed. If not, CLTK should provide a wrapper.

[2016-02-22 18:04] paolomonella commented on #127
Thank you Kyle!

I've been experimenting (and learning a lot) with lemmatization and PoS
tagging about a month ago. I'll probably be back to it in a couple of
months (I'm currently back to my tedious daily work of manuscript
tanscription).

I appreciate your collaboration.
Best,
Paolo

Il 22/02/2016 07:17, Kyle P. Johnson ha scritto:

[2016-02-22 18:07] kylepjohnson commented on #108
Update: Dependency ticket #109 has been completed.

[2016-02-22 18:10] kylepjohnson commented on #127
:thumbsup:

[2016-02-24 03:52] kylepjohnson opened #144 "Add two simplified CBETA corpora"
Following from [a conversation](https://github.com/RayCHOU/ruby-cbeta/issues/1#issuecomment-187602295) with @RayCHOU and @jenjouhung, I have learned of two new versions of CBETA  (a massive corpus of Chinese Buddhist sutras).

One is simplified XML, without things like apparatus criticus: <https://github.com/DILA-edu/CBETA_TAFxml>.

The other is just plaintext of a sutra's text: <https://github.co

[2016-02-28 03:20] lukehollis commented on #130
Continued this in https://github.com/cltk/cltk/pull/147. I moved the sentence and sliding window methods to a separate TextReuse class where we might implement different string comparison methods than a Levenshtein distance calculation in the future. Is the Levenshtein class worth keeping? I'm torn. It only wraps fuzzywuzzy's ratio method (which wraps the same from python-Levenshtein if I remember

[2016-02-28 17:00] kylepjohnson commented on #130
Small update: I moved Luke's docs to the Multilingual section of the docs ([commit here](https://github.com/cltk/cltk/commit/6c976816531464c733b94886c30da50e7057f8fb#diff-76f8771099cc4454c157e6b9913063e5). (Note: If you want a new top-level page in the docs, you have you add the page name to [index.rst](https://github.com/cltk/cltk/blob/master/docs/index.rst).)

@lukehollis update the docs here as

[2016-02-29 03:56] kylepjohnson opened #149 "Add Git/GitHub/Python workflow"
I've added a detailed workflow that I follow when making commits. I suggest others do too, as it's simple and least error-prone (of any I can imagine, at least).

<https://github.com/cltk/cltk/wiki/Example-Git-and-Python-workflow>

Anyone who wants to jump in and make improvements need only follow these ~17 small steps.

[2016-02-29 03:56] #149 closed

[2016-02-29 20:45] yash14123 commented on #128
I am on it. :)

[2016-02-29 20:58] yash14123 commented on #63
Please give the code to reproduce.

[2016-03-01 02:31] nelson-liu opened #153 "Various Build Errors"
I installed CLTK from source and ran nosetests, and got a few errors. Let me know if it's something I'm doing wrong on my end / these are skipped by travis for some reason / I have some installation issues.
Here's the `nosetests` traceback:
[code]
Here's the `pip list` traceback:
[code]
I'm running this in a virtualenv with python 3.5.1 on OSX El Capitan 10.11 (platform is `Darwin-15.0.0-x86_64-i3

[2016-03-01 06:39] achaitanyasai commented on #103
I would like to work on this issue.

[2016-03-01 09:36] BSatyaKishore commented on #134
What exactly is the project?
To create a website (to use CLTK) which has backend in python and frontend in Reactjs.. ??

[2016-03-01 14:25] lukehollis commented on #134
Hi @BSatyaKishore, thanks for the interest. The CLTK frontend is a reading interface for as many of the documents in the corpora included with the CLTK as possible. It's being developed in Meteor and React currently, and the repo is here: https://github.com/cltk/cltk_frontend

The Meteor frontend app will receive data from an API developed in Python with Flask, whose repo is here: https://github.c

[2016-03-01 15:19] kylepjohnson commented on #114
@yash14123 thanks again for this. As I mention in the latest PR, I'll merge this as soon as all the emails slow down :weary:

[2016-03-01 21:05] kylepjohnson commented on #103
Hi, go for it!

Please let us know how the work goes, perhaps in a week or two.

I recommend you make a fast prototype and let the community comment on your
module's api. You can see the other index parsers for ideas.

On Monday, February 29, 2016, Chaitanya Sai Alaparthi <
notifications@github.com> wrote:

--
Kyle P. Johnson, Ph.D.

Natural language processing, data science, architecture
<https:/

[2016-03-01 22:05] coderbhupendra commented on #62
I will like to do this.

[2016-03-01 22:40] kylepjohnson commented on #62
Hello, @coderbhupendra! Thanks for volunteering! Help on this would be great.

To start, you'll need to collect all Unicode forms of Greek vowels and consonants. Make a list for each.

You can find all the vowel forms here: https://en.wikipedia.org/wiki/Greek_diacritics#Unicode

Consonants here (though you'll need to remove the vowels): http://kestrel.nmt.edu/~raymond/software/howtos/greekscape.xh

[2016-03-01 23:21] kylepjohnson commented on #153
Hi Nelson!

I normally try to reply faster to these kinds of questions. been overwhelmed by GSoC application questions.

It looks like CLTK is failing to clone the data repos it needs. A few initial questions:

1) What do you in `~/cltk_data/` and `~/cltk_data/greek` and `~/cltk_data/latin`

2) Can you import corpora manually? [Directions](http://docs.cltk.org/en/latest/importing_corpora.html#impo

[2016-03-01 23:47] kylepjohnson commented on #128
Hey guys, this is close but not quite there. A few things, for either of you who, choose do it.

* Remove the `VERSION` file. We track version in `setup.py` and I will change that myself.
* Read version from `setup.py`
* In Python 3, `__future__` imports are not used

Thanks!

[2016-03-01 23:55] kylepjohnson commented on #63
Very good question, @theaverageguy. I'll try to get example code to you this weekend.

[2016-03-02 00:00] nelson-liu commented on #153
Ah, sorry! I didn't even see `dev-requirements.txt`. That was the issue for me, thanks! I feel like this should be mentioned somewhere in the docs, but I'm not too sure where...I just installed requirements.txt out of habit. Sorry for the trivial issue.

[2016-03-02 00:01] #153 closed

[2016-03-02 00:04] kylepjohnson commented on #153
Not trivial at all!

If you find a place in the docs where you would have liked to have read this, please make a PR and I'll accept.

[2016-03-02 00:07] nelson-liu commented on #153
Great, will do. Also I failed to mention, but there seem to be some issues with `pip install codecov==1.6.4`. I don't see a 1.6.4 release on [its github page](https://github.com/codecov/codecov-python/releases) and the [link on pypi](https://pypi.python.org/pypi/codecov/1.6.4) is also a 404.

[2016-03-02 00:15] kylepjohnson commented on #153
Man, that's annoying. [Gemnasium](https://gemnasium.com/kylepjohnson/cltk) wrongly reports that 1.6.4 is the latest. I'm may ditch this service (Gemnasium).

I'll roll back to 1.6.3 tonight, unless you beat me to it ;)

[2016-03-02 03:52] achaitanyasai commented on #103
Hello sir, I will start working on this and will give a report / progress information on sunday - March 5th. Mean while I will ask if I have any doubts.

[2016-03-02 06:44] coderbhupendra opened #157 "error :Non-ASCII character as no encoding declared"
I dont know if its necessary but while running files like beta_to_unicode.py or tlg_index.py in /cltk/cltk/corpus/greek , it shows error :Non-ASCII character '\xc3' in file tlg_index.py on line 9, but no encoding declared; see http://www.python.org/peps/pep-0263.html for details

which can be solved by  defining  source code encoding, add  the top of  script
 # -*- coding: utf-8 -*-

so should i c

[2016-03-02 06:54] kylepjohnson commented on #157
Hi, we use Python 3 exclusively, and I have never encountered this error in 3. What version are you using?

Note also that we only support Linux and Mac OS X.

If you are using the latest Python (3.5.1) and on a supported OS, please share a code snippet by which I may reproduce the error.

Thank you!

[2016-03-02 06:57] nelson-liu commented on #157
I got this error (accompanied with a host of others) when running `nosetests -v` with python2.7. could that be your issue?

[2016-03-02 07:00] coderbhupendra commented on #157
Ohk i got it , i was using python 2.7 , now changed my version to python3 , and i use ubuntu 10.04 and its not showing error now.

[2016-03-02 07:10] kylepjohnson commented on #157
Cool. Good news. If you're serious about contributing, I strongly recommend you follow our standard contributing guidelines:

https://github.com/cltk/cltk/wiki/Example-Git-and-Python-workflow

This would start by getting the latest version of Python (3.5, though 3.4 will work OK too).

[2016-03-02 07:10] #157 closed

[2016-03-02 08:12] coderbhupendra commented on #62
I dont know Ancient Greek but i will to above part.
https://gist.github.com/coderbhupendra/042ac0b38d409fcd6831

[2016-03-02 11:22] Akirato commented on #135
I would like to work on this in GSoC 2016. I have sent @kylepjohnson an email with my introduction and details.
Is the project about making translation models between the language pairs available in Perseus and then integrating it with cltk or is there something more to it?

[2016-03-02 11:26] Akirato commented on #138
Is the need a new Python implementation of Lapos tagger or is the task integrating it with CLTK after training?

[2016-03-02 15:03] coderbhupendra commented on #62
@kylepjohnson  I have written all the lists , please see them in below gist
https://gist.github.com/coderbhupendra/94b996d20cd5c1c21de7
and tell me if i need to change anything.

[2016-03-02 15:18] achaitanyasai commented on #103
I have modifed a bit : added open_json(), assigned THIS_DIR. Now I think, get_date_author(), get_dates() works. Is this fine. https://github.com/achaitanyasai/cltk/commit/bb7ac38615ba81756b705ff5177d25affcfe25da#diff-839b453182054a572c87762a49a34a15L14

I will implement or modify other methods as soon as possible and I have a couple of questions :
1) Do I need to keep open_json() method as it is o

[2016-03-02 17:45] coderbhupendra commented on #95
I am doing this one.

[2016-03-02 18:39] DrBronzeAge commented on #130
This looks really cool, and a lot more stream-lined than what I built. Two enhancements that I might suggest, based on doing this for my own research and doing it freelance for others:

1) Adding a way to easily inspect possible matches. No one is going to publish research that is only based the output of an algorithm, they'll want to verify it by hand. Making that process as painless as possible

[2016-03-02 21:43] souravsingh commented on #49
I would like to work on this issue.How do I start?

[2016-03-02 21:48] souravsingh commented on #49
Do we make a corpus mentioned in the steps [here](https://github.com/cltk/cltk/wiki/How-to-add-a-corpus-to-the-CLTK)?

[2016-03-02 21:52] kylepjohnson commented on #138
Great question.

We need both. Obviously, making models with the Lapos tagger needs to come first. Second would be integration with the CLTK (both auto-downloading, installing and calling). For the latter, I have a fair amount of experience with this, and don't expect this to be bulk of the project.

For applications for this job, I would like to see how many languages a student thinks he or she c

[2016-03-02 22:00] kylepjohnson commented on #49
Hi, @souravsingh .

You'll want to make a crawler for the site, probably, however copy-pasting it by hand is not out of the question, either, as it's not enormous. (Note: I did this a long time ago, but may have simply used curl!)

Please see [the latin version of the site](https://github.com/cltk/latin_text_lacus_curtius) that I once fetched. Your directory/file structure will need to be like thi

[2016-03-02 22:07] souravsingh commented on #49
Thanks for the help. I will get to work on compilation.

[2016-03-02 22:43] kylepjohnson commented on #62
Hey, this is pretty good! I'll make some edits this weekend, then send instructions about how you can make the pull request.

[2016-03-02 23:38] kylepjohnson commented on #103
Keep it in your file for now. You're right, it might be useful for others later, but let's wait till the job is done.

I'm glad you ask. Opening a Python dict is easier in a library than json. In fact, I recommend that you re-save this file as a Python dict, in the matter of the other indices. But this is less important that the actual parsing logic.

[2016-03-03 00:04] kylepjohnson commented on #95
Take a look at PyUCA. We will want the 'contraction' option outlined in the docs.

If you work on this, report back on how you sort the following:

[code]

Try some Sanskrit or other, too, see if it's right.

Pinging @jtauber I only just now noticed you wrote this little gem :)

[2016-03-03 02:26] achaitanyasai commented on #103
Thanks for the information, I will continue working on it.

[2016-03-03 02:28] kylepjohnson commented on #130
@DrBronzeAge Your ideas are very welcome here.

re 1): I love it. In the name of simplicity, I recommend adding a flag csv_output=True/False

re 2): So far, CLTK has shied away from visual output. But I would be interested in hearing from you what a (say) .csv export would need to contain to enable good data inspection. We can talk about another CLTK sub-project, in its own repo, which allows for

[2016-03-03 05:02] lukehollis commented on #130
Great feedback, thanks! I think exporting a CSV file seems like a good lowest common denominator that we can rely on for saving comparisons. I wonder if we could include the totals for comparisons with a high similarity ratio for each author involved--unsure how much should go into the module v. rely on the developer using the CLTK to write in his/her scripts.

For a first step to adding the csv_o

[2016-03-03 06:07] jtauber commented on #95
It should work out of the box for Greek (that was my motivation to implement the UCA in the first place). But let me know if you have any issues with it.

[2016-03-03 08:30] coderbhupendra commented on #95
I am having a doubt , i need to implement contraction option , that is multiple letters are treated as a single unit . so do i need to implement a method for sorting like it is done pyuca.collator

def sort_key(self, string):
        normalized_string = unicodedata.normalize("NFD", string)
        collation_elements = self.collation_elements(normalized_string)
        return self.sort_key_from_col

[2016-03-03 08:45] jtauber commented on #95
@coderbhupendra if the DUCET doesn't not have the right rules, you need to provide your own collation element table. Can you give me an example of something that isn't sorting correctly with the default (DUCET) collation?

[2016-03-03 11:34] diyclassics commented on #49
You should review this page before including Lacus Curtius texts in the CLTK corpora—http://penelope.uchicago.edu/Thayer/E/HELP/Copyright/home.html

It would be a good idea as well to reach out to Bill Thayer—he runs the site and did the transcriptions himself.

Building the tool itself sounds like a good idea—something useful for researchers working with the idiosyncrasies of the LC web layout an

[2016-03-03 11:58] coderbhupendra commented on #95
@kylepjohnson  am not able to understand what are you exactly asking to do .
We already have pyuca lib , and using it we can sort ['ἅρπαγος', 'καταστρεψάμενος', 'ἰωνίην', 'ἐποιέετο', 'στρατηίην', 'κᾶρας', 'καυνίους', 'λυκίους', 'ἅμα', 'ἀγόμενος', 'ἴωνας', 'αἰολέας.']
and sorted(list_argument, key=coll.sort_key) gives : ['ἀγόμενος',
 'αἰολέας.',
 'ἅμα',
 'ἅρπαγος',
 'ἐποιέετο',
 'ἴωνας',
 'ἰωνίην',

[2016-03-03 12:57] coderbhupendra commented on #95
I took one sanskrit sentence : या कुन्देन्दु तुषार हार धवला या शुभ्रवस्त्रावृता
and it sorted it  sans_list=['या ', 'कुन्देन्दु','तुषार', 'हार', 'धवला ','या ','शुभ्रवस्त्रावृता ','शभ्रवस्त्रावृता']
into ['कुन्देन्दु', 'तुषार', 'धवला ', 'या ', 'या ', 'शुभ्रवस्त्रावृता ', 'हार'] correctly.

[2016-03-03 13:21] coderbhupendra commented on #95
I think there is some problem in this sort :
original_list =['सा', 'मां', 'पातु', 'सरस्वती', 'भगवती', 'निःशेषजाड्यापहा' ]
sorted_list=['निःशेषजाड्यापहा', 'पातु', 'भगवती', 'मां', 'सरस्वती', 'सा']

In sanskrit vowels comes before comes before consonants unlike like english were vowels and consonants are mixed together , in sanskrit we have a complete set of vowels and then a complete set for consona

[2016-03-03 13:22] achaitanyasai commented on #103
Modified : <code>get_date_of_author()</code> and <code>_get_epoh()</code> methods
https://github.com/cltk/cltk/compare/master...achaitanyasai:parseDateIndices
Is this fine ?

I need to implement/modify the remaining two methods : <code>_handle_splits()</code> and <code>normalize_dates()</code>.

In <code>_get_epoh()</code> method, I made the following changes :
1) I used regex for checking <code>'

[2016-03-03 14:48] kylepjohnson commented on #49
Thank you for chiming in, Patrick. Respecting copyright is very
important. I will email Bill (have been meaning to, anyways).

@souravsingh keep working on the task as before. I believe we'll have
copyright cleared up by the time your work is done.

On Thursday, March 3, 2016, Patrick J. Burns <notifications@github.com>
wrote:

--
Kyle P. Johnson, Ph.D.

Natural language processing, data science,

[2016-03-03 15:33] diyclassics commented on #130
Luke, can’t wait to get a chance to experiment with this.

As for Latin authors, you might consider running some benchmark tests with Virgil and Lucan (esp. book 1)—this is the data that the Tesserae project (http://tesserae.caset.buffalo.edu <http://tesserae.caset.buffalo.edu/>) has used for its tests. It could be useful to have comparative data from a project with similar aims. I can email you a

[2016-03-03 19:18] souravsingh commented on #49
I have done a few compilation of the Greek Texts in the repo [here](https://github.com/souravsingh/greek_text_lacus_curtius). Can anyone review the progress made so far?

[2016-03-03 19:29] coderbhupendra commented on #70
@kylepjohnson  i did this but i done know if this is what you wanted, please see the gist:
https://gist.github.com/coderbhupendra/6fa0b52e4cc3d8869344

[2016-03-03 19:32] souravsingh commented on #105
I would like to work on the issue.How do I start?

[2016-03-03 19:44] nishnik commented on #49
It is nice!
Keep on doing.

[2016-03-03 20:53] jtauber commented on #95
@coderbhupendra the DUCET is the allkeys file in https://github.com/jtauber/pyuca/tree/master/pyuca

I did not author it, it comes from the Unicode Consortium.

It's possible the DUCET sorts devanagari according to Hindi rather than Sanskrit. (Is that possible?)

I know nothing about Sanskrit collation and haven't actually had to write my own collation element tables as DUCET works fine for Classi

[2016-03-03 21:13] jtauber commented on #94
I actually end up using NFKC just so alt forms of theta and phi, etc, get normalized.

I have a (very) work-in-progress article about all this stuff: http://jktauber.com/articles/python-unicode-ancient-greek/

[2016-03-03 21:32] coderbhupendra commented on #95
@jtauber  that sorting for sanskrit is correct , i miss understood it.As unicode for 'ा' comes after 'र'.
(https://en.wikipedia.org/wiki/Devanagari#Unicode).

[2016-03-03 22:05] kylepjohnson commented on #95
Thank you @jtauber for clarifying. To be honest, I wasn't totally sure how your library worked.

@coderbhupendra , do you feel better about using the pyuca library? If so, there are (I think) only two files to change to incorporate it into the CLTK, for now:

1) Look at [this line of the philology module](https://github.com/cltk/cltk/blob/e5961f61682a4da5b72d50634ce54d8da4a71a80/cltk/utils/philolo

[2016-03-03 22:07] coderbhupendra commented on #95
ok i will do that asap .

[2016-03-03 22:09] coderbhupendra commented on #94
@jtauber thanks for this wonderful article , i was googling myself to understand normalization to solve this issue. I cleared my few doubts.
@kylepjohnson  i think i will be able to do it after asking few doubts .

[2016-03-03 22:12] kylepjohnson commented on #94
Yes, @coderbhupendra , once you finish #95 , let's talk about this one. It's a somewhat similar task, so it'd be great for you to do it.

I will also appreciate your help in checking this is some Indic languages (Sanskrit, namely).

[2016-03-03 22:25] kylepjohnson commented on #49
Looking good, @souravsingh . I'll be in touch as soon as I have clarity about using the text.

Thank you for your patience on this. KJ

[2016-03-03 22:30] kylepjohnson commented on #70
Hi @coderbhupendra , I appreciate the hustle, but please hold off on this one. It's not super hard, however we need a Greek and Latin language expert to work on this.

[2016-03-03 22:42] kylepjohnson commented on #103
Hi @achaitanyasai I can't reply today, but will respond as soon as possible. Thank you for your careful work on this.

[2016-03-03 22:53] lukehollis commented on #130
Pat, that sounds great!  Would love the list of articles.  Here's what I've got so far: https://github.com/lukehollis/augustan-era-intertext/blob/master/intertext.py

This is somewhat how I imagine the text_reuse module might be used by a programmer interested in studying intertextuality between classical authors.  In the Intertext class, I load a bunch of documents from a few authors and then mak

[2016-03-04 05:22] jtauber commented on #62
This and a number of other issues (and features in CLTK) overlap with existing work of my own and so I'm wondering how best to combine our work. For example, https://github.com/jtauber/greek-accentuation has some letter class code (as well as syllabification and accentuation algorithms).

[2016-03-04 05:25] jtauber commented on #94
@coderbhupendra happy to help with any Unicode / Python / Greek questions too (and hoping to learn some Sanskrit along the way)

[2016-03-04 05:32] jtauber commented on #136
I've done a lot of work with Greek form generation (less so parsing / generation, although I'm working on it) and I'd like to make sure my work integrates with whatever is done here and can act as a co-mentor (at least for any Greek stuff) although I still need to work out exactly how CLTK and my projects will best play nicely without too much overlap.

[2016-03-04 07:59] nishnik commented on #47
I will like to work on this.
We have to scrape the data, Right ?

[2016-03-04 13:20] malithsen commented on #134
Hi @lukehollis, I noticed that you're in the process of converting XML files to JSON. Is the process being done through a script or is it manual?
Apart from the file conversion what else needs to be done in the backend?

[2016-03-04 14:04] diyclassics commented on #136
@jtauber—Your contributions here would be greatly appreciated! I'm currently writing up a proposal to work on (and extensively test) the CLTK Latin tokenizer this summer. I wonder if I should also include Greek on the first pass, since I imagine the logic (as given in the stub above) will be similar for both languages. Either way, I'll be sure to look more closely as the work that you have already

[2016-03-04 14:22] coderbhupendra commented on #136
I was also thinking to work on this and write  a proposal for this.

[2016-03-04 14:45] souravsingh commented on #47
@kylepjohnson I would like to help in this issue. We have to scrape the data from the site, am I right?

[2016-03-04 15:17] #114 closed

[2016-03-04 15:20] kylepjohnson commented on #114
Closed by #159

[2016-03-04 15:44] kylepjohnson commented on #47
Hi @souravsingh , yes that is right, write a scraper or, maybe easier, copy-paste the files.

For format, I would like to see 1 dir for each author and, within, 1 `.json` file for each text. Thus, the root directory would contain a dir `Bassus` and in it you'd have three files titled `Bassus de metris`, `[Bassus] de metris Horatii`, and `[Bassus] de pedibus et de compositionibus`.

For the json ob

[2016-03-04 15:59] kylepjohnson commented on #136
@coderbhupendra Send me an email about this. Since the current lemmatizer works OK, we will need Ancient Greek and Latin experts to make the final improvements.

[2016-03-04 16:04] kylepjohnson commented on #136
@jtauber I echo what @diyclassics says. I would like to know, probably through another ticket, of everything you've done which you think belongs in the CLTK.

From the beginning, I started this project primarily to compile all the good open source work distributed around the Internet. I would like to innovate only when necessary.

[2016-03-04 16:11] kylepjohnson opened #164 "Discuss James Tauber's code for incorporation"
Pinging @jtauber, following up from my comment in #136, to learn about what of his research the CLTK would benefit from (and get soundings from a few others).

James, I am certainly not asking that you personally merge this code yourself. I know you have done outstanding work, don't want to assume make assumptions that I know what all it is and what it does.

In places of functionality overlap, I

[2016-03-04 18:02] achaitanyasai commented on #103
In the <code>_get_epoh()</code> method, I over looked this case:
[code]
It should be changed, as a number(s) should start first and then B.C. follows.
Example : <code>1 B.C.</code>, <code>4/2 B.C.</code>

[2016-03-04 18:05] lukehollis commented on #134
Hi @malithsen, thanks for following up about the XML document conversion--this is essential to getting the reading environment off the ground.  The issue where I'm building information about what currently exists for the document conversion process is up here: https://github.com/cltk/cltk_api/issues/11  I'll follow up more there with details on the JSON data format.

[2016-03-04 18:18] souravsingh commented on #47
Thanks for the guidance @kylepjohnson . I will get on to it right now.

[2016-03-04 19:15] achaitanyasai commented on #103
Except <code>normalize_dates()</code>, other part was done :
https://github.com/cltk/cltk/compare/master...achaitanyasai:parseDateIndices

This is the idea I used for making splits in <code>_handle_splits()</code> method :
1) At first replace <code>'/'</code> if any, with <code>'-'</code> so that we can handle with a single case.
2) Then check if <code>'-'</code> is present in given string. If it'

[2016-03-04 19:17] kylepjohnson commented on #134
Hi @malithsen, about the XML parsing: I started this converting the XML to JSON and, I admit, didn't do a great job. For someone who knows how to use LXML or BeautifulSoup well, or is motivated to know them well, can do this job programmatically.

Here are the files I have converted successfully, in the `json` dir of each of the following:

* https://github.com/cltk/latin_text_perseus
* https://gi

[2016-03-04 20:04] souravsingh commented on #49
I think I am done with the compliation for the Greek texts in my repo [here.](https://github.com/souravsingh/greek_text_lacus_curtius)

[2016-03-04 20:20] coderbhupendra commented on #94
@kylepjohnson  now i will like to start this .
we can  strip acute using James code first we can remove acute and then remove punctuation afterward.Is this you meant by doing it gracefully.
[code]

[2016-03-04 20:24] coderbhupendra commented on #94
@kylepjohnson
in problem 1 : core, use normalize with the argument 'NFC'
and problem 2 "In tests, especially for assertEqual()" can you point out these piece of code .

[2016-03-04 20:35] kylepjohnson commented on #49
Well done! :thumbsup:

I'll get back to you as soon as possible about transferring and changing.

[2016-03-04 22:00] InsomniacSabbir opened #168 "Finalize addition of JNU Sanskrit corpus"
Hi,
I have added some text corpora to my repo. But to add them to cltk i need to transfer the ownership of that repo to cltk. Can anyone help me with that ?
Thank you.

[Here is my repo link:](http://github.com/insomniacsabbir/sanskrit_text_jnu)

[2016-03-04 22:13] Lera-Z commented on #141
Hello!
My name is Lera. I am a second year student in Natural language processing. I would like to know more about this project. What skills (except Python) are required?
Thanks in advance for your help!

Regards,
Lera

[2016-03-05 03:00] theaverageguy commented on #63
@kylepjohnson I would be waiting for an example to fix this today. :)
Till then I will push the texts for AntiqueLatin on my github account.

[2016-03-05 04:12] malithsen commented on #134
Hi @kylepjohnson, what are the issues with the current script? https://github.com/cltk/latin_text_perseus/blob/master/xml_to_json.py

[2016-03-05 08:05] souravsingh commented on #140
I am interested in working on this as a project. So If I am right, We need to make a script in Python which parses the XML format files from CBETA , right?

[2016-03-05 08:57] souravsingh commented on #47
@kylepjohnson I have compiled the data for a few authors in the repo [here.](https://github.com/souravsingh/latin_text_corpus_grammaticorum_latinorum)I will keep working on the compliation.

[2016-03-05 17:27] kylepjohnson commented on #168
Hi,

Please re-submit your PR. I made a mistake by accepting it without the corpus being in our repo. Let's try again, please.

1) Write an explanation in the README.md of your repo (<https://github.com/InsomniacSabbir/sanskrit_text_jnu>) of where this corpus is from and what it contains. Also *very important*: I must know the copyright of this (hopefully public domain).

2) Transfer ownership to

[2016-03-05 19:16] maobedkova commented on #108
Hello, my name is Maria. I am interested in this project. Could you describe the project in more details: What is the goal product you want to get? What kind of skills and experienced is needed? Do you have any warm-up tasks?

[2016-03-05 21:53] kylepjohnson commented on #168
Merging code with #171

@InsomniacSabbir I am re-opening this issue because I still need you to finish tasks 1) and 3), above.

[2016-03-05 22:22] kylepjohnson commented on #108
Hi @maobedkova! To start, read through what I give above, plus anything else you can find. Then email me about how you foresee implementing this, including hours estimates for the sub-tasks.

Email me at kyle@kyle-p-johnson.com to discuss further.

[2016-03-05 23:13] for15pounds commented on #137
Hello, I am interested in this project. What kind of programming is required ? Would knowing Python 2.7 be enough? It is also unclear what kind of interface you want to be coded.

[2016-03-05 23:20] kylepjohnson commented on #137
@for15pounds Python 2 is close enough. Please write to me (kyle@kyle-p-johnson.com) about your experience with these parsers, what ancient languages you know, and how you would plan on doing this.

[2016-03-05 23:34] kylepjohnson commented on #63
Hi, I just checked my latest run of the text in which I found this error, and it's not there anymore. This has been fixed, don't remember when or by whom :)

Example from Xenophon:
[code]

[2016-03-05 23:34] #63 closed

[2016-03-06 02:04] kylepjohnson commented on #62
@coderbhupendra here is your file, but reformatted. You did well.

https://gist.github.com/kylepjohnson/90a9230ab218f2b97e17

Next, all you need to do is add a new file called `alphabet.py` at [cltk/corpus/greek](https://github.com/cltk/cltk/tree/master/cltk/corpus/greek), then make a PR.

Do you need any more guidance on this. ([How to make a commit directions](https://github.com/cltk/cltk/wiki/E

[2016-03-06 04:35] coderbhupendra commented on #62
thanks for reformatting it , will push it now.

[2016-03-06 10:44] InsomniacSabbir commented on #168
Sir,
I have completed first task as you mentioned. I have added the source link
and asked them if there is any copyright issues. They said there is none. I
have added these things in the README.md. Now you said once step 1 and 2 is
done you will help me in step 3. Waiting for your instruction on this one.
Thank you.
Regards,
Md. Sabbir Alam

On Sun, Mar 6, 2016 at 3:54 AM, Kyle P. Johnson <notific

[2016-03-06 17:38] kylepjohnson commented on #168
Great, thanks for that.

For now, I think we can actually skip step 3. (The reason being is that I want to re-think testing the import of every new corpus, since there are so many new ones.)

S all we need you to do is (a) update your fork to the latest CLTK code (looking at <https://github.com/InsomniacSabbir/cltk> I see it is "13 commits behind cltk:master". Then (b) [make a pull request](https:

[2016-03-06 17:40] InsomniacSabbir commented on #168
Sir,
I am confused what the new pull request should be on ? I haven't
changed/added anything. I think only fetch the master branch will work.
Isn't it right ?
Thank you.
Regards,
Md. Sabbir Alam

On Sun, Mar 6, 2016 at 11:38 PM, Kyle P. Johnson <notifications@github.com>
wrote:

[2016-03-06 17:42] kylepjohnson commented on #168
Thank you, this task is closed. Well done.

[2016-03-06 17:42] #168 closed

[2016-03-06 17:48] InsomniacSabbir commented on #168
Thank you very much for your help sir.

[2016-03-06 17:50] InsomniacSabbir commented on #168
Sir,
As we have added some initial corpus of sanskrit in the cltk repo can we
start working on adding some functionality ? If so, please give me some
suggestion , like where shall i begin ? or what should i read before
starting to work. Thank you.
Regards,
Md. Sabbir Alam

On Sun, Mar 6, 2016 at 11:42 PM, Kyle P. Johnson <notifications@github.com>
wrote:

[2016-03-06 17:55] kylepjohnson commented on #49
@souravsingh We have permission, so go ahead with the transfer request (to Greek Members and Greek Admins) and add the corpus to the [Greek corpora.py](https://github.com/cltk/cltk/blob/master/cltk/corpus/greek/corpora.py):
[code]
Then make your pull request.

[2016-03-06 17:58] souravsingh commented on #49
Do we need to add a license for the corpora?

[2016-03-06 18:01] kylepjohnson opened #175 "Cleanup Sanskrit DCS corpus"
I'm following up from PR #173

Thank you for crawling the site, however the files in this are really messy and appear just be raw HTML. Users will have a very hard time pull plain text out of these.

A few questions:

1) Can we get Devangari output? This is an option when browsing ([see here](http://kjc-fs-cluster.kjc.uni-heidelberg.de/dcs/index.php?contents=help_center)).

2) Are these texts with

[2016-03-06 18:20] coderbhupendra commented on #94
@kylepjohnson  can you give some detail , whether that approach for striping acute is right and about other two problems.

[2016-03-06 18:32] InsomniacSabbir commented on #175
I think I can do this. Is that ok if i start ? @nishnik @kylepjohnson

[2016-03-06 18:33] kylepjohnson commented on #175
@InsomniacSabbir I'll hand the ticket to you, but please report back how it goes.

@nishnik Let's talk about other Sanskrit work you can contribute to.

[2016-03-06 19:15] nishnik commented on #144
This work is done by #152 and #174 .
Should be closed @kylepjohnson

[2016-03-06 19:31] nishnik commented on #128
@kylepjohnson This can be closed too. :)

[2016-03-07 01:38] TylerKirby commented on #164
I think the Greek syllabifier and accentuation methods from @jtauber greek-accentuation repo would be a great addition. I personally would use them to rework and simplify the Greek scanner class in the prosody module.

[2016-03-07 02:05] #49 closed

[2016-03-07 05:25] kylepjohnson opened #178 "Write Dockerfile for CLTK"
Docker is important technology and will be critical for those (such as @lukehollis's website which will be running CLTK corpora and processing).

To start with, it can be very simple, as [this one for the NLTK here](https://hub.docker.com/r/trackmaven/nltk/~/dockerfile/) (Note however that we need Python 3.5). Beyond this, we can think of auto-installing all available CLTK-hosted corpora (perhaps

[2016-03-07 06:09] achaitanyasai commented on #178
I would like to work on this.

[2016-03-07 07:18] kylepjohnson commented on #178
Go for it @achaitanyasai! Would you please report back within a week what you can accomplish? Thank you.

[2016-03-07 07:19] #128 closed

[2016-03-07 07:19] #144 closed

[2016-03-07 07:25] kylepjohnson commented on #94
@coderbhupendra The main point of this task isn't about stripping accents, but turning combining diacritics into precomposed characters. Please try the code I use in the above example.

The function we need will look something like:

[code]

Would you do us the favor of testing this out with some Devangari and putting it in a Gist? I'll do the same, soon, with Greek. Then we can talk about changes

[2016-03-07 07:25] #62 closed

[2016-03-07 07:28] achaitanyasai commented on #178
Yeah sure, thank you.

[2016-03-07 07:29] kylepjohnson commented on #130
Haven't followed all the details of this thread, but chiming in on one point:

I am not dogmatic about it, but I am hesitant to put visualization code in the core software. In the website, I'll leave it for Luke to judge. My only word of advice would be to try one's best to make this flexible for other corpora and languages.

[2016-03-07 11:41] coderbhupendra commented on #94
@kylepjohnson  now i understood the benefit of normalization.Hope its correct.below i hae pointed out the changes```

https://gist.github.com/coderbhupendra/a5016a8e52b480c14fa1#file-gistfile1-txt-L76
https://gist.github.com/coderbhupendra/a5016a8e52b480c14fa1#file-gistfile1-txt-L90
https://gist.github.com/coderbhupendra/a5016a8e52b480c14fa1#file-gistfile1-txt-L98
[code]

[2016-03-07 12:00] coderbhupendra commented on #94
@ i think normalization is not working in sanskrit.What you wanted to do is to remove all punctuation and -\n|«|»|<|>|\.\.\.|‘|’|_|\{.+?\}|\(.+?\)|[a-zA-Z0-9] from text but while striping you didn't want to strip/separate the symbols(i.e. diacritics) from them alphabets.

but in sanskrit after normalisalion is not helping.
s is an sanskrit stentence
[code]

[2016-03-07 12:45] jtauber commented on #164
Possible things for consideration... Most of these could continue to be separate but just used by CLTK and made easier to do so, but some could be merged in.

* my beta2unicode in my nascent greek-utils (could be abandoned in favour of what CLTK already has)
* greek-accentuation
* my greek-inflection library (I have a completely new version in the works which I'll release soon which can generate a

[2016-03-07 12:58] jtauber commented on #94
Unicode Normalization doesn't strip anything. Normalization just makes sure that if there is more than one way to express something in Unicode, a consistent choice is made.

[2016-03-07 13:16] coderbhupendra commented on #94
@jtauber  by stripping i meant this  [ch for ch in normalize('NFKC',s)] , you can see results for
[ch for ch in normalize('NFKC',s)] and [ch for ch in s] are same  in case of sanskrit .

[2016-03-07 13:49] diyclassics commented on #164
@jtauber—This sounds great. Thank you for your work on these areas as well as your willingness to contribute to CLTK. One idea—it probably makes sense for me to review/adapt some of the Greek-focused code in the projects you’ve mentioned as I move ahead with further improvements on the Latin tokenizer/lemmatizer/pos-tagger/etc. Again thanks!

[2016-03-07 13:59] souravsingh commented on #47
@kylepjohnson I have made compilations of the data in the repo [here](https://github.com/souravsingh/latin_text_corpus_grammaticorum_latinorum).Can you check if they are proper?

[2016-03-07 14:41] kylepjohnson commented on #94
@coderbhupendra It's helpful to know that `normalize()` doesn't handle Sanskrit well.

Unless there are objections, I'm going to assign this to myself and pass at least some Greek through it in the core.

At some point, sometime might want to look at [what this library, Indic NLP, does](https://github.com/anoopkunchukuttan/indic_nlp_library/blob/master/src/indicnlp/normalize/indic_normalize.py) (n

[2016-03-07 14:50] kylepjohnson commented on #164
All this need not be for a GSoC project, however parts of these might fall under some of them (such as the MorphGNT for the lemmatizer project). @diyclassics since you know our lemmatizers better than anyone, this could be a project for you to follow up on, including whether and how to integrate MorphGNT (or other of James's great work) into the CLTK.

If a project shouldn't become part of CLTK co

[2016-03-07 14:53] DrBronzeAge commented on #130
Sorry I dropped out of sight there for the weekend.  Going back up the chain:
@kylepjohnson  that (https://github.com/DrBronzeAge/LatinIntertextFinder_Alpha) is the repo where I dumped this stuff, but it really was just a code dump. More notebook than module. That project went in multiple directions, and the intertext finder was only one part of it. I'm still cleaning it up and refactoring it to b

[2016-03-07 15:04] kylepjohnson commented on #47
@souravsingh Thanks this is very close. Two things:

1) I tried a few of these in the JSON validator and they returned invalid due to "Invalid characters found". Please find what the invalid characters are. Let me know if you need help with Python's `json` lib.

2) The sub-titles have snuck into the files. For example, [in this Asper file](https://github.com/souravsingh/latin_text_corpus_grammatic

[2016-03-07 15:31] #103 closed

[2016-03-07 15:35] kylepjohnson commented on #95
Closing with PR #166

[2016-03-07 15:35] #95 closed

[2016-03-07 15:45] achaitanyasai opened #179 "Distribution Failure"
In the newly cloned repo, when I run nose tests, I am getting an error :
[code]

Is there some thing wrong ?

[2016-03-07 15:55] brerfox commented on #108
Hello,
My name is David. I would like to know about how much knowledge of the classical languages do you require? I find this topic interesting and would like to know which languages already have a corpus (or are a work in progress) and whether the WMD algorithm needs too be applied for all the languages ie. including those like Sanskrit?

[2016-03-07 16:38] jtauber commented on #94
@coderbhupendra I'm still not sure it's doing anything *wrong* for Sanskrit. The fact Greek has precomposed characters for *most* diacritic combinations (but not all, see http://jktauber.com/2016/02/09/updated-solution-polytonic-greek-unicodes-problems/ ) is actually for political rather than technical reasons and if the Unicode Technical Committee were adding Greek now they assure me Greek would

[2016-03-07 16:46] kylepjohnson commented on #94
Thanks, James, for your insights. You are surely correct, I see, when you
put it this way.

If the combined characters are merely political, and not how other
languages are handled, what is you opinion of how polytonal Greek ought to
be handled? Is there a benefit to the combined?

On Monday, March 7, 2016, James Tauber <notifications@github.com> wrote:

--
Kyle P. Johnson, Ph.D.

Natural language

[2016-03-07 16:49] kylepjohnson commented on #179
Hi, to run all of the tests, CLTK will download a bunch of corpora for you.
You probably don't need to run all the tests, but just for the modules you
need, eg, 'python cltk/tests/test_prosody.py'.

Does this help?

On Monday, March 7, 2016, Chaitanya Sai Alaparthi <notifications@github.com>
wrote:

--
Kyle P. Johnson, Ph.D.

Natural language processing, data science, architecture
<https://kyle-p-

[2016-03-07 16:56] souravsingh commented on #47
Thanks for the reviewing the work @kylepjohnson. As far as I know, I think newlines are considered invalid in JSON format.

[2016-03-07 16:56] jtauber commented on #94
It's still useful to normalize to *something* just because otherwise you can't test equality properly.

To be honest, I've only recently been told by members of the Unicode Technical Committee why new precomposed characters will not be introduced to handle length marking + other diacritics, I'm still trying to work things out.

Keeping things NFC or NFKC certainly makes them work better in Python3

[2016-03-07 16:58] jtauber commented on #105
[ASIDE: Ooh, the Frankfurt Latin Lexicon looks similar to what I'm trying to build for Greek.]

[2016-03-07 17:01] kylepjohnson commented on #47
I think you can change the literal new lines to '\\n'. See here:
http://stackoverflow.com/a/42073

Get this fixed and the sub-headings removed and we'll be done with this! :D

On Monday, March 7, 2016, Sourav Singh <notifications@github.com> wrote:

--
Kyle P. Johnson, Ph.D.

Natural language processing, data science, architecture
<https://kyle-p-johnson.com>kyle@kyle-p-johnson.com |
https://kyle-

[2016-03-07 17:08] jtauber commented on #104
I'd actually be interested in attempting to reproduce some of their results for Greek.

[2016-03-07 17:11] achaitanyasai commented on #179
It seems like I need to install cltk. Actually this worked :
[code]

[2016-03-07 17:21] InsomniacSabbir commented on #175
Sir,
I have sent the pull request. Please review.
Thank you.

[2016-03-07 17:28] coderbhupendra commented on #94
@kylepjohnson if i understood the problem of  "combining diacritics not equaling precomposed characters" , then can you tell me whether the changes which i did in my gist are correct or not.
https://gist.github.com/coderbhupendra/a5016a8e52b480c14fa1

and @jtauber according to my undersatnding diacritics in simple words  are nothing but some special symbols which are added to Geek 24 alphabets .Li

[2016-03-07 17:53] kylepjohnson commented on #179
Ok, glad that worked for you.

Tip: If you use a virtualenv, typically you don't need to use sudo.

[2016-03-07 17:53] #179 closed

[2016-03-07 18:13] achaitanyasai commented on #179
Oh yes, thank you.

[2016-03-07 18:16] kylepjohnson commented on #175
Merged at: <https://github.com/cltk/Sanskrit_Corpus_DCS/pull/1>.

@InsomniacSabbir Would you please send a PR to add this corpus? Note that I have renamed the repo to `sanskrit_text_dcs`.

[2016-03-07 18:26] InsomniacSabbir commented on #175
Sir,
Sent a pull request. please review.
Thank you.

On Tue, Mar 8, 2016 at 12:16 AM, Kyle P. Johnson <notifications@github.com>
wrote:

[2016-03-07 19:30] kylepjohnson commented on #104
@jtauber I would love to see this done on Greek (I bet it'll do even better). We'll be very interested here to learn the results.

[2016-03-07 19:50] jtauber commented on #104
Might make sense to prototype on GNT as I have a fully lemmatized / morphologically tagged text. I'm not going to have the focus to even work on that on my own, though.

[2016-03-07 23:39] lukehollis commented on #130
@DrBronzeAge, wow, that looks excellent! I'll check out the data format included on that example and get some example data looking like that. Do you have any authors you're interested in that I should include? Our text_reuse module is running much faster (~300x) thanks to @ferthalangur, so we can start adding authors iteratively here without too much trouble.

[2016-03-08 00:13] kylepjohnson commented on #130
@ferthalangur 300x! :open_mouth:

[2016-03-08 02:47] DrBronzeAge commented on #130
Sorry I dropped out of sight there for the weekend.  Going back up the chain:
@kylepjohnson  that (https://github.com/DrBronzeAge/LatinIntertextFinder_Alpha) is the repo where I dumped this stuff, but it really was just a code dump. More notebook than module. That project went in multiple directions, and the intertext finder was only one part of it. I'm still cleaning it up and refactoring it to b

[2016-03-08 03:03] lukehollis commented on #130
Should've been 300%--my bad!

[2016-03-08 05:01] kylepjohnson commented on #94
@coderbhupendra Yes, for our purposes here, accents == polytonic diacritics == matras. For your commit, this is close, but I don't want you to implement it yet on any texts; I'll do this one-by-one. Thus, make it like this:

[code]

Also remember to import at top of file and add two tests, one for compatibility True/False, in `cltk/tests/test_corpus.py`. Use the 'café' example above.

[2016-03-08 05:03] kylepjohnson commented on #94
@jtauber I see what you're saying and this is making my head spin, too.

I agree that we're best off normalizing to something … will want to hear more what you come to think of this all with Python 3.

[2016-03-08 05:05] kylepjohnson commented on #94
@coderbhupendra If you accept the team Core Member team request, we can assign this ticket to you.

[2016-03-08 05:28] kylepjohnson commented on #105
@souravsingh To be honest, I don't know how to scrape this easily.

I have written the project leads in Frankfurt about getting a db export. Let's wait and see what they say.

[2016-03-08 06:41] kylepjohnson commented on #141
Hi @Lera-Z, Email me and I'll let you know more about it. Part of this involves rewriting the FlexiDate library to work with Python 3.

Some of us see this as a smaller part of a larger project.

[2016-03-08 06:45] kylepjohnson commented on #134
@malithsen This script works, however it takes hard-to-parse XML and makes it hard-to-parse JSON! See what Luke posted here <https://github.com/cltk/cltk_api/wiki/JSON-data-format-specifications> and here <https://github.com/cltk/cltk_api/issues/11#issuecomment-193001905>.

Please email me and Luke directly about this or other ideas you have for GSoC.

[2016-03-08 06:52] kylepjohnson commented on #108
@brerfox please email me directly and we can discuss the program more.

[2016-03-08 08:11] coderbhupendra commented on #94
Ok i will accept it .You send it.

[2016-03-08 11:13] InsomniacSabbir commented on #175
I think this issue should be closed. Right ? @kylepjohnson

[2016-03-08 11:31] ferthalangur commented on #130
I thought 300x would look a lot better on my annual performance review. :)

[2016-03-08 17:32] #175 closed

[2016-03-08 18:14] aakarshsingh commented on #121
This is already done by @theaverageguy right?

[2016-03-08 18:26] aakarshsingh commented on #105
@kylepjohnson What is our end game with the DB of Latin texts?

Do we get all the texts which we get by following the URL in all the listings here on this page
http://www.comphistsem.org/texts0.html

or are we looking to gather something else?

[2016-03-08 18:36] kylepjohnson commented on #121
@aakarshsingh no, this hasn't been done yet. @theaverageguy referenced this issue by accident.

Do you want to do this one, @aakarshsingh ?

[2016-03-08 19:03] aakarshsingh commented on #121
Sure, I will get down to it

I need to write a descriptive README, transfer ownership to cltk and add tests to check for its import

Other than obviously getting the repo up. Anything I am missing @kylepjohnson ?

[2016-03-08 19:28] kylepjohnson commented on #121
Hi, a few things:

1) call the repo `latin_text_antique_digiliblt`

2) Follow the directions here to add the library: <https://github.com/cltk/cltk/wiki/How-to-add-a-corpus-to-the-CLTK>. In your case, the only thing to change is to add the info to: <https://github.com/cltk/cltk/blob/master/cltk/corpus/latin/corpora.py>.

[2016-03-08 19:32] kylepjohnson commented on #94
Thank you @coderbhupendra, I have merged PR #182.

I'll close this ticket for now, will open when I implement it in places, such as for Greek TLG output and tests.

[2016-03-08 19:32] #94 closed

[2016-03-08 19:34] coderbhupendra commented on #94
ok @kylepjohnson and thanks for your help too.

[2016-03-08 20:07] achaitanyasai commented on #178
Hello sir, is this fine : https://github.com/achaitanyasai/cltk_docker,
I have created a new repo for it and things to do :

- For now, <code>install.py</code> handles only few corpora. So add more corpora .
- Refactor if any.
- Update README.md

Any suggestions ?

[2016-03-08 20:09] aakarshsingh commented on #121
@kylepjohnson I am ready with everything, can you give me temporary privileges so that I can transfer the repo to cltk

For now I see:

[2016-03-08 20:17] InsomniacSabbir opened #185 "greek_text_lacus_curtius need formating ?"
@kylepjohnson  Isn't the copus in [greek_text_lacus_curtius](https://github.com/cltk/greek_text_lacus_curtius) should be only plain text ? I am referring the issue [#175](https://github.com/cltk/cltk/issues/175) (Though the issue is already closed for sanskrit_text_dcs).
Thank you.

[2016-03-08 20:44] kylepjohnson commented on #178
Thank you for this, @achaitanyasai! Looks good to me, however I'm not sure how to test it. Would you posting here the steps necessary to run your code?

[2016-03-09 04:36] achaitanyasai commented on #178
I will post them soon.

[2016-03-09 10:18] gree-gorey commented on #134
Hi guys,
my suggestion is to use XSLT transformations for the raw xml files to make them easier to convert.
My [sample XSLT script](https://github.com/gree-gorey/latin_text_perseus/blob/master/xslt/simplify.xsl) allowed to convert [one of raw xml files](https://github.com/gree-gorey/latin_text_perseus/blob/master/xslt/tac.ag_lat.xml) into [pretty xml one](https://github.com/gree-gorey/latin_text_p

[2016-03-09 10:59] souravsingh commented on #185
I don't think we need to format the Lacus Curtius corpus

[2016-03-09 14:48] kylepjohnson commented on #105
@aakarshsingh Yes we want these texts. Think you can obtain them?

[2016-03-09 14:48] kylepjohnson commented on #105
@aakarshsingh Yes we want the texts that you link to. Think you can get them?

[2016-03-09 14:54] kylepjohnson commented on #134
Pinging @gree-gorey Did you delete your last comment from here about your XSLT transformations? They're very promising. Please open a new Issue and we can talk about it!

[2016-03-09 14:56] gree-gorey commented on #134
@kylepjohnson yeah, I relocated it [here](https://github.com/cltk/cltk_api/issues/11)

[2016-03-09 15:02] kylepjohnson commented on #185
@InsomniacSabbir Yes, both the Lacus Curtius corpora should be plain text, or at least we should offer a plaintext version of them (within the same repo). It's just that nobody has volunteered yet. Do you want to?

[2016-03-09 15:27] souravsingh commented on #185
I would like to work on the issue

[2016-03-09 15:34] kylepjohnson commented on #185
@souravsingh I have assigned the task to you. Please check back within an week and let us all know how it is going. Thank you!

[2016-03-09 18:01] achaitanyasai commented on #178
1) I have added the instructions on how build and run, just follow the [README](https://github.com/achaitanyasai/cltk_docker/blob/master/README.md)

2) And I also refactored install.py and added current status. I or atleast some one should add the remaining corpora to that file. For now it downloads only few corpora.

3) Also should I create a new repo in cltk/ for this Dockerfile.

[2016-03-10 00:38] kylepjohnson commented on #178
@achaitanyasai This is a terrific start, way more than I expected! Would you please transfer ownership of this to the `cltk`? I will then make an admin Team dedicated to this repo and put you in it (if you like).

About posting to Docker hub -- I have an account for the CLTK, but its temporarily screwed up. (I emailed Docker's support and they say it's because they're merging Docker Hub and Cloud.

[2016-03-10 00:40] kylepjohnson commented on #178
Also @achaitanyasai, about the trailing comma: You're right that it isn't necessary, however nice to have for lists that you anticipate extending, as you will have one less line of a diff file to compare.

[2016-03-10 02:08] achaitanyasai commented on #178
I will transfer the ownership as soon as possible, thank you.

[2016-03-10 04:40] achaitanyasai commented on #178
Done transferring the ownership and yes, I am interested in joining the admin team. Thank you.

[2016-03-10 08:47] aakarshsingh commented on #47
This is an very interesting Scrapping opportunity. I know it wouldn't be that easy, given you need to omit some things and couple of other things. Still, I'd like to give it a go, if I make some headway, I will report back.

[2016-03-10 10:17] souravsingh commented on #47
@aakarshsingh I am already halfway through finishing the corpus.

[2016-03-10 12:08] aakarshsingh commented on #47
@souravsingh I am sure copy-pasting it manually has been a pain, and also the sub-texts which @kylepjohnson pointed at. I am working on a script which will automate the whole process and make all our jobs easier.

[2016-03-10 15:59] souravsingh commented on #47
I have finished the compliation for the texts,I have to do a few updates and it will be ready for pushing to CLTK. @kylepjohnson What do we do for the texts listed as ``anonymes``?

[2016-03-10 17:29] cyh24 commented on #140
## Who am I?

My name is YeheCai, I am an Master Degree Student from China.
I have over 2 years of experience in **machine learning** (both programming and mathematical standpoint), **Python** and C++. My github page is [here](https://github.com/cyh24).

## Why I wanna take part in this project?

I would like to express my interest in working on the project " **Rewrite Ruby text reader for CBETA C

[2016-03-10 19:35] souravsingh commented on #185
@InsomniacSabbir Never Mind, You have only done the Lacus Curtius Greek texts right? I will work on the Latin texts.

[2016-03-10 19:36] InsomniacSabbir commented on #185
:( :( @souravsingh afraid i have done both. that was stupid of me.

[2016-03-10 19:39] souravsingh commented on #185
@InsomniacSabbir Alright, Send the PR for the Latin texts. I will work on Greek texts(since I have direct push access to the repo.)

[2016-03-10 20:52] aakarshsingh commented on #47
Great work, I'd still work on my script, it is coming alone pretty well

[2016-03-11 01:13] kylepjohnson commented on #185
@InsomniacSabbir, please be mindful of issue assignments in the future.

From a quick scan, I see that some files are empty, like this one: https://github.com/InsomniacSabbir/greek_text_lacus_curtius/blob/master/plain/Diodorus-Siculus/35.txt

and this: https://github.com/InsomniacSabbir/greek_text_lacus_curtius/blob/master/plain/Oppian/Cynegetica/2*.txt

Would you go back and check that we didn't

[2016-03-11 01:16] kylepjohnson commented on #185
I got your PRs, have merged. Thank you @souravsingh for checking.

[2016-03-11 01:27] kylepjohnson opened #190 "Cross-post from latin_text_antique_digiliblt: Alternate formats for XML"
Real ticket is here, but posting here so everyone knows: https://github.com/cltk/latin_text_antique_digiliblt/issues/1

[2016-03-11 01:32] kylepjohnson commented on #47
@souravsingh For anonymous works, call it `"author": "anonymous"`.

I'll look out for transfer to CLTK. Make sure to add it only to the following teams: Greek Mentors, Greek Admins, Latin Mentors, and Latin Admins.

[2016-03-11 01:38] kylepjohnson commented on #178
I've made a new team, Docker Admins, and you have write access to the repo you made.

https://github.com/orgs/cltk/teams/docker-admins

I'll add your files to https://hub.docker.com/u/cltk/ as soon as I'm able.

Thanks again. @lukehollis or I will be in touch when we the website is ready.

[2016-03-11 01:38] #178 closed

[2016-03-11 04:28] achaitanyasai commented on #178
Thank you sir.

[2016-03-11 09:28] Ayushi113 commented on #136
I am a student of Computational Linguistics, and have recently moved towards Natural Language Processing(one semester). I code primarily in Python, and have done courses in Syntax, semantics and morphology during my Masters' in Linguistics. I have a rudimentary project on lemmatization of a low-resource language in Prolog. Would you be able to furnish a sample dataset that allows me to study the i

[2016-03-11 17:44] kylepjohnson commented on #136
Hi @Ayushi113 this task needs deep knowledge of Greek and Latin. However if this kind of work interests you, email me about writing lemmatizers or stemmers for other classical languages.

[2016-03-12 10:43] PengFoo commented on #140
i think it's a job for me!
i'm a native chinese speaker and i major in NLP/ML.i write python codes and i am learning ruby now!

[2016-03-12 13:43] InsomniacSabbir commented on #185
I think we should close this issue, right ?

[2016-03-12 14:07] manu-chroma commented on #105
@kylepjohnson this is a one time scrape or you wish to scrape regularly from the mentioned link ?

[2016-03-12 16:22] aakarshsingh commented on #105
@kylepjohnson I will start working on a script and let you know if I make any headway :)

[2016-03-12 23:38] for15pounds commented on #137
@kylepjohnson Hello, I sent you a letter and still didn't have a response. Please, contact me, even if your answer is negative.

[2016-03-13 06:29] #185 closed

[2016-03-13 06:41] kylepjohnson commented on #140
@PengFoo Please email me about this task and your ML work and we can talk further.

[2016-03-13 06:43] kylepjohnson commented on #105
@aakarshsingh I have assigned to you. @manu-chroma This is a one-time scrape. But please don't worry about this one for now.

[2016-03-13 22:20] kylepjohnson opened #194 "Deploy CLTK container on Docker Hub"
@achaitanyasai I have made a CLTK account on Docker Hub: https://hub.docker.com/u/cltk/dashboard

Please sign up and I will add make you an admin.

From there, I will leave it to you to add the repo you made. Please let me know if you need any help on this ticket.

Thank you!

[2016-03-14 01:12] achaitanyasai commented on #194
Thank you sir, I will start working on this.

[2016-03-14 02:59] kylepjohnson commented on #194
Ping me here when you have a Docker account and your username. I'll add you to the Docker group.

[2016-03-14 03:26] achaitanyasai commented on #194
Yeah sure, thanks.

[2016-03-14 05:28] kylepjohnson commented on #141
Two things: I'm removing this project from the GSoC list, as I don't believe it constitutes 3 months of work. It could still be a piece of something larger.

Also, [I have written the maintainers of FlexiDate](https://github.com/okfn/flexidate/issues/1), asking if they have preferences about how we port it to Python 3. If they have lost interest, it might be right for the CLTK to take it over.

[2016-03-14 07:42] nelson-liu opened #196 "cltk data directory location"
Hi,
CLTK by default places corpuses that are cloned (e.g. when running tests) in ~/cltk_data. I personally don't like putting datafiles in my home directory, and would prefer to move it somewhere else. Perhaps we could integrate an option for changing where CLTK puts corpuses by default?

[2016-03-14 08:01] nelson-liu opened #197 "requirements / dev-requirements versions and other questions"
I noticed that several of the versions of python packages used by cltk conflict in the sense that the dependencies specify different dependencies. For example:
`requests` is pinned to version 2.9.1 in `dev-requirements.txt`
however, installing gensim REMOVES 2.9.1 and installs 2.8.1.
I feel like there's some elegant way to resolve these sort of conflicts, but I'm not quite sure...

On the topic of

[2016-03-14 08:16] nelson-liu opened #198 "Testing contributor functions hangs"
The tests for contributors take an excessively long time on my machine...upwards of five minutes for the single test case `test_contribs_make_authors_dict`. Is it really necessary to programmatically generate the core contributors / have it as a test? I like the functionality, I'm just not sure it will scale as the project increases in size / if its worth having a long-running test for.

[2016-03-14 10:37] achaitanyasai commented on #194
@kylepjohnson I have created my docker account, this is my username : <strong>achaitanyasai</strong>

[2016-03-14 12:46] nishnik commented on #135
@kylepjohnson
Could you please look into [this](https://github.com/nishnik/moses_parser), and tell me your views whether it is feasible to work so.
If plausible, I would like to work on this.

[2016-03-14 16:26] kylepjohnson commented on #141
I have renamed this ticket, in light of my communication with @rgrp of the Open Knowledge Foundation.

https://github.com/okfn/flexidate/issues/1

Rufus says that he will accept PRs and is open to adding one of us as long-term maintainers.

For this task, I recommend we add a Travis CI as a build server, too.

[2016-03-14 16:32] nishnik commented on #141
Can I take this ?

[2016-03-14 16:37] kylepjohnson commented on #141
Sure @nishnik, thank you. This should be a rewarding task. Here are a few places to start to learn how to port software from 2 to 3:

https://docs.python.org/3/howto/pyporting.html

https://pypi.python.org/pypi/six

I would recommend not using 6 if you don't have to, but if so, then let it make your work easier. Also, be sure that you are targeting v. 2.7.11 and 3.5.1. (As for support for 2.6, it

[2016-03-14 17:43] kylepjohnson commented on #194
@achaitanyasai I have added you to the 'admin' group for the CLTK organization on Docker. The core's repo is at: https://hub.docker.com/r/cltk/cltk/

I will leave it to you to figure out what to do from here :)

[2016-03-14 18:00] achaitanyasai commented on #194
Thank you sir :) I will proceed further and inform you the progress.

[2016-03-14 18:01] souravsingh commented on #47
@kylepjohnson I have transferred the repo to CLTK.

[2016-03-14 18:06] kylepjohnson commented on #196
Hi Nelson, this is a good topic to bring up. For the sake of simplicity, I decided upon the home dir when started development.

If you want to take this on, I encourage you to look into all the places in the codebase you find `cltk_data`. Then, you'll need to propose a manner that users can customize the location. To be honest, I don't want to clutter up the code too much to make this option happe

[2016-03-14 18:23] kylepjohnson commented on #47
Good work. Now you just need to add this repo to `cltk/corpus/latin/corpora.py` and make a PR.

[2016-03-14 19:38] nishnik commented on #141
@kylepjohnson
Till then should we use this #191 ?

[2016-03-14 19:40] kylepjohnson commented on #141
On #191: I still need to review and merge this. However it's a very separate issue, as FlexiDate makes us a DateTime object which handles old dates.

[2016-03-14 19:46] nishnik commented on #141
Okay!
And could you please look into #135 . I have done some work regarding it, hope you like it.

[2016-03-15 00:01] nathans commented on #63
I am doing some example work from the CATSS betacode LXX, and am still seeing the problem:
e.g. Χαλδαι+κὴν instead of Χαλδαϊκὴν in Daniel OG 1:4. There's doesn't appear to be an entry for a bare iota+diaeresis. I'll prepare a PR.

[2016-03-15 00:05] kylepjohnson commented on #63
Very much appreciated, @nathans.

[2016-03-15 04:15] nathans commented on #164
+1 for including @jtauber 's beta2unicode, or at least explore its design from a performance standpoint. I benchmarked the conversion of the CATSS LXX using both James' beta2unicode and the converter in cltk - here are the results:

beta2unicode in greek-utils:
real	0m8.414s
user	0m7.980s
sys	0m0.436s

beta_to_unicode in cltk:
real	47m27.646s
user	47m9.196s
sys	0m19.448s

That's more than two orde

[2016-03-15 04:19] jtauber commented on #164
Are the regexes in CLTK precompiled? If not, that's worth doing and may gain back those two orders of magnitude.

[2016-03-15 04:42] kylepjohnson commented on #164
Ouch! Those are some brutal comparisons. No, they're not pre-compiled. I'm not interested in this, as readability is more important to me. Code: [/cltk/corpus/greek/beta_to_unicode.py](https://github.com/cltk/cltk/blob/master/cltk/corpus/greek/beta_to_unicode.py).

I would be fine adding James's code to the CLTK for now, allow users choice, then drop mine once we know that it'll work for all use c

[2016-03-15 07:38] achaitanyasai opened #201 "nosetests failing when running complete tests"
Recently when I was browsing the code, I found this : <a href="https://github.com/cltk/cltk/blob/master/cltk/tests/test_tokenize.py#L44">/cltk/tests/test_tokenize.py#L44</a>

I enabled it and tested locally. After a bit of testing, I found this weird thing:

- When I try to test it using single test:
[code]
Every thing went well that is all tests passed.
- But when I try to run all tests:
[code]
T

[2016-03-15 13:27] nathans commented on #164
I just realized I didn't do a fair apples-to-apples comparison. D'oh! I'll do a better run later and report back.

[2016-03-15 13:45] jtauber commented on #164
Precompiling the regexes won't reduce readability. You just build a compiled version of your regex maps at module level and use the compiled versions in the inner loop so you're not compiling regexes over and over again.

In other words:

[code]

can be made much faster if modified as:

[code]

Note: I was only guessing that's why it's slower. A regex in C *should* be faster than a Trie in Python.

[2016-03-15 13:46] jtauber commented on #164
Of course, my decade-plus-old betacode converter is probably (hopefully?) the least interesting thing to consider :-)

[2016-03-15 15:23] kylepjohnson commented on #164
@jtauber Thanks for the correction. I'll look into this when I have some time. Until then, I am 100% open to corrections to what I did or a new module added.

[2016-03-15 15:25] kylepjohnson commented on #201
Hi, thanks for asking.

Your general `nosetests` command is failing because, for some reason, it's not downloading all the corpora you need. This is actually somewhat common when testing locally due to connection speeds, etc.

If you can test your own code with `nosetests cltk/tests/test_tokenize.py` and everything passes, that's good enough for me. The build server will check everything.

[2016-03-15 15:28] #194 closed

[2016-03-15 15:31] kylepjohnson opened #202 "Test Docker container on Travis CI"
Now that we have closed #194, I would like to auto-test our container on Travis CI.

@achaitanyasai I have assigned you, but let me know if you're not interested.

I think this doc should be enough to get you started:

https://docs.travis-ci.com/user/docker/

If you need me to set things up on Travis CI, let me know and I'll do it

[2016-03-15 15:36] achaitanyasai commented on #202
Yeah I am interested and actually I have been working on this I mean travis ci for cltk core from a couple of days :) I will ask if I have any doubts or need any help Thank you.

[2016-03-15 15:42] achaitanyasai commented on #201
<blockquote>
The build server will check everything.
</blockquote>
The build server in the sense travis-ci ? if that's the case, the build server too fails. And in fact the situation is same. I mean complete tests fails but the individual test passes. I should some how find the problem.

[2016-03-15 16:46] kylepjohnson commented on #201
What modules have you changed? You should only have to check the code and tests
which you changed.

On Tuesday, March 15, 2016, Chaitanya Sai Alaparthi <
notifications@github.com> wrote:

--
Kyle P. Johnson, Ph.D.

Natural language processing, data science, architecture
<https://kyle-p-johnson.com>kyle@kyle-p-johnson.com |
https://kyle-p-johnson.com | https://github.com/kylepjohnson

Classical Lan

[2016-03-15 16:49] achaitanyasai commented on #201
I have changed nothing, but just enabled <code>test_sentence_tokenizer_greek()</code>

[2016-03-15 19:55] kylepjohnson commented on #201
Hi, I commented this out because there is a problem with it. You should leave it commented.

The solution has to do with normalizing the text, I or another will experiment with sometime soon.

[2016-03-15 19:56] kylepjohnson commented on #201
You're right to want to fix this, but we need someone who knows Greek and Unicode well to fix it (though easy otherwise). Thanks, reopen this if you need.

[2016-03-15 19:56] #201 closed

[2016-03-15 20:36] kylepjohnson commented on #197
@nelson-liu Thanks again for your work in this area. You are more up to speed with the best practices of large projects. The CLTK is growing fast, so this is important and appreciated!

The pinning I did in haste. Honestly, I'm not a tremendous fan of it in the first place, but wanted to do so because, well, everyone says you should (for example, the [Python Elements of Style](https://github.com/a

[2016-03-15 20:36] #197 closed

[2016-03-15 20:58] kylepjohnson commented on #198
Hi Nelson, The test take a while, but not that long for me. Part of the issue is that the cltk downloads missing corpora (silently, which is a problem) into `cltk_data`, if they are not present.

I'll run this test at home and report back here how long it takes me.

[2016-03-16 00:59] achaitanyasai commented on #201
Thank you, I don't feel to reopen this again.
And even though I don't know Greek, I will also try to experiment this some time later
and find the problem as much as I can.

[2016-03-16 07:01] hemantpugaliya commented on #196
Hi,
I have an idea  to solve this problem. We can have config file in the home directory : ~/.cltk_config (a hidden file) which is made during the initialization of library . This file can be used to store the path (or any other configurations in the future) . For the data directory, we can have a variable DATA_DIR which is initialized to ~/cltk_data by default.
Next we provide a utility function

[2016-03-16 19:10] achaitanyasai commented on #202
Hello sir, I have written some tests(not complete) and integrated with travis-ci (for now I have integrated my forked repo for testing purposes).

- Repo : <a href="https://github.com/achaitanyasai/cltk_docker">achaitanyasai/cltk_docker</a>
- Corresponding <code>.travis.yml</code> : <a href="https://github.com/achaitanyasai/cltk_docker/blob/master/.travis.yml">.travis.yml</a>
- Corresponding tests

[2016-03-17 05:45] hemantpugaliya commented on #196
@kylepjohnson @nelson-liu How is the idea ??
Can i work on it ??

[2016-03-17 09:06] Akirato commented on #141
@kylepjohnson , I made some changes to flexidate's source code and all its tests work for Python3. Here's the repo: https://github.com/Akirato/flexidate_python3
I think this should solve the issue.

[2016-03-17 17:29] achaitanyasai commented on #202
I think now this can be closed!

[2016-03-17 23:05] kylepjohnson commented on #141
@Akirato Good work. I don't have time to check this now, so I recommend you do a fork and PR to the maintainers of the original package.

[2016-03-17 23:07] kylepjohnson commented on #141
@Akirato It looks like you've done good work but this ticket wasn't assigned to you, but @nishnik. I'm sorry for the duplication of effort.

If you still want to contribute on this one, I recommend you reach out to the owner of FlexiDate and ask if there is anything else he'd like to add, such as improved documentation and an open source license (!).

[2016-03-18 05:05] Akirato commented on #141
@kylepjohnson @nishnik , I am sorry I didn't check the assignee. I thought it was new, so just went ahead with it. Really sorry.

[2016-03-18 05:07] nelson-liu commented on #196
hmm I know of several other libraries that have functionality like this, but I haven't had the time to look into them. Your idea seems sound, but please take a look at what others are doing first and see if you can compare/contrast the approaches. Feel free to work on this if you want.

[2016-03-18 09:54] evgeniiaraz commented on #136
Hello!
i am interested in this project and I learnt ancient Greek and Latin for more than 5 years at school, so, I am good at grammar but might have forgotten some vocabulary. I am thinking to write a proposal on this project.

[2016-03-18 13:11] nishnik commented on #141
@akirato
This is a nice work.
But, I have already sent a PR.
If you are interested, we can work together on its enhancement.

[2016-03-18 13:25] Akirato commented on #141
@nishnik
Ya sure. Sorry again.

[2016-03-18 14:12] successar commented on #135
@kylepjohnson
Hi, I am interested in doing this project. Since, MOSES requires data to be properly cleaned and tokenized before we input them, I wanted to ask if we need to create tokenizers for different classical languages or are they already available?

[2016-03-18 17:13] kylepjohnson commented on #136
@evgeniiaraz Please do submit an application

[2016-03-18 17:21] evgeniiaraz commented on #136
@kylepjohnson Could I e-mail you about further details of this project and the ideas in general?

[2016-03-18 17:26] kylepjohnson commented on #136
Yes, please do

[2016-03-18 17:27] kylepjohnson commented on #141
Thank you @nishnik for offering to bring @Akirato into it.

[2016-03-18 18:44] supertramp1995 commented on #134
Hey ,
I might be able to help in this.
I recently made app which involved complete backend in flask (flask_restful along with flask-sqlalchemy).
I am decent with backend and am currently learning frontend.
Thank you

[2016-03-19 02:57] lukehollis commented on #134
Hi @supertramp1995--thanks for your interest. Send me an email directly to talk about a potential proposal or check out the issues on the cltk_frontend repository: https://github.com/cltk/cltk_frontend/issues

[2016-03-19 06:50] kylepjohnson commented on #196
@nelson-liu Does this solution of a `~/.cltk_config` file meet your desire of not writing anything to your home dir?

I'm open to this, but I want to warn everyone that I'll be picky about the implementation in code. Of particular concern is the possibility that this option (which very few of our users will want) will clutter our code. For a linguistic FOSS project like ours, I am very mindful of

[2016-03-19 06:59] nelson-liu commented on #196
yeah, I definitely echo your sentiment regarding the pile up of technical debt with the implementation of features like this. I ended up just symlinking the data directory to where I wanted it to be, which isn't an ideal solution but suffices. I've reversed my stance on this and now don't think this is worth implementing, mainly due to its niche nature.

[2016-03-19 07:08] kylepjohnson commented on #196
@nelson-liu Thanks for helping me think this through. To be honest, I grappled with the idea ~3 years ago, when I first experimented with allowing alternate dir locations … but I just ended up confusing my self more often than helping.

I encourage you to keep raising these kinds of issues, however. As the project grows, my old assumptions need to be challenged. Closing issue but dialog can contin

[2016-03-19 07:17] hemantpugaliya commented on #196
@nelson-liu @kylepjohnson
Just in case if this issue is again taken up in future, this may be another possible option.
I have investigated about how this feature has been implemented by NLTK.They have provided the following options .
1. Define an NLTK_DATA environment variable.
2. Separate parts of data(eg corpus,models etc)  can be stored in different locations(need not be within the same parent

[2016-03-19 07:38] kylepjohnson commented on #196
@hemantpugaliya Thanks. The first is what I did initially, following the NLTK's lead. I forget the details of the problem, but it was basically this: When importing the CLTK as a library, how/where do we persist this CLTK_DATA variable?

[2016-03-19 07:48] kylepjohnson commented on #135
@successar We have sentence tokenizers for Greek and Latin, others you'll need to develop yourself. Parallel corpus creation is a somewhat large part of this task, probably. Not that it will probably require at least a little knowledge of the original language.

[2016-03-20 02:28] kylepjohnson commented on #202
Repo here: https://github.com/cltk/cltk_docker

Thanks!

[2016-03-20 02:28] #202 closed

[2016-03-21 20:38] kylepjohnson commented on #47
@souravsingh Are you still on this? The corpus should go here: <https://github.com/cltk/cltk/blob/master/cltk/corpus/latin/corpora.py>.

[2016-03-21 20:44] souravsingh commented on #47
@kylepjohnson Sorry I had forgotten about this.

[2016-03-21 20:45] kylepjohnson commented on #47
It's OK, so did I :)

[2016-03-22 15:26] #47 closed

[2016-03-23 03:57] x-ji commented on #140
@kylepjohnson  I'm a bit curious, whether this project could take the whole summer to finish? To my understanding, it mostly involves translating code written in one language to another, and the gem doesn't seem to be very large, and thus it shouldn't be too difficult. However, I'm not sure if there is any extra difficulty beyond merely translating the application logic, for example, integrating t

[2016-03-23 04:00] x-ji commented on #140
Of course that's supposing nobody has taken up the job yet.

[2016-03-24 22:33] souravsingh opened #209 "Add DCS Sanskrit Corpus"
After Looking through the texts for DCS, I noticed that the Texts are written in a Romanized Script. We might require Devanagari texts for further building the tools for CLTK for Classical Sanskrit.

[2016-03-24 23:15] kylepjohnson commented on #209
It looks like there is a Devangari option, [which you can activate here](http://kjc-fs-cluster.kjc.uni-heidelberg.de/dcs/index.php?contents=help_center).

Let's collect both collect the Devangari and Romanized versions. In the root, have two dirs, `romanized` and `devangari`.

It's a great corpus. Can I assign to you collecting it?

[2016-03-25 04:33] souravsingh commented on #209
Sure.I can work on it.Would it be possible to get the texts in JSON?

[2016-03-25 15:00] kylepjohnson commented on #209
Hi @souravsingh , I've retitles this issue and assigned it to you.

JSON forms of these would be great, too, but please focus on just getting the texts first. Once we've add this repo to the CLTK, then you can convert them into JSON (but let's take the details of that up in another ticket, later).

Thanks!

[2016-03-25 15:04] kylepjohnson commented on #141
Update: FlexiDate now Python 2 & 3 compliant, by Nishnik!

He's updating the docs and a few other things, then it will be pushed to PyPI soon after that.

[2016-03-25 23:13] kylepjohnson opened #210 "Modify Lapos to support Unicode"
Wencan Luo has performed some very good tests with Lapos plus our currently available tag sets.

In his work, he has learned that Lapos, written in C++, does not accept Unicode. However, Wecan thinks he can fix it fairly easily.

Once Wencan is in the CLTK org, I'll assign this to him.

[2016-03-25 23:27] kylepjohnson commented on #210
@wencanluo you have write access to our Lapos repo: https://github.com/cltk/lapos

[2016-03-26 05:22] coderbhupendra opened #211 "Scraping data from sanskrit-documents."
I'm scrapping [The Rig Veda ](http://sacred-texts.com/hin/rigveda/rvi01.htm)  for sanskrit sentences.
It contains 191 documents , I have made parallel-documents from it .Results can be seen here [dataset](https://github.com/coderbhupendra/GSOC/tree/master/dataset)
and this is the code for [scrapper](https://github.com/coderbhupendra/GSOC/blob/master/scrapper_sanskrit_separate.py)

Now I want to im

[2016-03-26 05:31] mineshmathew commented on #211
@coderbhupendra  the number of sanskrit lines can be counted easily by a regex to identify if a line starts with a char in Devanagari unicode block.

[2016-03-26 06:02] coderbhupendra commented on #211
thanks @mineshmathew will implement this :)

[2016-03-26 07:50] mineshmathew commented on #211
@coderbhupendra  the text below the Sanskrit hymn is a transliteration, not English translation right?
What  is the point of collecting a parallel corpus of transliterations? If you intend to have a parallel corpus for Machine Translation you ought to have English translations, not transliterations

[2016-03-26 07:53] coderbhupendra commented on #211
@mineshmathew  yeah you are correct , am not taking transliteration as translation. For every sanskrit doc there also corresponding a english doc , see at top there is a link as "English" to get its translation.

[2016-03-26 08:13] coderbhupendra commented on #211
@mineshmathew  for instance in some documents  number of lines are not equal in both English and its sanskrit version so i need to discard them.
[doc 1074](http://sacred-texts.com/hin/rigveda/rv01074.htm) ,[sanskrit version](http://sacred-texts.com/hin/rvsan/rv01074.htm)
[doc 1142](http://sacred-texts.com/hin/rigveda/rv01142.htm) ,[sanskrit version](http://sacred-texts.com/hin/rvsan/rv01142.htm)
[

[2016-03-26 08:34] mineshmathew commented on #211
@coderbhupendra ok . I didnt see the english translations. But can we do an alignment easily? especially when it is not sentence to sentence translated.
Also earlier I mentioned that you can filter by checking if the fist character in a line falls in the Devanagari Unicode block. This might not work in all cases, say if a sentence begin by a punctuation. So it is advisable to check if a line has a

[2016-03-26 09:11] coderbhupendra commented on #211
@mineshmathew These are documents
 [Sanskrit Hymes ](http://sacred-texts.com/hin/rvsan/rvi01.htm)
[English Hymes](http://sacred-texts.com/hin/rigveda/rvi01.htm)

And all these are line to line translations you may also check.Yeah its good suggestion to check for '|' and "||"  I will do that.

[2016-03-26 23:26] coderbhupendra commented on #211
@kylepjohnson  after making all changes , I have added my  repo under CLTK: [Sanskrit_Parallel_Corpus](https://github.com/cltk/Sanskrit_Parallel_Corpus). I hope you meant this only.
Or you meant to add this as [To-add-a-corpus-to-the-CLTK](https://github.com/cltk/cltk/wiki/How-to-add-a-corpus-to-the-CLTK)

[2016-03-27 01:37] coderbhupendra commented on #211
@kylepjohnson  I have scrapped 10 Rig-Veda books , now you can see all [10 folders ](https://github.com/coderbhupendra/GSOC/tree/master/dataset).But now when I'm trying to push changes to my repo under CLTK its giving error as remote:

I think i dont have permission to push changes to this repo again.

[2016-03-27 04:45] kylepjohnson commented on #211
* I've made this writable by the Sanskrit group. You can make changes now
* In the README.md, say where you got these texts and make a section called 'License' (taken from the website)
* Please remove the file `baseline_model.py` (keep this in your own personal repo, for now at least)
* Rename the repo to `sanskrit_parallel_sacred_texts`
* When you add this repo to [cltk/corpus/sanskrit/corpora.py

[2016-03-27 04:45] kylepjohnson commented on #211
BTW this looks really excellent

[2016-03-27 22:50] coderbhupendra commented on #211
@kylepjohnson  am not able to push into[ repo](https://github.com/cltk/Sanskrit_Parallel_Corpus).
Its giving same above error. I think you need to add me as a collaborator in this repo.

And i could not understand what do you mean by "writable by the sanskrit group".

[2016-03-28 02:34] kylepjohnson commented on #211
Ah, I thought you were a member already: https://github.com/orgs/cltk/teams/sanskrit-members

You should be good now!

[2016-03-28 06:10] kylepjohnson opened #212 "Make Docker container for cltk_frontend"
[As done for the core software](https://github.com/cltk/cltk_docker), make a Docker repo for https://github.com/cltk/cltk_frontend. Also make a new repo on Docker Hub.

[2016-03-28 06:11] kylepjohnson opened #213 "Make Docker container for cltk_api"
[As done for the core software](https://github.com/cltk/cltk_docker), make a Docker repo for <https://github.com/cltk/cltk_api>. Also make a new repo on Docker Hub.

[2016-03-28 06:13] achaitanyasai commented on #213
I will do it, thank you.

[2016-03-28 06:13] achaitanyasai commented on #212
I will do it, thank you.

[2016-03-28 06:52] achaitanyasai opened #214 "Scraping srimad-bhagavadgita and valmiki ramayana."
- I am Scapping Sanskrit - English data from
    - Srimad-bhagavadgita : http://www.gitasupersite.iitk.ac.in/srimad
    - Valmiki Ramayana : http://www.valmiki.iitk.ac.in/

Ping @kylepjohnson

[2016-03-28 06:59] mineshmathew commented on #214
@achaitanyasai are you scrapping the data for building parallel corpus for sanskrit- english ?
In that case please let me know how do you plan to align the texts. This might be useful to build parallel corpora for other languages too

[2016-03-28 07:04] mineshmathew commented on #214
@achaitanyasai @coderbhupendra
You may check out this portal http://gretil.sub.uni-goettingen.de/

[2016-03-28 07:29] achaitanyasai commented on #214
<blockquote>
are you scrapping the data for building parallel corpus for sanskrit- english ?
In that case please let me know how do you plan to align the texts.
</blockquote>
Yes, I am building parallel corpus for sanskrit-english.
<blockquote>
In that case please let me know how do you plan to align the texts.
</blockquote>
As an example consider srmad, so If you open this link:
http://www.gitasu

[2016-03-28 07:47] mineshmathew commented on #214
@achaitanyasai The problem here is that translation is not phrase by phrase but at 'sloka' level, where as MT tools like Moses need it to be at phrase level. sentence/phrase level is a must for most of the tools. That is why I asked how the alignmentis going to be made

[2016-03-28 08:02] achaitanyasai commented on #214
@mineshmathew Thanks for the information, I will figure out the issue.

[2016-03-28 09:06] coderbhupendra commented on #211
@kylepjohnson  I'm not having option to change the name of my repo under CLTK , there is no "setting" options for it .I think only owner of CLTK can rename the repo under them.

[2016-03-28 14:54] Akirato opened #215 "Scraping Raw Classical Hindi Data"
I am scraping Raw Classical Hindi Data from http://ltrc.iiit.ac.in/showfile.php?filename=downloads/Classical_Hindi_Literature/SHUSHA/index.html
@kylepjohnson

[2016-03-28 15:14] mineshmathew commented on #215
@Akirato Hindi is not one of the classical languages. Sanskrit and Pali are.
And the texts in the link , are they in Unicode. I am not able to read anything

[2016-03-28 15:34] Akirato commented on #215
The texts are from old Hindi(Mughal/15th century/Hindustani)period, Kabeerdas, Tulsidas, etc.
Its in Shusha font. It needs cleaning.

[2016-03-28 16:22] Akirato commented on #215
This is the repository that I will be working in https://github.com/Akirato/cltk_classical_hindi_corpus

[2016-03-28 16:31] mineshmathew commented on #215
@Akirato the script is not Devanagari for sure.. is it itrans?
Please check wiki library too . and sites like these http://www.hindisahitya.org/hindipoet/surdas-poems-in-hindi, where they have Hindustani poems in Devanagari script itself

[2016-03-28 16:43] Akirato commented on #215
Thanks for the help. I will try those sites too. And the text is in "Shusha" font.

[2016-03-28 16:43] Akirato commented on #215
@mineshmathew Thanks for the help. I will try those sites too. And the text is in "Shusha" font.

[2016-03-28 22:58] kylepjohnson commented on #214
I don't see any English translations on these sites. Can you show me an example?

[2016-03-28 23:01] kylepjohnson commented on #214
I see the original-English example you posted. You're right that alignments need to be sentence-by-sentence for this. However we also will want plaintext versions of the originals, too.

[2016-03-28 23:02] kylepjohnson commented on #211
Ok, I just renamed it. I'll check the rest later.

[2016-03-28 23:13] coderbhupendra commented on #211
ok thanks .

[2016-03-29 00:24] achaitanyasai commented on #214
@kylepjohnson So isn't it good enough ?

[2016-03-29 03:10] coderbhupendra commented on #211
@kylepjohnson now working on to remove lines which repeat in individual documents.

[2016-03-29 05:34] kylepjohnson commented on #214
Is the corpus OK? Yes, I think it is. Just prioritize plaintext first.

[2016-03-29 05:38] kylepjohnson commented on #211
PR #216 merged. Thanks! I'll close this issue, but keep doing any cleanup necessary.

Let me know when you're ready for a new topic.

[2016-03-29 05:38] #211 closed

[2016-03-29 05:40] achaitanyasai commented on #214
Yeah thanks

[2016-03-29 15:32] achaitanyasai commented on #214
Hello sir, I have created a repo (parallel and monolingual) for bhahavadgita. Once can you a look at it.
And right now I am processing ramayana, I will add it once it's done.

- Parallel corpus : https://github.com/achaitanyasai/sanskrit_parallel_gitasupersite
- Sanskrit text (monolingual corpus) : https://github.com/achaitanyasai/sanskrit_text_gitasupersite

[2016-03-30 06:01] mineshmathew commented on #214
@achaitanyasai  the parallel corpus looks good. I will go through the text in detail today or tomorrow when I have some free time. We just need to make sure if the alignment is correct.

[2016-03-30 06:25] achaitanyasai commented on #214
@mineshmathew Thank you

[2016-03-30 16:01] kylepjohnson commented on #214
@mineshmathew @achaitanyasai Thank you for working together. I have added you both to the Sanskit team.

[2016-03-30 16:12] achaitanyasai commented on #214
@kylepjohnson  Thank you sir, I am still working on valmiki ramayana. Completed extracting 4/5 parts. I will let you know once it's done.

[2016-03-30 17:43] kylepjohnson commented on #215
* About Hindi as a Classical language: I do know that there very old texts in what's generally considered Hindi/Hindustani: <https://en.wikipedia.org/wiki/History_of_Hindustani#Timeline>. For end-date, I am not the best to say, however it seems that the beginning of the Colonial period/first printed book (according to the Wikipedia link, the year 1796).

* I have added you both to a new [Hindi tea

[2016-03-30 19:10] Akirato commented on #215
The corpus has text of Kabir's poems(1398-1518) and a lot of other such old texts by Meera, Suradaas, Tulasidaas.
I updated the Readme with source and the license in the file "COPYING" in the repository.
"Shusha" is a font, used because it takes two bytes where as Unicode takes 2 bytes to represent.
I will push the original corpus too.

Sure, I would like to work on making a converter.

[2016-03-30 21:17] kylepjohnson opened #217 "Add corpus for Corpus Cyrillo-Methodianum Helsingiense (OCS)"
@for15pounds Has been made the inaugural member of the @cltk/slavic team, which will maintain Old Church Slavonic, Old East Slavic, and others. Valerie, once you accept, I'll assign this task to you.

All that is necessary for this first step is to copy or crawl the ASCII texts. I'll show then show you how to this repo to the CLTK core software.

In a another ticket, I would like to work with you

[2016-03-30 21:49] wencanluo commented on #210
Hi Kyle,

Here is the results of Lapos for Greek.

Language tag unigram bigram trigram backoff tnt CRF Lapos

Latin
part of speech 0.775 0.142 0.092 0.775 0.778 0.869 0.923
person 0.817 0.246 0.182 0.817 0.817 0.975 0.987
number 0.784 0.197 0.132 0.786 0.788 0.913 0.942
tense 0.811 0.234 0.169 0.811 0.811 0.925 0.966
mood 0.812 0.233 0.172 0.812 0.813 0.932 0.967
voice 0.814 0.241 0.176 0.814 0.81

[2016-03-30 22:29] wencanluo commented on #210
On Mar 30, 2016 6:11 PM, "Kyle P. Johnson" <notifications@github.com> wrote:

yes.

[2016-03-31 01:36] coderbhupendra opened #218 "Scraping Greek Iliad and Odyssey texts."
@kylepjohnson   Iliad and Odyssey texts contains parallel Greek and English documents.
I have scraped the text into text files but for now text is not sentence to sentence aligned.

I actually needed a help.Can you please check few files to make sure that the English translation is correct translation of respective Greek documents.I used Google Greek to English translation to check it.But could co

[2016-03-31 04:15] kylepjohnson commented on #218
Hmmm, I like your initiative, but this might be a tough one to align.

I've looked at two pairs:
https://github.com/coderbhupendra/Greek_Iliad_Odyssey_texts/blob/master/dataset/ili01.htm/ili01.htm_eng.txt#L175
https://github.com/coderbhupendra/Greek_Iliad_Odyssey_texts/blob/master/dataset/ili01.htm/ili01.htm_greek.txt#L175

https://github.com/coderbhupendra/Greek_Iliad_Odyssey_texts/blob/master/da

[2016-03-31 04:32] coderbhupendra commented on #218
@kylepjohnson those [sanskrit_parallel_sacred_texts ](https://github.com/coderbhupendra/sanskrit_parallel_sacred_texts) are nicely aligned .We can use them with moses. I will start making other sanskrit dataset soon.

And these above text files are not line by line aligned now ,so if you check them in that way they will be surely be different.I still need to do  sentence tokenization. It will be g

[2016-03-31 05:15] coderbhupendra opened #219 "Scrapping Latin documents on Julius Caesar."
@kylepjohnson I was also scraping latin documents on Julius Caesar work.
I have scraped documents and made text files.
This is the repo:https://github.com/coderbhupendra/Latin_Julius_Caesar
And in this case translation are good , i cross check them using google translation.

and translations are aligned line by line, but there is one problem.I need to do sentence tokenization.so that text file bec

[2016-03-31 06:01] achaitanyasai commented on #214
Done extracting valmiki ramayana :
- Parallel corpus : <a href="https://github.com/achaitanyasai/sanskrit_parallel_gitasupersite/tree/master/ramayana">/achaitanyasai/sanskrit_parallel_gitasupersite/ramayana</a>
- Sanskrit text (monolingual corpus) : <a href="https://github.com/achaitanyasai/sanskrit_text_gitasupersite/tree/master/ramayana">/achaitanyasai/sanskrit_text_gitasupersite/ramayana</a>

[2016-03-31 06:52] achaitanyasai opened #220 "Add corpus for classical telugu"
<a href="https://te.wikisource.org/wiki">https://te.wikisource.org/wiki</a> contains the classical telugu ithihasas, puranas, vedas, stothras, etc;
So I would like to scrape them and add as a new corpus.

Thank you.

[2016-03-31 08:05] PonteIneptique opened #221 "Documentation : how to contribute corpora and corpora format ?"
Dear @kylepjohnson and cltk team,
What a wonderful leap over the past year. The software is definitely becoming great. Looking at the doc, I was a little bit confused about how to contribute corpora. I would be happy to realize a small tool to import CapiTainS-based texts (ie. OpenPhilology texts, OpenPersian and OpenArabic texts) but I cannot find (it's probably just me) any documentation about t

[2016-03-31 08:07] PonteIneptique commented on #221
Btw, I did see this : https://github.com/cltk/cltk/wiki/How-to-add-a-corpus-to-the-CLTK but I wish it would be the general documentation and there would be shared guidelines for the json files ;)

[2016-03-31 09:46] souravsingh commented on #217
I would like to work on the issue

[2016-03-31 15:16] kylepjohnson commented on #221
Hi Thibault! Yes, all the new contribs have been tremendously exciting.

For adding corpora for import into the CLTK, that wiki link above is the correct one. I hope those instructions are clear, but if not please tell me how to improve them.

You're right, we don't haven't publicized this yet, however I have a pretty good idea of what I want. As you know, these texts should be in JSON, so to faci

[2016-03-31 15:24] kylepjohnson commented on #217
Yes, this one is for @for15pounds. She just needs to accept the request before I can assign to her.

@souravsingh Know of some other corpora to get? If not, email me and we can talk about ideas :)

[2016-03-31 15:41] PonteIneptique commented on #221
Hey,
I'd be happy to contribute repo and maybe more later. I think that generally, the wiki link should be in the general documentation. It feels weird it is not and I had trouble finding it.

As for the conversion, I would be really interested to talk about it with you. Could we manage to find some time to videochat about it through an hangout ? There is few things I would like to discuss includi

[2016-03-31 16:33] lukehollis commented on #221
Hey Thibault, great to hear from you. We have [a brief description of our json data format here,](https://github.com/cltk/cltk_api/wiki/JSON-data-format-specifications) but this is still somewhat flexible as we complete the document transformation.  Once things are finalized, I'm all for adding a link to the page in the docs.

[2016-04-01 00:34] kylepjohnson commented on #218
Yes, I think you should stop trying to align the Greek and Latin for from this website. There are other, better places we can find these parallel texts.

But please do continue your work making parallel corpora for Sanskrit!

[2016-04-01 00:34] #218 closed

[2016-04-01 00:40] kylepjohnson commented on #219
For Latin you'll run into the same problem as with Latin: without knowing the language, it could be difficult to make corrections. Also, we don't know if the translation uses the same number of sentences. It might be interesting to find out, though.

Also, you should preserve case when you do this. We can lowercase later if we have to.

About the error, can you please open separate ticket? I saw t

[2016-04-01 00:46] coderbhupendra commented on #218
@kylepjohnson  can i make parallel corpus for Sanskrit and its Romanizastion version.And also just the monolingual sanskrit corpus.

[2016-04-01 00:49] coderbhupendra commented on #219
@kylepjohnson should  i make parallel corpus for Sanskrit and its Romanizastion version.And also just the monolingual sanskrit corpus.

[2016-04-01 00:51] kylepjohnson commented on #220
Hi, wonderful task!

Once you've scraped this, we'll need your help to create an index with include author names in Latin characters and BC/AD dates.

For transliterating author and text names, consider making a little program for Telugu.

[2016-04-01 00:52] kylepjohnson commented on #219
That's a good question. If you are confident that you can put everything in Devnagari without error, then do that.

Are there corpora in Latin characters?

[2016-04-01 00:52] #219 closed

[2016-04-01 01:10] coderbhupendra commented on #219
@kylepjohnson yes  I will do that for Sanskrit.So I will make parallel corpora for Devnagari and its Romanizastion translation. and also just Devnagari Monolingual corpora.

And Romanizastion is in Latin characters.You can see it here :http://sacred-texts.com/hin/mbs/mbs01001.htm

[2016-04-01 01:10] kylepjohnson commented on #215
Hi, this is looking good.

* IMPORTANT: I see you have added GPL v.1 to the [LICENSE](https://github.com/Akirato/cltk_classical_hindi_corpus/blob/master/COPYING). However I do not see this lincense on the original <http://ltrc.iiit.ac.in> website. We cannot just add whatever license we want to their data! :) Would you please send any licensing explained on their website? If there isn't anything, I

[2016-04-01 01:11] coderbhupendra opened #222 "Problem in using CLTK sentence tokenization."
I was using Latin [sentence tokenization](http://cltk.readthedocs.org/en/latest/latin.html#sentence-tokenization) but it was giving below error:

[code]
This LICENSE file is missing in package so its giving error.Or is this something else ?

[2016-04-01 01:12] kylepjohnson commented on #221
Thibault and Luke, let's set a call up for this weekend. I'll send an email.

[2016-04-01 01:15] kylepjohnson commented on #222
How was this installed? Did you install with pip or from GitHub?

[2016-04-01 01:18] coderbhupendra commented on #222
I installed it using pip. as : pip3 install cltk

[2016-04-01 01:24] kylepjohnson commented on #222
I'm not sure why it isn't working for everyone, but let's fix it. If you can do it in the next few hours, I would like you to make the PR.

Take the two lines <https://github.com/cltk/cltk/blob/fd712ffbaeb03f7d84a887fc5cc6bd594f62645b/cltk/__init__.py#L18>

and replace it with just:

[code]

Then I'll push an updated version to PyPI.

If you cannot, that's OK, I'll do it.

[2016-04-01 01:36] coderbhupendra commented on #222
Sure  I will push it now.

[2016-04-01 04:00] achaitanyasai commented on #220
Thank you sir, I will get back once I have done extracting the corpus.

[2016-04-01 06:10] kylepjohnson commented on #222
Added your change now (#224) and bumped version to 0.1.34. Please try the sentence tokenizer again and let me know how it works.

[2016-04-01 06:11] coderbhupendra commented on #222
ok will do it now.

[2016-04-01 06:25] coderbhupendra commented on #222
[code]
now TokenizeSentence is importing but linguistics data is missing.

[2016-04-01 07:37] kylepjohnson commented on #222
Import the Latin linguistic data (`cltk_linguistic_data`) first.

http://docs.cltk.org/en/latest/importing_corpora.html#importing-a-corpus

[2016-04-01 07:54] PonteIneptique commented on #221
Do not forget, I live on the other side of the Atlantic :) See you this week-end

[2016-04-01 08:21] coderbhupendra commented on #222
on importing cltk_linguistic_data am getting below error.
[code]

[2016-04-01 08:31] Akirato commented on #215
The "COPYING" license can be found in the folders if downloaded from the website http://ltrc.iiit.ac.in/showfile.php?filename=downloads/Classical_Hindi_Literature/SHUSHA/index.html
That is the one I added.

[2016-04-01 11:29] balmas commented on #221
Just a note guys -- please don't forget to credit Perseus for the texts. It's very cool to see the data reused in new ways, and this looks like a project that could have a big impact, but a quick perusal of the JSON doesn't show any reference to the source, nor does the Classics Archive UI.  Thanks!

[2016-04-01 14:17] souravsingh opened #225 "Corpus for Anglo-Saxon"
http://www.sacred-texts.com/neu/ascp/ is the link which contains the Anglo-Saxon poems. This resource can be used to create the corpora for the Anglo-Saxon language.

@kylepjohnson thoughts?

[2016-04-01 15:38] kylepjohnson commented on #225
My thoughts? I **love** it!

I'm looking at how the texts are formatted, eg: <http://www.sacred-texts.com/neu/ascp/a03_06.htm>.

I'd like you to put pull both the HTML (in a dir called `html`) and then convert these into JSON (`json`).

The JSON fields can look this:

[code]

Notes about text:
* Do not keep line numbers
* Use "\t" for the whitespace within lines
* Divide newlines with "\n"
* Make

[2016-04-01 15:40] kylepjohnson commented on #221
@balmas Thank you, we appreciate you reminding us, though we certainly haven't forgotten attribution. The API and UI are still under development.

@lukehollis I think we should add a "source" field to the API, which the frontend can then leverage.

[2016-04-01 15:43] kylepjohnson commented on #221
I opened a ticket for myself at <https://github.com/cltk/cltk_api/issues/33> to add license and source to texts ingested by the API.

[2016-04-01 15:44] kylepjohnson commented on #215
Thanks, that answers my question about licensing.

About the transliterators, I'll open another ticket for you.

[2016-04-01 15:45] kylepjohnson commented on #215
@Akirato I'll wait for you to transfer ownership of this repo to `cltk` org and to the `Sanskrit` user group, and for the PR to add the corpus to the core software.

[2016-04-01 15:51] kylepjohnson opened #227 "Add Sanskrit transliterators to CLTK core"
Assigning to @Akirato who has already started this (<https://github.com/Akirato/itransConverter>).

Make according to the ITRANS the Harvard-Kyoto conventions.

Before making a PR, make work as standalone module in your repo. Also include at least 1 test for every function. Let me review quickly, then we can merge.

Thanks, this is the start of real Sanskrit NLP for CLTK :tada:

[2016-04-01 15:55] balmas commented on #221
Thank you!

[2016-04-01 15:58] kylepjohnson commented on #222
I see. The docs have the old name of the ling data dir. Do instead:

[code]

Then you should have something at: `ls -l ~/cltk_data/latin/model/latin_models_cltk/`.

[2016-04-01 17:03] coderbhupendra commented on #222
@kylepjohnson   sentence tokenization for latin is working now :) .

[2016-04-01 17:11] kylepjohnson commented on #222
Cool, good to hear. As a habit, I always use `.list_corpora` to fetch whatever the latest names are.

[2016-04-01 17:11] #222 closed

[2016-04-01 17:14] coderbhupendra opened #228 "Prepared parallel corpus for Mahabharata (Sanskrit and Romanization version)"
@kylepjohnson This is a parallel corpus of Mahabharata in Sanskrit and Romanized form.And all of these are these are line by line aligned.
My repo :https://github.com/coderbhupendra/sanskrit_parallel_mahabharata_text
Please let me know if i can add this to CLTK.

[2016-04-01 21:11] kylepjohnson commented on #228
Cool. What do you think about the following steps?

* This isn't a parallel corpus -- we reserve this term for translated texts. Let's call it `sanskrit_text_sacred_texts`.
* Put all of this in a directory called `mahabarata`. Then within that have a two dirs, for `latin` and `devangari`. (This way, we'll be able to add the other Sanskirt texts on this website into this repo.)
* Is this the entire

[2016-04-01 22:13] coderbhupendra commented on #228
Yes all the documents are of Mahabharata only.And i will make the specified directory and add this under cltk  by end of this day.

[2016-04-01 22:37] kylepjohnson commented on #228
Fantastic, no rush on this, though. Let me know when your PR is ready

[2016-04-02 15:45] tuhe opened #229 "TLGU() fails in new install"
Hi,

I am having a bit of an issue with the TLGU support in CLTK. I installed ctlg by doing

pip install cltk

and everything seems to work fine. I made a simple script:

`import cltk
from cltk.corpus.utils.importer import CorpusImporter
from cltk.corpus.greek.tlgu import TLGU

print(cltk.__version__)
corpus_importer = CorpusImporter('greek')
print(corpus_importer.list_corpora)
corpus_importer.imp

[2016-04-02 17:47] kylepjohnson opened #230 "CTS XML to JSON converter"
Issue for @PonteIneptique

Write a converter for newly encoded Perseus docs into the rudimentary JSON objects served by our API. Some simple docs here: <https://github.com/cltk/cltk_api/wiki/JSON-data-format-specifications>.

As we discussed, URL structure is like so: `? + chunk1=<value> + & + chunk2=<value> + & + …`

As Thibault said, we can start with a conversion of [CSEL](http://opengreekandla

[2016-04-02 17:49] kylepjohnson commented on #229
Hello! CLTK only works on Unix systems (Mac, Linux, etc.). Do you have a Linux system to work on? If not, I can give you some pointers on how to get started.

[2016-04-02 17:53] kylepjohnson commented on #229
To help prevent this kind of issue in the future, I've added a note about OS support in the README and docs.

https://github.com/cltk/cltk/blob/f1d3f8388b6466b72cc4b05bae6420b9a642ecc6/README.md

https://github.com/cltk/cltk/blob/de7da9b02e49e14db52ecdf15856eac67f18ef45/docs/installation.rst

[2016-04-02 17:53] #229 closed

[2016-04-02 17:54] kylepjohnson commented on #229
Also, @tuhe the TLGU is only necessary for those doing Greek with a special CD-ROM. Is this your need?

[2016-04-02 18:06] kylepjohnson opened #231 "Run TLGU with Cython"
Issue for @andreasgrv

Continue and complete work discussed in #226.

This work will be the beginning step to a porting of CLTK to Windows.

[2016-04-02 18:39] tuhe commented on #229
Hi Kyle and thanks for the quick reply. Sorry for asking a bit of a silly question, but I tried getting the TLGU compiler to work half the night and of course I was about 30 minutes away from a solution (Git was not in my path, doh).

If you want windows support at some point, I replaced S_IRUSR | S_IWUSR | S_IRGRP | S_IROTH with simply _S_IWRITE in tlgu.c and compiled TLGU explicitly using gcc. T

[2016-04-02 22:53] coderbhupendra commented on #228
@kylepjohnson I have changed the repo https://github.com/coderbhupendra/sanskrit_text_sacred_texts
Please let me know if Readme and License file are correct.And In Latin and Devnagari folder there are 2013 files each but only  1000 are shown. others are truncated due to so many files.

[2016-04-03 01:48] kylepjohnson commented on #228
Looks good! We're ready for a PR for this. Once this is done, I'd like to
see all other Sanskrit texts from this site put here.

On Saturday, April 2, 2016, Bhupendra Singh Chauhan <
notifications@github.com> wrote:

--
Kyle P. Johnson, Ph.D.

Natural language processing, data science, architecture
<https://kyle-p-johnson.com>kyle@kyle-p-johnson.com |
https://kyle-p-johnson.com | https://github.co

[2016-04-03 07:02] coderbhupendra commented on #228
Yeah I will add all sanskrit text from this site to this repo. i.e only those which dont have english translation.

[2016-04-03 12:46] coderbhupendra commented on #228
@kylepjohnson  i have added another sanskrit Literature document named "Ramayana"
Its whole Ramayana consisting of 7 books,I have made another folder named "Ramayana" containing documents in devnagari and latin version.see the repo now:https://github.com/cltk/sanskrit_text_sacred_texts/tree/master/dataset

and tell me if i need to change anything.

[2016-04-03 17:58] achaitanyasai commented on #220
Hello sir, I have scraped pothana telugu bhagavatham :
<a href="https://github.com/achaitanyasai/classical-telugu/tree/master/pothana_telugu_bhagavatham">/achaitanyasai/classical-telugu/pothana_telugu_bhagavatham</a>

I will let you know about the other files in 2-3 days.

[2016-04-03 18:14] kylepjohnson commented on #229
That's really good to hear! @andreasgrv is working right now on making TLGU compile on Windows, so he'll be happy to hear of your success.

[2016-04-03 18:22] kylepjohnson commented on #220
This is terrific! Before you're done, remember to add a README explain where you got the texts and a LICENSE file, too. Also put in here the scripts by which you scraped the site.

Once this is done, it'd be great to offer and index file giving dates for each of these authors.

[2016-04-03 18:27] kylepjohnson commented on #228
Hi, A few things:

* I'd like for the root directories to be `latin` and `devangari`, then put the texts within there. The way you have done it is not bad, however my way will keep your work similar to that of other contributors.

Actually, in this repo we need ALL Sanskrit from sacred-texts, whether or not they have a translation. So any other Sanskrit texts from this site, please add (just don't

[2016-04-03 18:31] andreasgrv commented on #229
:+1: for the feedback, I'll let you know when I've pushed the changes so you can try it without manually building it

[2016-04-03 18:33] achaitanyasai commented on #220
Thank you for the feedback and yes I will add the README, LICENSE and the scrapper files.

[2016-04-03 18:36] kylepjohnson commented on #214
Thanks for doing this.

Since I don't know Sanskrit, I'll need your help (or others') in verifying the alignment of the sentences. Random selection: Are these to lines equivalent?

https://github.com/achaitanyasai/sanskrit_parallel_gitasupersite/blob/master/ramayana/balakanda_sanskrit.txt#L288

https://github.com/achaitanyasai/sanskrit_parallel_gitasupersite/blob/master/ramayana/balakanda_english.

[2016-04-03 18:36] kylepjohnson commented on #229
Great. If possible, I don't want to modify the original TLGU source.

[2016-04-03 18:38] achaitanyasai commented on #220
And right now I am putting all the documents in <a href="https://github.com/achaitanyasai/classical-telugu">/classical-telugu</a> repository. Do I need to place each document in seperate repository.
I mean pothana bhagavatham in one repository,
brahma purana in other seperate repository, etc ?

[2016-04-03 18:44] achaitanyasai commented on #214
Yeah again thanks for the feedback :) and I will add the README, LICENSE, scrapper files soon. and now coming to the question : <a href="http://www.valmiki.iitk.ac.in/content?language=dv&field_kanda_tid=1&field_sarga_value=9&field_sloka_value=12">Does this answer your question ? </a> :)

[2016-04-03 18:45] andreasgrv commented on #229
I've had to move some variables from the .c to the .h, for example the definitions of the arguments so that I can modify them from cython. Other than that I have made no changes. Is that ok?

[2016-04-03 18:53] kylepjohnson commented on #220
Good question. Generally, we use 1 repo for each language for each website.

"Pothana Bhagavatam" is a translation by [Pothana](https://en.wikipedia.org/wiki/Pothana), right? And wil there be works by other authors? If so, in the root of the repo you can put `Pothana`, `author2`, `author3`, etc.. The work "Pothana Bhagavatam" would then go within the `Pothana` directory.

Am I understanding the au

[2016-04-03 18:55] kylepjohnson commented on #229
Yes, that sounds fine. Here's a compromise: For your Cython code, make what changes you must. However for the [cltk/greek_software_tlgu](https://github.com/cltk/greek_software_tlgu) code, we will leave that untouched. Sound good?

[2016-04-03 18:57] kylepjohnson commented on #214
Yes it does, and a beautiful singing performance! :notes:

[2016-04-03 18:58] achaitanyasai commented on #220
<blockquote> "Pothana Bhagavatam" is a translation by Pothana, right? </blockquote>
Yes  you are right.
<blockquote>And will there be works by other authors?</blockquote>
Yes, there are other authors as well.
<blockquote>The work "Pothana Bhagavatam" would then go within the Pothana directory.</blockquote>
Yeah I got the idea.
<blockquote>Am I understanding the authors and texts right?</blockquote

[2016-04-03 18:59] andreasgrv commented on #229
I was thinking of pushing the repo to cltk as pytlgu which has the modified tlgu code in a subfolder - I will not modify the [cltk/greek_software_tlgu](https://github.com/cltk/greek_software_tlgu) code

[2016-04-03 19:06] kylepjohnson commented on #229
OK. For repo we can make one called `greek_software_tlgu_cython`.

[2016-04-03 19:11] andreasgrv commented on #229
Ok!

[2016-04-03 19:18] kylepjohnson commented on #228
Hi, just letting you know I made a few light updates to [cltk/sanskrit_parallel_sacred_texts](https://github.com/cltk/sanskrit_parallel_sacred_texts).

[2016-04-03 19:37] kylepjohnson opened #233 "Port parts of PaliNLP2 to CLTK"
Issue started at https://github.com/daalft/PaliNLP2/issues/4 and being accoplished by @kahnchana.

[2016-04-03 21:12] coderbhupendra commented on #228
I got you point,so you want me to add all devnagari text documents in one folder.and all latin one in one folder.But as of now these folder of devnagari and latin have line by line translation for documents , so if i add all devnagari files in one folder , i will lose that things.

[2016-04-03 21:44] manu-chroma opened #234 "pos.py: POSTag breaking for Latin"
Before Testing:
1. CLTK module already installed before testing.
2. Already have ```latin corpora``` present in ```~/cltk_data``` directory.

Relevant file: https://github.com/cltk/cltk/blob/master/cltk/tag/pos.py#L52

Error:
![image](https://cloud.githubusercontent.com/assets/12952080/14235112/48a581d8-fa12-11e5-85ef-e8e1aceeb7a7.png)

Responsible for failed travis build for ```cltk_api```: https

[2016-04-04 00:21] Akirato commented on #227
@kylepjohnson
I found a really good module for transliteration https://github.com/anoopkunchukuttan/indic_nlp_library
I have taken the required code and informally tested it. It works well. I will write some tests and add some documentation for our use. Then we add this to the core :smile:

[2016-04-04 01:56] kylepjohnson commented on #228
I think you mean "transliteration", not translation. Right? If so, we don't need them to match line-by-line.

[2016-04-04 02:16] kylepjohnson commented on #234
Hi, I've clarified the docs on this: <https://github.com/cltk/cltk/blob/master/docs/latin.rst#pos-tagging>.

I think your issues is that you need to import `latin_models_cltk`. Can you try that and let me know?

[2016-04-04 02:28] kylepjohnson commented on #227
Cool. Before making the PR, please explain in the README how the API works. I'll want to check try it out myself first. :)

Also, and this is very important: Did you use any of the code ([such as this](https://github.com/Akirato/itransConverter/blob/master/itrans/itrans_transliterator.py)) from the indic_nlp_library? We always need to acknowledge the work of other open source projects.

[2016-04-04 02:39] kylepjohnson commented on #227
Opened a ticket at the Indic NLP library: https://github.com/anoopkunchukuttan/indic_nlp_library/issues/8

Hopefully, we'll be able to have the author support and check your work!

[2016-04-04 06:59] manu-chroma commented on #234
I'm still not able to identify the error. The module ```latin_models_cltk``` is present and it's still giving me the error.

![issue](https://cloud.githubusercontent.com/assets/12952080/14240211/b09e67d4-fa60-11e5-8c53-0f547227b639.png)

[2016-04-04 08:09] Akirato commented on #227
Yes I have used the code from the library and didn't touch the commented parts mentioning authors to acknowledge their work.

[2016-04-04 08:30] coderbhupendra commented on #228
Yeah i meant transliteration , i will  changes directories.

[2016-04-04 11:37] PonteIneptique commented on #230
Hey @kylepjohnson and @lukehollis,
I have a little format issue with the current JSON format. Nothing big but probably worth speaking of.

In python, dictionary are not sorted as you know, which results in problematic import / export of json when it comes to reference. For example, given poem 2.pr of Martial's Epigrammata, the first line is identified by "sa". It means that if I sort the dict, sa

[2016-04-04 13:04] achaitanyasai commented on #220
Ping @kylepjohnson : Added 4 more corpora : https://github.com/achaitanyasai/classical-telugu

I will add the README, LICENSE, scrapper files once I am done extracting the documents.

[2016-04-04 13:52] coderbhupendra commented on #228
I have made devnagari and latin as root folder.

[2016-04-04 14:53] PonteIneptique commented on #230
On a side note : as promised a first attempt with https://github.com/cltk/capitains_corpora_converter
and a first repository with https://github.com/cltk/csel_openphilology_corpus 's commit incoming.

- I am opening a new issue for JSON Format if you don't mind.
- I open new issues on the new repository from now on regardint the converter code base.

[2016-04-04 14:55] PonteIneptique opened #235 "Text Json format, dictionary structure and references order"
As per #230 :

{
 "text": [
   "1", [
       "2", [
          [ "3", "The Text" ],
          [ "4", "The Text of 1.2.4" ]
       ]
   ]
]
}```

[2016-04-05 12:11] achaitanyasai commented on #220
Hello sir, I have a small doubt : some documents are just the sanskrit documents which are in telugu script. For example [valmiki ramayana](https://te.wikisource.org/wiki/%E0%B0%B5%E0%B0%B0%E0%B1%8D%E0%B0%97%E0%B0%82:%E0%B0%B5%E0%B0%BE%E0%B0%B2%E0%B1%8D%E0%B0%AE%E0%B1%80%E0%B0%95%E0%B0%BF_%E0%B0%B0%E0%B0%BE%E0%B0%AE%E0%B0%BE%E0%B0%AF%E0%B0%A3%E0%B0%AE%E0%B1%81).
So do I need to scrape them ?

[2016-04-05 17:33] kylepjohnson commented on #220
To be clear: These are transliterations, not translations? If these are Sanskrit texts, just in Telugu characters, then no they do not belong in your Telugu repo.

Is there anything else special or unique about these texts?

[2016-04-05 17:38] achaitanyasai commented on #220
Hello sir, firstly thanks for the clarification and yeah I meant <i>transliterations</i>.
<blockquote>
Is there anything else special or unique about these texts?
</blockquote>
No, nothing special/unique.

[2016-04-05 17:50] kylepjohnson commented on #220
Ok, let's skip them, then. Thank you for being so careful.

[2016-04-05 18:01] kahnchana commented on #233
**PaliNLP2 Features:**

1) Lemmatizer
2) Stemmer
3) Analyzer
4) Generator
5) Sandhi Splitter
6) Sandhi Merger

Initially the parts of code related to basic tools will be ported. This is the background tools used by each component.

[2016-04-05 18:05] achaitanyasai commented on #220
Yeah I will skip them and scrape other documents.
On Apr 5, 2016 11:20 PM, "Kyle P. Johnson" <notifications@github.com> wrote:

[2016-04-05 18:16] kylepjohnson commented on #233
Of these, which 6, which do you want to start with? I recommend taking the easiest first.

[2016-04-05 19:24] daalft commented on #233
I suggest the stemmer. The analyzer and generator are of equal difficulty, since they are related to each other. The lemmatizer would be third place. I would put sandhi merging either at third or fourth place and sandhi splitting last, since it requires quite advanced knowledge of sandhi rules and rules of the Pali language.

[2016-04-05 19:27] kylepjohnson commented on #233
Thank you @daalft. Very helpful.

@kahnchana You want to start with the stemmer?

[2016-04-05 19:39] daalft commented on #233
With the grammar I compiled, it should be easy to implement a stemmer which looks at a word form as a possible stem and an ending of the grammar. However, since a word can have multiple suffixes, it can be necessary to perform recursive stemming.

[2016-04-06 03:53] kahnchana commented on #233
Yes thanks a lot @daalft and @kylepjohnson

Yes I will start work on the stemmer in that case. I've already started working on porting some of the basic tools needed for everything.

[2016-04-06 07:36] coderbhupendra opened #236 "Making Sanskrit text by scrapping Sanskrit Newspaper."
In order to collect sanskrit text I'm scraping Newapapers from here
http://mpinfo.org/News/SanskritNews.aspx , From here I will be able to collect news of around 6 years.
I will try to extract and make text asap.

[2016-04-06 15:11] kylepjohnson commented on #236
When were these texts written? If before the 1500's, then obviously they do not belong in the CLTK.

[2016-04-06 16:32] coderbhupendra commented on #236
no these sanskrit newspapers are dated from 2009 to 2016.

[2016-04-06 17:30] kylepjohnson commented on #236
Sorry, these won't work. Our toolkit is only concerned with the historical form of the languages, not modern-day usage.

[2016-04-06 17:30] #236 closed

[2016-04-07 18:29] kylepjohnson commented on #235
Hi Thibault, Sorry to be slow in responding. For these named prefaces, we index them as "0" (zero), then can apply "preface" or whatever label we want in the frontend.

So I still like our method of nesting.

[2016-04-07 20:47] PonteIneptique commented on #235
Hey Kyle,
I do not have an exemple at hand right now but if I remember correctly, plays have often misordered number (450 before 440) and this for example would break the system as it is. I am just warning about this kind of cases that could damage current data model.

[2016-04-07 21:49] manu-chroma commented on #234
@kylepjohnson
I'm really sorry. I figured out what I was doing wrong.

I'm glad you updated the docs to make the info more visible even though it was already mentioned clearly in the docs.

I've made a PR https://github.com/cltk/cltk_api/pull/35 to ```cltk_api``` to make sure that travis-build is passing now. :smile:
There was the same error for the failing build. The module ```latin_models_cltk``

[2016-04-07 21:49] #234 closed

[2016-04-08 05:35] kylepjohnson commented on #235
Thanks for letting me know. I made the decision a while back that the CLTK would not worry about line renumbering (as often happens in drama). Whatever a given editor says is the right order, we take on as the final 1, 2, 3. ….

Not to say this isn't important for others, but too nuanced for us to worry about (for the foreseeable future, at least).

[2016-04-08 06:49] PonteIneptique commented on #235
Ok, then how should I take care of passages like that ? Should I renumber all passages by a default numbering system ? ie a b c d to 1 2 3 4 and 540 555 556 541 to XX7 XX8 XX9 XX10 ? Same thing goes for 450a, 450b and 450c that should be renumbered 450 451 452 ?

[2016-04-08 16:46] kylepjohnson commented on #230
Closing this ticket, continuing in #235

[2016-04-08 16:46] #230 closed

[2016-04-08 16:48] kylepjohnson commented on #228
Great work. How many other Sanskrit texts, in any alphabet, are there on sacred-texts.com?

[2016-04-08 16:50] kylepjohnson commented on #227
@Akirato Are you ready for me to review this?

[2016-04-08 16:51] kylepjohnson commented on #214
How are we doing on this? If no progress, that's fine. I'm checking because I'll be able to review this weekend.

[2016-04-08 16:53] #221 closed

[2016-04-08 16:54] kylepjohnson commented on #215
HI @Akirato just checking where we stand on this issue. Thanks!

[2016-04-08 16:57] achaitanyasai commented on #214
Hello sir, I think it's done.
And right now I am working on collecting telugu corpora.

[2016-04-08 16:57] kylepjohnson commented on #105
Pinging @aakarshsingh . Checking how progress on this is going. Thanks!

[2016-04-08 17:00] kylepjohnson commented on #214
Looking at it here: <https://github.com/achaitanyasai/sanskrit_parallel_gitasupersite>.

Good work. You still have a few (easy) things to do:

* Add License to README
* Transfer ownership to cltk org
* Add sanskrit_parallel_gitasupersite to available Sanskrit corpora

Almost there! :relaxed:

[2016-04-08 17:01] achaitanyasai commented on #214
Yeah thanks for reminding, I will do right now.

[2016-04-08 17:13] achaitanyasai commented on #214
Ping @kylepjohnson I have added LICENSE and modified README. Is it OK ?
And do I need to add scrapper files too ?

[2016-04-08 17:43] achaitanyasai commented on #214
- Done adding the corpus, corresponding PR : https://github.com/cltk/cltk/pull/238
- And for the README, please suggest edits if you think it can be improved.
- And do I also need to add sanskrit monolingual corpus : <a href="https://github.com/achaitanyasai/sanskrit_text_gitasupersite">/achaitanyasai/sanskrit_text_gitasupersite</a>

Thank you.

[2016-04-08 20:11] Akirato commented on #227
@kylepjohnson
I am currently trying to port this to Python3 but it has a lot of dependencies and different datatypes, completing changing some functions. So, I will need a little more time. :smiley:

[2016-04-08 20:13] Akirato commented on #215
@kylepjohnson I didn't find any open source shusha to unicode converters. So, I am using online interfaces and doing it manually. So, I would like a little more time. I have pushed the original data though.

[2016-04-09 08:21] coderbhupendra commented on #228
There are no sanskrit text left,now  mostly only the english translation of old documnets are present.
Now i will have to search sanskrit documents from other places.

[2016-04-09 11:34] coderbhupendra opened #239 "Collecting Ancient Puranas for sanskrit corpus."
I have added six Puranas namely: garuDapurANa ,bhagpur,bhiishhmastuti,brahmapur,
brahpur,skandapur.There are total 18 puranas.I will add other puranas as I find them.Now I'm trying to clean the above  documents .

You can see the repo here:https://github.com/coderbhupendra/puranas

[2016-04-09 19:40] coderbhupendra commented on #239
I have cleaned above [puranas documents](https://github.com/coderbhupendra/puranas) .Please have a look and tell me if you want to see any changes.