[2016-04-10 05:41] coderbhupendra opened #240 "Preparing corpus from Sanskrit Wikipedia."
Here is  a good collection of ancient sanskrit documents here : [sanskrit wikipedia page](https://sa.wikisource.org/wiki/मुखपुटम्).I will start preparing corpus from here.
And let you know as I progress :)

[2016-04-10 17:05] coderbhupendra commented on #240
I have started to work.You can see repo now https://github.com/coderbhupendra/Sanskrit_wiki

[2016-04-11 17:24] kylepjohnson commented on #240
Great work, @coderbhupendra. So far your work looks great.

When you are done scraping, I recommend that you also make an index file containing a little info about each document (author and date if possible). This will be helpful for those of us who don't know Devangari well :)

Thank you!

[2016-04-11 17:29] kylepjohnson commented on #239
Wow, good find!

Please ping me here when you are done getting all of the texts. In the meanwhile, I will think about the license.

[2016-04-11 17:35] kylepjohnson commented on #235
Yes, that will be fine.

Yes, we prefer this :)

[2016-04-11 17:37] kylepjohnson commented on #228
Are there any Latin-character Sanskrit documents remaining? If so, let's get those quickly. If not, I think we're ready to close this ticket.

[2016-04-11 17:41] kylepjohnson commented on #215
OK, thank you for the update!

[2016-04-11 17:42] achaitanyasai commented on #220
Hello sir, I need few more days to complete this task, I will get back to you once I finish collecting the documents.

[2016-04-11 17:42] kylepjohnson commented on #220
Thanks for the update. Good work.

[2016-04-11 17:43] kylepjohnson commented on #227
Cool. Feel free to reach out with any Python 3 questions. I or others will be able to help you.

[2016-04-11 17:44] kylepjohnson commented on #214
Thank you @achaitanyasai I'll check the PR later today.

[2016-04-11 17:44] achaitanyasai commented on #214
@kylepjohnson Any feedback about the PR ?

[2016-04-11 17:45] achaitanyasai commented on #214
Oh Thanks for the information and actually I am about to ask the same!

[2016-04-11 17:56] kylepjohnson commented on #121
This has been ready to close for a while. Repo now available and import-able at <https://github.com/cltk/latin_text_antique_digiliblt>.

Great work!

[2016-04-11 17:56] #121 closed

[2016-04-11 18:01] kylepjohnson commented on #190
Comment updated at: <https://github.com/cltk/latin_text_antique_digiliblt/issues/1>.

[2016-04-11 18:16] coderbhupendra commented on #239
I have found all the Puranas.But Scraping them will take some time , am working on it.

[2016-04-11 18:19] coderbhupendra commented on #240
Ok from now on wards I will add a file named info.txt, containing information about each document.

[2016-04-11 18:20] coderbhupendra commented on #228
I think there are few sanskrit documents in  Latin-character.I will add them asap.
Thanks.

[2016-04-11 18:34] kylepjohnson commented on #214
Hi I've acceped the PR #238. But please add your scraping code to it, too. Thanks!

[2016-04-11 18:34] #214 closed

[2016-04-11 18:35] achaitanyasai commented on #214
Yeah thanks, I will add right now.

[2016-04-11 19:41] PonteIneptique commented on #235
Will do then

[2016-04-11 21:16] kylepjohnson commented on #235
Thank you, Thibault!

[2016-04-12 12:59] achaitanyasai commented on #214
@kylepjohnson Done adding scrapper files. These scrapper files are placed in their corresponding folders.

Also I have added the monolingual corpus : <i>sanskrit_text_gitasupersite</i>
- Corresponding repository : https://github.com/cltk/sanskrit_text_gitasupersite
- Corresponding PR : https://github.com/cltk/cltk/pull/241

Thank you.

[2016-04-12 14:48] coderbhupendra commented on #228
There was  "Bhagwat Geeta" in latin character.I have added it under latin folder.
I think we can close this ticket now.

[2016-04-12 23:18] coderbhupendra commented on #240
@kylepjohnson  I have added new 11 Puran Books .[Please have a look into the repo](https://github.com/coderbhupendra/Sanskrit_wiki/tree/master/wiki_documents/puranas).

Just wanted to bring one thing in notice that: The site from where I'm scarping all these Sanskrit document, i.e [wikipedia pages](https://sa.wikisource.org/wiki/%E0%A4%AE%E0%A5%81%E0%A4%96%E0%A4%AA%E0%A5%81%E0%A4%9F%E0%A4%AE%E0%A5

[2016-04-12 23:35] coderbhupendra commented on #239
I will like to change the name of my this repo from [puranas](https://github.com/coderbhupendra/puranas) to "sanskrit_text_sanskrit_documents", As i took this Puranas documents from site called [sanskrit_documents](http://sanskritdocuments.org/).This site has a good collection of various ancient sanskrit documnets. So from now i will push all documents scraped from this site to this new repo.

[2016-04-13 12:41] Akirato commented on #227
@kylepjohnson
Hi, the repository https://github.com/Akirato/itransConverter is ready. It works for both Python 2 and 3.
I haven't tested it intensively. But all the basic function were working properly.
Also, the code gives KeyError if it doesn't get the proper character. I would say we just the character to output without converting instead of KeyError.

[2016-04-13 16:00] kylepjohnson opened #242 "Pylint cleanup of some core code"
This ticket is for @shaiwilson

To get started, run `find cltk -name '*.py' | xargs pylint` from within the root of the cltk repo. Start from the modules with the worse scores, get each to the best score you can (without altering the algorithms of logic of the code), then move on to the next. If you are unsure of any style questions, start here with [our style guide](https://github.com/cltk/cltk/w

[2016-04-13 22:43] kylepjohnson commented on #227
Great work. Next steps:

* Add `__license__` and `__author__` variables to the top of each of these files. For author, make sure to include the name of all past workers on this script, in a list, like ['name <email@email.com>',  '...', ...]. For license, give 'GPLv3'.
* About the KeyError: You're right, let's return the unrecognized character(s). Would it make sense to add an optional parameter of

[2016-04-14 10:39] Akirato commented on #227
Added everything including tests and created a pull request  #243 . Please check it out.

[2016-04-14 18:56] achaitanyasai commented on #213
Hello sir, I have started working on it. And I will get to you about the progress by this week end.

[2016-04-14 18:57] achaitanyasai commented on #212
Hello sir, I have started working on it and actually I found cltk_frontend already has <a href="https://github.com/cltk/cltk_frontend/blob/master/Dockerfile">DockerFile<a>. So Do I need to consider that or write a new Dockerfile by creating seperate repo.

[2016-04-15 05:25] kylepjohnson commented on #214
Hi @achaitanyasai Thanks I accepted PR #241.

Question:  On Gita Supersite I see a few other works, such as: Minor Gita, Ramacharitmanas, Brahma Sutra, and Yoga Sutra. Should we get these too? If yes, then I would like to make an extra ticket for this and assign it to you or another if you're not free.

[2016-04-15 05:29] kylepjohnson commented on #228
Wonderful. :clap:

[2016-04-15 05:29] #228 closed

[2016-04-15 05:29] achaitanyasai commented on #214
Oh yes it's a nice idea. Previously I have concentrated on parallel corpus. But these categories contains only monolingual corpus, I didn't look at them.
Now I will work on this, and get back in 1-2 days.
Thank you.

[2016-04-15 05:31] kylepjohnson commented on #239
Yes, `sanskrit_text_sanskrit_documents` is a good name for this. You can transfer ownership of the repo when you're able. Thanks!

[2016-04-15 05:33] kylepjohnson commented on #240
This looks very good to me. As always, you'll need to add a license before your transfer it.

[2016-04-15 05:38] kylepjohnson commented on #227
Hi, you're very close, but I would like you to make some changes:

* Remove the file `cltk/corpus/sanskrit/itransConverter/LICENSE.md`.
* Remove `cltk/corpus/sanskrit/itransConverter/README.md`.
* Move the tests in `cltk/corpus/sanskrit/itransConverter/tests.py` into `cltk/tests/test_corpus.py`. You can add your name to the `__author__` dunder.

Make these fixes and then we can work together on ad

[2016-04-15 05:42] kylepjohnson opened #244 "Add texts to Git Supersite corpus"
Following from #214.

About repo <https://github.com/cltk/sanskrit_text_gitasupersite>.

Among the texts available to get: Minor Gita, Ramacharitmanas, Brahma Sutra, and Yoga Sutra. Others too?

[2016-04-15 05:43] achaitanyasai commented on #244
Thank you sir, I will start scraping the data and get back to you in 1-2 days.

[2016-04-15 05:43] kylepjohnson commented on #214
Thank you, Sir! New ticket for you at #244

[2016-04-15 05:45] achaitanyasai commented on #214
Yeah I have seen and I am surprised to see  this : "Thank you, <b><i>Sir!</i></b>".

[2016-04-15 05:50] kylepjohnson commented on #214
We're all colleagues here :)

[2016-04-15 05:57] achaitanyasai commented on #214
Actually I am too small(when compared to you) to receive "sir" :)
Any way Thank you.

[2016-04-15 07:55] Akirato commented on #227
@kylepjohnson
Hi,
I am not able to import my code in test_corpus.py
I added a blank __init__.py in itransConverter
`.
|-- corpora.py
|-- __init__.py
`-- itransConverter
    |-- __init.py__
    |-- itrans_transliterator.py
    |-- langinfo.py
    |-- sinhala_transliterator.py
    `-- unicode_transliterate.py
`
I am trying to import like:
`from cltk.corpus.sanskrit.itransConverter.itrans_translitera

[2016-04-15 14:52] kylepjohnson commented on #227
You probably need to re-install your code. So run `python setup.py install`.

Also, I would like to see your itrans code within a `sanskrit` dir within `corpus`.

Let me know how it goes.

[2016-04-15 17:00] Akirato commented on #227
@kylepjohnson
It still is not working.
Here's the forked repository for the Itrans code https://github.com/Akirato/cltk

[2016-04-15 17:04] mrjin commented on #140
@kylepjohnson Kyle, I send you an email but got no response, I am not sure it was my problem of the mail. I have some questions:
1. How the group do the code review? I check the related pages including coding style and coverage etc., but I don't find any materials to do with
the code review.
2. What is the format and requirement for the log? Where to find the format and requirement for the log out

[2016-04-15 17:25] achaitanyasai commented on #244
Hello sir, I have added 3 new texts:
- <a href="https://github.com/cltk/sanskrit_text_gitasupersite/tree/master/brahmasutra">Brahma Sutra</a>
- <a href="https://github.com/cltk/sanskrit_text_gitasupersite/tree/master/minigita">Mini Gita</a>
- <a href="https://github.com/cltk/sanskrit_text_gitasupersite/tree/master/yogasutra">Yoga Sutra</a><br>

scrapper files are present in their corresponding dir

[2016-04-15 17:26] kylepjohnson commented on #227
Does it install ok? And what is the error you get? Please copy-paste it.

[2016-04-15 17:27] kylepjohnson commented on #140
@mrjin I'll write back when I'm able. Thanks.

[2016-04-15 17:41] kylepjohnson commented on #227
I can import the files, eg:

[code]

However when I try to do use your primary class, I get an error due to your imports being wrong.

[code]

[Look here](https://github.com/Akirato/cltk/blob/master/cltk/corpus/sanskrit/itransConverter/unicode_transliterate.py#L22). I think you need to change these lines to:

[code]

If you get other ImportErrors, keep trying with this.

Also, when reporting error

[2016-04-15 19:22] achaitanyasai commented on #244
Hello sir, I think it's done!
Actually I have ignored 4 texts for the following reasons:
- I think these two texts (<a href="http://rammangaldasji.iitk.ac.in/">Rammangaldasji</a> and <a href="http://nepali.iitk.ac.in/">Nepali Site</a>) are not classical.
- These two texts (<a href="http://www.gitasupersite.iitk.ac.in/sites/default/files/vedanta%202.11.pdf">Vedanta Concept Map<a> and <a href="http:

[2016-04-15 19:52] Akirato commented on #227
I made the changes suggested and pushed to Akirato/cltk but I still am getting the error
[code]
CLTK builds properly but its not copying the files from sanskrit/itransConverter
The output for `python setup.py install` is here http://paste2.org/ysAE3UA7
Is there a file where I have to add paths for new modules?

[2016-04-15 19:56] kylepjohnson commented on #244
Wonerful!

[2016-04-15 19:56] #244 closed

[2016-04-15 20:19] kylepjohnson commented on #227
Not sure what's going on. I'll try myself tonight or tomorrow!

[2016-04-16 00:48] achaitanyasai commented on #244
Thank you sir.

[2016-04-16 09:07] coderbhupendra commented on #240
I have changed the name of this repo from "sanskrit_wiki" to "sanskrit_text_sanskrit_wiki".And I have added the License.And transferred the Ownership under Sanskrit Team.

[2016-04-16 09:23] coderbhupendra commented on #239
I have changed the name to ""sanskrit_text_sanskrit_documents"  and transferred the ownership under Sanskrit Team.

[2016-04-16 12:06] Akirato commented on #227
Sure. I will try some things myself and tell you if it works :smiley:

[2016-04-16 13:08] Akirato commented on #215
@kylepjohnson
I have converted text to unicode. Some of it is still left to be converted. You can find them here: https://github.com/Akirato/cltk_classical_hindi_corpus
Which repository should I put it in `cltk` ?

[2016-04-16 19:27] kylepjohnson commented on #240
Hi, I updated the README and changed the name slightly: <sanskrit_text_wikipedia>.

Question:  Are these all of the Classical Sanskrit texts on Wikipedia? If not, let's make a new ticket for getting them.

I think we're ready to add this to the core. You know how to do this, right?

[2016-04-16 19:31] kylepjohnson commented on #239
Thanks. Add this corpus to the PR when you do the Wikipedia texts, too.

[2016-04-16 19:38] kylepjohnson commented on #215
Cool!

* Rename the repo to `hindi_text_ltrc`
* Transfer ownership to the cltk organization.
* Add and `# About` and `# License` section to the README.md. Also say a little more about the LTRC organization under About.
* Add the files `cltk/corpora/hindi/__init__.py` and `cltk/corpora/hindi/corpora.py`. Follow the pattern of the other languages for what to put in `corpora.py`.

[2016-04-16 20:07] kylepjohnson commented on #227
Hi @Akirato, I have a plan for you. Instead of troubleshooting your code (which is difficult because it introduces lots of new stuff), use this minimum working example that I have started on a new branch: <https://github.com/cltk/cltk/tree/itrans/cltk/corpus/sanskrit/itrans>.

Assuming that `unicode_transliterate.py` is the function that you want users to import, try this:

[code]

What I think yo

[2016-04-16 20:09] coderbhupendra commented on #240
Yeah all of these are Classical Sanskrit.And in this wiki pages there are few documents which were also present in scared_text , so i dont need to scrap them again.

[2016-04-16 20:14] coderbhupendra commented on #239
Should i send the PR now , or after i scrap sanskrit_documents it completely.

[2016-04-16 20:21] kylepjohnson commented on #240
Ah, actually I would like to add those other texts, despite some overlap. This will be useful for researchers in the future.

If you don't have time to do these now, please make a new ticket explaining which texts need to be scraped. This could be a chance for someone to learn from your code.

So, please either get these texts or make a new ticket and link to it here. Then I'll close this one :)

[2016-04-16 20:22] kylepjohnson commented on #239
If you can scrape the rest within a few days, add them, then make the PR. Otherwise make the PR and make a new ticket about the remaining texts, so we don't forget which still need to be got.

[2016-04-16 20:25] kylepjohnson opened #245 "Write syllabifiers for Indian languages"
This ticket is for @soumyag213

As discussed by email, you'll port [this and related modules](https://github.com/anoopkunchukuttan/indic_nlp_library/blob/master/src/indicnlp/syllable/syllabifier.py), to the CLTK, from the Indic NLP Library.

For a first step, I'd like to see this working in your own repo, which you have started at: <https://github.com/soumyag213/cltk-beginning-indo>. In the README

[2016-04-16 20:27] coderbhupendra commented on #239
Ok i will make PR for whatever i have scraped and make a ticket about what i will be  scraping in May.And again add those under this repo afterwards.

[2016-04-16 20:29] coderbhupendra commented on #240
Ok , i will make send PR for this one also , and make a new ticket about things which i will scrap in May.

[2016-04-16 20:35] coderbhupendra commented on #240
Kyle , I have transferred ownership of this repo under Sanskrit Team. I dont know how to add this to core.

[2016-04-16 20:49] kylepjohnson commented on #240
No problem, you can learn now. All of the instructions for doing this are contained here, though somewhat appended: <https://github.com/cltk/cltk/wiki/How-to-add-a-corpus-to-the-CLTK>.

Please let us know if you get stuck on something!

[2016-04-16 21:42] coderbhupendra opened #247 "Sanskrit documents to be scraped from Wikisource."
This ticket is in continuation of #240
[In this page everything is Classical Sanskrit text:](https://sa.wikisource.org/wiki/%E0%A4%AE%E0%A5%81%E0%A4%96%E0%A4%AA%E0%A5%81%E0%A4%9F%E0%A4%AE%E0%A5%8D)The followings are the  main Documents which will be prepared.
- वेदाः
- वेदा्ङ्गानि
- उपवेदाः (उपवेदाः)  (partially scarped)
- महाकाव्यम्
- पुराणानि              (More than half scraped)
- दर्शनानि
- स्

[2016-04-16 22:11] kylepjohnson opened #248 "Continue development of AncientDate"
@nishnik your old PR #191 was close but I saw a few main issues:

1. It introduced some improper syntax styles
1. Deleted some code which might have been useful
1. Didn't explain API in docs or in module docstring (this is important for me when reviewing code)

I have been working with your [AncientDate](https://github.com/nishnik/AncientDate) and I think it is very good. A few things I would like

[2016-04-16 22:29] coderbhupendra commented on #240
Kyle am not sure, but for adding this repo to Core i just do it from "Transfer Ownership" , if so , i dont have access to that  my repos added  "cltk".So may be you will have do that from your side.

[2016-04-16 23:00] coderbhupendra opened #249 "Sanskrit documents to be scraped from Sanskrit Documents"
This ticket is in continuation of #239
[In this page there are many Classical Sanskrit text:](http://sanskritdocuments.org/)The followings are the Documents which will be prepared.
<li><a href="http://sanskritdocuments.org/sanskrit/by-category/atharvashirsha.php" title="atharvashirsha">अथर्वशीर्ष</a></li>
<li class="has-sub"><span class="submenu-button"></span><a title="By Numbers">क्रमाङ्कानुसारे

[2016-04-16 23:02] coderbhupendra commented on #249
Every link above contains good amount of Sanskrit Literature :)

[2016-04-16 23:14] kylepjohnson commented on #240
Yes, transferring ownership is what I meant.

Also, I made a mistake in re-naming the repo to `_wikipedia`. I changed it to `_wikisource`.

[2016-04-16 23:14] #240 closed

[2016-04-16 23:16] coderbhupendra commented on #247
<a href="/wiki/%E0%A4%8B%E0%A4%97%E0%A5%8D%E0%A4%B5%E0%A5%87%E0%A4%A6%E0%A4%83" title="ऋग्वेदः">ऋग्वेदः</a>
<a href="/wiki/%E0%A4%AF%E0%A4%9C%E0%A5%81%E0%A4%B0%E0%A5%8D%E0%A4%B5%E0%A5%87%E0%A4%A6%E0%A4%83" title="यजुर्वेदः">यजुर्वेदः</a>
<a href="/wiki/%E0%A4%B8%E0%A4%BE%E0%A4%AE%E0%A4%B5%E0%A5%87%E0%A4%A6%E0%A4%83" title="सामवेदः">सामवेदः</a>
<a href="/wiki/%E0%A4%85%E0%A4%A5%E0%A4%B0%E0%A5%8D%E0

[2016-04-16 23:17] kylepjohnson commented on #249
Thank you @coderbhupendra. Do you want to keep this issue for yourself or let another try?

[2016-04-16 23:23] shaiwilson commented on #242
Hi Kyle,

Thanks for all your help setting up :-) This week I set up the environment and started working on refactoring part of latin/syllabifier.py. I'm currently cleaning up def syllabify and I'm ready to run some tests. I found the test for my module but how to do run it from within the root of the repo? Thanks!

[2016-04-16 23:30] andreasgrv commented on #231
Hi @kylepjohnson
I got the [python-tlgu](https://github.com/cltk/greek_software_tlgu_python) code setup to test on windows using appveyor, however the tlgu code seems to be unix specific (uses unistd.h which is defined on unix systems only, uses user permissions when writing files and more). Therefore the compilation fails using microsoft visual studio. Should I try to solve the incompatibilities

[2016-04-16 23:31] kylepjohnson commented on #242
`pylint cltk/tests/test_corpus.py`

There are a bunch of corpus-installing tests that you may want to comment
out for dev, as it takes a while for them to download (though you only need
to download them once).

On Saturday, April 16, 2016, shai wilson <notifications@github.com> wrote:

--
Kyle P. Johnson, Ph.D.

Natural language processing, data science, architecture
<https://kyle-p-johnson.com>ky

[2016-04-16 23:36] kylepjohnson commented on #231
Interesting. Some of those changes, like user permissions, sound
irreconcilable.

What are the bare minimum changes you would need to make in order for TLGU
to run on Windows? We can have this version of yours be Windows-only.

As for your Appveyor work, would you share a link to any config files you
have made? I may want you to do a PR for that before moving on to more TLGU
stuff.

Thanks, very e

[2016-04-16 23:37] coderbhupendra commented on #249
If you don't have  any problem if I start it in May , I will like to do this.Else if someone wanna try this before I wont mind.

[2016-04-16 23:46] coderbhupendra commented on #240
Kyle as i stated previously I have transferred ownership of this repo under Sanskrit Team.But now  i dont have " settings" option  to  this repos added "cltk".So may be you will have do that from your side.

[2016-04-16 23:58] andreasgrv commented on #231
It's not irreconcilable exactly, but it has a solution using the C preprocessor and including different code depending on the platform the code is being built (not the cleanest - but I don't think there is another way). As an example [this link](http://stackoverflow.com/questions/592448/c-how-to-set-file-permissions-cross-platform) seems to solve the errors due to the permission flags when writing

[2016-04-17 00:13] shaiwilson commented on #242
Thank you!

I just ran pylint and the overall rating is from 7.35 to 7.46 (+0.11)
And, for the stem module the rating is currently 8.22.
I'm going to make my first PR for latin/syllabifier.py.

[2016-04-17 00:35] kylepjohnson commented on #249
OK, let's see if anyone grabs it before May. Thanks for being so generous :)

[2016-04-17 01:02] shaiwilson commented on #242
When I run nosetests there are a bunch of (unknown locale: UTF-8) errors. Is this uncommon?

[2016-04-17 04:38] Akirato commented on #249
The site says : " These texts are prepared by volunteers and are to be used for personal study and research. These files are not to be copied or reposted for promotion of any website or individuals or for commercial purpose without permission. Please help to maintain respect for volunteer spirit. "
I think we will have to talk to the maintainer first.

[2016-04-17 05:22] andreasgrv commented on #231
I got the tlgu-cython module compiled and linked after a lot of messing around with the differences of msvc and gcc (for more info about this check the end of the message). I now get a UnicodeError that makes one of the tests fail:

C:\Python34\lib\encodings\cp1252.py:23: UnicodeDecodeError
===================== 1 failed, 1 passed in 0.07 seconds ======================

I guess this has to do with

[2016-04-17 06:48] coderbhupendra commented on #249
@Akirato  yeah i know that and i have mailed them asking for permission to use it .

[2016-04-17 07:35] Akirato commented on #227
Hi @kylepjohnson

Finally found the mistakes:
1. Conflicting versions of cltk. I installed cltk/cltk and then installed Akirato/cltk without removing the previous one.
2. In the itrans branch, it was `___init__.py` instead of `__init__.py` . So, setuptools.find_packages() couldn't find it.
Anyways, the codes and tests are working now. Made a PR too.  #250

[2016-04-17 14:53] Akirato commented on #215
@kylepjohnson
Transferred ownership to cltk.
It has parse.py. I will remove it once all of them are done.
That will take like 2-3 more days. :grinning:

[2016-04-17 15:55] kylepjohnson commented on #242
You don't need to use nosetest for your tests, just call a file with
`python`.

If you get errors, copy-paste them here and we'll see what is the problem.

On Saturday, April 16, 2016, shai wilson <notifications@github.com> wrote:

--
Kyle P. Johnson, Ph.D.

Natural language processing, data science, architecture
<https://kyle-p-johnson.com>kyle@kyle-p-johnson.com |
https://kyle-p-johnson.com | ht

[2016-04-17 19:44] achaitanyasai commented on #213
Hello sir, I have created a repo with name : <a href="https://github.com/achaitanyasai/cltk_api_docker">cltk_api_docker</a> and added the dockerfile. You can check it out.
I have a few doubts:
- What's the difference between passing <code>host='0.0.0.0'</code> in <code>app.run()</code> and ignoring it. I mean difference between <code>app.run(host='0.0.0.0')</code> and <code>app.run() </code> I am

[2016-04-17 19:56] achaitanyasai commented on #213
Also while adding LICENSE information, I found LICENSE files in some repositories as outdated. I mean for example here : <a href="https://github.com/cltk/cltk_api/blob/master/LICENSE">/cltk_api/LICENSE</a>, the year should be corrected to 2016 ?
 And similarly here : <a href="https://github.com/cltk/cltk.github.io/blob/master/LICENSE">/cltk.github.io/LICENSE</a>, <a href="https://github.com/cltk/l

[2016-04-18 09:26] kahnchana commented on #233
@kylepjohnson , I managed to port the code of the [stemmer.](https://github.com/kahnchana/Pali-NLP/tree/master/Stemmer)

It will output the stem of a given word by comparing with a database of endings, and applies that stemming algorithm recursively.

[2016-04-18 17:12] coderbhupendra commented on #249
The volunteers of this website organisation said we can use there data.And they can help us if we want documents in any particular format.I have mailed the regarding the type of License we need to use for there data.

[2016-04-18 23:10] kylepjohnson opened #251 "Change lemmatizer return_lemma flag"
@cltk/core-members This is an easy bugfix open to anyone.

Reading through the docs, I now see that I poorly labeled the flag `return_lemma` to the function [lemmatize](https://github.com/cltk/cltk/blob/a88a8d290a229e1f56a62fa1b4302572f78ed283/cltk/stem/lemma.py#L47).

This should instead be called `return_raw`, changed in `lemma.py`, [tests](https://github.com/cltk/cltk/blob/0942f7b4949bd5dcfdfff

[2016-04-18 23:43] shaiwilson commented on #251
Done!

I'm  making a PR right now.

[2016-04-19 00:31] kylepjohnson commented on #251
Sweet! Assigned to you. PR process is in the Wiki if you need a refresher.

[2016-04-19 00:40] kylepjohnson commented on #251
That was fast! :collision: Thank you!

Closing with merge of #252

[2016-04-19 00:40] #251 closed

[2016-04-19 00:40] kylepjohnson commented on #242
First accepted PR of `syllabifier.py` with #252.

[2016-04-19 00:43] shaiwilson commented on #251
Thanks! I made a PR!

[2016-04-19 00:45] shaiwilson commented on #251
No problem! 🤓

Sent from my iPhone

[2016-04-19 05:22] coderbhupendra commented on #239
@kylepjohnson you may close this as I have made a ticket for future work #249

[2016-04-19 13:12] achaitanyasai commented on #220
Ping @kylepjohnson
Hello sir, I have extracted few more documents :
- <a href="https://github.com/achaitanyasai/classical-telugu/tree/master/baddena/sumathi_satakam"> Sumati Satakam</a>
- <a href="https://github.com/achaitanyasai/classical-telugu/tree/master/bhartruhari/vairagya_satakam">Vairagya Satakam</a>
- <a href="https://github.com/achaitanyasai/classical-telugu/tree/master/dhurjati/sri_kala

[2016-04-19 13:14] achaitanyasai commented on #213
Any feedback ?

[2016-04-19 15:58] Akirato commented on #227
Hi @kylepjohnson ,
Increased tests and now it seems to pass the tests. :smile:
Any updates on the PR #250

[2016-04-19 17:02] kylepjohnson opened #253 "Add docs and more unittests for itrans module"
* Code coverage should be improved. Here's a report from your PR (<https://travis-ci.org/cltk/cltk/jobs/124228656#L1045>):

[code]

* We need docs! Add here: <https://github.com/cltk/cltk/blob/master/docs/sanskrit.rst>. You can look to `latin.rst` for markup examples.

[2016-04-19 17:21] kylepjohnson commented on #227
Yes, #250 is merged and now ticket #253 picks up a few cleanup issues you'll need to get done to consider this all finished.

Thanks!

[2016-04-19 17:21] #227 closed

[2016-04-19 17:29] kylepjohnson commented on #233
Hi @kahnchana I'm so glad to hear of your progress. In order for me to test your work, I will need to know your module's API. I recommend you add to your readme an example, in the way that we do for the CLTK docs ([Latin example](http://docs.cltk.org/en/latest/latin.html#stemming)).

Before making a PR, I will also need at least one test for each function. Here's how we test the Latin stemmer: <ht

[2016-04-19 18:25] kylepjohnson commented on #215
Great work! Repo now at <https://github.com/cltk/hindi_text_ltrc> and belongs to the Hindi group (of which you're a member).

[2016-04-19 18:29] kylepjohnson commented on #220
Good work. Let's transfer it now, since it has a good open source license. I will make you leader of the new Telugu group.

Before doing so, rename it to `telugu_text_wikisource`.

How many more texts Classical texts remain? Also, because I know nothing about Telugu literature, I will need some help from you documenting the authors and what years these texts were written. One idea: link an author'

[2016-04-19 19:13] #239 closed

[2016-04-19 19:21] Akirato commented on #215
I have extracted and cleaned all the data. The repository can be used for any tool now.
This should be a good start for classical Hindi :fireworks:

[2016-04-19 19:49] kylepjohnson commented on #215
So exciting!

Final step is to add Hindi as a corpus download: <https://github.com/cltk/cltk/tree/master/cltk/corpus>.

Add this and I'll merge the PR right away.

[2016-04-19 20:38] Akirato commented on #215
Hi @kylepjohnson ,
Done :smile:

[2016-04-19 21:09] kylepjohnson commented on #215
I don't see the PR. You've done this before, right?

[2016-04-19 21:25] Akirato commented on #215
Yes I updated in my repository. So PR #253  got updated with it.

[2016-04-19 21:43] kylepjohnson commented on #215
We are miscommunicating here. This ticket is for adding `cltk/corpus/hindi/corpora.py`.

It is my practice to try for 1 PR per ticket (and never 1 PR for 2 tickets),

[2016-04-19 23:43] Akirato commented on #215
Hi @kylepjohnson ,
Sorry for all that confusion. The PR for hindi corpora is #255 .

[2016-04-20 03:12] achaitanyasai commented on #220
Thank you sir for the information and I will transfer now itself.

<blockquote>How many more texts Classical texts remain?</blockquote>
There are about 20 - 25 texts. But they won't take much time to scrape. I will do it today itself.

And for the readme, I will document the authors and the dates in a day.
<blockquote>One idea: link an author's English-language Wikipedia page in the Readme. How do

[2016-04-20 06:22] achaitanyasai commented on #220
Done transferring to cltk : https://github.com/cltk/telugu_text_wikisource
I will add the remaining texts and update the readme very soon.

[2016-04-20 11:32] mineshmathew commented on #215
@Akirato @kylepjohnson  You may check out the parallel corpus here. It is one of the largest parallel corpus available for Hindi. And is tokenized. But not sure if the content is purely classical Hindi
https://lindat.mff.cuni.cz/repository/xmlui/handle/11858/00-097C-0000-0001-BD17-1

[2016-04-20 12:41] achaitanyasai commented on #220
Hello sir, I have added all the remaining texts : https://github.com/cltk/telugu_text_wikisource
I will update README very soon (In a day).

[2016-04-20 12:42] Akirato commented on #215
@mineshmathew Thanks for your help. But the newer version of it: [HindEnCorp 0.5](http://hdl.handle.net/11858/00-097C-0000-0023-625F-0) is maintained by my lab LTRC, IIIT Hyderabad. You can read that in the description too.
We use it for Machine Translation in Hindi and I don't think its a corpus for Classical Hindi.

[2016-04-20 15:35] Akirato commented on #253
Hi @kylepjohnson ,
PR #257 should take care of this.

[2016-04-20 15:36] Akirato commented on #215
@kylepjohnson
PR #256 should take care of it.

[2016-04-20 17:33] Akirato commented on #253
@kylepjohnson
Also, I think this module can be added to Classical Hindi and if in future Telugu and Tamil get added.
There is a Tokenization module too in Indic-NLP which I would like to port to Python3 if you think it would be helpful.

[2016-04-20 17:38] kylepjohnson commented on #253
Way to go, @Akirato ! Thanks for working so persistently on the PR problem.

1) Yes, I would love to see the tokenization module ported. I'll make you a ticket and let you know what I want to see first.

2) Does the new itrans module currently work for Telugu and Tamil?

[2016-04-20 17:38] #253 closed

[2016-04-20 17:38] kylepjohnson commented on #215
woo hoo!

[2016-04-20 17:38] #215 closed

[2016-04-20 17:42] Akirato commented on #253
Yes, language ids are the argument:
- 'hi' - Hindi and Sanskrit (Devanagari Script)
- 'te' - Telugu
- 'si' - Tamil (Sinhala script)

[2016-04-20 17:44] kylepjohnson opened #258 "Port tokenization module from Indic-NLP"
Before working on this, I would like to hear from you how the tokenization module works in the Indic-NLP library.

We currently inherit the NLTK's tokenization module, which works great for most Western languages. Please take a good look at what can currently do (<http://docs.cltk.org/en/latest/multilingual.html#word-tokenization>), then describe to us in this ticket how Indic-NLP does something d

[2016-04-20 17:53] Akirato commented on #258
Hi @kylepjohnson ,
Indic-NLP's tokenizer is trivial. Just has more number of language-specific punctuation marks. Languages supported are Hindi, Tamil, Telugu, Malayalam.
I will try and look for some sandhi-splitter libraries or algorithms to integrate with `cltk`.

[2016-04-20 17:55] kylepjohnson opened #259 "Add Malayalam texts from Wikisource"
Make a repo called `malayalam_text_wikisource` and transfer ownership to the CLTK. I will make you the first member of the Malayalam team. (Think about colleagues or friends who would want to help you out :)

In the README.md of the work, please list each author you include and what date they lived. If a Wikipedia entry exists (preferably in English, but other languages OK too) for the author or t

[2016-04-20 18:08] kylepjohnson commented on #220
Wow, such a beautiful script. I wish I could read it!

You're doing a great job. Two things to change before finishing:

* Put all of the texts in a directory called `texts` in the root of the repo.
* Move the `scrape.py` scripts into a directory called `scrapers` in the root of the repo. Rename each script to explain which text it gets.

Thanks so much. Once you're happy with this task, you can m

[2016-04-20 18:12] kylepjohnson commented on #258
Think about how best to incorporate it into what we've done already. Maybe you can add an optional `language` parameter to `nltk_tokenize_words()` which takes particular punctuation into account. See [nltk_tokenize_words() code here](https://github.com/cltk/cltk/blob/25da02fba58f77d54f8cd9a0cc851bcedfbf63e6/cltk/tokenize/word.py#L208).

[2016-04-20 18:16] kylepjohnson commented on #253
Cool. Would you like to extend the docs for Tamil and Telugu? Make new `telugu.rst` and `tamil.rst` files in `docs` and also add these langs to `index.rst`. Then have a section in each called `Transliteration` and link to your docs in `Sanskrit`.

[2016-04-20 18:43] Akirato commented on #258
Cool, I will define it as `def nltk_tokenize_words(string, lang=None,attached_period=False)`
Then work on it according to language and as default language is None. It will work for the
previous test cases too.

[2016-04-20 19:05] kylepjohnson commented on #258
`sentence.py` is for sentence tokenization, which is important but let's do that next. More involved as it involves machine learning and making a training set.

I like your idea. For argument order, please make it `nltk_tokenize_words(string, attached_period=False, language=None)`. Like you say, make this work so that our tests (and users' code) can remain unchanged.

[2016-04-20 20:23] Akirato commented on #258
PR #260 should take care of Sanskrit and Hindi, which other languages should it support.

[2016-04-20 20:46] kylepjohnson commented on #231
Good progress on this, Andreas.

What test is it that failed?

Also, does Appveyor offer Python 3.5? This is our standard (though does work on 3.4, too).

[2016-04-20 20:48] kylepjohnson commented on #249
@coderbhupendra thanks for writing to them. Would you please email an introduction between me and them? I would like to talk to them about licensing and data output. Thanks!

[2016-04-20 20:56] kylepjohnson commented on #213
I'm not aware of the nuances, but in my past work I had to use `host='0.0.0.0'` in order for the app to be visible to anyone *not* on localhost (as when serving online). You can change the code to `app.run(host='0.0.0.0')`. This makes sense.

About the dates, don't worry about them for now.

If you think it's ready, let's make a repo on Docker Hub.

[2016-04-20 20:58] kylepjohnson commented on #213
@achaitanyasai You have write access to this Docker repo now: <https://hub.docker.com/r/cltk/cltk_api/>.

[2016-04-20 21:02] #141 closed

[2016-04-20 21:19] kylepjohnson commented on #258
Sanskrit option added with PR 261

[2016-04-20 21:54] Akirato commented on #258
@kylepjohnson ,
Just googled stuff. Seems like Classical Tamil, Telugu and Malayalam did not have punctuation marks.
The modern punctuations came in due to printing press and hence are derived from European languages.
So the original code should work for Tamil, Telugu and Malayalam.
Sanskrit and Hindi have the same punctuations. Hence, just adding another argument for Hindi should be enough.

[2016-04-20 22:07] kylepjohnson commented on #258
Good research. Thanks!

[2016-04-21 02:45] andreasgrv commented on #231
The test that compares the decoded output to the desired output gets an encoding error. There is some sort of unicode incompatibility on windows I guess, I will check it out.

Yes it does, I have set appveyor to build for python 3.4 and 3.5, I just happened to copy the example error from the python 3.4 build.

[2016-04-21 03:05] achaitanyasai commented on #220
Thank you sir for the feedback and I will modify accordingly.

[2016-04-21 03:08] achaitanyasai commented on #213
Thank you sir, I will change it to <code>app.run(host='0.0.0.0')</code> and make a PR.
I will add travis support soon. Once it's done, I will push it to docker hub.

[2016-04-21 05:55] coderbhupendra commented on #249
This is there mailing list https://groups.google.com/forum/#!forum/sanskrit-programmers.We can even discuss our idea with them there.

[2016-04-21 06:06] kylepjohnson commented on #249
Wow, that's a great group! In a month or two, I think we should introduce ourselves there.

[2016-04-21 06:10] coderbhupendra commented on #249
Yeah I will like to take this and try to get maximum utilization of there resources and knowledge.

[2016-04-21 12:17] achaitanyasai commented on #220
Done changing directory structure, is this fine : <a href="https://github.com/cltk/telugu_text_wikisource">/cltk/telugu_text_wikisource</a> ?
I will update the readme and make a PR.

[2016-04-21 16:26] kylepjohnson commented on #249
OK, but please do not communicate with them on CLTK's behalf.

[2016-04-21 16:41] kylepjohnson commented on #220
This looks fantastic. I just updated the README.

I don't want the PR to wait for the index, so how about I make you a ticket just for adding an index?

Next step: I'd like you to make the PR (and add a new `docs/telugu.rst` and add telugu to `docs/index.rst`).

[2016-04-21 16:46] achaitanyasai commented on #220
Yeah fine, I will make the PR now itself.

[2016-04-21 16:55] kylepjohnson opened #262 "Add index to telugu_text_wikisource repo"
Following from #220.

I'm open to what this will look like. For now, the following will be adequate: In the README, make a section called `# Authors` and give a link to his English language Wikipedia page.

[2016-04-21 16:56] achaitanyasai commented on #262
I will do it. And by the way it's <i>telugu</i> but not <i>tegulu</i> :D

[2016-04-21 17:01] kylepjohnson commented on #262
Corrected, thank you. This is why we need you!

[2016-04-21 17:12] achaitanyasai commented on #220
Ping @kylepjohnson Done making PR: #263 You can look at it, and I will update readme, add docs very soon.
Thank you.

[2016-04-21 17:17] kylepjohnson commented on #220
See my comments why I rejected it #263.

For `telugu.rst`, you can add this:

[code]

[2016-04-21 17:19] achaitanyasai commented on #220
Yeah I have seen it. Thanks a lot.

[2016-04-21 18:42] IvyJL opened #265 "Tokenization of enclitics"
I was trying to tokenize Latin and it seemed to separate -que, -ne, and -ve just fine, but not -n (like viden for videsne) or -st. I've pasted my Terminal stuff below. (This is my first thing on GitHub; sorry if it sounds clueless).

Python 3.5.1 (v3.5.1:37a07cee5969, Dec  5 2015, 21:12:44)
[GCC 4.2.1 (Apple Inc. build 5666) (dot 3)] on darwin
Type "help", "copyright", "credits" or "license" for m

[2016-04-21 18:53] kylepjohnson commented on #265
Hi Ivy, thanks for the bug report. Pinging @diyclassics who is the author of this library.

One ambiguity in the docs, which is totally my fault, is that you can also use [the language-independent tokenizer](http://docs.cltk.org/en/latest/multilingual.html#word-tokenization). So if you're not super-concerned about splitting suffixes:

[code]

I don't know your use case, so this might not be right

[2016-04-21 19:11] IvyJL commented on #265
Thanks, Kyle! But I do want to be able to split off enclitic suffixes. The use case is just to input a passage and get out a list of all the words in it, including things like "-que" as words in their own right. So a passage with "Romani" and "Romanique" would give me two instances of "Romani" and one of "-que".

Look forward to hearing what Patrick says. I'm pretty sure I saw on his website that

[2016-04-21 21:19] kylepjohnson commented on #249
From our disappointing interaction with the Sanskrit Document team, it looks like we need to pull this repo (and rm it from <https://github.com/cltk/cltk/blob/master/cltk/corpus/sanskrit/corpora.py#L23>).

I'm assigning this ticket to myself for now.

[2016-04-22 00:10] diyclassics commented on #265
Thanks for writing and for experimenting with the Latin tokenizer. I just ran the same code on my machine using the latest version from the CLTK repo and it split the enclitics correctly for these sentences, i.e.:

- ['Hoc', 'verum', 'est', ',', 'tota', 'te', 'ferri', ',', 'Cynthia', ',', 'Roma', ',', 'et', 'non', 'ignota', 'vivere', 'nequitia', '?’]
- ['Cenavi', 'ne', 'ego', 'heri', 'in', 'navi',

[2016-04-22 13:37] Akirato commented on #258
@kylepjohnson
Hi,
Would the `sentence.py` also have to be changed to include Sanskrit and Hindi or
is it connected to `PunktLanguageVars` of `word.py`?

[2016-04-22 17:16] kylepjohnson commented on #265
@diyclassics, thanks. What did your entire code snippet look like? Like this?

[code]

@IvyJL I'm looking at your code above, and one (probably unrelated) thing is that you do not need to import `import nltk` or `import cltk` for this operation, but only `from cltk.tokenize.word import WordTokenizer`. I doubt these extra imports are causing the problem, but just to make sure.

[2016-04-22 17:35] kylepjohnson commented on #258
For sentence tokenization, we have used a statistical algorithm for Greek and Latin. See this repo for Latin:  <https://github.com/cltk/latin_training_set_sentence_cltk>.

It's a pretty easy process, really.

1. Make a new repo called eg `sanskrit_training_set_sentence_cltk`
1. Make a text file, with 1 sentence on each line (eg, [training_sentences.txt](https://github.com/cltk/latin_training_set_s

[2016-04-22 18:28] IvyJL commented on #265
@diyclassics I think I'm running CLTK 0.1.32. I installed it via pip. Can you tell me how to get the latest version, if that's not it?

@kylepjohnson Yes, I think my code snippet was like that. I tried again without the extra imports and cutting and pasting your code, but my result was not the same as yours. Is it possible there's some bit that I haven't installed from Corpora (I had some trouble

[2016-04-22 19:46] Akirato commented on #258
Is there anything more to be done?

[2016-04-22 22:29] kylepjohnson commented on #258
We need to make docs for this. But to know where to put this, I think I need to know how it works better. Can you give me the output of the following?

[code]

What you added is something which un-fixes periods from end-of-sentence words. For example, do we get this `['धर्मक्षेत्रे', 'कुरुक्षेत्रे', 'समवेता', 'युयुत्सवः।']`? Or this `['धर्मक्षेत्रे', 'कुरुक्षेत्रे', 'समवेता', 'युयुत्सवः', '।']`? I

[2016-04-25 05:30] kylepjohnson commented on #140
@mrjin and all: This issue is now open to all. Please write here if you're interested and explain briefly how you'll do it.

[2016-04-25 05:33] kylepjohnson commented on #136
Patrick @diyclassics will be working on this for GSoC 2016.

[2016-04-25 05:33] kylepjohnson commented on #108
This issue now open to all

[2016-04-25 17:05] soumyag213 commented on #245
Please check out the updated code in my repository (https://github.com/soumyag213/cltk-beginning-indo/blob/master/README.md) at syl.py.
Also, attached therewith is a README, which explains the working as well as the issues faced with the code

[2016-04-25 17:06] soumyag213 commented on #245
Sorry for the delay, I had some overpowering family emergencies

[2016-04-25 17:29] kylepjohnson commented on #245
Hi Soumya, Not a problem. I'm happy to see your work developing so well.

I haven't run your code yet, but here are some changes/questions:

* How large are the files at `INDIC_NLP_RESOURCES` and `INDIC_NLP_LIB_HOME`?
* In Python 3 with a modern editor, you don't need to put `# -*- coding: utf-8 -*-` at the top. I recommend you use the free PyCharm IDE.
* We shouldn't have to set the path to the t

[2016-04-25 20:27] souravsingh commented on #137
I would like to work on this during the summer. This project can also help me in improving my Classical Latin knowledge(which I believe is not too good).

[2016-04-25 20:34] souravsingh commented on #225
The work is still being done in my repo(Although a tad slower). I am thinking of adding support for Anglo-Saxon, if @kylepjohnson can help me with it.

[2016-04-25 20:50] kylepjohnson commented on #137
Hi Sourav, there are a few people interested in doing DP parsing for various languages. I'm going to make us a new ticket and include you on it!

[2016-04-25 22:53] kylepjohnson commented on #225
@souravsingh I think Anglo-Saxon is a great choice. First off, how is this ticket progressing? I'd like to see at least one or two corpora finished before moving on to anything else.

That said, what Anglo-Saxon NLP would you like to add first? Perhaps a stopword list?

[2016-04-26 20:29] souravsingh commented on #225
I am almost finished with the Exeter Book Corpus and proceeding towards The Paris Psalter for the corpus. The Stopword list would be a great first tool to add.

[2016-04-27 15:47] kylepjohnson commented on #225
Great. Ping me here when the corpus is ready for me to look at. Then you can do a quick transfer and PR. For language, don't call it `anglo_saxon` but `old_english` (unless you have objections).

I'll open a ticket for you now on stopwords, but let's get this done first. Thanks!

[2016-04-27 15:51] kylepjohnson opened #266 "Make stopwords list for Old English"
To generalize, I observe that there are different approaches to making stopword lists, based either on statistics (most common words, variously calculated) or grammar (definite and indefinite articles, pronouns, etc.) (or some combination).

In doing this ticket, I would like you to do a little research on whether there exist any good lists for OE. If there is one, let's just take it. If not, we c

[2016-04-28 05:05] kylepjohnson opened #267 "Add NLP support for Old English"
This is a high-level ticket (an "epic") to track progress of Old English (or Anglo-Saxon) NLP support. This will include:

* corpora
* stemmer
* tokenizer
* stopword list
* POS tagger
* dependency parser
* indices of authors, texts, dates, and genres

[2016-04-28 05:12] #267 closed

[2016-04-28 05:34] kylepjohnson opened #268 "Scrape Corpus of Middle English Prose and Verse"
This ticket is for @tasnani

To collect the 146 volumes of the Corpus of Middle English Prose and Verse (<http://quod.lib.umich.edu/c/cme/>).

Scraping won't be terribly difficult, but it'd be a lot easier if we had their XML. Would you like to contact the site owners (cc me) and ask if they have a direct XML output for us?

[2016-04-28 17:19] kylepjohnson commented on #268
I have written CMEPV about a document dump. Waiting for their response.

[2016-04-28 23:34] kylepjohnson commented on #268
Corpus here: <https://github.com/cltk/text_middle_english_cmepv>.

The managers of the corpus were kind enough to give us a direct dump of all of their public domain files. (Some from Oxford they don't provide in the dump.)

Two versions of each file, in XML and SGML (similar to HTML). I'm going to close this ticket and leave it open to our contribs about what they want to work on next.

[2016-04-28 23:34] #268 closed

[2016-04-28 23:37] tasnani commented on #268
Won't scraping be the next step?

[2016-04-28 23:38] kylepjohnson commented on #268
Well, we don't need to scrape anymore :)

[2016-04-28 23:42] tasnani commented on #268
Indexing the files sounds good. I have to say that I have my finals till Tuesday and will be able to work on  it on Wednesday. Can you explain in detail what the indexing should look like?

[2016-04-28 23:58] kylepjohnson opened #269 "Write index file for CMEPV"
Corpus here: https://github.com/cltk/text_middle_english_cmepv

This will probably need to be done in several iterations. I think the best start is to get will be author/text names related to each file.

For example, `acb1675.xml` has the title `Iacob and Iosep; a middle English poem of the thirteenth century, ed. by Arthur S. Napier` at the node `/DLPSTEXTCLASS/HEADER/FILEDESC/TITLESTMT/TITLE`. Y

[2016-04-28 23:59] kylepjohnson commented on #268
@tasnani please accept your invite and assign this follow-up ticket to you: <https://github.com/cltk/cltk/issues/269>.

[2016-04-29 00:26] tasnani commented on #269
Gotcha. I will  let you know if I have more questions.

[2016-04-29 00:36] kylepjohnson opened #270 "Write stopword list for Middle English"
Or, even better, take one from somewhere else.

This could be statistical (some kind of word frequency measures) or grammatical (part of speech types).

Open to anyone.

[2016-05-03 14:51] andreasgrv commented on #231
Hi Kyle,

I fixed the error, tlgu is now passing the tests on windows as well (using appveyor). In general if I correctly understand the problem, under windows the default input output encoding is not utf-8 by default. Therefore, all reads and writes from files need encoding='utf-8' to be specified in order to avoid encoding and decoding errors when the program tries to decode a byte string as a w

[2016-05-03 20:44] kylepjohnson commented on #231
Here's the link to your TLGU Cython repo, for others' sake: <https://github.com/cltk/greek_software_tlgu_python>.

That makes sense, about the encoding. In making CLTK work for Windows, we'll need to do similar for all file openings and closings.

On another note, are all the builds in Appveyor ([.yml here](https://github.com/cltk/greek_software_tlgu_python/blob/master/appveyor.yml)) for Windows?

[2016-05-03 20:54] andreasgrv commented on #231
Yes, they are windows builds for 32 and 64 bit python using the microsoft visual C compiler.

Yes, I think so. The thing is, if the code is ported to windows (the changes made to all file opens etc) then TLGU can be added as a requirement - since it now exists as a separate package.

[2016-05-03 21:04] kylepjohnson opened #271 "Add Appveyor builds to CLTK core"
We'll be attempting Windows compatibility for the CLTK core, so we need to add Appveyor, since Travis CI doesn't support Windows.

This  task will require you to add an `appveyor.yml` file. Just focus on Python 3.5. I'll "turn on" Appveyor integration from my end, on GitHub.

Once this is done (and the build is failing), Andreas (likely with a little help) will then move on to fixing this Windows

[2016-05-03 21:05] kylepjohnson opened #272 "Add Windows support for Core"
To be followed by #271

[2016-05-03 21:05] kylepjohnson commented on #231
Ticket #271 for adding Appveyor.

#272 for actually making code run on Windows.

[2016-05-03 21:21] andreasgrv commented on #231
Ok, I'll take care of #271 shortly, I can't guarantee I can do #272 since there are at least 211 parts of code that need changing:

[code]

Basically if it was only that I'd go ahead and do it, but it is never as simple as it seems :smile_cat:

[2016-05-03 21:27] kylepjohnson commented on #231
We'll work together on #272.

If we're lucky, it'll just be a matter of adding encoding to each open, (`with open(file, encoding='-utf_8')`). This will fix most of the problems, I bet. Any remaining issues I'll have to figure out.

[2016-05-03 21:27] #231 closed

[2016-05-03 23:01] kylepjohnson commented on #271
I made an Appveyor account: <https://ci.appveyor.com/project/kylepjohnson/cltk>.

[2016-05-03 23:44] kylepjohnson commented on #272
New AppVeyor URL: <https://ci.appveyor.com/project/cltk/cltk>.

[2016-05-04 14:59] andreasgrv commented on #271
I made a separate branch called windows and added appveyor. What do we do now? Should I push the branch as a separate branch until the fixes are made? I suppose there is a way to run the tests on the windows branch instead of master - not sure though.

[2016-05-04 15:57] mbevila opened #273 "Unicode issue with Greek taggers and Lemmatizer"
There is an issue with using the Unicode output of TLGU with the taggers and lemmatizer.
It only concerns words having a character with the acute (´) accent and without breathings. The problem I encountered is that both the taggers and the lemmatizer only work if they are encoded with WITH TONOS characters (see below). There are two ways to encode Greek chars with acute accent in Unicode. You may

[2016-05-06 01:20] kylepjohnson opened #275 "Make Greek dependency parsing model with Maltparser"
I recommend that starting with the Maltparser's command line interface, then move on to using it with the NLTK's wrapper.

On the repo at <https://github.com/cltk/greek_treebank_perseus>, use [the `.xml` files here](https://github.com/cltk/greek_treebank_perseus/tree/master/greek_treebank_perseus).

[2016-05-06 01:22] kylepjohnson opened #276 "Make Latin dependency parsing model with Maltparser"
In your learning how to do this, I recommend that you start with the Maltparser's command line interface, then move on to using it with the NLTK's wrapper.

On the repo at <https://github.com/cltk/latin_treebank_perseus>, use [the `.xml` files here](https://github.com/cltk/latin_treebank_perseus/tree/master/latin_treebank_perseus).

[2016-05-06 01:36] kylepjohnson opened #277 "Add functions for accessing new Greek work-name index"
Ticket for @mbevila

Building of Michele's PR #274 , add functions which allows for accessing [this new author-work file](https://github.com/cltk/cltk/blob/master/cltk/corpus/greek/tlg/work_numbers.json) in [parse_tlg_indices.py](https://github.com/cltk/cltk/blob/master/cltk/corpus/greek/tlg/parse_tlg_indices.py).

I'll leave it to you to decide which function(s) would be useful for this. A basic

[2016-05-06 01:40] kylepjohnson commented on #271
Good question about where to test. How about you make a PR for a new branch called 'appveyor'. I'll then turn on appveyor to build only that branch (not master for now).

I'll change your permissions so that you can merge to the appveyor branch.

[2016-05-07 16:07] kylepjohnson opened #278 "Add interface to dependency parsing models to core"
For [the dependency parsing milestone](https://github.com/cltk/cltk/milestones/Add%20dependency%20parsing).

Once tickets #275 and/or #276 are done, add an interface to the models along the lines of [cltk/tag/pos.py](https://github.com/cltk/cltk/blob/master/cltk/tag/pos.py).

[2016-05-08 02:13] kylepjohnson commented on #273
Thank you for this post, this is certainly a problem. I see your PR #279, which you closed before I could merge. I'll wait to hear from you about how to go about this.

[2016-05-11 17:00] kylepjohnson commented on #272
#280 by @swierh made a small but useful change to the file separator in one file.

[2016-05-11 22:13] andreasgrv commented on #272
Ok, I had a quick look and there are more places where the path has to be corrected

[2016-05-11 22:42] kylepjohnson commented on #272
@andreasgrv Yes, I use that pattern often.

I am interested to hear from @swierh how he came to make this fix, and what currently works.

In another note, I changed the appveyor config to call each test file one-by-one. We can see that it's [failing on test_corpus, most the way through](https://ci.appveyor.com/project/cltk/cltk/build/1.0.5/job/spedi30sq5sxtufn#L589).

[2016-05-12 11:44] swierh commented on #272
@kylepjohnson I am helping a client with a Greek lexicon, for which I only use the Greek lemmatize function: `LemmaReplacer('greek').lemmatize()` in `cltk.stem.lemma`. I first encountered the problem using this function. I haven't tried any functions other than this one and importing the corresponding corpus, both of which now work perfectly on Windows. If I encounter any more problems I will atte

[2016-05-12 13:49] BenjaRoh opened #281 "Latin Lemmatizer"
We recently used CLTK to lemmatize 15th century Latin speeches from the Consulte e Pratiche in Florence. We noticed two mistakes.

1. CLTK transforms bellum (war) into bellus.

2. It tends to transfrom everything into verbs. Here are three examples:

- qui1 supo [original: super/above, NEW: supo/to throw] novus et littera lombardie habeo consilium bonus civis
- qui1 mitto ad dominus paduanum, ito

[2016-05-12 22:24] kylepjohnson opened #282 "Incorporate SyntaxNet & TensorFlow"
Google's new [SyntaxNet](http://googleresearch.blogspot.com/2016/05/announcing-syntaxnet-worlds-most.html?m=1) ("the world’s most accurate parser") looks amazing, promises to bring easy neural nets to NLP. It's build on TensorFlow, which has native Python bindings.

Docs on making POS taggers: https://github.com/tensorflow/models/tree/master/syntaxnet#part-of-speech-tagging.

Docs on dependency pa

[2016-05-12 23:10] andreasgrv commented on #272
@kylepjohnson I worked on fixing the paths for windows, and thought that while I'm at it, I might as well create a structure to keep the various strings used in the paths so that if they need to change at some point that can be done at a single point in the code. I was thinking of something like:

[code]

That way you have all the path variables in one place and can specify a file like so:
[code]

[2016-05-12 23:15] kylepjohnson commented on #272
@andreasgrv This is really interesting and

[2016-05-12 23:25] kylepjohnson commented on #272
@swierh Thank you for the feedback. Any other PRs you want to make for Windows are always welcome.

[2016-05-12 23:39] andreasgrv commented on #272
@kylepjohnson

Yes, that sounds like the plan.

I could make a pull request to the master branch with the changes for the paths, given that it doesn't break the unix code it should be ok, right? I was thinking of adding the CLTKPath class [here](https://github.com/cltk/cltk/blob/master/cltk/utils/file_operations.py).

I haven't done much about the tests yet, was investigating which changes need to

[2016-05-12 23:44] kylepjohnson commented on #272
Yes, `file_operations.py` is a good place to your new class.

I'll make a new ticket and let you decide when to submit the PR.

[2016-05-12 23:47] kylepjohnson opened #283 "Write class for making CLTK paths"
Coming out of Andreas's idea in issue #272: <https://github.com/cltk/cltk/issues/272#issuecomment-218911375>.

He'll use something like the following whenever paths need to be expanded and joined, usually for access to the `cltk_data` dir. This is related to the Windows issues, however I want to break it out since it applies to Unix just as much.

[code]

[2016-05-13 01:01] jtauber commented on #282
Just need decent training data :-)

[2016-05-13 02:12] kylepjohnson commented on #282
I think we have some decent data :relaxed:

* https://github.com/cltk/greek_treebank_perseus
* https://github.com/cltk/latin_treebank_perseus
* https://github.com/cltk/treebank_data
* https://github.com/cltk/multilingual_treebank_proiel
* https://github.com/cltk/latin_treebank_perseus
* https://github.com/cltk/latin_treebank_index_thomisticus
* https://github.com/cltk/sanskrit_pos_jnu_tagged
* htt

[2016-05-13 02:23] kylepjohnson opened #284 "Add CRF tagger to Core and make Greek and Latin models"
This took a couple days a on a slow server, but I have made a Greek model, `crf.pickle` at <https://github.com/cltk/greek_models_cltk/tree/master/taggers/pos>. I used [this script](https://github.com/cltk/greek_treebank_perseus/blob/master/make_pos_models.py) to make it.

Credit is due to @wencanluo (sorry again for being so slow to test your work). More stats to come soon …

[2016-05-13 02:45] jtauber commented on #282
I was just lamenting lesser-resourced languages in comparison to state-of-the-art techniques applied to very large English corpora. But I guess English treebanks aren't nearly as many orders of magnitude ahead of us as English corpora as a whole.

[2016-05-13 03:19] kylepjohnson commented on #282
Yes, training set size relative to total universe, most our languages are well represented.

[2016-05-13 06:06] kylepjohnson commented on #284
Greek added to core (but not pushed to PyPI): <https://github.com/cltk/cltk/blob/master/docs/greek.rst#crf-tagger>. Latin in progress,

[2016-05-13 15:29] kylepjohnson commented on #284
Latin has finished, too: <https://github.com/cltk/cltk/blob/master/docs/latin.rst#crf-tagger>. I added a warning that cross-validation hasn't been done yet.

[2016-05-13 15:32] kylepjohnson commented on #138
Closing this and making a new milestone: <https://github.com/cltk/cltk/milestones/Improve%20POS%20tagging>.

[2016-05-13 15:32] #138 closed

[2016-05-13 15:33] #284 closed

[2016-05-13 15:37] kylepjohnson opened #285 "Add Lapos tagger to core for Greek and Latin"
This will involve a few steps:

* train Latin model off [latin_training_set.pos](https://github.com/cltk/latin_treebank_perseus/blob/master/latin_training_set.pos)
* train Greek model (w/o Unicode, so an on-the-fly Romanizer will be required) off [greek_training_set.pos](https://github.com/cltk/greek_treebank_perseus/blob/master/greek_training_set.pos)
* add import/install assistance (similar to w

[2016-05-13 15:42] kylepjohnson commented on #281
Hi @BenjaRoh thank you for this, very valuable for us to know. If there is anything the CLTK can do to help your work, or ways that you want contribute, your thoughts are always welcome.

Pinging @diyclassics who is rewriting our lemmatizer.

[2016-05-13 15:52] diyclassics commented on #281
I'm happy to see the Latin lemmatizer getting some use and thank you for passing along your issues. I am currently working on improvements to the lemmatizer to handle/correct precisely the kinds of the results you have mentioned. Feel free to send in more examples as you encounter them. [One note: the test material that I will be working with is considerably earlier than the 15th century—so certai

[2016-05-13 17:05] kylepjohnson commented on #281
Speaking of texts, @BenjaRoh are you using an open source corpus? [We host some Latin texts](https://github.com/cltk/?utf8=%E2%9C%93&query=latin_text), however we do not have as many Medieval and Renaissance I would prefer.

[2016-05-13 19:05] mbevila commented on #273
I misreported the characters causing issues as WlTH PSILI when they were actually WITH OXIA. The function has been accordingly renamed oxia_converter.

[2016-05-13 19:05] andreasgrv commented on #283
I was playing around with the idea of such a class [a bit further](https://gist.github.com/andreasgrv/4c1c0b0b7c7f210ebfe0afb1814c330b) using metaclasses. It probably makes sense to think that the root of the path is specified in one place and all paths have that same common root. Under that assumption all the following directories can be enumerated. As an example:

level 0 : ~/cltk_data
level 1:

[2016-05-13 21:45] kylepjohnson commented on #283
I like your levels idea. The `level 3` would need to be able to handle arbitrarily long file paths.

Would you illustrate how either of your of your proposals would be called?

[2016-05-13 21:50] kylepjohnson commented on #273
Merged #273.

Very well done, Michele. You under-sold yourself as a programmer!

I'll add your function to the docs, along with another normalization function I wrote a while back.

[2016-05-13 21:50] #273 closed

[2016-05-13 21:52] kylepjohnson opened #287 "Add documentation for Greek normalization functions"
Coming from #273.

Add to Greek docs two new functions, `oxia_converter()` and `cltk_normalize()`.

<https://github.com/mbevila/cltk/blob/master/cltk/corpus/utils/formatter.py#L48>

https://github.com/mbevila/cltk/blob/master/cltk/corpus/utils/formatter.py#L96

[2016-05-13 21:57] kylepjohnson opened #288 "Remake Greek and Latin POS training sets with normalization, remake models"
Coming from #273

1) Re-create the Greek and Latin POS training sets, `greek_training_set.pos` and  `latin_training_set.pos`. <https://github.com/cltk/greek_treebank_perseus/blob/master/make_pos_training_set.py> and <https://github.com/cltk/latin_treebank_perseus/blob/master/make_pos_training_set.py>.

2) Re-run all POS taggers <https://github.com/cltk/greek_treebank_perseus/blob/master/make_pos_m

[2016-05-14 18:13] evgeniiaraz commented on #278
I just started looking thorugh the code - does the interface have to visualise the trees created as a result of parsing?

[2016-05-14 19:16] kylepjohnson commented on #278
Are the visualization outputs image files, like a .jpeg or .png? If so, then no, this isn't important right now.

[2016-05-14 20:50] andreasgrv commented on #283
Suppose you want the path for what is currently :
[code]

The approach I was thinking about yesterday would be:

[code]
But I feel it's a bit hacky. The above idea may be useful to apply to the corpus loader (more user friendly than using constructors and passing python strings as arguments), but that is a different subject.

The other approach which I know think is best would look like:

[code]

[2016-05-15 04:48] kylepjohnson commented on #283
I agree that your second suggestion is better. Here's my concern: What if you want to get a filepath like this:

[code]

So, in your API, would I be able to pass something like this?

[code]

Also, the first parameter of `language` is smart, however I also use (and would like others to use) a `user_data` dir.

How about we just pass a list? Do you feel that would be too crude? So:

[code]

[2016-05-15 12:30] andreasgrv commented on #283
Nearlt, you should be able to add arbitrarily many arguments and they would get joined.
However I was thinking of creating a function for every type of resource. As an example, models would get a for_model function, treebanks a for_treebank function etc.

So I was thinking the above example would be:

[code]

I can add a function CLTKPath.for_user_data(*args) that does exactly that. The reason I t

[2016-05-15 15:17] kylepjohnson commented on #283
This is good, in theory, though in practice most of our corpora are very messy. There is no consistency across `treebank` or `models` or `text`, etc. Also, I want corpus-creators to make new types, without this ever needing to be updated.

So you're thinking about the problem right, however your suggestion is over-engineered. :worried: Something I've tried hard to do with this project, from the be

[2016-05-15 16:52] andreasgrv commented on #283
I don't agree that this should be a function, but it's up to you.

[code]

Should I make a pull request to master?

[2016-05-15 17:08] kylepjohnson commented on #283
What do you see as the benefit of this being a class?

The reason I lean toward a function is because, with a class as written above, there is neither (a) any shared state between multiple functions or (b) a slow-to-load variable that needs to be re-used many times (as I did with our lemmatizer).

Thanks. I want to hear you out on this stuff. I'll be ready for a PR whenever you are.

[2016-05-15 18:24] andreasgrv commented on #283
I agree with the points you made. What I wanted to change was that there are many constants and functions which make sense being grouped together. Strings that are hardcoded such as 'cltk_data', 'tlg' and functions that use those, such as ways to verify if the path is correct and getting paths for specific parts of paths which are often needed.

I would do something like:
[code]

instead of

[code

[2016-05-15 22:21] kylepjohnson commented on #283
Thanks for this.

About the code you quote, yes that is really (really) ugly, even objectively. I forget exactly why I wrote that (it was almost two years ago). If it doesn't work on Windows, let me know and I'll go back to the code to remind myself what the problem was.

Also, I'll add your name to the contributors file.

Thanks much for your flexibility.

[2016-05-15 22:21] #283 closed

[2016-05-16 00:06] andreasgrv commented on #283
Thanks for the discussion, it was fun thinking about this.

I think I've corrected most of the paths and file opens, but I'm now getting a [GitCommandError](https://ci.appveyor.com/project/andreasgrv/cltk/build/1.0.5/job/jrduvhbicw1dmqa5)

Not sure if I have to set any environment variables - or if something is making the git command crash

[2016-05-16 00:52] andreasgrv commented on #283
I think it might be the windows path to blame:

git.exc.GitCommandError: 'git clone -v --progress --depth=1 https://github.com/cltk/latin_models_cltk.git **Users\appveyor\cltk_data\latin\model\latin_models_cltk**' returned with exit code 128

I haven't used windows for ages, but I vaguely remember the paths started with a drive

[2016-05-18 16:52] souravsingh commented on #282
Is the issue open? I would like to work on the issue.

[2016-05-18 17:16] kylepjohnson commented on #282
@souravsingh We'd love your help on this.

There's a lot that could be done. What interests you most? POS tagging? dependency parsing? integration with the core software?

[2016-05-18 17:58] souravsingh commented on #282
I would like to work on making POS taggers first

[2016-05-18 18:10] kylepjohnson commented on #282
OK, I'll make you a ticket for this with some directions.

[2016-05-18 18:14] kylepjohnson opened #292 "Make Latin POS model with SyntaxNet"
Make a POS tagging model with SyntaxNet. We can expand to other languages and POS sets, but for now, let's start small.

Start with the Latin POS tag set at `latin_training_set.pos`, in https://github.com/cltk/latin_treebank_perseus. Do not modify anything in this, but put all of your code in a new personal GitHub repo.

Let us know when you're done. Be sure to include directions for anyone to run

[2016-05-19 13:27] BenjaRoh commented on #281
First of all, I completely forgot to thank you guys for your work. It is fantastic that CLTK is out there and that we can use it! @kylepjohnson, were are planning to work with two corpora. One are the speeches I mentioned. One of the people in our project is going to publish them in a book, so unfortunately they are not open source. The second corpus consists of 4 volumes of public letters from Co

[2016-05-19 19:35] IvyJL commented on #265
Resolved! I was running CLTK 0.1.32. I ran `pip install --upgrade cltk` and upgraded to 0.1.34. Then it worked!

[2016-05-19 19:35] #265 closed

[2016-05-19 19:43] kylepjohnson commented on #265
:thumbsup:

[2016-05-19 22:55] kylepjohnson commented on #283
I haven't looked at the Appveyor logs yet, but I ran the command on a windows laptop, with PowerShell, and it worked, but the filepath is not what it seems:

[code]
This puts the files in `C:\Users\kyle\Users\kyle\Downloads`, not `C:\Users\kyle\Downloads`. My guess is that by just calling a path without the `C:\`, then the path is created relative to the user's home dir (in this case, for me, `C:\

[2016-05-20 14:49] andreasgrv commented on #283
Thanks for the feedback!
According to [os.path.expanduser docs](https://docs.python.org/2/library/os.path.html#os.path.expanduser)

Maybe it also has to do with the environment variables - it might also be the case that the git lib expands the path? I'll check it out

[2016-05-20 18:44] andreasgrv commented on #283
After checking the git python code out a bit, it turns out that they handle that - they check what the cwd is and modify the path.

I first tried to check what's going wrong using wine, but I couldn't install the windows version of git on wine.

I tried using the path you suggested - without the home directory expansion. Now the git command doesn't error, but the tests fail - the files must have b

[2016-05-20 21:28] thomasaschmitz opened #293 "Trouble with TLGU in new install"
Hi,

I tried on two different linux installations today; I always hit the same problem. I have installed cltk via pip, with python3.5 on ubuntu and python3.4 on fedora. tlgu is installed on my system:
[code]

However, when I try to run the example from the  [docs](http://docs.cltk.org/en/latest/greek.html#converting-tlg-and-phi-texts-with-tlgu), I get this error:

[code]

I saw a similar issue was

[2016-05-21 01:31] kylepjohnson commented on #283
have been installed in a different place.

This is might be good! I'll be able to check in a few days.

On Friday, May 20, 2016, Andreas Grivas <notifications@github.com> wrote:

--
Kyle P. Johnson, Ph.D.

Natural language processing, data science, architecture
<https://kyle-p-johnson.com>kyle@kyle-p-johnson.com |
https://kyle-p-johnson.com | https://github.com/kylepjohnson

Classical Language Too

[2016-05-21 01:48] kylepjohnson commented on #293
Hi Thomas,

I'm sorry for the problem. I am away from my computer for several days, but
can reply fully on Monday.

Did you install TLGU manually yourself? You might try importing it first
[docs](http://docs.cltk.org/en/latest/importing_corpora.html), then
rerunning your code.

In the meanwhile, post here the end of `~/cltk_data/cltk.log`. There might
be a little more information there.

Thanks fo

[2016-05-21 07:47] thomasaschmitz commented on #293
Hi Kyle,

don't be sorry - I'm extremely grateful for your work on cltk and impressed by what you've done. It would be wonderful if I could contribute to your project; I've been working on similar problems myself (on a much more amateurish level though). So: I failed to understand that I had to import tlgu manually (did not think it was a 'corpus'). So I did

`corpus_importer.import_corpus('greek_

[2016-05-21 13:26] andreasgrv commented on #293
Hi,

Sorry to jump in on this, but I might have an idea. It might make sense if you tried opening a python term and executing the below code to make sure your python environment can actually see the tlgu installation - the right path.

[code]

I mention this since from what I can see the TLGU constructor calls the _check_install method which:

[code]

 Something I would check if the above check fa

[2016-05-21 14:00] thomasaschmitz commented on #293
Thank you for your suggestion! After symlinking my tlgu binary into /usr/bin, it works, I can now indeed export tlg texts! I will try and take notes of everything I do so I can write a document for users like myself who are less fluent in python... On to further tests!

[2016-05-21 14:17] andreasgrv commented on #293
Great, good idea :+1:

[2016-05-21 16:15] kylepjohnson commented on #293
Thank you, Andreas. Good thinking.

Thomas, please let us know anywhere you think the docs should be improved.
Maybe we can make this part of a new tutorial/quickstart area of the docs.

On Saturday, May 21, 2016, Andreas Grivas <notifications@github.com> wrote:

--
Kyle P. Johnson, Ph.D.

Natural language processing, data science, architecture
<https://kyle-p-johnson.com>kyle@kyle-p-johnson.com |

[2016-05-22 15:46] aurelberra opened #294 "Prosody Scanning: wrong command in the docs?"
In the [documentation on Prosody Scanning](http://docs.cltk.org/en/latest/greek.html#prosody-scanning), it reads
`from cltk.prosody.greek import Scansion`
which does not work for me, while
`from cltk.prosody.greek.scanner import Scansion`
seems to be the right command.

[2016-05-22 17:14] TylerKirby commented on #294
Thank you for pointing this out! I will correct the documentation. Please let us know if you encounter any other issues with the prosody module or cltk in general.

[2016-05-22 17:18] aurelberra commented on #294
Good! Only issue I had found so far…

[2016-05-23 04:53] kylepjohnson commented on #294
Thanks to you both!

Aurélien, Tyler and I will be interested in hearing how the prosody scanner works for you. Do be in touch.

Closing with PR #295.

[2016-05-23 04:53] #294 closed

[2016-05-27 01:22] tasnani commented on #269
Hi Kyle, I made the index file. I uploaded the index file and the code to do that as part of a commit to https://github.com/cltk/text_middle_english_cmepv .I'm really sorry it took awhile but now I'll be able to complete tasks much faster. I followed the first example of the index file because I wasn't really sure about JSON as I've never used it before. If I can begin on another task and have tim

[2016-05-27 14:44] tasnani commented on #270
I'd like to take this issue. I've begun writing some code to do this. I have some questions though.
1) Would the statistical analysis take place for the corpus collectively or individual files i.e how many times of each word is present in each file or how many words(of same spelling) occurs in all the files collectively?
2) Would frequency measures involve percentage too i.e % of most common words

[2016-05-29 13:34] diyclassics commented on #196
Checking in on this issue—I wrote some code to use NLTK's PlaintextCorpusReader to load CLTK corpora using the 'home directory' default for the path (cf. https://github.com/diyclassics/cltk/blob/master/cltk/corpus/latin/__init__.py). I feel like it should check other locations before raising an error and @hemantpugaliya's environment variable solution seems like a good idea.

[2016-05-29 15:34] kylepjohnson opened #297 "Questions about corpus reader"
Following up from PR #296.

I like this, have a few questions as I have not used the NLTK's PlainCorpusReader.

Using your new feature, a few observations and questions.

[code]

How do I view all words in this?

[code]

What kind of tokenizer is it looking for, sentence or word? I made a sentence tokenizer for Latin (in the models repo), so I assume it's usable here, though I don't know the code.

[2016-05-29 16:42] diyclassics commented on #297
Have a look at this gist for some examples (and output) that I generated this morning. It shows access to words, sentences, fileids, and sub-selection of texts.  "raw" and "sends" work on my machine—I'll try to figure out why.

As far as unicode support—do you have the most recent copy of the latin_text_latin_library corpus installed? I had converted all of the txt files to utf-8 and pushed the ch

[2016-05-29 17:17] diyclassics commented on #297
Looks like PlaintextCorpusReader can take the following arguments "sent_tokenizer" & "word_tokenizer"—just ran this successfully with the CLTK Latin sentence and word tokenizers. Makes sense for these to be the defaults for importing the latin corpora, no?

[2016-05-29 17:18] diyclassics commented on #297
Btw—did updating the corpus take care of just the unicode problem or did that also affect the other functions [like .sents()]?

[2016-05-30 01:04] alsuper2 opened #298 "Tested the Latin Scanner, is Counting Bellum Wrong"
Basically, I'm new to this, but I was running the Latin scanner on some lines of the Aeneid and found that when it hit a form of "bellum", it would count the 'e' as short, even though it is followed by two syllables.

I can't modify it to test it because I'm having issues with compiling it and nothing I do will change anything when I actually run it, HOWEVER, it's one of two issues I think:

1. It

[2016-05-30 03:13] TylerKirby commented on #298
Thank you for pointing this out! So the class is syllabifying ```bellum``` as ```['be', 'llum']```, meaning that it should be scanned long by position according to case 1 (see code below).
[code]
Obviously the logic in this method is faulty since that first conditional should return ```true``` and it's not. I may need to add an additional conditional to check for when a syllable which ends in a vo

[2016-05-30 15:49] kylepjohnson commented on #298
Thanks, Tyler. I will leave it to you to think of a good fix.

@alsuper2 To modify and test source, clone the Git repo, make your changes, and run `python setup.py install`.

[2016-05-31 04:22] kylepjohnson commented on #269
Hi, thanks for working on this.

I refactored your script. Take a look at [index.py](https://github.com/cltk/text_middle_english_cmepv). See `index_file_title.json` and compare it to your file. We're missing the title at `"3KCol.xml"`. Let us know if you can fix this problem and I'll close this ticket.

[2016-05-31 04:30] kylepjohnson commented on #270
For the corpus

Simple word frequency is fine.

Let's look at the distribution and then talk about it

Yes, let's consider Modern English words, too, that also occur in Middle.

One final thing to impress upon you is that our stopword list ought to be based on part-of-speech, not frequency. Frequency is just a good way to find those words. For example, "king" might be a common ME word, however it

[2016-05-31 04:35] #293 closed

[2016-05-31 04:36] tasnani commented on #270
I found an incomplete list of ME stop words here: https://people.stanford.edu/widner/content/text-mining-middle-ages

[2016-05-31 04:51] kylepjohnson commented on #270
I would feel better about using this list than making our own. I propose the following:

1. You copy these stopwords and add them to the CLTK.
1. I contact the author of this post and ask if he can help check or improve upon what you have done.

How does this sound?

Take a look at the Latin stopwords in the core to see how to add them for `middle_english`. Write here if you get stuck!

[2016-05-31 04:57] tasnani commented on #270
The list of Modern English words to combine with ME came from here initially: http://www.textfixer.com/resources/common-english-words.txt

[2016-05-31 14:51] swierh opened #299 "Greek lemmatizer seems to miss certain inflections"
Disclaimer: I can almost count to 5 in Greek.

I'm working on improving the matching between the Gregorii Nysseni Opera and a lexicon of it and so far I've encountered a few inflections the lemmatizer doesn't lemmatize.

The problem arises on the grave accent in for example `βασανιστὴς` and `ἀγαπητὸν` which (I believe) should be lemmatized to `βασανισταῖς` and `ἀγαπητός`.
The unicode characters he

[2016-05-31 23:08] kylepjohnson commented on #299
Hello, @swierh, I'm really glad you have raised this. In another email to me, recently, someone else found this, too. You are right, the grave accent on the ultima (last syllable) is not recognized by the current lemmatizer.

@diyclassics is rewriting the lemmatizer as his Google Summer of Code and is aware of this current problem and will correct it. The fix will be something like checking the ac

[2016-05-31 23:10] kylepjohnson commented on #299
Also, if you cannot wait a month or two for the new version, you can consider making the fix yourself to this module: <https://github.com/cltk/cltk/blob/master/cltk/stem/lemma.py>.

[2016-06-01 14:19] swierh commented on #299
I'll have a look at it, the `_clean_accents()` from the scanner.py file seems to hande the characters that are causing trouble correctly. But it looks like the Lemmatizer gets its lemmas from the `greek_models_cltk` corpus without much preprocessing, right?

Am I correct in thinking that a quick fix would be to add these words to the corpus and a long term solution is dealing with the accents?

[2016-06-01 14:40] Jmuccigr opened #300 "Limiting -ne to sentence-initial words"
One way to eliminate a lot of the counting of a non-enclitic word-final *ne* the enclitic *-ne* would be to count as enclitics only those *-ne* that occur on sentence-initial words. The enclitic can't appear elsewhere, so this would leave all the other word-final *-ne* alone.

You'd still have the problem of an ambiguous use of the non-enclitic word-final *-ne* occurring on the first word in a sen

[2016-06-01 14:57] Jmuccigr opened #301 "Ignore 2-letter words for enclitic check"
Thinking more about how to disambiguate -ne from ne, which is now not done by word.py.

Putting a leading hyphen on the enclitic will help, but the enclitic routine as written will still catch the stand-alone word ne, so that has to be avoided. I was thinking that you could simply make sure the word length was >2 in the -ne part of this loop, but in fact, there are **no** 2-letter words that have

[2016-06-01 15:32] diyclassics commented on #300
@kylepjohnson—I am working on this. The current system for handling '-ne' isn't efficient and subject to far too many exceptions. Could have the tokenizer tokenize sentences first, then each sentence, and only check the [0] token for -'ne'. Still not perfect, as @Jmuccigr says, but better and headed in the right direction.

[2016-06-01 15:35] kylepjohnson commented on #299
No, that's for a totally different module.

There are too many such words to add, I think.

Yes, this is in fact the short-term solution I am proposing

If you have questions, share your code here and I can help clarify.

[2016-06-01 15:38] kylepjohnson commented on #298
Thank, Tyler, for fix #302.

@alsuper2 If you want this change immediately, you'll need to clone this repo and install it manually (`python setup.py install`). Let me know if you want more help on this!

[2016-06-01 15:38] #298 closed

[2016-06-01 15:41] kylepjohnson commented on #300
@diyclassics Excellent. Is this ticket covered by your latest PR #303?

[2016-06-01 15:41] diyclassics commented on #301
The enclitics themselves are already excluded from being checked, cf. line 36 of word.py:
`self.exceptions = self.enclitics`

[2016-06-01 15:42] diyclassics commented on #301
Not sure how much ignoring other > 2 words would speed things up, will check. Also, "esne" is possible (not particularly common, 5 matches in PHI) and would I want to catch that.

[2016-06-01 15:43] diyclassics commented on #301
Btw, I sent a pull request this morning to add a hyphen to enclitic "-ne"—so this should be distinguished in future counts.

[2016-06-01 15:45] diyclassics commented on #300
@kylepjohnson No—this will be covered soon, but since it requires a major change to the control flow of the tokenizer it might take a bit longer than the other changes.

[2016-06-01 16:00] Jmuccigr commented on #301
1. On self.exceptions, I see how you're skipping the stand-alone enclitics now. So it should be separating the ne/-ne thing already, since the hyphen is prefixed. (Why include all the enclitics in the self.exceptions list? Most don't occur free-standing, do they?)

1. Not sure how *esne* is relevant. (<2, not >2, right?)

1. On speed-up in general, I'm not sure how long this thing takes to run, so

[2016-06-01 16:10] diyclassics commented on #301
re: esne: I misunderstood your point, I thought you were suggesting ignoring two-letter words (like es) from the enclitic check. But I see now that you are referring to the tokens themselves.

[2016-06-01 16:11] diyclassics commented on #301
re: quacum—it should be there. Will add later.

[2016-06-01 16:11] Jmuccigr commented on #301
Right. Hence my thought about speed-up. Those frequent 2-letter words are **very** frequent.

[2016-06-01 16:13] diyclassics commented on #301
I see your point about #1. What do you think about this case (http://latin.packhum.org/loc/2349/2/6/1731-1735,1781-1785@1#6):
"Postponuntur 	vero que autem: dicimus enim 'primusque Machaon', non 'que primus Machaon'.

Should that first (and third) "que" be tokenized as "-que" or left alone?

[2016-06-01 16:16] Jmuccigr commented on #301
Yeah, I thought there might be weird grammar explanations like these. Those should be -que, huh?

Another thing I thought might occur is the ae > e in Mediaeval texts, so "qui que quod".

[2016-06-01 17:44] diyclassics commented on #301
@Jmuccigr I rewrote the "-cum" handling this morning and included "quacum" in the new list of replacement patterns (see https://github.com/diyclassics/cltk/blob/master/cltk/tokenize/word.py). Thanks for passing that along.

[2016-06-01 18:56] Jmuccigr commented on #301
@diyclassics,

1. Should the replacement function separate out the ne of *satin* and *scin* or leave it attached?
1. For code readability, can you put some line breaks into the n and st lists?
1. The cum list gives you a way to disambiguate at least some instances of the preposition from the conjunction, though that's not being done right now. This is not something that, e.g., Diederich did, since

[2016-06-02 01:00] diyclassics commented on #301
1. Separating 'satin' into ['satis', 'ne'] gives the most accurate view of what is going on in the sentence token for token—so I think it makes sense to split.
2. Yes—I was considering that as well to keep related things together in one place (so, as you say, for readability).
3. I know!—when I move on to the POS-tagger (soon enough), it should prove useful. Btw—expect an upcoming post on whether

[2016-06-02 03:52] Jmuccigr commented on #301
1. My comment was more directed at the code: will the tokenizer now recognize the new *ne* from *satin* as *-ne*?
1.
1. I hope some separation can be done. I tell me students that they can do it all the time! For example, cum the conjunction followed by an ablative would be confusing, and in fact it's rare (I'm pretty sure).

[2016-06-02 18:19] telemachus opened #304 "Lemmatizer returns a mix of initial u- and initial v- results"
When running the sample program below on a section of Descartes, the lemmatizer returns a mixture of **u-** forms and **v-** forms, even though I've run `JVReplacer.replace` on the sample first.

    from cltk.stem.lemma import LemmaReplacer
    from cltk.stem.latin.j_v import JVReplacer

    text_file = open("./words.txt", "r")
    words = " ".join(text_file.readlines())

    j = JVReplacer()

[2016-06-02 19:26] diyclassics commented on #304
I see in the latin_lemmata_cltk.py file that both 'uel' and 'vel', e.g., resolve to 'vel'.

I can see the argument for keeping the case consistent between the input and output of the lemmatizer. I can also see the case for normalization. (This will be an issue not just with 'u' and 'v', but also things like assimilated prefixes, e.g. 'inpello' vs. 'impello'). Thoughts, @kylepjohnson?

[2016-06-02 19:29] diyclassics commented on #304
My instinct would be to normalize btw. But also perhaps a 'normalize' argument in the lemmatizer function is in order?

[2016-06-02 19:36] telemachus commented on #304
Sorry, but to clarify, what does "normalize" mean here?

My basic thought was that if j and v replacement is offered, the output should only be i and u *assuming the calling code asks for that option*. Anything else, seems confusing. But I may not be seeing all the different options or issues here, since I'm quite new to use of this project.

[2016-06-02 19:41] kylepjohnson commented on #304
Hey Peter, good issue, thanks for reporting.

I agree with Patrick that we should normalize lemmatizer output. Should we normalize input, too, just to be consistent?

This is bigger than just j/v ... Patrick, how many such prefix assimilations are there and how frequent do texts not assimilate them (ie, use `in-` not `im-pello`)? What kind of possible errors will we open ourselves up to?

[2016-06-02 19:49] diyclassics commented on #304
The short term fix would be to fix the lemma dictionary so that the existing {key: value} pairs that exist are consistent. This shouldn't be too much work and, as @telemachus says, would be expected behavior.

Long term—I have normalization as part of my summer lemmatizer work. I'll have answers to your questions soon enough, but anecdotally I can say that there are a lot of assimilations and avai

[2016-06-02 20:02] kylepjohnson commented on #304
Re the short fix, Patrick, you touched [latin_lemmata_cltk.py](https://github.com/cltk/latin_models_cltk/blob/master/lemmata/latin_lemmata_cltk.py) last. Mind doing this?

Re the long term fix: My initial feeling is that we should offer this, but allow a parameter to turn off such prefix normalization until we're sure it does what we want it to.

[2016-06-02 20:04] diyclassics commented on #304
Sure—I’ll take a look at it.

[2016-06-02 21:32] telemachus commented on #304
As a user, I'd love to have the ability to control assimilations, but I agree that there needs to be an "off" (or "on") switch. That way we can adjust to whatever different editors give us. (I also imagine it would be a TON of work, given how many assimilations there are across the language that get different treatment.)

[2016-06-02 21:40] kylepjohnson commented on #304
Yes and no. We might not be able to reach 100% coverage, but I bet we can get most of the most frequent.

[2016-06-03 13:44] telemachus opened #305 "Latin lemmatizer blows up when trying to handle 'Sirenas'"
I'm using CLTK to tokenize and lemmatize Descartes *Meditatio de prima philosophia*, and I've hit a funny issue. If I feed in the [raw text of the first meditation](https://gist.github.com/9eab506c12c630de68f1cccb2514310b), the program blows up as follows:

    $ python3 reader.py
    Traceback (most recent call last):
      File "reader.py", line 13, in <module>
        words = l.lemmatize(t.toke

[2016-06-03 14:01] telemachus opened #306 "Latin lemmatizer misses?"
I apologize if this is unhelpful or too nitpicky, but I'm using CLTK to tokenize and lemmatize Descartes' [*Meditatio de prima philosophia*](https://gist.github.com/telemachus/9eab506c12c630de68f1cccb2514310b), and I think I'm seeing several "misses". Some of the misses are definitely due to Descartes' Latin being odd or unclassical (e.g., he writes *verumtamen* as one word and spells *secuturum*

[2016-06-03 14:57] kylepjohnson commented on #305
This hasn't been tested much against non-Classical texts, so you're finding good bugs.

The problem is due to some faulty logic I wrote. Here's the code at `cltk/stem/lemma.py` (l. 72):

[code]

whereas it should be something like:

[code]

When I wrote this code, I wasn't using try/excepts the way I do now, so if really rewriting I would do:

[code]

@telemachus If you need this right away, the o

[2016-06-03 15:01] kylepjohnson commented on #305
Fixed (test work fine locally) with this fix: <https://github.com/cltk/cltk/commit/067967d7bf532027a9dbfc49eb7f42b747a65d0e#diff-54f7ab62c0b8672eaa97a1dfef6f1616>.

[2016-06-03 15:01] #305 closed

[2016-06-03 15:06] kylepjohnson commented on #306
Peter, this is super helpful! Thank you.

I'll have some feedback for your script soon, however until then maybe @diyclassics can respond to the normalization issue (most of these are related, I think).

[2016-06-03 17:17] jfaville opened #307 "KeyErrors from Capitalized Names"
Lemmatizing certain capitalized proper names is raising a KeyError for me. For example,

[code]

I'm not sure why this would be, since in lemma.py the lookup only occurs if
`token.lower() in self.lemmata.keys()`. Any ideas?

[2016-06-03 18:11] kylepjohnson commented on #307
Hi James, The above code is new, not available for download for download yet. I document the change [here](https://github.com/cltk/cltk/issues/305#issuecomment-223602264).

If you need this fix now, clone the repo and install manually (can help if you haven't before).

Closing issue but feel free to continue conversation here.

[2016-06-03 18:11] #307 closed

[2016-06-04 00:54] telemachus commented on #305
@kylepjohnson Thanks so much for the detailed explanation and the quick fix. No rush at all: it's a *very* minor issue, and I can easily handle the odd corner case myself for the moment. Thanks.

[2016-06-04 16:15] souravsingh commented on #225
@kylepjohnson I have created a corpus for Old English [here](https://github.com/souravsingh/old_english_metrical_charms) which is ready for review.

[2016-06-04 17:34] kylepjohnson commented on #225
I made a small PR to fix the formatting of one file. Can you check that all the JSON files are separated with commas the way I did?

Otherwise I think this is good. I think you can transfer to the cltk.

[2016-06-05 06:34] souravsingh commented on #225
I checked the JSON files and all of them look good. Where do I transfer the repo? To English team?

[2016-06-05 19:15] jfaville commented on #307
Not sure whether I should post this in a new issue, but it looks like the updated code is unable to lemmatize words like "Italiam" since those headword is given in the data file as "Italia", which cannot be accessed by token.lower(). I'm not sure whether the desired behavior would be to return "Italia" as a headword only in the case of a properly capitalized token like "Italiam", or to also return

[2016-06-07 15:34] diyclassics commented on #307
@jfaville—Thanks for the note about case and I agree that there is some question about the desired behavior. For tokenization, I have started accounting for case, working it into a recent addition to the tokenizer [cf. matchcase() in this file https://github.com/cltk/cltk/blob/master/cltk/tokenize/word.py].  For lemmatization, I have been using Perseus NLP files for reference and these aim for con

[2016-06-08 02:12] kylepjohnson opened #310 "Add skip-gram function"
Because of fixed the un-fixed word order of many of the languages we cover, @diyclassics convinced me that skip-grams are important for our researchers. Someone should add a little function (no class dependencies) which will generate skip-grams.

To sources for inspiration:

* https://github.com/heaven00/skipgram (but ignore the vector stuff)
* http://stackoverflow.com/a/31886292

Call the file `s

[2016-06-09 18:10] diyclassics commented on #300
@Jmuccigr @kylepjohnson See https://github.com/diyclassics/cltk/blob/master/cltk/tokenize/word.py for better handling of sentence-initial "-ne". As John suggests, the enclitic is also marked with a hyphen so that it can be distinguished from conj. "ne". Submitted pull request.

[2016-06-09 18:33] kylepjohnson commented on #300
Patrick, the PR was #311?

[2016-06-09 18:34] diyclassics commented on #300
Yes—#311 includes the "-ne" handling.

[2016-06-09 18:36] kylepjohnson commented on #300
Thanks.

@Jmuccigr and @diyclassics I'll leave it to one of you to close, if this particular issue is wrapped up.

[2016-06-09 22:31] Jmuccigr commented on #300
Gonna let @diyclassics decide that. :-)

[2016-06-10 15:07] diyclassics commented on #300
Fixed with commit f60510cacca2c8eb89296b77b6693792fa1001a0

[2016-06-11 13:40] souravsingh commented on #310
@kylepjohnson I am interested in working on the issue.

[2016-06-11 13:42] kylepjohnson commented on #310
Go for it! Assigned to you. How long do you want to complete the task?

[2016-06-11 13:45] souravsingh commented on #310
@kylepjohnson It should take around a week to complete the task. I need to figure out the test for the function.

[2016-06-11 13:45] kylepjohnson commented on #310
Great, let us know how it goes.

[2016-06-12 09:55] evgeniiaraz commented on #276
Dear Kyle,
I seem not to have enough courage to start :)
I wanted to ask what is wrapper?
I am going to trynto ome up with basic plan over this weekend since I feel like plan will help me proceeding with it.

[2016-06-12 20:16] #300 closed

[2016-06-18 12:30] souravsingh commented on #225
@kylepjohnson I have transferred the repository to the English team

[2016-06-18 13:25] kylepjohnson commented on #46
@souravsingh has obtained permission for Poeti d’Italia. Assigning to him.

[2016-06-18 13:25] kylepjohnson commented on #45
@souravsingh has obtained permission for Musisque Deoque. Assigning to him.

[2016-06-18 13:32] kylepjohnson commented on #225
Hi Sourav, I see the repo you transferred at: <https://github.com/cltk/old_english_metrical_charms>. Thank you.

A few things:

* If we get the rest of the texts, we should rename this <https://github.com/cltk/english_text_sacred_texts> (which I just did)
* The Metrical Charms are only a small part of the files they have (<http://www.sacred-texts.com/neu/ascp/index.htm>). Are you able to scrape th

[2016-06-18 22:16] HashCode55 commented on #310
Hey! I'm new to this community and Data Science in general and I wanted to start contributing to this project. Can I start with this one if its available? I'll be happy to learn about it and make a PR.

[2016-06-18 22:58] kylepjohnson commented on #310
Hi @HashCode55, thank you for offering. Let's see how Sourav is doing with it.

@souravsingh Have you started this yet? If you don't think you can get to it soon (within a week), let's pass it on to Mehul.

[2016-06-19 05:39] souravsingh commented on #225
@kylepjohnson Thanks a lot. I should be able to scrape the rest of the website. I have just transferred another repository to the English team and will get to work on adding more.

I would like to ask if the lexicon for Old English available [here](http://lexicon.ff.cuni.cz/texts/oe_bosworthtoller_about.html) is worth adding in our project

[2016-06-20 03:27] kylepjohnson opened #313 "Add IPA Phonetic Transcription for Greek"
This ticket is for Jack Duff, with @jtauber generously assisting.

The basic idea is to make a map of Greek letters and their IPA equivalents, something like:
[code]

Obviously, it won't all be so easy, due to proximal characters changing pronunciation (for example, "γ" being IPA "ɡ" but before ["κ", "χ", "γ", "μ"] becoming "ŋ").

If you can get this down for Attic, then consider moving on to othe

[2016-06-20 03:59] j-duff commented on #313
I like the idea of one general transcription tool - after all, we'll be using the same method - and declaring language/dialect/time period. I'll begin working early this week on a simple function starting with a typical Attic reproduction in what I think we are better off calling `cltk/phonology/transcription.py`!

[2016-06-20 05:26] kylepjohnson commented on #310
Hi Sourav, this isn't close to being good enough. Please make the following corrections:

* Don't use single letters for variable names (like 'n' and 'k') (for some pointers, see [this style guide](https://github.com/amontalenti/elements-of-python-style))
* You did not add any tests (see above)
* There is no docstring to your function, which are always required
* Add function to the bottom of <clt

[2016-06-20 06:35] souravsingh commented on #310
@kylepjohnson,Really Sorry for the hasty pull request that I made without checking.A few things about the PR which I hope can clear the things-

1)sequence here stands for the source data which needs to be padded, n is the parameter for the degree of ngrams and k is the skip distance.
2)pad_right is a parameter to check if the ngrams should be right padded or not.
3)I wasn't quite sure about the g

[2016-06-20 06:37] kylepjohnson commented on #310
It's ok. Take a little more time and ask for any help necessary.

[2016-06-20 12:06] PonteIneptique opened #314 "Latin Lemmatizer raises an error on unknown form ?"
## Code :

[code]

## Output

[code]

## Expected Output and Discussion

I am not expecting the lemmatizer to raise KeyError on unknown words/forms. Worst case, I would expect an option at the instantiation (`LemmaReplacer(raise_on_missing=False)`) which would output either the original form, a stemmed form or "unknown" (I obviously prefer the original form).

Would it be possible I am doing somet

[2016-06-20 15:04] kylepjohnson commented on #314
Thanks for raising this. I recently [made a fix for this](https://github.com/cltk/cltk/commit/067967d7bf532027a9dbfc49eb7f42b747a65d0e#diff-54f7ab62c0b8672eaa97a1dfef6f1616), but haven't pushed to PyPI, as I don't feel great about it.

The current code does:

[code]

however this isn't without issues, as now upper-cased words in the lemma dict are getting skipped.

I'll talk with @diyclassics abou

[2016-06-20 15:13] kylepjohnson commented on #314
This just came to me, I think this could be OK for now, until Patrick's new lemmatizer is ready.

If I cannot find the token unlowered (which I want to match first if possible) then I'll try it unlowered.

[code]

[2016-06-20 15:13] #314 closed

[2016-06-20 15:17] PonteIneptique commented on #314
Thanks @kylepjohnson

I still think the ability to get raises would be welcome. (Raise UnknownLemma ?)

As for your new implementation, wouldn't two `in` check be better than a raise ?

[2016-06-20 15:18] PonteIneptique commented on #314
And I might be saying something stupid but it looks like your code does the opposite of what you say, ie checking not lowered :)

[2016-06-20 15:28] PonteIneptique commented on #314
My proposal :

[code]

[2016-06-20 19:07] diyclassics commented on #314
@PonteIneptique Thanks for raising this issue—I'll try to push the first iteration of the backoff lemmatizer soon (and before I do so I will make sure that it handles case as expected.) In the backoff logic, a series of lemmatizers can be used in succession until a match is found; if none is found, it will either return None or you can set a final backoff DefaultLemmatizer to return "unknown", "UN

[2016-06-20 19:08] diyclassics commented on #314
@PonteIneptique You can see some preliminary work and testing here: https://github.com/diyclassics/cltk/tree/gsoc/cltk/lemmatize

[2016-06-20 22:17] j-duff commented on #313
As I'm beginning to set this up, it's becoming clear that there will be at the very least two broad steps in this conversion: 1) convert everything from the original Greek into the phoneme it represents (stage of representation before all of the contextual rules apply, like the γ issue) 2) process any contextual rules.

For now, I've just sketched out a bit of a dictionary with only one option sta

[2016-06-20 22:30] kylepjohnson commented on #313
Not a silly question at all, and part of the reason James is so valuable here. First thing to note is that there are pre-combined and combining diacritics, and we have been waffling on which to take. We have the `cltk_normalize()` function in[cltk/corpus/utils/formatter.py](https://github.com/cltk/cltk/blob/master/cltk/corpus/utils/formatter.py#L97) ([more on normalize() here](https://docs.python.

[2016-06-21 02:20] jtauber commented on #313
https://github.com/jtauber/greek-accentuation has code for stripping the diacritics. See https://github.com/jtauber/greek-accentuation/blob/master/docs.rst for examples.

You can probably strip smooth breathing, grave and iota subscript right away. Rough breathing you need to keep for /h/, diaeresis for avoiding handling as a diphthong, the macron (where it's indicated) for vowel length. I guess y

[2016-06-22 12:06] PonteIneptique commented on #314
Thanks a lot. I also think that a lemmatizer stack is a great idea. Mostly because we could put probabilistic one first (with fewer forms registered generally) and lookup one after :) Gj

[2016-06-23 03:30] j-duff commented on #313
Thanks for the answers @kylepjohnson and @jtauber!

James, what is the best way to make use of the code you've put together in greek-accentuation? In my present draft for efficiency's sake I simply copied and pasted the necessary lines and added attribution, but would it make more sense to have them available in a separate file in the `/phonology` folder? Or is this already incorporated elsewhere

[2016-06-23 03:43] j-duff commented on #313
Two more questions:

1. I can see some value in creating a tool which uses the placement of accents to provide as much length information as possible. Otherwise, it's short until proven long, but if verbal accent patterns can tell us that the penult must be long, then we can safely mark a macron. Without such a tool, we'd be fully reliant on editors including macrons (though I suppose we could the

[2016-06-25 08:44] HashCode55 commented on #292
Hey again @kylepjohnson ! Can I start with this one if its available?

[2016-06-25 09:07] souravsingh commented on #292
Hey @HashCode55, I am currently working on the issue. I am trying to figure out the problems in preprocessing of the POS tags.

[2016-06-25 09:18] HashCode55 commented on #292
@souravsingh Oh, its fine... I just thought you were working on the skip-gram one.

[2016-06-25 15:21] kylepjohnson commented on #292
@souravsingh we can share this one, as it is a relatively large and experimental job.

@HashCode55 If you would like to join us in experimenting with it, you're completely welcome. You can start using [this Latin POS training set](https://github.com/cltk/latin_treebank_perseus/blob/master/latin_training_set.pos).

Sourav, would you please share what you've accomplished or learned on this, for the

[2016-06-25 16:10] kylepjohnson commented on #313
@j-duff Looking forward to seeing what you do. Doesn't need to be perfect, but very helpful to put our eyes on something.

I agree, this seems useful. It also comes close to some prosody code written by @TylerKirby : [_long_by_nature()](https://github.com/cltk/cltk/blob/master/cltk/prosody/greek/scanner.py#L125) and [_long_by_positive()](https://github.com/cltk/cltk/blob/master/cltk/prosody/greek/

[2016-06-25 16:18] kylepjohnson commented on #306
@diyclassics I'm going to close this issue, though it'll be here for you to reference as you finish up your work.

@telemachus FYI I may or may not be updating the lemmatizer this summer – Patrick's work is so close (and so much better) it might not be worth the investment.

[2016-06-25 16:18] #306 closed

[2016-06-25 16:19] #304 closed

[2016-06-25 16:33] kylepjohnson commented on #297
So I updated and that fixed the Unicode error. The sents() issue remains, as I do not have (nor do I want) the NLTK's english tokenizer. Error here: <https://gist.github.com/kylepjohnson/6bbfef58f2eec14d222fca9b32f72fe6>.

[2016-06-25 16:41] kylepjohnson commented on #281
Please do be in touch with the corpora when you're ready. Thanks!

[2016-06-25 16:41] #281 closed

[2016-06-26 07:55] j-duff commented on #313
Thanks @kylepjohnson, I'll look into those tools from Tyler and see if they already take care of what I'm thinking of!

In the meantime, I've put together a tester and a test set (from the examples in the Blackwell), and spruced up the transcriber so that it can handle alternate parameters. What's the best way to share my work at this stage for collaboration and suggestion? Keeping commits on my p

[2016-06-26 15:42] souravsingh commented on #292
@kylepjohnson I was able to train our SyntaxNet model with the existing POS training set. Just facing some problems with preprocessing of the POS Taggers(which I should be able to figure out really soon).

[2016-06-26 16:46] kylepjohnson commented on #292
What kind of pre-processing is necessary?

On Sunday, June 26, 2016, Sourav Singh <notifications@github.com> wrote:

--
Kyle P. Johnson, Ph.D.

Natural language processing, data science, architecture
<https://kyle-p-johnson.com>kyle@kyle-p-johnson.com |
https://kyle-p-johnson.com | https://github.com/kylepjohnson

Classical Language Toolkit, Founder
http://cltk.org | https://github.com/cltk/cltk

[2016-06-26 16:50] soumyag213 commented on #245
Greetings, sorry for the extreme delay.

Please find the code at the link mentioned below. The code is now fully supported for Python 3.x and works well.

https://github.com/soumyag213/cltk-indica-nlp

[2016-06-27 04:46] kylepjohnson commented on #313
Push all your work to your fork, then paste links to code here.

Wait to do PRs when you're confident in the code.

[2016-06-27 05:12] j-duff commented on #313
Good to know. With that in mind, here's the [cltk/phonology](https://github.com/j-duff/cltk/tree/ipa/cltk/phonology) folder, containing the tool, [transcription.py](https://github.com/j-duff/cltk/blob/ipa/cltk/phonology/transcription.py), and the test set, [ipatest.py](https://github.com/j-duff/cltk/blob/ipa/cltk/phonology/ipatest.py). At this stage, both the BlackwellTranscriber and the function

[2016-06-27 11:18] jtauber commented on #313
@j-duff regarding how to include code from greek-accentuation, the usual way in python it either to have a requirements.txt file or (more common for libraries) update `install_requires` in `setup.py`. CLTK already does the latter for `pyuca` so that would make sense.

Regarding "I can see some value in creating a tool which uses the placement of accents to provide as much length information as pos

[2016-06-27 15:11] TylerKirby commented on #313
@j-duff I think that would be a very useful tool, especially in conjunction with the Greek prosody module. Check out the [_clean_accents](https://github.com/cltk/cltk/blob/master/cltk/prosody/greek/scanner.py#L64) method since that already reduces the accents on Greek vowels to what is significant for scansion.

[2016-06-28 03:39] kylepjohnson commented on #245
Hi Soumya, Great to hear from you.

It looks like you've done some great work. Would you take a look the above recommendations I gave? I think some of these are still not fixed. To these, you should move `indic_syll.py` to the root of your repo, to make testing easier.

I think you're pretty close! Stay at it and be in touch with us if you get stuck.

[2016-06-28 20:59] soumyag213 commented on #245
Hi,
I've updated the code, I implemented the syllabifier as a class therefore I no longer need to use the load function.
But I am stuck on how to set the path of the resoures remotely

[2016-06-28 21:19] kylepjohnson commented on #245
Ok, great. For the next step, I will run your code. However, first please send to me first every step I will need to take in order to reproduce your results.

For example, I don't have the files "/home/soumya/indic_syllabifier" and "/home/soumya/Documents/indic_nlp3/indic_nlp_resources-master", nor do I know how to get them.

[2016-06-28 22:46] soumyag213 commented on #245
Hii,
I've updated the API accordingly
Please let me know about everything that I would need to change/improve.

Best,
Soumya Atul Gupta
Third Year Undergraduate Student, ECE
Netaji Subhas Institute of Technology
New Delhi, India

On Wed, Jun 29, 2016 at 2:49 AM, Kyle P. Johnson <notifications@github.com>
wrote:

[2016-06-28 22:50] kylepjohnson commented on #245
@soumyag213 I need you to tell where to download `all_script_phonetic_data.csv` and `tamil_script_phonetic_data.csv`.

See here: <https://github.com/soumyag213/cltk-indica-nlp/blob/master/indic_syll.py#L74>

[2016-06-29 03:03] soumyag213 commented on #245
Both all_script_phonetic_data.csv and tamil_script_phonetic_data.csv are
present under the src folder

Best,
Soumya Gupta

On Jun 29, 2016 4:20 AM, "Kyle P. Johnson" <notifications@github.com> wrote:

[2016-06-29 03:43] kylepjohnson commented on #245
Ah, I'm sorry, I should have seen that. I'm cloning your repo now and will make a PR with my corrections and suggestions. Thank you!

[2016-06-29 04:30] kylepjohnson commented on #245
Please see my PR to your repo. I've done some refactoring of your class to make it easier to read and port, when we are ready.

The next task I'd like you to do is to remove the dependency on the `numpy` and `pandas` libraries. These are terrific libraries, and the code uses them fine, however they are too "low level" for the cltk to require for all users. Instead, please do the following:

* Look

[2016-06-29 14:44] TylerKirby commented on #139
[Here's](https://github.com/TylerKirby/cltk/blob/macronizer/cltk/prosody/latin/macronizer/macronizer.py) an implementation of the macronizer that doesn't require compiling Morpheus. Instead, it uses Winge's text file version of Morpheus.

```Macronizer.py``` is the class that performs the macronization. ```macrons.py``` contains the Python dictionary of Morpheus entries. ```macrons.txt``` is Winge

[2016-06-29 15:14] kylepjohnson commented on #139
Tyler, this is really exciting.

A few quick notes:

* [add the tnt and crf POS taggers to AVAILABLE LANGUAGES](https://github.com/TylerKirby/cltk/blob/489ca31dfca361f54794f0ac2c7e70b5f23a0c9d/cltk/prosody/latin/macronizer/macronizer.py#L23)
* [Use full import of macrons](https://github.com/TylerKirby/cltk/blob/489ca31dfca361f54794f0ac2c7e70b5f23a0c9d/cltk/prosody/latin/macronizer/macronizer.py#L2

[2016-06-30 02:38] soumyag213 commented on #245
Hi Kyle,
I removed the dependencies of numpy and pandas from indic_syll.py, but
Indian_ phonetic_data.py does however depend on pandas only.

Please review for further changes

Best,
Soumya Gupta

On Jun 29, 2016 10:00 AM, "Kyle P. Johnson" <notifications@github.com>
wrote:

[2016-06-30 04:21] j-duff commented on #313
@j-tauber, I've added to `install_requires` in my branch (assuming that the appropriate way to refer to the package is, in fact, `'greek-accentuation'`? I noticed that in some places it's stored as `'greek_accentuation'`) and have restructured the code around importing the characters module rather than that copy and paste, thanks for the tip!

@jtauber @TylerKirby , seems like a lot of the work ha

[2016-06-30 04:49] kylepjohnson commented on #245
Looking more at the code and .csvs, I see how thorough the spreadsheets are, and how much the code relies on pandas. So I will add an `ImportError`. So not all cltk users will install them, however users of this module will.

My PR for you: https://github.com/soumyag213/cltk-indica-nlp/pull/3

There are still some outstanding issues, as I see them:

* Finish the map of languages to codes that I st

[2016-06-30 05:02] j-duff commented on #313
The [latest version of the transcription tool](https://github.com/j-duff/cltk/blob/ipa/cltk/phonology/transcription.py) now makes use of two new classes, Word and Phone, which help keep track of strings with a bit more data attached to each character, essentially feature bundles and contexts so that inside a Word, Phones can trigger and be triggered by contextual rules. This structure allows for a

[2016-06-30 18:00] soumyag213 commented on #245
Hii,

1. I've mapped the language code and all looks well!
2. Yes, I'd love to do that. I'll get started
3. I found the csvs here: https://github.com/cltk/sanskrit_models_cltk
4. A test for every function, or language or both?

[2016-06-30 19:19] kylepjohnson commented on #245
Ideally, yes.

[2016-07-03 21:00] soumyag213 commented on #245
Hii,
I've written the tests and docstrings of every function. The code should now be ready

[2016-07-04 00:03] kylepjohnson commented on #245
Good work. I am away from my computer for a few more days, can test next week.

If anyone else wants to help review, please clone Soumya's repo and go for it!

[2016-07-07 09:37] soumyag213 commented on #245
Greetings,
The code for the tokenizer is also up. Please review it whenever possible

Best,
Soumya Gupta

On Jul 4, 2016 5:33 AM, "Kyle P. Johnson" <notifications@github.com> wrote:

[2016-07-09 09:54] souravsingh commented on #225
@kylepjohnson I have transferred another repo as part of Old English corpus.

[2016-07-11 02:40] kylepjohnson commented on #310
Turns out that the NLTK added a useable skipgram function last December. I've added docs explaining its use.

Commit: <https://github.com/cltk/cltk/commit/a00c5ef2e02abe77f3476a6b9ea9338335be2ca7#diff-e3e2a9bfd88566b05001b02a3f51d286>

@diyclassics you can use this now for your lemmatizer if you like.

[2016-07-11 02:40] #310 closed

[2016-07-11 02:41] #299 closed

[2016-07-11 04:40] kylepjohnson commented on #287
Finally add these to the docs: <http://docs.cltk.org/en/latest/greek.html#normalization>.

@mbevila I made a small change to your function, making it now default from tonos to oxia. I did this because of what you say in #273, that the tonos is for Modern Greek. I assume the most common use case will be someone with files incorrectly encoded to the Modern Greek character set, then needing them turn

[2016-07-11 04:40] #287 closed

[2016-07-11 04:52] kylepjohnson commented on #225
Wonderful, Sourav. I'll be able to check this out soon!

[2016-07-12 14:06] kylepjohnson commented on #245
Soumya, I want to review your code, however you did not merge [my PR from 2 weeks ago](https://github.com/soumyag213/cltk-indica-nlp/pull/3). I made some important changes in there.

I can't review your work until my latest changes are reflected in your code.

Also, please add the cltk's `.gitignore` and remove `__pycache__`.

[2016-07-12 21:51] kylepjohnson commented on #245
Hi Soumya,

I am looking at [your latest syllabifier](https://github.com/soumyag213/cltk-indica-nlp/blob/master/syllabifier/indic_syll.py#L18) -- it looks like you have taken at least some of my last PR. Did you manually copy them over?

If so, that's fine. Please let me know and I'll move on to final testing.

[2016-07-13 14:54] kylepjohnson commented on #245
@soumyag213 we're almost there! Do the following and we'll be done with this ticket:

1. Merge my PR to your repo <https://github.com/soumyag213/cltk-indica-nlp/pull/4>.
1. Fork this cltk repo into your user account
1. Check out your fork of the cltk to your own computer
1. Rename `tokenizer.py` to `indian_tokenizer.py` and put it in `cltk/tokenize`
1. Make a directory at `cltk/stem/sanskrit/sylla

[2016-07-16 18:16] kylepjohnson commented on #245
@soumyag213 I merged #316 and released it (<https://github.com/cltk/cltk/releases/tag/v0.1.38>). Thank you, it was perfect.

Only one more thing remains, and that is for you to write some docs for this at [cltk/docs/sanskrit.rst](https://github.com/cltk/cltk/blob/master/docs/sanskrit.rst). Since you, not me, are the expert on Indian languages, it is important that you explain clearly to the commun

[2016-07-17 18:01] kylepjohnson commented on #225
Hi Sourav, I am looking at the files you have pulled. The contents look OK, however you need to consolidate them into 1 repo per language per source (this is our definition of a _corpus_).

Our naming convention for repos is as follows: <language_name> + '_' <corpus_type> + '_' + <corpus_source>. So languages are like 'latin' and 'old_english'; corpus_type are 'text', 'model', 'treebank', etc.; an

[2016-07-17 19:06] kylepjohnson opened #317 "Add docs for Greek alphabet"
For @coderbhupendra's addition a few months back: <https://github.com/cltk/cltk/blob/master/cltk/corpus/greek/alphabet.py>.

Docs to go into <https://github.com/cltk/cltk/blob/master/docs/greek.rst> under a new section called `Alphabet`.

@coderbhupendra you want to do this or give it someone else?

[2016-07-17 19:12] kylepjohnson commented on #313
Hi Jack!

I spent some time with this and have a few needs. It looks like you're close, but I hit a few snags. In no order of importance:

* I don' think `characters` is James's package. In any event, [says that it is deprecated](https://github.com/shea256/characters) for [python-utilitybelt](https://github.com/blockstack/python-utilitybelt). So I'd like to use the latter if necessary. And as you

[2016-07-18 14:52] souravsingh opened #319 "Porting Japanese NLP library for CLTK"
NLP library for Japanese which is found here-https://github.com/kevincobain2000/jProcessing

It would be great if these tools could be added to CLTK. I have written to the author for the permission to use the code for CLTK.

[2016-07-18 23:54] kylepjohnson commented on #319
Thanks for taking the initiative.

Fortunately, @kevincobain2000's [LICENSE.txt](https://github.com/kevincobain2000/jProcessing/blob/master/LICENSE.txt) is the [2-clause BSD](https://en.wikipedia.org/wiki/BSD_licenses#2-clause_license_.28.22Simplified_BSD_License.22_or_.22FreeBSD_License.22.29), which is equivalent of what we use (MIT).

Before we merge parts of his code, we will need too hear fro

[2016-07-19 00:01] kylepjohnson commented on #319
Asked a question here: https://github.com/kevincobain2000/jProcessing/issues/10

[2016-07-19 03:38] souravsingh commented on #319
@kylepjohnson I believe we can make use of tokenizer and MinHash for checking similarity between two sentences.

[2016-07-19 05:18] kylepjohnson commented on #319
@souravsingh would you please give links here to the tokenizer and MinHash?

[2016-07-19 06:14] souravsingh commented on #319
Here is the documentation for the code-http://jprocessing.readthedocs.io/en/latest/
There is a section called tokenize and similarity between two sentences.

[2016-07-19 23:53] kylepjohnson opened #320 "Add Punjabi alphabet module"
@nimitbhardwaj has volunteered to start adding Punjabi NLP, starting with an alphabet module as has been done for Greek.

He'll be adding the files: `cltk/corpus/punjabi/__init__.py` and `cltk/corpus/punjabi/alphabet.py`.

For any @cltk/core contribs watching, consider whether you want to add any similar alphabet libraries for any other of our [supported Classical languages](https://github.com/clt

[2016-07-20 00:28] kylepjohnson opened #322 "Add two string comparison functions"
Looking at @kevincobain2000's jProcessing library for Japanese, there are two useful functions that I would like to take from his library.

1. Longest common string
Docs: http://jprocessing.readthedocs.io/en/latest/#longest-common-string-japanese-jprocessing-py
Code: https://github.com/kevincobain2000/jProcessing/blob/master/src/jNlp/jProcessing.py#L9

2. MinHash
About: https://en.wikipedia.org/wi

[2016-07-20 06:04] souravsingh commented on #322
@kylepjohnson I would like to help in this

[2016-07-20 07:37] kylepjohnson commented on #322
If you can do this within a few days, go for it. This should be a fast project for you.

[2016-07-20 23:01] j-duff commented on #313
Hi @kylepjohnson! As I'm working on addressing these issues, I wanted to check in with a few answers and a couple of questions (two, which I've bolded towards the bottom)!

Indeed, I think my syntax was a bit arcane and opaque, but I was importing the `characters` module from @jtauber's `greek-accentuation` package, after adding it to `install_requires` in `setup.py`. I could absolutely write my o

[2016-07-21 04:26] jtauber commented on #313
In hindsight, I should have used an enclosing package name for greek-accentuation to avoid certain conflicts. I'm happy to do a new release that does this, I just need to come up with a name :-)

[2016-07-22 06:26] kylepjohnson commented on #313
'Nuff said, let's include it.

Clean is good. And I don't want to break your momentum.

Yes, testing will be an important skill for you, so get familiar with the basics. But don't worry about reading any theory about it, just follow the patterns in `cltk/tests`. Aim for at least one test per function. The key thing to ask yourself while writing tests: How do I ensure that, if a programmer accident

[2016-07-22 19:38] kylepjohnson commented on #320
Docs available at http://docs.cltk.org/en/latest/punjabi.html

We're trying something a little different by adding a little bit more information about a language's orthography.

[2016-07-22 19:38] #320 closed

[2016-07-22 20:57] kylepjohnson opened #329 "Add stopword list for Classical Punjabi"
Some resources for Modern Punjabi, so you will need to do some research to learn whether these are suitable for earlier forms of the language.

* http://ijoes.vidyapublications.com/paper/Vol8/15-Vol8.pdf
* http://learnpunjabi.org/pdf/IJCSI-8-5-3-327-331%20(1).pdf (see page 328, Table 1)
* http://www.aclweb.org/anthology/C12-3024 (see page 192, section 2.1)

Add code to here, following the conventi

[2016-07-23 04:07] j-duff commented on #313
Thanks, @kylepjohnson! The fix with running `python setup.py install` did the trick, and I'll continue with these edits, and then look to expand the functionality a bit (throw together the data it needs to have support for other dialects, and Latin, so long as I can find the existing scholarly reconstructions).

[2016-07-23 05:06] j-duff commented on #313
The files are now updated with all of the corrections and edits as per above!:
[cltk.phonology.transcription](https://github.com/j-duff/cltk/blob/ipa/cltk/phonology/transcription.py)

[cltk.tests.test_phonology](https://github.com/j-
duff/cltk/blob/ipa/cltk/tests/test_phonology.py)

[2016-07-23 14:10] nimitbhardwaj commented on #329
I made some analysis on the classical punjabi texts that I got from www.gurbanifiles.org, I tried to extract the words from a text file, I made a program, which takes the whole string of the file, and used strip method on it to create the list by the space separated input, then used the Counter class from collections and printed the max_common elements in the list, this gave me some data, that dou

[2016-07-23 15:44] TylerKirby commented on #139
I've opened pull requests to move the development files and large files to the appropriate locations. Additionally, I've refactored most of the macronizer class to make to code easier to follow. [Here](https://github.com/TylerKirby/cltk/blob/macronizer/cltk/prosody/latin/macronizer.py) are the revisions.

Note that the could won't run quite yet since I need to update the path to the macron data fi

[2016-07-23 18:21] souravsingh commented on #225
@kylepjohnson All three repos are merged into the single repository. Working on adding the remaining files.

[2016-07-23 19:50] kylepjohnson commented on #139
I've merged your two requests.

I'm pretty busy next week, so I will leave it to you push this through to
completion.

Hollar with questions and I'll try to help, otherwise just go for it!!

On Saturday, July 23, 2016, Tyler Kirby <notifications@github.com> wrote:

--
Kyle P. Johnson, Ph.D.

Natural language processing, data science, architecture
<https://kyle-p-johnson.com>kyle@kyle-p-johnson.com

[2016-07-23 19:55] nimitbhardwaj commented on #329
May be the analysis done by me is correct

[2016-07-26 03:05] j-duff commented on #313
I've now added the Latin transcriber, using Allen's reconstruction from Vox Latina, and it ended up being more economical to separate the two languages, so I've added a `greek` and `latin` division under `cltk/phonology`. There is still plenty of work to do improving the Latin, especially implementing stress and as much automated macron-adding as I can.

[cltk.phonology.greek.transcription](https:

[2016-07-26 04:01] jtauber commented on #313
As you both :+1: my suggestion to add a containing package for `greek-accentuation`, I've created https://github.com/jtauber/greek-accentuation/issues/2 to continue the conversation there.

[2016-07-26 05:26] kylepjohnson commented on #313
@j-duff Sounds like real progress! When you're ready for us to evaluate it, let us know exactly what steps to perform to begin using what you intend as the user-facing API.

[2016-07-26 12:19] nimitbhardwaj commented on #329
I want to ask, is my pull request #332 correct, otherwise please give me the mistakes that I have done

[2016-07-26 16:59] kylepjohnson commented on #329
Thanks for the reminder.

We don't want the most common words, but words that carry "low information". In the languages I know, these are things like articles ("a", "the"), pronouns, possessives, prepositions, and interjections. I am looking at [this simple Punjabi grammar](https://en.wikibooks.org/wiki/Punjabi/Grammar/Parts_of_speech) and think the concepts will be familiar to you (including post

[2016-07-26 17:03] nimitbhardwaj commented on #329
Ok, is that, I misunderstood it, thanks, I check again

[2016-07-26 17:04] nimitbhardwaj commented on #329
But for this I will need some time as my college is going to be opened from this Thursday, so it may take some time, sorry for inconvenience

[2016-07-26 17:07] kylepjohnson commented on #322
Hi Sourav, I was hoping this would be done by now. If you can't make the full PR within a few days, I would like to open it up to another contributor. Thanks!

[2016-07-26 17:34] souravsingh commented on #322
I had a doubt about the test for MinHash function- We have to use the tokenizer for sentences for the minhash to work, right?

[2016-07-26 18:13] kylepjohnson commented on #322
They both take strings.

Here's how MinHash works. I would like you to remove the class from this and make it a plain function that accepts two strings.

[code]

[code]

How does this sound?

[2016-07-26 18:41] souravsingh commented on #322
Sounds nice.Thanks @kylepjohnson

[2016-07-27 01:21] nimitbhardwaj commented on #329
Pulled request again, this time added the words which carry no or little info, but increase understanding of the content words when used with them

[2016-07-27 05:27] jtauber commented on #313
greek-accentuation 1.0.0 is out!

[2016-07-27 14:46] souravsingh opened #336 "Adding Parsed Corpus of Old English"
Addition of Parsed Corpus can help us in the Dependency parsing. The following are the list of Parsed corpus which can be used-

1)[The York-Toronto-Helsinki Parsed Corpus of Old English Prose](http://www-users.york.ac.uk/~lang22/YcoeHome1.htm)
2)[The York-Helsinki parsed corpus of Old English poetry (YCOEP) ](http://ota.ox.ac.uk/desc/2425)
3)[The Brooklyn-Geneva-Amsterdam-Helsinki Parsed Corpus o

[2016-07-27 16:21] kylepjohnson commented on #336
Thanks for being proactive. In the future, please cc me on all such emails.

Let's see what they say! A less perfect alternative is that we train models based on this data, then explain to user how to reproduce them.

[2016-07-27 16:48] kylepjohnson commented on #225
Yes this looks good to me and is ready for corpora.py. Submit the PR when you're able.

Luke and I would also like for all of these to be converted to JSON, as you did earlier for some of these. This way, your work will be viewable through the soon-to-be-revealed cltk website!

Thanks.

[2016-07-27 22:18] TylerKirby commented on #139
Great! The module is finished. I'll put together the docs & unit tests over the weekend.

[2016-07-27 23:04] kylepjohnson commented on #139
So cool! Just merged, will look out for your docs and tests :)

[2016-07-28 12:11] soumyag213 opened #338 "Write morphological analysis of Indian languages"

[2016-07-28 18:43] kylepjohnson commented on #338
Hi Soumya, thanks for being proactive. Can you explain more what you mean? Is this another rewrite of part of the Indic NLP library?

[2016-07-30 16:18] kylepjohnson commented on #329
Closed w/ #333

[2016-07-30 16:18] #329 closed

[2016-07-30 16:26] kylepjohnson commented on #319
From writing with the author, I think all we can use are the two functions in #322. Other stuff is either based on modern Japanese would require a Classical Japanese training set (ie, anything using the interesting [CaboCha library](http://taku910.github.io/cabocha/) … this includes the [tokenizer](https://github.com/kevincobain2000/jProcessing/blob/a2e304d32d1a39cfc921dee5447497c99a7f847a/src/jNl

[2016-07-30 16:26] #319 closed

[2016-07-30 17:02] kylepjohnson commented on #322
Sent back PR #335 to @souravsingh for rebasing against latest code and addition of docs and tests.

[2016-08-01 14:44] souravsingh commented on #225
@kylepjohnson This issue can now be closed safely. Only the docs entry will be required

[2016-08-01 14:49] kylepjohnson commented on #225
Sounds good, thanks.

[2016-08-01 14:49] #225 closed

[2016-08-01 14:54] souravsingh commented on #266
Now that the Old-English corpus is finished, I can start the work on this issue

[2016-08-02 05:48] kylepjohnson commented on #139
After much work this ticket may be closed with release [v0.1.40](https://github.com/cltk/cltk/releases/tag/v0.1.40).

[2016-08-02 05:48] #139 closed

[2016-08-03 16:00] achaitanyasai commented on #262
I started working on it and need 1-2 days for recollecting things.

[2016-08-03 16:00] achaitanyasai commented on #213
I started working on it and need 1-2 days for recollecting things.

[2016-08-03 16:00] achaitanyasai commented on #212
I started working on it and need 1-2 days for recollecting things.

[2016-08-04 15:29] diyclassics opened #345 "Latinlibrary corpus word/sentence loading raises error"
The NLTK PlaintextCorpusReader methods words() and sents() raise errors when using commands such as:

[code]

- Words: The reader streams the input, sometimes returning empty lists, which cause index out of range errors with the current Latin lemmatizer.
- Sents: Currently relies on an external NLTK corpus; will raise errors if not installed.

[2016-08-04 16:55] j-duff commented on #313
I stumbled across the recent addition of the Latin macronizer, and it's very useful for this tool!! Thanks @TylerKirby, it's a very useful tool! I'm importing it and calling it on text before I begin the transcription process in [cltk.phonology.latin.transcription](https://github.com/j-duff/cltk/blob/ipa/cltk/phonology/latin/transcription.py).

Of course, it means that IPA transcriptions of auto-m

[2016-08-05 22:49] #297 closed

[2016-08-05 22:49] #345 closed

[2016-08-05 23:00] kylepjohnson commented on #313
You're doing well, Jack.

I am just imagining how cool it'll be to get printouts of entire choral odes.

[2016-08-06 04:38] soumyag213 commented on #338
This is the library I would like to port next from anoopkunchukuttan's indicnlp library:
[morph](https://github.com/anoopkunchukuttan/indic_nlp_library/tree/master/src/indicnlp/morph)

[2016-08-06 04:40] soumyag213 commented on #245
Hi, since we're done with this. I think we can close this now :D

[2016-08-06 05:22] #245 closed

[2016-08-06 05:27] kylepjohnson commented on #338
Sounds good, go for it!

[2016-08-06 19:42] soumyag213 commented on #338
Hi Kyle,
I've ported the code to Python 3 and made the basic usage. It probably requires more cleanup.
You can access the code [here](https://github.com/soumyag213/cltk-indica-nlp/tree/master/morph)

[2016-08-06 20:43] soumyag213 commented on #338
Hi Kyle,
I've also ported the [normalize function from indicnlp](https://github.com/anoopkunchukuttan/indic_nlp_library/tree/master/src/indicnlp/normalize), you can find the code [here](https://github.com/soumyag213/cltk-indica-nlp/tree/master/normalize)

[2016-08-09 16:28] kylepjohnson commented on #338
Hi @soumyag213 would you please give examples of how to use these in the `__main__`  of each of these? You'll also need to change these modules so that they do not take any command line arguments.

Try that, then let me know and I'll be able to test better!

[2016-08-09 16:33] kylepjohnson commented on #266
Ok, go for it. Since I opened this issue, I have decided that I only want grammar-based stopwords. That is, no nouns, adjectives, verbs, adverbs, or participles, but only definite and indefinite articles (determiners), pronouns, particles/interjections, prepositions, and conjunctions.

Two steps: to build this list.

1. Look for someone else's Old English stopword list and copy it. We can discuss

[2016-08-09 16:43] kylepjohnson commented on #292
Any progress on this?

[2016-08-09 16:44] kylepjohnson commented on #322
Friendly reminder to @souravsingh to finish the docs and tests for this. It's bad precedent for the project to have undoc'd and untested code.

[2016-08-09 16:45] kylepjohnson commented on #45
@souravsingh What's the status on the Musisque Deoque corpus?

[2016-08-09 16:46] kylepjohnson commented on #46
@souravsingh How much work to finish this issue on the  Poeti d’Italia corpus?

[2016-08-09 16:54] souravsingh commented on #322
@kylepjohnson I think I have added tests for the Minhash and longest common code. I will make the docs entry quickly

[2016-08-09 16:55] souravsingh commented on #46
The work is being done in the repository here-https://github.com/souravsingh/latin_text_poeti_ditalia

[2016-08-09 16:57] souravsingh commented on #266
@kylepjohnson I can go with the second step for building the list

[2016-08-09 17:01] kylepjohnson commented on #266
Please start with step 1., since you and I are not Old English experts. It's always better to use the work of a specialist.

[2016-08-09 17:11] souravsingh commented on #266
I am not able to find a good list of stopwords for Old English online. I will ask some scholars on this matter

[2016-08-10 13:46] soumyag213 commented on #338
Hi,
Please see the updated for the [morph](https://github.com/soumyag213/cltk-indica-nlp/tree/master/morph) function and the [normalize](https://github.com/soumyag213/cltk-indica-nlp/tree/master/normalize) function

[2016-08-10 16:26] kylepjohnson commented on #322
Closing with PR #348

[2016-08-10 16:26] #322 closed

[2016-08-12 19:38] ryanfb opened #351 "Importing CorpusImporter raises error"
If I run: `from cltk.corpus.utils.importer import CorpusImporter`

I get:
[code]

This appears to be a regression introduced somewhere [between v0.1.39 and v0.1.41](https://github.com/cltk/cltk/compare/v0.1.39...v0.1.41). You can verify by using [`cltk_docker`](https://github.com/cltk/cltk_docker), if you change the `pip install --upgrade cltk` line in the `Dockerfile` to `pip install --upgrade cl

[2016-08-12 20:13] #351 closed

[2016-08-12 20:20] kylepjohnson commented on #351
@ryanfb I merged the PR.

I'll be more careful to make sure that this doesn't happen again. Thx much, please report anything else that doesn't look right.

[2016-08-14 14:43] soumyag213 commented on #338
Hi Kyle,
I've added the test cases for the [morph function](https://github.com/soumyag213/cltk-indica-nlp/tree/master/morph), while the function itself is working perfectly, the test case is throwing an unexpected error regarding the access to a certain library.
I've documented the error on the [README](https://github.com/soumyag213/cltk-indica-nlp/blob/master/morph/README.md) of the morph folder.

[2016-08-15 05:52] kylepjohnson opened #357 "Add docs for Punjabi stopwords"
For @nimitbhardwaj:

Somehow we forgot to add docs for your stopwords list: https://github.com/cltk/cltk/blob/master/cltk/stop/punjabi/stops.py

Add them to this file: https://github.com/cltk/cltk/blob/master/docs/punjabi.rst

For example usage, follow [the example I made for Latin](https://github.com/cltk/cltk/blob/master/docs/latin.rst#stopword-filtering), but using [the new Indian language toke

[2016-08-15 06:15] kylepjohnson commented on #338
Thank you, @soumyag213 . I will need a few more days to check on this.

Meanwhile, would @nimitbhardwaj take a look at the code and recommend to Soumya how to fix current errors she mentions in the README? (Nimit is a good programmer, so he might be able to figure it out before I have time.)

[2016-08-15 06:16] nimitbhardwaj commented on #338
I will try my best to help

[2016-08-15 06:17] kylepjohnson commented on #338
Thank you, Nimit.

[2016-08-16 10:24] souravsingh commented on #266
I am thinking of making use of the Old English corpus and doing a TF-IDF to generate a stopword list. Would that be okay or should be wait for the scholars to know their views? @kylepjohnson

[2016-08-16 14:31] kylepjohnson opened #359 "Add Sanskrit stopwords"
For @Akhilesh28. (Please assign this to yourself.)

In Sanskrit, a stopword list would include, at least: pronouns and determiners ([source](https://en.wikipedia.org/wiki/Sanskrit_pronouns_and_determiners)),
and upasarga (verbal prefix / "preverb" / "preposition") and nipāta (particle) ([which I read about here](https://www.quora.com/Did-Panini-distinguish-nouns-and-verbs-or-have-a-concept-similar

[2016-08-16 14:49] kylepjohnson opened #360 "Add Bengali corpus and alphabet"
For @RatulGhosh

Take [what you've started here](https://github.com/RatulGhosh/bengali_text_tatsama/) and add it to the CLTK core.
1. The PR you made the other day ( #354 ): I need to know where this repo is! Give me the link and I will review it. When we talk about a "corpus", we mean a collection of text documents. Do you have this?
2. The [Bengali alphabet](https://github.com/RatulGhosh/bengali

[2016-08-16 15:18] Akhilesh28 commented on #359
Hi @kylepjohnson ,
Yes I will put together the Sanskrit stopword list as early as possible. As an initiation check could I create a sample list of a few such stopwords and provide it for assessment just to know if I am on right track?

[2016-08-16 15:20] kylepjohnson commented on #359
Yes, that's a great idea, please do

[2016-08-16 17:49] RatulGhosh commented on #360
I have transferred the ownership of the repo to the cltk user.

[2016-08-16 17:59] kylepjohnson commented on #360
Ratush, this repo is unusable by the project.

This is not how to package modules.

Do you have any actual Classical Bengali texts? If so, this is where they would belong.

And for your alphabet module, these must be done in a PR according to the directions I just gave.

[2016-08-16 18:01] kylepjohnson commented on #360
Also: I'm going to delete the `bengali_text_tatsama` repo from the CLTK (Github won't let me transfer it back).

[2016-08-16 18:57] RatulGhosh commented on #360
should I close the #354 and create a new PR

[2016-08-16 19:14] ryanfb opened #361 "Implement NLTK CorpusReader(s) for existing corpora"
See: #32 #296

NLTK's `PlainTextCorpusReader` may work for e.g. Lacus Curtius and other plaintext corpora (as is now done for The Latin Library). [`XMLCorpusReader`](http://www.nltk.org/api/nltk.corpus.reader.html#nltk.corpus.reader.xmldocs.XMLCorpusReader) may work for some XML corpora.

As an example, I'd like to be able to call `.words()` on all the available CorpusReader instances for a langua

[2016-08-16 19:26] kylepjohnson commented on #360
Sure, please close that one and do another, this time just for `alphabet.py`. Thank you!

[2016-08-16 19:45] RatulGhosh commented on #360
okay sure I will do it

[2016-08-17 14:28] diyclassics commented on #361
@ryanfb —I think that these are great ideas and plan to address them in time (though free to contribute, if you're so inclined!). I started with the Latin Library for these practical reasons: 1. to demonstrate the usefulness of having access to the corpus reader methods, 2. to make it as easy as possible for people curious about CLTK, esp. beginners to get up and running with something familiar, a

[2016-08-17 15:40] ryanfb commented on #361
FWIW, I experimented the other day with adding an XMLCorpusReader for Perseus Latin text and ran into a couple of issues. One was the XMLCorpusReader seems to only work with a single corpus fileid (probably easy enough to write a small wrapper around so that it can be used for all fileids in a corpus). The other was that there appears to be some weirdness in the Perseus XML which prevented it from

[2016-08-17 16:29] kylepjohnson commented on #361
I'm all in favor of extending the `CorpusReader`.

@ryanfb The legacy Perseus XML is not uniform and will not be parseable the way you'd like (that's my and some others' experience, at least). However, can avail ourselves of the new versions of these from the Open Philology project? These are in XML, though their markup is not trivial.

@diyclassics Could you make a `JSONCorpusReader`? @suheb made

[2016-08-17 17:20] Akhilesh28 commented on #359
@kylepjohnson
I have created an initial [Sanskrit stop-word gist] (https://gist.github.com/Akhilesh28/b012159a10a642ed5c34e551db76f236) for assessment as communicated earlier.
Please look through it. Any changes or mistakes are appreciated.

[2016-08-17 17:25] Akhilesh28 commented on #359
I have a query regarding the listing of pronouns as in Sanskrit for example, a first person pronoun has what can be called a 'stem'. For instance, the first person pronoun is derived from stem '_mad_'. Also each of the pronoun has different use cases like dative, genitive etc. So should I list them all?

[2016-08-17 18:29] kylepjohnson commented on #359
The gist is a good start, just what I was hoping for.

Yes, we want all of the pronouns in all of their cases (nominative, accusative, instrumental, dative, ablative, genitive, locative, and vocative).

Is "mad" an actual pronoun that appears in real Sanskrit texts? Or is it like in (for example) Latin, where the stem is only theoretical, by which I mean that it is used to make words but is never

[2016-08-17 18:41] Akhilesh28 commented on #359
Thanks. So I will list them all in the 8 cases wherever applicable.
No '_mad_'  isn't an actual pronoun but just a theoretical notation for pronouns under it. So I don't think it has to be included.
Sure. Thanks for the support.

[2016-08-17 19:43] souravsingh commented on #359
@Akhilesh28 is correct, 'mad' is not a pronoun in itself but used as a notation.

[2016-08-17 19:45] souravsingh commented on #292
@kylepjohnson I had sent a mail on the progress on the issue. The build process for the tagger is triggering an error.

[2016-08-17 19:58] souravsingh commented on #359
The list looks good so far.  You can  also include the polite, interrogative pronoun and pronominal adjectives to complete the list

[2016-08-18 03:22] Akhilesh28 commented on #359
Yes sure @souravsingh

[2016-08-18 13:00] RatulGhosh commented on #360
@kylepjohnson I have created a repo bengali_text_tatsama with some texts taken from The Mahabharata, The Ramayana and The Bhagavad Geeta. Could you please have a look.

[2016-08-18 13:05] RatulGhosh commented on #360
I would also like to work on the cltk_api could you please guide me how to start. I am familiar with flask.

[2016-08-18 13:53] Akhilesh28 commented on #359
@souravsingh
Updated [gist]. Could there be a better way to represent the cases or is it fine as is done now?(https://gist.github.com/Akhilesh28/b012159a10a642ed5c34e551db76f236)

[2016-08-19 01:34] kylepjohnson commented on #292
@souravsingh I've played with TF and SN some. I see that it isn't trivial, both its use and also how we'll package it for CLTK users. I'll reply to your email this weekend, however until then, would you please start up your own git repo w/in the `cltk` org and share (a) the steps you use to install TF and SN and (b) the scripts you're using to train new models. Their development moves pretty fast,

[2016-08-19 03:48] kylepjohnson commented on #359
Allies you definitely have the right idea. I'll let another check the exact words, but this is God for personal pronouns.

Are you clear on the next steps, to make a list of the other types of stopwords?

[2016-08-19 04:16] Akhilesh28 commented on #359
Yes. I will add the other stopwords to the list.

[2016-08-19 04:39] kylepjohnson commented on #360
@RatulGhosh I looked at the corpus. The data looks good, but I have one important question before I can accept to the cltk: you need to say where you got these texts. And the license needs to reflect what the originator of the texts set. You can email me directly if you want to talk more about it.

Thanks!

[2016-08-19 05:16] RatulGhosh commented on #360
I got those texts from [this website](http://www.ebanglalibrary.com/)

[2016-08-19 15:02] souravsingh commented on #359
@Akhilesh28 the list of stop words looks good for now. However, there are some mistakes in spelling of some pronouns, like ` आवयोस् ` . The word is actually spelled ` आवयो: `. So any pronoun having ` स्` at the end should be edited to reflect the proper spelling.

[2016-08-19 18:20] Akhilesh28 commented on #359
@souravsingh Yes that is fixed. Added [demonstratives and third person pronouns](https://gist.github.com/Akhilesh28/b012159a10a642ed5c34e551db76f236). I guess now remaining is interjections, interrogative pronouns and articles.
By polite pronouns do you mean `bhavant` which I reckon is technically a noun.

[2016-08-19 19:00] souravsingh commented on #359
I am pretty sure `bhavant` is not a noun, but either a verb or pronoun. I am leaning towards pronoun, so I need to check the dictionary for accuracy.

[2016-08-20 17:02] Akhilesh28 commented on #359
@kylepjohnson @souravsingh I guess this is all with pronouns. I would be grateful someone gives comments on it.
Now remaining would be interjections, articles and particles if I am not wrong.

[2016-08-20 17:11] souravsingh commented on #359
Looks good to me

[2016-08-22 15:23] Akhilesh28 commented on #359
[Added](https://gist.github.com/Akhilesh28/b012159a10a642ed5c34e551db76f236) interjections and upasargas.
Need some help regarding participles as to where to start.
@kylepjohnson Sorry for the delay. Exams and college submissions taking much of the time. Will try to get it done asap.

Thanks.

[2016-08-22 22:37] RatulGhosh commented on #360
@kylepjohnson I have added a few functions and they are working well. Should I create a new PR.

[2016-08-23 05:44] achaitanyasai commented on #262
I have added authors and corresponding English wikipedia pages and opened a PR. And sorry for being too late.
Thank you.

[2016-08-23 06:02] achaitanyasai commented on #220
As far as I can see, I have parsed the texts from <a href="https://te.wikisource.org/wiki">https://te.wikisource.org/wiki </a>, in case if I missed something or found a new text, I will update accordingly. So now coming to your second point, "including author names in Latin characters and BC/AD dates", can you elaborate more ?

[2016-08-23 10:30] muflax opened #366 "Inconsistent case of data directory"
[The latin module](https://github.com/cltk/cltk/blob/36b6fe7aa23a8c4f41ef694ddb64b4b02534146c/cltk/corpus/latin/__init__.py#L20) tries to load the latin library from "~/CLTK_DATA", which fails on a case-sensitive filesystem.

All other modules seem to use "~/cltk_data", so that should be standardized.

(It would probably be best if the path was factored out and also configurable, but fixing at lea

[2016-08-23 11:10] ancatmara opened #367 "Add Old Irish corpus and lemmatizer"
1) I've got a small [corpus](https://github.com/ancatmara/old_irish_corpora) of Old, Middle and Early Modern Irish texts from [this website](http://www.ucc.ie/celt/publishd.html).  I'm planning to add all Irish texts published there to my corpus as soon as I get a definitive answer about copyright issues.

2) Another thing I'd like to include into CLTK is an [Old Irish lemmatizer](https://github.c

[2016-08-23 11:50] diyclassics commented on #367
re 2: I would be interested in discussing the Old Irish Lemmatizer with you. In particular, it would be interesting to see how the summer work I did on the Latin Lemmatizer can be applied to other languages (details here: https://gist.github.com/diyclassics/fc80024d65cc237f185a9a061c5d4824). Since you're far along on your project and have a good idea of its goals, it would be a good test case. I d

[2016-08-23 15:52] kylepjohnson commented on #366
Stefan, thanks for this. We can fix this immediately. Would you like to make the PR?

[2016-08-23 16:07] kylepjohnson commented on #367
@diyclassics This'll be a great place to try out your lemmatizer. I also think Oksana's own work is good enough that we should incorporate it with a minimum of changes.

So I see three tasks:

1. Kyle and Oksana: Incorporate the corpus once we get permissions
1. Oksana with Kyle's help: Add contents of `old_irish_lemmatizer` to the cltk (under `cltk/stem/old_irish`) and add data sets to a new repo

[2016-08-23 16:48] souravsingh commented on #266
@kylepjohnson I have done a small bit of analysis to obtain a list of most common words from the corpus(I only took Metrical Charms for my testing purposes)- http://paste.ubuntu.com/23082398/
Further checking needs to be done manually for stopwords.

[2016-08-23 17:31] souravsingh commented on #209
@kylepjohnson You can de-assign me from the issue. I would like to keep the issue for potential new contributors.

[2016-08-23 17:49] souravsingh commented on #336
@kylepjohnson Do we have to look at the alternative approach of training models based on the corpus? , since as far as I know the authors are not willing to make the data public.

[2016-08-24 04:15] kylepjohnson commented on #360
Hi Ratul, I would like to accept #362 however we still don't have permissions for the repo, yet.

I would rather all of this was in two PRs, one for alphabet.py and another for the corpus.

[2016-08-24 12:56] RatulGhosh commented on #360
@kylepjohnson I have transferred the permission for the repo

[2016-08-24 15:52] souravsingh commented on #266
Ping @kylepjohnson

[2016-08-24 16:02] kylepjohnson commented on #266
Thanks, Sourav. My dilemma is that I don't know what most of the words on the list mean. Let's forget about the corpus approach and just go by grammar. The following I know should be in our stops list:

wesan

[2016-08-24 16:54] souravsingh commented on #266
I created another list of probable stop words by manually searching them from a dictionary- http://paste.ubuntu.com/23085680/

[2016-08-24 16:59] kylepjohnson commented on #266
This second, dictionary-based approach is better. But I believe we still need the grammar-based approach I just wrote about. Let's perhaps use your latest list to supplement and improve our results.

[2016-08-24 17:59] souravsingh commented on #266
I too believe that the grammar-based approach is better for stopword, but I wanted to get started somewhere. So I did a bit of analysis and after obtaining a list of common words, used a dictionary to check the word list generated in the first list.

[2016-08-24 18:12] souravsingh commented on #266
Oh yes, sorry for continuing off with the approach. I didn't see the links that you gave until after an hour.

[2016-08-24 19:03] hunk3749 opened #368 "unable to install cltk"
getting this error while executin from command line i am new to nlp please help error is- $ pyvenv venv
pyvenv: command not found

[2016-08-24 21:20] kylepjohnson commented on #368
Hi, this means that Python 3.5 is not properly installed. (You can get it here: <https://www.python.org/downloads/>)

* You're using a Mac or Linux, right?
* And have you tried installing Python 3.5 yet?
* Did you restart your Terminal application?

Hope this helps!

I'm going to close this issue, however ask anything you'd like in it.

[2016-08-24 21:20] #368 closed

[2016-08-26 14:41] kylepjohnson commented on #360
@RatulGhosh I have merged #362 but immediately deleted your `corpus.py`, because **we do not have permissions for this corpus**. I have also deleted the repo you made at `cltk/bengali_text_tatsama`.

I would like to do this again, however we must email the owner of the website. Email me directly at <kyle@kyle-p-johnson.com> and we can discuss how to do this. Thanks.

To conclude this ticket, we al

[2016-08-26 14:48] kylepjohnson commented on #357
Closing with merge of #364

[2016-08-26 14:48] #357 closed

[2016-08-26 14:49] kylepjohnson commented on #338
@soumyag213 Who is this work going?

[2016-08-26 15:02] kylepjohnson commented on #336
@souravsingh I have become confused about this ticket and what corpora are available to us. It seems like the only one we want is [The York-Toronto-Helsinki Parsed Corpus of Old English Prose (YCOE)](http://www-users.york.ac.uk/~lang22/YcoeHome1.htm). Its files are made available through [the University of Oxford Text Archive](http://ota.ox.ac.uk/desc/2425).

The YCOE has a link by which we can do

[2016-08-26 15:10] RatulGhosh commented on #360
Actually, I had the docs ready. I will open a PR.

[2016-08-26 15:15] kylepjohnson commented on #336
I have emailed back the maintainer of YCOE. Waiting on their response.

[2016-08-26 15:18] kylepjohnson commented on #359
@Akhilesh28 you're doing a great job with the Gist. Please keep this gist up permanently so users can see how you built the list. Note that your final list will not be a multiple sets but one list with everything.

[2016-08-26 15:22] kylepjohnson commented on #317
Anyone looking for any easy task?

In `docs/greet.rst` add a new section called `Alphabet` (similar to [how we did with Punjabi](http://docs.cltk.org/en/latest/punjabi.html#alphabet)) and give a few examples from [alphabet.py](https://github.com/cltk/cltk/blob/master/cltk/corpus/greek/alphabet.py).

Side note: When we get @jtauber's Greek library incorporated, this will be less useful, but perhaps

[2016-08-26 17:02] souravsingh commented on #336
The second link I mentioned makes the corpus freely downloadable after you give your Name and Mail.

[2016-08-26 17:19] kylepjohnson commented on #336
YCOEP is not explicitly free. From <http://ota.ox.ac.uk/scripts/download.php?otaid=2425>:

Status: restricted
Licence: Use of this resource is restricted in some manner. Usually this means that it is available for non-commercial use only with prior permission of the depositor and on condition that this header is included in its entirety with any copy distributed.

[2016-08-26 17:38] Akhilesh28 commented on #359
Thanks a lot @kylepjohnson . I would be grateful if I got an extension till Wednesday ,the 31st, as I have my examinations coming up.

[2016-08-26 17:50] kylepjohnson commented on #359
Sure thing. I'm not worried about a particular delivery date, but just want to keep up the momentum. Thanks!

[2016-08-27 13:35] souravsingh opened #369 "Creating a repository for scientific journals"
I suggest adding a repository for the scientific journals which make use of the CLTK package for research purposes. If possible, we can also add list of presentations done on CLTK.

[2016-08-27 13:45] souravsingh commented on #369
I can close the issue if it is not necessary to do so

[2016-08-27 16:46] RatulGhosh commented on #360
@kylepjohnson I have created the repo [bengali_text_wikisource](https://github.com/RatulGhosh/bengali_text_wikisource). Could you please have a look.

[2016-08-29 16:16] #366 closed

[2016-08-29 18:28] kylepjohnson commented on #360
Ratul, this looks pretty good. I have the following corrections and questions:

* `corpora.py` and `__init__.py`: Put these into the core software, like you did before at `cltk/corpus/bengali/`.
* In `README.md`, give the URL from which you got the texts: <https://bn.wikisource.org>.
* Note that these are **not** licensed GPL, but "Creative Commons Attribution-ShareAlike 3.0 Unported". You need to

[2016-08-30 16:30] kylepjohnson commented on #46
Pinging @souravsingh Is this corpus ready to move over? I took a look again and it looks pretty good

[2016-08-30 17:14] souravsingh commented on #46
Sorry for being inactive @kylepjohnson. I need to properly format the JSON files before it is pushed to upstream branch. Might take a day or two.

[2016-08-30 18:35] kylepjohnson commented on #46
Ok, thank you for the fast response. Get it as good as you can, but this doesn't need to 100% perfect.

[2016-08-30 22:51] kylepjohnson commented on #313
Pinging @j-duff How're you doing on this one? If you want any input or feedback, we're happy to help you see this through!

[2016-08-30 23:38] jduff-chs commented on #313
Hi @kylepjohnson: I'm on track to finish this week! Syllabification and stress options are done. I looked through the other reconstructions of Attic Greek and Classical Latin, but none seemed to vary enough for it to be crucial at this moment. At the moment there is no support for other dialects of either (eg: Homeric and Koine Gk, Ecclesiastical Latin). Thoughts on releasing this with only the tw

[2016-08-30 23:48] kylepjohnson commented on #313
Not a problem at all! In fact, limiting to preliminary schemas is be preferable. Once it's up and running, I think you should take the lead on reach out to top linguistic experts in order to get their input. They'll tell us the best reconstructions, instead of us rooting around for something that might not be great.

Can't wait to see this!

[2016-08-31 03:53] j-duff commented on #313
Here's the product!

[cltk.phonology.greek.transcription](https://github.com/j-duff/cltk/blob/ipa/cltk/phonology/greek/transcription.py)

[cltk.phonology.latin.transcription](https://github.com/j-duff/cltk/blob/ipa/cltk/phonology/latin/transcription.py)

Some notes before I describe the API:
- Because the Latin transcriber is dependent on the accuracy of the [macronizer](https://github.com/cltk/cl

[2016-08-31 03:59] j-duff commented on #313
A Greek example of use:

`In [1]: from cltk.phonology.greek import transcription as grc_ipa`

`In [2]: greek_transcriber = grc_ipa.Transcriber("Attic", "Probert")`

`In [3]: test_string2 = "δέκατον μὲν ἔτος τόδ᾽ ἐπεὶ Πριάμου μέγας ἀντίδικος, Μενέλαος ἄναξ ἠδ᾽ Ἀγαμέμνων"`

`In [4]: greek_transcriber.transcribe(test_string2, syllabify=False, accentuate=False)`
`Out [4]: [dekɑton men etos tod epẹː pr

[2016-08-31 05:02] kylepjohnson commented on #313
Jack, this is super cool. The API is really clean. And I can see you've been really thorough with the OOP.

* There is one persnickety thing that bugs me: [the homeless code block in the Greek](https://github.com/j-duff/cltk/blob/ipa/cltk/phonology/greek/transcription.py#L142). I haven't spent enough time to figure out where it belongs, however but you should put it somewhere. Since it re-binds th

[2016-08-31 13:00] jtauber commented on #313
Regarding the "homeless code block", I don't personally have a problem putting code that preprocesses module-level data being at the module level itself however I don't actually see how that code works. It's just setting `c` a bunch of times as far as I can tell. Where is the rebinding of `GREEK` and `IPA` happening?

[2016-08-31 13:48] kylepjohnson commented on #313
James, I defer to you on this. Thanks. How about we just move it up to the top, above the classes?

[2016-08-31 14:58] jtauber commented on #313
At the moment, I don't even see how it's working. But perhaps I'm missing something.

[2016-08-31 15:30] Akhilesh28 commented on #359
@souravsingh Okay back again. I fail to find anything concrete on participles. Any help would be really grateful.

[2016-08-31 15:45] j-duff commented on #313
Hi @kylepjohnson and @jtauber. That block.... I don't even remember writing it, it must have been early in the project, but I can parse what I was trying to do: replace every string that I had typed with a normalized version of the string. But this doesn't do that. I could tweak it so that it did, but based on everything I've successfully handled, Unicode normalization won't be an issue. James is

[2016-08-31 16:14] kylepjohnson commented on #313
The public facing API tests are fine. However yes, you'll also want to test the different combinations.

We also need at least one test for every method in every class, even private ones.

This will be a little tedious. But think of every test as insurance against someone else accidentally breaking your code. It'll be a time savings in the long run!

[2016-08-31 16:50] kylepjohnson commented on #359
I do see these two: https://en.m.wiktionary.org/wiki/Category:Sanskrit_particles

Thanks Sourav for looking. After this we'll have it!

[2016-08-31 17:03] Akhilesh28 commented on #359
Okay it's particles, my bad, was reading participles all the time.

[2016-08-31 17:22] souravsingh commented on #359
@Akhilesh28 Looking at the gist, it looks like you haven't added conjunctions. Here is the link for conjunctions- https://en.m.wiktionary.org/wiki/Category:Sanskrit_conjunctions

[2016-08-31 17:36] Akhilesh28 commented on #359
@souravsingh Yes sure. Are there just two?
Thanks

[2016-08-31 18:14] souravsingh commented on #359
This is a proper list of conjunctions-http://www.whatiscalled.com/conjunctions-in-sanskrit/

[2016-08-31 20:40] jonathanrobie commented on #313
Which pronunciation scheme(s) will be used for this?

[2016-08-31 20:56] j-duff commented on #313
Currently the only options are, for Attic Greek, Philomen Probert's
reconstruction (as discussed in her chapter in the Blackwell Companion to
the Ancient Greek Language) and, for Classical Latin, W. S. Allen's (from
his Vox Latina). However, the way the code is written, adding and choosing
from additional pronunciations (even complex ones with complicated
contextual rules) should be a fairly easy

[2016-09-01 00:50] j-duff commented on #313
@kylepjohnson Should these tests be stored anywhere in particular? Should they follow the same procedures in the public-facing tests, or is there somewhere I can find examples of this separate type?

[2016-09-01 02:19] kylepjohnson commented on #313
For an example of testing methods within a class, see this and other recent examples by Tyler: https://github.com/cltk/cltk/blob/master/cltk/tests/test_prosody.py#L29

They should indeed into your test_prosody.py.

Is this explanation helpful?

[2016-09-01 12:08] j-duff commented on #313
Yes, thanks! I'll start cranking through those.

[2016-09-01 18:10] Akhilesh28 commented on #359
Added [conjunctions](https://gist.github.com/Akhilesh28/b012159a10a642ed5c34e551db76f236). Thanks to @souravsingh .

[2016-09-02 17:21] Akhilesh28 commented on #359
Sorry but I am not getting a clear idea of the nipata or particle.
Should I merge the list? @kylepjohnson

[2016-09-02 18:11] souravsingh commented on #359
Have a look at this for nipata http://sanskrit.sai.uni-heidelberg.de/Panini/HTML/i_nipAta_0.html

[2016-09-03 08:32] kylepjohnson opened #373 "Change corpus importer to accept full git URLS (not just fragments)"
This will let us point to repos that the CLTK org can't host.

So for example, as with a `corpora.py`:

[code]

… would become:

[code]

And another path could be:

[code]

I know I'll need to change this for getting official repos: https://github.com/cltk/cltk/blob/master/cltk/corpus/utils/importer.py#L273

I'll also update the docs explaining this, plus the wiki page [How to add a corpus to the

[2016-09-03 15:50] Akhilesh28 commented on #359
Yes I had visited that site but wasn't quite sure if it was the right one as it said 'the items have an attribute nipata'. However I will add them now. Thanks @souravsingh

[2016-09-03 17:42] Akhilesh28 commented on #359
Updated [gist](https://gist.github.com/Akhilesh28/b012159a10a642ed5c34e551db76f236). Does it look complete for merging? @souravsingh

[2016-09-03 18:02] kylepjohnson commented on #359
Good work, @Akhilesh28! Let's wait for Sourav's approval, then you can move on to adding it. Please keep this gist up, as it will be important in the future, if anyone wants to see how we compiled this.

Add `sanskrit/stops.py` and `sanskrit/__init__.py` at <https://github.com/cltk/cltk/tree/master/cltk/stop>.  In `stops.py`, follow the pattern of [what I did for the Latin](https://github.com/cltk

[2016-09-03 18:25] souravsingh commented on #359
Looks good to me. Please arrange the words in alphabetical order, if possible @Akhilesh28

[2016-09-03 18:35] Akhilesh28 commented on #359
Thanks @kylepjohnson  and @souravsingh .
@souravsingh Wouldn't it be better if first,second and third person pronouns are arranged in their cases rather alphabetically. I will arrange conjunctions, interjections, upasargas and particles in alphabetic order.
Is that fine?

[2016-09-03 18:37] souravsingh commented on #359
That would be great @Akhilesh28

[2016-09-04 21:20] SilentFlame commented on #373
I would like to help on this.
can you please guide me here to understand the flow?

[2016-09-05 04:58] Akhilesh28 commented on #359
@kylepjohnson @souravsingh
Final list : [`stops.py`](https://gist.github.com/Akhilesh28/fe8b8e180f64b72e64751bc31cb6d323).
I created a new file at the given link and named it `sanskrit`. How do I go about adding the `stops.py` to it?

[2016-09-06 03:03] j-duff commented on #313
Still working on the tests, and unfortunately didn't finish before classes started. I'll be chipping away in my free time, and hopefully can get the Greek tests done this week.

[2016-09-06 04:10] kylepjohnson commented on #220
Thank you @achaitanyasai for seeing this through.

Let's DM on gitter about what else you want to help out on!

[2016-09-06 04:10] #220 closed

[2016-09-06 04:18] kylepjohnson commented on #369
Hi Sourav, I meant to reply to this earlier.

I think what you're describing is a neat idea. I'm not against this – perhaps we could add a section to the project's homepage ([source here](https://github.com/cltk/cltk.github.io)).

Seems like you're thinking of two things: one a list of scholarly articles which use the CLTK and another which collects various re-usable CLTK presentations.

To get th

[2016-09-06 04:26] kylepjohnson commented on #359
@Akhilesh28 Great, now to the fun part!

It seems like you're asking how to make a "pull request". To do so, follow the directions here: https://github.com/cltk/cltk/wiki/Example-Git-and-Python-workflow

If you have other, more basic questions about how to use programs like Terminal and Git, DM me on Gitter: https://gitter.im/kylepjohnson

[2016-09-06 04:49] kylepjohnson commented on #373
Hi Vinay,

Let's work on this together. One note: This task is time sensitive (other tasks depend on it), so I'll need you to finish it within 7 days.

A few questions: Is your OS Linux or Mac? Do you know Git, GitHub, and how to use the Terminal application? Also, please follow [this simplified Git workflow for the CLTK](https://github.com/cltk/cltk/wiki/Example-Git-and-Python-workflow), to make

[2016-09-06 05:41] kylepjohnson commented on #164
James, it sounds like we'll add your `greek-accentuation` to Jack Duff's transcription module, but not as a global requirement. If/when someone wants to add the basics, let's revisit this topic. I'll close this until then, but I'm open to talking about any of this.

[2016-09-06 05:41] #164 closed

[2016-09-06 06:00] kylepjohnson commented on #104
I've removed my experiments using the Lapos tagger from the core. Among its problems:

* doesn't handle Unicode (and won't easily, according to its developer)
* It re-loads the model every time it tags a text, so using it is very slow compared to the others

I've left it and instructions on its use in this repo: <https://github.com/cltk/lapos>. Hopefully some will find it useful.

[2016-09-06 06:00] #104 closed

[2016-09-06 06:02] kylepjohnson commented on #217
@for15pounds / Valerie: I am cleaning up old tickets. Are you still working on this one? Or should we let someone else take it? Thanks!

[2016-09-06 06:02] kylepjohnson commented on #210
Closing along with #104

[2016-09-06 06:02] #210 closed

[2016-09-06 06:05] #190 closed

[2016-09-06 06:05] #235 closed

[2016-09-06 06:06] kylepjohnson commented on #242
Hi @shaiwilson I'm cleaning out some older tickets. If you want to work on this some more, please re-open this issue. Thanks!

[2016-09-06 06:06] #242 closed

[2016-09-06 06:08] kylepjohnson commented on #233
@kahnchana Hi, how are things going on this? I forget exactly how much of this work has been finished. Would you please let me know what you have done and if you're interested in finishing it? Thanks!

[2016-09-06 06:09] kylepjohnson commented on #259
I'm opening up this ticket to anyone who is interested.

[2016-09-06 06:11] #258 closed

[2016-09-06 06:15] kylepjohnson commented on #136
Happy to report Patrick's successful completion of GSoC 2016. Let's remember to close this when the final code is merged (this week, likely).

A summary of accomplishments: https://gist.github.com/diyclassics/fc80024d65cc237f185a9a061c5d4824

[2016-09-06 06:18] kylepjohnson commented on #130
I think we've moved on from this issue, however we aren't liable of forgetting the concept, so I'm going to close this for now. Please re-open or make a new, more specific ticket as you see fit.

[2016-09-06 06:18] #130 closed

[2016-09-06 06:20] kylepjohnson commented on #277
Pinging @mbevila I forget where we left off with this. Did you make a PR for these?

[2016-09-06 07:09] SilentFlame commented on #373
Hey Kyle,
Thanks for responding, and yes I'll love to work on this.
1. I use Linux(Ubuntu 14.04)
2. yes I have a good experience with git and terminal applications.

Will be doing the above task now.

[2016-09-06 07:33] souravsingh commented on #359
@Akhilesh28 Please remove those comments written in `#` before making the Pull request. We only need a single comment which will describe about the script.

[2016-09-06 07:39] Akhilesh28 commented on #359
@souravsingh Comments as in the headings like `Pronouns`, `Upasargas` etc or the meanings of the words?

[2016-09-06 07:50] SilentFlame commented on #373
have a doubt @kylepjohnson
do we have to rename all the ` 'name' ` variables in corpora.py .
as somewhere it's type is `software` and somewhere `text` or `model`."

[2016-09-06 07:53] souravsingh commented on #359
Every comment that starts with `#`. So that will include both headings as well as meanings. We only need to add a single multi-line comment for the script which will tell about the source of the stopwords. Check out the link for [Latin stopwords](https://github.com/cltk/cltk/blob/master/cltk/stop/latin/stops.py).

[2016-09-06 08:01] Akhilesh28 commented on #359
Okay. I thought the meanings are necessary as done in Punjabi stops list so I added them. I'll remove them now. And what about the license which is mentioned in the various stops lists?

[2016-09-06 08:06] souravsingh commented on #359
Mention the sources for the words along with the license the sources make use of. I am assuming the sources have a Creative Commons or similar license.

[2016-09-06 08:26] Akhilesh28 commented on #359
For instance I have taken most of the pronouns from this [site](https://simplesanskrit.wordpress.com/2012/04/11/simple-sanskrit-lesson-1/) . How do I know the license then?
Thanks.

[2016-09-06 10:21] souravsingh commented on #359
I do not see the licensing for the content in the site. I think Creative Commons would be good. I would like to know what @kylepjohnson thinks.

[2016-09-06 14:21] kylepjohnson commented on #373
No, don't change those strings, just pretend and append like I wrote.

[2016-09-06 14:25] kylepjohnson commented on #359
Sourav is right that we should remove all of he comments. However keep a version of thi, with comments, as a gist so we can give a link to it in your code.

About the licensing, we don't need to credit anyone because this is widespread linguistic knowledge. Different than an edited text.

[2016-09-06 15:26] kahnchana commented on #233
@kylepjohnson I'm really sorry I was unable to work on this afterwards. I know it's been a while I haven't made any progress. I apologize for the delay on my part.

So far I've only been able to work on the stemmer. I need to add the API and readme to it.

I will finish off the work I did for this stemmer and add the API and examples. I should be able to get this done by the end of this month (Sep

[2016-09-06 15:42] SilentFlame commented on #373
So, exactly which all `name` variables do I need to modify?

[2016-09-08 00:39] kylepjohnson commented on #373
Each one in every file named `corpus.py`.

Also, you should search more thoroughly for all the other uses of `import_corpus()`. I find at 11:

https://github.com/cltk/cltk/search?utf8=%E2%9C%93&q=import_corpus

[2016-09-08 00:41] kylepjohnson commented on #233
@kahnchana That's fine.

What I will need from you, then, is to finish what you know you can finish, then post here a list of remaining tasks that need to be done for porting the PaliNLP2 library.

[2016-09-08 15:04] kahnchana commented on #233
@kylepjohnson Thank you very much.

I will do that and update you within this month.

[2016-09-08 16:31] kahnchana commented on #233
I updated the read-me with the API (wordClassStemmer.py - stem() ) and and an example.

[2016-09-08 16:45] kylepjohnson commented on #233
Where? In your fork? Would you provide a link please?

[2016-09-08 23:04] michaalbert commented on #317
Hello, I'd like to help with this.

[2016-09-08 23:14] kylepjohnson commented on #317
@michaalbert It's all yours! Do you have a good understanding of what is to be done?

[2016-09-08 23:24] michaalbert commented on #317
Awesome! I'd say so. The usage of the different kinds of vowels and consonant needs to be described and examples of the usage like in the documentation for the Punjabi alphabet need to be added.
Are comments in the greek alphabet.py itself like in [cltk/corpus/punjabi/alphabet.py](https://github.com/cltk/cltk/blob/master/cltk/corpus/punjabi/alphabet.py) also necessary?

[2016-09-08 23:49] kylepjohnson commented on #317
That's a good question. Maybe some very brief notes, like "# the rough breathing means an initial voiceless glottal fricative at the head of a word". Your choice

This will be really easy, and after you finish this, I will have something more interesting, pertaining to explaining how to use James's Greek library.

Please DM me on Gitter if you have any small-ish questions.

[2016-09-08 23:51] #285 closed

[2016-09-09 03:24] kahnchana commented on #233
Yes. It's in my fork. [https://github.com/kahnchana/Pali-NLP/tree/master/Stemmer]

[2016-09-09 18:16] kylepjohnson opened #381 "Add abridged version of greek-accentuation"
Add these to the `greek.rst` doc:

* instructions how to add via pip
* Several examples from: https://github.com/jtauber/greek-accentuation/blob/master/docs.rst#characters
* Several examples from: https://github.com/jtauber/greek-accentuation/blob/master/docs.rst#syllabify
* Several examples from: https://github.com/jtauber/greek-accentuation/blob/master/docs.rst#accentuation

One thing to correct

[2016-09-11 05:07] jtauber commented on #381
I had created https://github.com/jtauber/greek-accentuation/issues/4 to track my own documentation of the core but hadn't done anything yet :/

[2016-09-11 06:22] kylepjohnson commented on #381
James, the PR for this is #382.

Micha made his best guess about what's most important: <https://github.com/cltk/cltk/pull/382/files>

Want to edit what he started?

[2016-09-11 07:20] jtauber commented on #381
I actually don't think there's much, if anything, to change. It covered what I think needs to be covered and doesn't have any extraneous stuff.

The only thing I still might do is check whether everything used by, say, https://github.com/jtauber/greek-inflexion is described as that's a pretty good indication of the core API at least as I personally use it.

[2016-09-11 21:58] f2015232 commented on #45
I opened the link. It doesnt work. I have attached screenshot for the same.
![screenshot 76](https://cloud.githubusercontent.com/assets/20977119/18420802/e7fbf0be-7898-11e6-81c2-9bf7d8634af8.png)

[2016-09-11 23:05] j-duff commented on #313
Still going! Greek tests are done, and you can see them at [cltk.tests.test_phonology](https://github.com/j-duff/cltk/blob/ipa/cltk/tests/test_phonology.py). Latin will take longer, but I'll start chipping away at it.

[2016-09-18 14:10] kylepjohnson opened #383 "Move or change Latin CorpusReader module"
While doing some work with Docker, to package the web API, I came across an error that must be uncommon for devs but very common to new users.

Stems from: https://github.com/cltk/cltk/blob/master/cltk/corpus/latin/__init__.py.

On a system without any `~/cltk_data` dir, anytime when `CorpusImporter()` is called, the following message is printed to screen: `Corpus not found. Please check that the

[2016-09-18 15:54] souravsingh commented on #292
@kylepjohnson Sorry for keeping you in dark on this issue. I have finished creating the repository for syntaxnet repo with appropriate docs [here](https://github.com/souravsingh/cltk_syntaxnet). Can someone confirm the values of POS and fPOS accuracy values for PROIEL treebank written in the end?

[2016-09-19 00:44] diyclassics commented on #383
OK—looking into this.

[2016-09-21 07:25] PonteIneptique opened #385 "Add declining tool based on Collatinus and Eulexis ?"
Hi there,
It's been months I have been thinking about this and I do not think CLTK contains anything like that. Collatinus and Eulexis are two Lemmatizer and Decliners which are open source (their data is either open or easy to reconstruct. And they are a nice bunch of people).

- Collatinus is in C
  - https://github.com/biblissima/collatinus is the most up to date source code for the flexer / le

[2016-09-21 15:24] souravsingh commented on #359
The issue can now be closed.

[2016-09-21 15:25] souravsingh commented on #292
Pinging @cltk/core devs to check and test the Syntaxnet for Latin.

[2016-09-21 15:44] kylepjohnson commented on #292
Hi Sourav, Thanks for reminding us.

What you have done is interesting. A few quick questions, then we can keep the conversation going:

* I don't see any actual new Latin or Ancient Greek models. Have you in fact created the models for these and uploaded the model, too?
* universaldependencies.org is the right place to start. We can try to add other treebanks later
* The bash scripts (`train.sh`,

[2016-09-21 15:50] kylepjohnson commented on #359
Two things:

* One, @Akhilesh28 there were some formatting problems with the stopword file that you uploaded. A lot of words that should have been separated were not. In fact, here's one that I didn't fix: <https://github.com/cltk/cltk/blob/master/cltk/stop/sanskrit/stops.py#L18>. Can you confirm that this is a mistake?
* There was another type of formatting problem with the files you uploaded, bu

[2016-09-21 15:52] PonteIneptique commented on #361
@ryanfb Sorry to get back this late, but yeah, the main issue with old XML of Perseus is what Kyle just say. If you are interested in reading the corpus of text converted, you should probably have a look a http://ci.perseids.org/repo/PerseusDL/canonical-latinLit or so. I have a corpus reader for the XML of Perseus which has been converted ( https://github.com/Capitains/Nautilus/blob/master/capitai

[2016-09-21 15:57] souravsingh commented on #292
@kylepjohnson I will try and answer the questions to the very best of my abilities

1) I have created the POS model for Latin, but not for Greek( since I was not assigned to work on it). I wasn't able to upload the model to Github due to constant upload failures.

2) UD is a good place for starting out. Problem would arise later when other treebanks are added which are not in CoNLL format(Which is

[2016-09-21 16:00] kylepjohnson commented on #385
Hey Thibault, thanks for thinking of these. @diyclassics's Google project was to write a lemmatizer, which works well for Latin and will be developed further for Greek. That said, it wouldn't be bad for our users to have choices.

Focusing on Collatinus – how do you propose to have users install it? You can see what I did with TLGU, which is also C: <https://github.com/cltk/cltk/blob/master/cltk/c

[2016-09-21 16:01] kylepjohnson commented on #292
Thank you, Sourav. This is helpful for my planning.

How large was the generated model for Latin?

I will try this as soon as possible. Thanks for working so diligently. This will be the most exciting addition to the project in quite a while. :)

[2016-09-21 16:10] PonteIneptique commented on #385
Hey Kyle,
I was actually thinking to make it plain python and avoid subprocess which quite often is much much slower than pythonic implementation. Because it's based on C++ focused on UI, not sure this would offer great option as well. The only thing user would need to install is the collatinus corpus. The algorithm is fairly simple. It's just a question of time to allow to it. Depending if I am a

[2016-09-21 16:16] kylepjohnson commented on #385
OK, so you're talking about actually rewriting the code (C or PHP) into Python? By all means, please do! While you write, consider how you will evaluate its accuracy.

For API, I am open, however the bare minimum for me would be a method that accepts a string, then returns a list of tuples, as the current POS tagger does (example: `[("arma", "arma"), ("virum", "vir"), …]`). If you want to add othe

[2016-09-21 16:31] PonteIneptique commented on #385
Wait, I think there is a misunderstanding. As far as the codebase, what I propose to rewrite is the decliner, ie you give it rosa, it gives you `rosa, rosam, rosae` etc. For the lemmatizer part, I am not sure it is of the greatest importance right now (+ it is dictionary based as well. It would only return all the possible choice)

[2016-09-21 16:32] PonteIneptique commented on #385
I could return `[("rosam", "acc.sing."), ("rosae", "gen.sing.")...]` or equivalent if you have a preference for the second part of the tuple

[2016-09-21 16:44] Akhilesh28 commented on #359
-  The link mentions two words as a same element, is because both the words can be used wherever needed but essentially have the same plurality. Yes, my bad this is a mistake since I reckon each word should be a separate element in the array. Correct me if wrong. So should I separate all such elements which contain two or more words together?

- Yes indeed I use Windows and formatted on IDLE. Will

[2016-09-21 16:52] kylepjohnson commented on #385
I see, thanks for clarifying. Yes, I still see value in this.

This works for me. If you think there's a better way, I am open.

[2016-09-21 16:55] kylepjohnson commented on #359
OK, how about you make any and all corrections to the stopword file, this time using PyCharm?

And a use example in the docs, too.

[2016-09-24 09:29] dilippuri commented on #209
I think this task would be better for me to start with CLTK. So can anyone tell me what should I do to complete this task. Yeah I knew that all the members are so busy but for little bit help anyone will be ready. looking forward for response...

[2016-09-24 10:10] souravsingh commented on #209
@dilippuri Take a look at the link here- http://kjc-sv013.kjc.uni-heidelberg.de/dcs/

We need to extract the Corpus texts as Devanagari.

[2016-09-24 12:47] dilippuri commented on #209
In this repo([Sanskrit text DCS](https://github.com/cltk/sanskrit_text_dcs)) only chapter 1 text are added. I mean Abhidharmakośa.txt has different text in each chapter so what would be better to add these text like **text-name_chapter-name.txt** the format of file name like:
Abhidharmakośa_AbhidhKo_1.txt
[Abhidharmakośa_AbhidhKo_1.txt](https://github.com/cltk/cltk/files/491107/Abhidharmakosa_Abhi

[2016-09-24 13:44] souravsingh commented on #209
@dilippuri The naming convention you suggest is quite good. Go for it.

( There is no need to ping Kyle everytime since he watches the repository. If any help is needed, you can also ask at the Gitter chat)

[2016-09-25 11:56] strawhatsai commented on #373
Hey so can i work on it too...

[2016-09-25 15:55] souravsingh commented on #373
@strawhatsai If you wish to work on the issue, you can work on the @SilentFlame fork of cltk and fix the issue.

[2016-09-25 16:54] kahnchana commented on #233
I will need some help with writing the test for each function. Also I added the API readme  [https://github.com/kahnchana/Pali-NLP/tree/master/Stemmer](url)

So I've worked on the stemmer so far. The other five parts still remain. The original code from which this is being ported is available at [https://github.com/kahnchana/PaliNLP2/tree/master/src/de/unitrier/daalft/pali](url). PaliNLP.java is t

[2016-09-25 18:14] dilippuri commented on #209
I am sorry for pinging kylepjohnson. Well assign this issue to me, I started for it. If you find anything that can help me in better way let me suggest. Thanks! @souravsingh

[2016-09-26 11:57] dilippuri commented on #45
[link](http://www.mqdq.it/public/indici/autori/path/metriopere/scelta/AZ ) Hey check this one this might help you @f2015232

[2016-09-26 12:29] souravsingh commented on #45
This one is currently being worked upon by me.

[2016-09-26 13:46] kylepjohnson commented on #338
I'll help out with this, as I'm able

[2016-09-26 13:47] #369 closed

[2016-09-26 13:49] kylepjohnson commented on #360
@RatulGhosh are you still working on this?

[2016-09-26 14:08] PonteIneptique commented on #385
You should have something to look at tonight my time (So less than in two hours). I guess I'll have question about where to put tests, API, documentation. I have worked in a solo repository because there is also data involved ;)

[2016-09-26 14:20] RatulGhosh commented on #360
@kylepjohnson  I am working on it. As my exam has been going on, I was not able to spend time on it. I will definitely send a pull request with the docs and some new functionalities next week.

[2016-09-26 14:25] kylepjohnson commented on #338
@soumyag213 Please see my light reworking of your files. I've boilded the repo down to what's in here: <https://github.com/kylepjohnson/indic_nlp_soumya>.

You can use the `indic_morph.py` like this:

[code]

See in it how to install the models through the CLTK.

Now, you need to make `test_indian_morph.py` work. I will give you write access to this repo.

[2016-09-26 14:31] kylepjohnson commented on #233
May I ask a few clarifying questions?

* So far, you have only ported the stemmer?
* Does the stemmer require `PaliNLP.java`?

[2016-09-26 14:32] #381 closed

[2016-09-26 14:33] kylepjohnson commented on #292
Still haven't been able to review this. Open to anyone, especially someone knowing Latin.

@souravsingh if you want to start on a Greek model, that'd be great, too

[2016-09-26 14:38] souravsingh commented on #292
@kylepjohnson Thanks! Should I create a separate repository for Greek Models or Add it to the existing Syntaxnet repository?

[2016-09-26 14:48] Akhilesh28 commented on #359
Sorry for the delay. I have made the necessary corrections. I will make a PR pretty soon. Any advice on how I should implement a use example. As I am not much acquainted with Python. Thanks.

[2016-09-26 15:17] PonteIneptique commented on #385
Ok, so here comes the Latin : https://github.com/PonteIneptique/cltk-collatinus/blob/master/cltk_collatinus/__init__.py

It is up to date with the latest models from collatinus, but there is issues with their data (see the PR  https://github.com/biblissima/collatinus/pull/34 ). The lemmes are also problematic (lots of manual correction had to be done. In the future, I/biblissima/cltk people would

[2016-09-26 16:01] kylepjohnson commented on #292
You can add to the current.

On Monday, September 26, 2016, Sourav Singh <notifications@github.com>
wrote:

--
Kyle P. Johnson, Ph.D.

Natural language processing, data science, architecture
<https://kyle-p-johnson.com>kyle@kyle-p-johnson.com |
https://kyle-p-johnson.com | https://github.com/kylepjohnson

Classical Language Toolkit, Founder
http://cltk.org | https://github.com/cltk/cltk

[2016-09-26 16:04] kylepjohnson commented on #359
See the docs for Latin, for a pattern

[2016-09-26 16:36] PonteIneptique commented on #385
You'll have my PR on your desk by tomorrow boss. ;) Hopefully (depends on the tagset thingie)

[2016-09-26 16:56] kylepjohnson commented on #385
Ha! No bosses 'round here.

I updated the above comment, too, with the correct URL for the tests.

[2016-09-26 16:58] PonteIneptique commented on #385
I just love to say that. Sorry ;)

[2016-09-26 17:21] kahnchana commented on #233
Yes. I've only ported the stemmer so far.

No. The stemmer works on it's own. It doesn't have a GUI interface. It runs on python, and has it's API at (wordClassStemmer.py - stem() ).

PaliNLP.java is the API of the entire system that links all six together. I haven't ported that yet since all six are required for that to function.

The stemmer can independently run on it's own as of now.

[2016-09-26 18:00] j-duff commented on #313
Latin tests are (finally) done! (see [cltk.tests.test_phonology](https://github.com/j-duff/cltk/blob/ipa/cltk/tests/test_phonology.py)) @kylepjohnson and @jtauber let me know what you think!

[cltk.phonology.greek.transcription](https://github.com/j-duff/cltk/blob/ipa/cltk/phonology/greek/transcription.py)
[cltk.phonology.latin.transcription](https://github.com/j-duff/cltk/blob/ipa/cltk/phonology/

[2016-09-26 18:04] j-duff commented on #313
Just had the thought - would this tool benefit from having a read-from-file or print-to-file option built in? I see people using it mostly as a tool within another piece of code, to transform orthographic data to phonetic data, but is it conceivable that someone would have a use for file-level operations? Even further, should I build in an XML parser so that it can extract Latin or Greek source te

[2016-09-27 09:28] PonteIneptique commented on #385
The corpus PR is here. The script PR will come when the corpus PR is accepted I guess

[2016-09-27 14:44] PonteIneptique commented on #292
Jumping in as it might be of interest.
Hey, I hope I can chime in @souravsingh ?

If you have the courage, there is a big set of data that are still not in UTD all over the place produced through the same tools (Arethusa and Perseids):

- Efforts of Perseus / Humboldt Chair of Digital Humanities **Greek and Latin** : https://github.com/PerseusDL/treebank_data/tree/master/v2.1
- Efforts of JMHarrin

[2016-09-27 15:12] souravsingh commented on #292
@PonteIneptique Thanks for the info. Since the issue is of considerable importance, anyone from the core team can chime in and discuss.

[2016-09-27 15:35] kylepjohnson commented on #385
Merged the PR to models repo!

[2016-09-27 15:38] kylepjohnson commented on #292
Thibault is correct, those both are valuable data sets, that we will need to use sooner or later.

@PonteIneptique do you have an idea of the difficulty to convert these treebanks into UTD?

[2016-09-27 15:53] PonteIneptique commented on #292
I don't think it would be that hard. Through I guess it is for academic
reason it's not part of it yet (double checking or so).
Quesrion: do you remove punctuation from the pos tagging?

[2016-09-27 16:35] PonteIneptique commented on #385
I'll try to have the other PR tomorrow. I'll also build a proto for people to build the same thing if they want to do Eulexis (which would probably deserve another issue, linked to this one)

[2016-09-27 20:42] kylepjohnson commented on #292
If these are not part of UTD, then I would appreciate any help in overseeing the compilation of a consolidated treebank by which we can train SyntaxNet.

Your choice. The taggers will recognize punctuation characters and label them as `u--------`. Also, I recommend that you use our `nltk_tokenize_words()` ([docs here](http://docs.cltk.org/en/latest/multilingual.html#word-tokenization)), since some

[2016-09-28 08:25] PonteIneptique commented on #385
Here you go !

[2016-09-28 08:28] PonteIneptique commented on #292
Thanks for the aside answer.

Anyway, here is a module from my PhD which could help a little in parsing original XML from treebank files (outside UTD). At least there is part done here ;)

https://gist.github.com/PonteIneptique/9cda92b802e22d406c348eb6bf5bfe56

[2016-09-28 14:43] kylepjohnson commented on #385
Thibault, your code very high quality. I'm a little skeptical of `exceptions.py`, however am willing to wait and see if others find it useful.

I merged the PR and made some superficial edits to the docs, so that they fit the format of the rest. Let me know if it isn't right: <http://docs.cltk.org/en/latest/latin.html#declining>.

[2016-09-28 14:43] #385 closed

[2016-09-28 16:13] PonteIneptique commented on #385
Hey, thanks and perfect for the edits. I think I would change "attempts to retrieve all possible form of a lemma." to "build all possible forms" but I could be wrong.

For the exception, I think it is generally good practice to avoid having the same exception as core Python because it provides a second layer of issues and does not mix with the original code. ie, if my library raises a python core