[2016-09-28 16:14] PonteIneptique commented on #385
Just adding that opening an issue for Eulexis should be good. Even so I am not inclined to do it this time ;)

[2016-09-28 17:26] PonteIneptique opened #388 "Add Eulexis to CLTK"
Follow up of #385. See there for the basic chat.

Recap : Eulexis, like CollatinusDecliner, would be a resource to convert a lemma into its various forms. This could prove useful for full text search on corpora which are not lemmatized.

- The original code is in PHP and should be easy to convert. Here is the focus for non-French speakers : https://github.com/biblissima/eulexis/blob/master/eulexis

[2016-09-29 03:39] kylepjohnson commented on #388
This project is open to anyone, however knowledge of the Latin language will be required. Further, this should not be considered an easy project.

If you're interested, let us know and we'll discuss!

[2016-09-29 03:50] kylepjohnson commented on #313
:sunny:

Jack, the tests look good to me. Make a PR and we'll see how the build on the build server. That's the real to check :}

Not a bad idea, but I prefer to let users do that themselves. If we go down this route, we have to start worrying about things like file encodings, user OS encodings, and other nastiness along those lines. If anyone should need help writing their own script by importing

[2016-09-29 10:05] souravsingh opened #389 "Add support for Word mover distance in CLTK"
It would be nice to have support for WMD for document similarity.

[2016-09-29 10:08] souravsingh commented on #389
Closing the issue since it is already open at #109

[2016-09-29 10:08] #389 closed

[2016-09-29 10:38] PonteIneptique commented on #385
Note that I removed the scansion informations from the model. This could become an option of the decliner if someone wants to deal with the utterly annoying UTF-16 double bytes such as u-^ that happens all over the place in the original model and made me mad.

[2016-09-30 13:53] kylepjohnson commented on #385
This does make sense, actually, and is the best argument in favor of it. I'm to think it over and talk to some people. It's an issue that comes up periodically and I should have a better answer.

Would you object if I were to move the exceptions file to `utils/exceptions.py`? I do like keeping the root Python directory clutter-free, as I believe it helps prevent cognitive overload for the project'

[2016-09-30 13:58] PonteIneptique commented on #385
I would not object at all. I just assumed that having it at the root makes it very clear to people they should put their exception here as it is quite visible :)

[2016-09-30 14:04] kylepjohnson commented on #385
In your opinion, is this scansion information valuable? If you were able to explain the issue clearly in writing, we can find someone to help you make a mapping of UTF-16 to -8.

[2016-09-30 14:04] PonteIneptique commented on #388
@kylepjohnson I am not sure why you talk about Latin here ?

[2016-09-30 14:06] PonteIneptique commented on #385
This would be an alternative to our current system, which might be nice. Is this to be focused on ? I don't know.
The general issue is that my regular expressions were completely failing at matching the resources. I did not go further as it started to piss me off after two hours.

[2016-09-30 14:07] kylepjohnson commented on #388
Eulexis … that does sound Greek, doesn't it? :flushed:

[2016-09-30 14:10] kylepjohnson commented on #385
Regexes and utf-18 – that's the stuff of madness. Having an alternative isn't a bad thing, unless we can statistically demonstrate that one has a much higher accuracy than another, in which case one is preferable.

To get around this problem, would the solution be just to manually rewrite the -16 as -8?

[2016-09-30 14:24] PonteIneptique commented on #385
Potentially. But manually should mean by script. And I do not know what UTF-8 would do with the superposed scansion accents. Right now, any reader assume the second entered access is part of the next character. So `a^-|` becomes `a^|-`. There might be a need to rewrite a little the Decliner to work with the scansion (I would make that an option btw. Not the default attitude of the decliner).

Same

[2016-09-30 14:31] kylepjohnson commented on #385
If you ever feel strongly about adding this material and are available to oversee it, let us know and I'll try to pair you a dev.

[2016-09-30 14:34] PonteIneptique commented on #385
As I opened this issue and #388 , I am happy to oversee and support this if needed.

[2016-10-06 17:44] souravsingh opened #394 "QuantifiedCode shutting down"
More info here- https://www.quantifiedcode.com/blog/quantifiedcode-future

[2016-10-07 18:24] kylepjohnson commented on #394
Thanks, I saw this. I'll be pulling this badge and closing my account.

[2016-10-07 18:24] #394 closed

[2016-10-07 21:56] dracarys09 commented on #373
I would like to work on this issue.
Can you help me with where to get started and the flow ?

[2016-10-07 21:57] dracarys09 commented on #317
Hi, I would like to work on this issue.
Can you help me with the work flow  ?

[2016-10-07 21:58] dracarys09 commented on #259
Hi, I would like to work on this.
Can you suggest me the work flow and from where to get started ?

[2016-10-07 22:18] kylepjohnson commented on #317
Hi, this actually has been completed: http://docs.cltk.org/en/latest/greek.html#alphabet

Sorry about that. Please DM me on Gitter some ideas you have, what kind of project you'd like to work on. Thanks!

[2016-10-07 22:18] #317 closed

[2016-10-07 22:19] kylepjohnson commented on #373
Hi, Actually, we have a PR for this already, but I need to fix some things in it. So this isn't available.

[2016-10-07 22:21] kylepjohnson commented on #259
We'd love your help, but do you read Malayalam? If so, the explanation above should be enough.

To learn more about Git, see our Quickstart in the wiki.

[2016-10-08 07:20] kylepjohnson commented on #271
Closing this with #384 by @manu-chroma.

[2016-10-08 07:20] #271 closed

[2016-10-08 07:20] kylepjohnson commented on #272
Closing this with #384 by @manu-chroma . Windows installation docs available here: <http://docs.cltk.org/en/latest/installation.html#microsoft-windows>.

@andreasgrv this approach to using Bash on Windows will be smoothest for the project. Thank you for your help on this, though. I hope at least you learned something in the process! Is there anything on the `appveyor` branch you want to keep? Othe

[2016-10-08 07:20] #272 closed

[2016-10-08 07:21] kylepjohnson commented on #359
@Akhilesh28 a friendly reminder about these docs.

[2016-10-08 07:23] kylepjohnson commented on #276
With the momentum towards SyntaxNet, I am going to close this ticket. Anyone who wants to take this on should, though.

[2016-10-08 07:23] #276 closed

[2016-10-08 07:23] kylepjohnson commented on #275
With the momentum towards SyntaxNet, I am going to close this ticket. Anyone who wants to take this on should, though.

[2016-10-08 07:23] #275 closed

[2016-10-08 07:25] kylepjohnson commented on #136
Closing this out with the imminent merge of #395 . Way to go, Patrick!

[2016-10-08 07:25] #136 closed

[2016-10-08 07:36] kylepjohnson commented on #394
Closed out the quantified code (b/c closing) accounts and coveralls (b/c I prefer codecov) accounts, and removed badges with PR #397

[2016-10-08 07:40] kylepjohnson commented on #367
@ancatmara Any updates for us on Old Irish?

[2016-10-08 07:42] kylepjohnson commented on #367
Oh, something else I should add, about handling corpora that the CLTK cannot redistribute:

You may ask users to define a corpus that you host on your account, with the following `distributed_corpora .yaml`:<http://docs.cltk.org/en/latest/importing_corpora.html#user-defined-distributed-corpora>.

[2016-10-08 07:44] kylepjohnson commented on #134
Closing out. Please see @suheb's work at <http://archive.cltk.org>!

[2016-10-08 07:44] #134 closed

[2016-10-08 07:45] kylepjohnson commented on #140
This is looking much lower priority, since we have the text versions of the CBETA corpus.

When it comes time to put CBETA on the API and Classical Language Archive, however, we may want to revisit this topic.

[2016-10-08 07:45] #140 closed

[2016-10-08 07:50] kylepjohnson commented on #270
Make a Middle English stopword list. This is easy and open to anyone :)

[2016-10-08 07:50] kylepjohnson commented on #269
This ticket is open to anyone, shouldn't bee too hard.

[2016-10-08 07:51] #262 closed

[2016-10-08 07:53] kylepjohnson commented on #213
I've been working on this, too, and am pretty close to being done. Going to close. Thank you for your help, I'll acknowledge you in the source/docs

[2016-10-08 07:53] #213 closed

[2016-10-08 07:54] kylepjohnson commented on #266
@souravsingh What's happening with Old English stop words?

You have a lot of old issues under your name. I think it's best that you let most of them go.

[2016-10-08 07:56] kylepjohnson commented on #277
I'm going to close this due to inactivity, however I would love to revisit any time.

[2016-10-08 07:56] #277 closed

[2016-10-08 07:59] kylepjohnson commented on #313
@j-duff I would like to use your module for an upcoming talk. Think you can put the PR together this weekend?

Ping me on Gitter for Git tips, if you need.

[2016-10-08 08:01] #137 closed

[2016-10-08 08:01] #278 closed

[2016-10-08 08:01] #135 closed

[2016-10-08 08:01] #313 closed

[2016-10-08 08:21] souravsingh commented on #266
@kylepjohnson Sorry for being silent on the issue. I will send a PR for the issue ASAP

[2016-10-08 09:12] souravsingh commented on #46
@kylepjohnson I have transferred the repository to cltk latin team.

[2016-10-08 12:27] andreasgrv commented on #272
Well that simplifies things :)
Yes, I learnt a lot and it was fun!
Feel free to delete the branch if there is nothing useful on it

[2016-10-08 16:17] kylepjohnson commented on #46
Thanks. Did you once get an email from them? If so, please re-forward to me.

[2016-10-08 16:18] kylepjohnson commented on #272
Thank you, sir!

Be in touch if you think of another project that interests you.

[2016-10-08 17:14] kylepjohnson commented on #108
I've thought about this and, unless I am convinced otherwise, this might be best left for users do themselves.

[2016-10-08 17:14] #108 closed

[2016-10-08 17:16] #266 closed

[2016-10-08 18:12] #46 closed

[2016-10-09 05:26] pnemade opened #403 "enhancement request for tarball release"
Hi,
   I would like to update this cltk project in Fedora as python-cltk package everytime upstream releases new tarball. But I see sometimes tarball is not tagged/released here in git repository but released on PyPI.

I would like to request 2 things
1) Please tag every release here in git repository as well
and/or
2) If you don't prefer to tag every release in git repository then please add esse

[2016-10-10 18:20] michaalbert commented on #270
I`d like to do this task if possible. :)

[2016-10-10 18:25] kylepjohnson commented on #270
Yes please!

Do  you have any questions about it? Remember that for us, we only want low-information words based on grammar (so articles, pronouns, demonstratives, the verb "to be"). This means we should not include nouns, verbs, adjectives, etc..

I recommend you simply start with transcribing this list, linked to above: https://people.stanford.edu/widner/sites/default/files/Slide13.jpg

How many

[2016-10-10 20:12] michaalbert commented on #270
Transcribing the above lists is easy enough of course, however I may have minor questions when writing the test for the stops like in [test_stop.py](https://github.com/cltk/cltk/blob/master/cltk/tests/test_stop.py), which probably could be resolved quickly via Gitter. :)

I think I'll be done in a day or two.

[2016-10-10 20:23] kylepjohnson commented on #270
Tests for stops are not necessary, as there is no code associated with them. (I might consider written a simple function for a uniform API to all languages, but list comprehensions are so easy.)

[2016-10-10 21:18] michaalbert commented on #270
Oh, alright, then this definetly will be quick.
Are prepositions like 'for' relevant here too?

[2016-10-10 21:46] kylepjohnson commented on #270
Yes, all ME prepositions should be in the stopword list. Good question.

[2016-10-10 23:48] michaalbert commented on #270
Okay, another question: are words like 'and', 'if', etc. relevant here? Is the verb 'to have' necessary, as it can be an auxiliary verb?
Also does this need an empty `__init__.py ` like the latin and greek stoplists have?

[2016-10-11 00:09] kylepjohnson commented on #270
Yes sir, conjunctions like `and` and whatever `if` is, that too.

And sure, let's throw in all forms of `to have`.

Yes, an empty `__init__.py` is needed, else your module won't be importable.

[2016-10-11 04:00] kylepjohnson commented on #403
Hi Parag,

You're welcome to package the CLTK. We usually do tag our versions, however as you have seen we do not always do so. I cannot guarantee that we will always do this, though your work packaging shouldn't be affected.

I've made PR #404 which adds the README to PyPI's site. I don't know if this is enough for your needs. In any event, the license is referenced in `setup.py`.

Before you sta

[2016-10-11 04:18] pnemade commented on #403
I have seen few of the upstream projects say like those hosted on github do not add extra files to their PyPI or NPM releases. I keep requesting them to add license text files, README files and if needed test files.
I am glad that all such requests have been accepted by those people except some not willing to add test files as they were more in size.

I package some of the interesting software's I

[2016-10-11 05:42] kylepjohnson opened #405 "Notice: Dropping Python 3.4 support"
Something about the Greek transcriber package is [failing in the 3.4 tests](https://travis-ci.org/cltk/cltk/jobs/166624636#L1227).

To be honest, I don't really care why, as I have been meaning to drop support for 3.4, anyways.

Until further notice, the CLTK will officially support the current version, assuming the NLTK does, too. If possible, there may be a brief overlap period where the project

[2016-10-11 05:46] kylepjohnson commented on #405
Closing with #406

[2016-10-11 05:46] #405 closed

[2016-10-11 05:54] kylepjohnson commented on #403
So you can make packages from PyPI or GitHub? If so, use GitHub, which keeps me from having to add the README to the tar ball (what I've read look like ugly hacks). You will get most of the releases, and I can try to be more consistent in tagged every PyPI release.

Thanks much for doing this, Parag. I had no idea we were on EPEL!

[2016-10-11 05:54] #403 closed

[2016-10-11 05:59] kylepjohnson commented on #233
@kahnchana The project is beginning to look to GSoC 2017 and we need to close out some of these old tickets.

I'll add the code to a branch of the CLTK, then we can find another to help with the tests.

[2016-10-11 06:08] pnemade commented on #403
Thanks. EPEL is a extra package repository for Red Hat Enterprise Linux (RHEL) users. See [this](https://fedoraproject.org/wiki/EPEL) wiki page.

[2016-10-11 07:06] kylepjohnson commented on #233
Minimum working Pali stemmer temporarily at: https://github.com/kylepjohnson/Pali-NLP

New Pali models dir at: https://github.com/cltk/pali_models_cltk

More cleanup to do, then write tests.

[2016-10-11 21:01] #270 closed

[2016-10-12 20:31] D-K-E opened #408 "Add file names to multifile concordances at the beginning of the lines"
I was wondering if we can add the file names  for a concordance that is produced from multiple files at the beginning of each line. Something like:
Illiad: line the_word line
Illiad: line the_second_word line
Illiad: line the_third_word line
Hymns: line the_fourth_word line
Hymns: line the_fifth_word line
etc.
By writing the variable names of the list file at the beginning of the line. This will g

[2016-10-12 23:19] kylepjohnson commented on #408
I'm open to improvements to the concordance maker. However let's step through this more carefully.

* You talking about `Philology().write_concordance_from_file()`, right? ([Code here](https://github.com/cltk/cltk/blob/7c2703cecfc1c97f1af059bdf29c904b1647c3f2/cltk/utils/philology.py#L51).)
* As I see it, the main problem with the concordance output is that the rows are not lined up well. For examp

[2016-10-13 14:50] D-K-E commented on #408
Yes I was talking about `Philology().write_concordance_from_file()`.
I was wondering how close you want the output to be like unitex ide. One of the contributors of the unitex will be coming to our university to give a series of seminars on manual and automatic linguistic annotation in the spring. I can just ask him about the general structure of the code. I also met him last year, he seemed very

[2016-10-13 15:03] D-K-E opened #409 "Tei and EpiDoc input-output support"
This xml format has recently been very popular for storing and exchanging texts, especially some of the important online corpora started using it for presenting their data (Papyri.info, Eagle-europaena network, etc.).
How about adding a converter for tei and epidoc input and an exporter for the same?
POS-tagging, lemmatization have direct correspondance in the tei attributes, it would also facilit

[2016-10-13 16:44] kylepjohnson commented on #408
I don't know anything about unitex, I only grabbed that image from the Internet. The goal of the concordance maker is, most off all, to help humans study vocabulary.

Sorry, I don't think I understand. I wouldn't want more than one optional parameter, passed to `write_concordance_from_file()` and `write_concordance_from_string()`, which changes the default `spacing=" "` (e.g. `write_concordance_fr

[2016-10-13 16:49] kylepjohnson commented on #409
I am familiar with TEI however have not worked with it much. Generally speaking, the CLTK handles only natural language processing, not data archiving (which TEI people are concerned with).

There is some overlap between the spheres, of course. For example, in our available text corpora, we make data converters available, so as to take data out of difficult XML and into simpler JSON or plain text.

[2016-10-13 17:51] D-K-E commented on #408
@kylepjohnson I was thinking about giving the user an option to specify the left separator and right separator in addition to your suggestion. Something like `separator = (" ", "*")` or better `separator = { "right":" ", "left":"*"}`
then `write_concordance_from_string(separator)`
We can then incorporate a condition based on the type of the input, something like:
`if isinstance(separator, dict) ==

[2016-10-13 18:37] kylepjohnson commented on #408
In my opinion, specifying two different spacers would make the output more difficult to read. And two separators would break the ingestion of output as a CSV.

Would you able to add the optional parameter `separator=" "` to `write_concordance_from_string()` and `write_concordance_from_file()`?

Remember that this project prioritizes simple code. Please refer to [our code style guide](https://githu

[2016-10-13 18:40] kylepjohnson commented on #408
Also, the more I think of it, I do like your idea of giving the name of the file in a column, too. I think you should make this an optional parameter, called `file_name=False`, but enabled with `file_name=True`.

As you suggest, make this the leftmost column when `file_name` is enabled and use the same character specified by `separator`.

[2016-10-13 19:07] D-K-E commented on #409
Well tei provides a number of them in [oxGarage](http://www.tei-c.org/oxgarage/#) based on the input of the user.

In that case I shall make an another issue for [papyri.info](http://papyri.info/), and [eagle-europeana](http://www.eagle-network.eu/)

[2016-10-13 19:10] D-K-E commented on #408
I will be working on both of them. I will share a before after output here.

[2016-10-13 19:13] kylepjohnson commented on #409
Are the texts in papyri.info and eagle open source? I would like to host these texts, if possible.

[2016-10-13 20:25] D-K-E commented on #409
For eagle, i don't think so, though I am not sure I couldn't find the license, but maybe we can work an angle from the options listed [here](http://www.eagle-network.eu/about/get-involved/)
For papyri.info, it depends on the material, they provide the license when you are visualising the catalog entry, such as [here](http://papyri.info/apis/berkeley.apis.111?rows=3&start=0&fl=id%2Ctitle&fq=series_

[2016-10-13 22:13] michaalbert commented on #269
Am I understanding it correctly that the only thing missing here is adding the title of `"3Kcol.xml"` from [MiddleEnglishCorpus_Index.txt](https://github.com/cltk/middle_english_text_cmepv/blob/master/MiddleEnglishCorpus_Index.txt) to the JSON file?

[2016-10-13 22:28] kylepjohnson commented on #269
Ummmm ... yes, I think it actually is that easy!

(I'll reply to your other post soon.)

[2016-10-13 23:11] kylepjohnson commented on #269
Your PR is ok, but I was think this file also needs too be put into JSON, too.

https://github.com/cltk/middle_english_text_cmepv/blob/master/MiddleEnglishCorpus_Index.txt
Can you do that, as well?

[2016-10-13 23:16] kylepjohnson commented on #269
Thanks, we're good here.

Thinking about this entire (old) ticket again: what I'd really like is for the XML to be re-parsed and put into a dir called `json`, in which the basic structure of the XML is reflected in a simplified form in JSON.

If this is a job you want, let me know and I'll make a new ticket for you!

Thanks

[2016-10-13 23:16] #269 closed

[2016-10-13 23:18] michaalbert commented on #269
Ah, okay. Sorry, I don't know enough XML for reparsing it.

No problem!

[2016-10-15 06:27] Akash-Pardasani commented on #105
Hi! Is somebody working on this? I would like to contribute.

[2016-10-15 07:20] souravsingh opened #410 "Extracting texts from GRETIL"
The [GRETIL site](http://gretil.sub.uni-goettingen.de) contains some texts in Sanskrit, Pali, Tibetan that we could make use of.

[2016-10-15 15:51] michaalbert commented on #217
If @for15pounds is no longer working on this I would like to work on this. (or on other future tasks related to OCS - I happen to know this language. :))

[2016-10-15 17:15] kylepjohnson commented on #217
It's all yours, thank you for volunteering!

[2016-10-15 17:18] kylepjohnson commented on #217
And we're definitely interesting in any NLP you want to add for OCS!

[2016-10-15 17:22] kylepjohnson commented on #105
@Akash-Pardasani There are 6531 texts, which is a lot to scrape. I will write to the maintainers and see if they can get us a dump. Will let you know their reply.

[2016-10-15 17:36] michaalbert commented on #217
Great!
So to add these corpora I make a repository with all the .txt files in a folder and a short README like for Sanskrit, right? How will it be added to CLTK later?

[2016-10-15 18:05] Akash-Pardasani commented on #259
Hi @kylepjohnson , found this http://www.mlwiki.in/
The downloadable version (CD of Malayalam Wikimedia works)  has Malayalam works sorted by genre as well as authors.
Want me carry on with it ?

[2016-10-17 12:12] Akash-Pardasani commented on #410
Hi @souravsingh . I've started scraping the Pali texts. Want me to create a new repo pali_texts_gretil ?

[2016-10-17 15:53] souravsingh commented on #410
@Akash-Pardasani Create a new repo with the name and put your texts in the repo. Let me know when done.

[2016-10-17 16:01] souravsingh commented on #410
I have added a checklist for the Languages and the contributors here-

- [ ] Pali @Akash-Pardasani
- [ ] Sanskrit @souravsingh
- [ ] Prakrit
- [ ] Malayalam
- [ ] Old Javanese
- [ ] Old Tibetan

[2016-10-17 16:02] kylepjohnson commented on #410
Akasha get these texts but please put in repos in your own account. Let us know when this is done and we will guide you further.

[2016-10-17 17:06] michaalbert commented on #217
Right, from what I gathered from other issues I indeed should make a repository with the files. [There it is](https://github.com/michaalbert/CCMH). What is the next step?

[2016-10-17 17:09] kylepjohnson commented on #410
Thank you Sourav this looks like a good idea.

Just put each language in a personal repo, not the CLTK's, until I sign off on each

[2016-10-17 17:15] kylepjohnson commented on #217
To add a corpus: https://github.com/cltk/cltk/wiki/How-to-add-a-corpus-to-the-CLTK

[2016-10-17 17:17] kylepjohnson commented on #217
Micah do you see any licensing info on this site? And are these all the OCS from this site?

For another project, I recommend making a mapper to convert their odd encoding to Unicode.

[2016-10-17 17:35] michaalbert commented on #217
I haven't seen any licensing information on their site and yeah, I already started working on a mapper for the Kyrillic texts (Codex Suprasliensis, Savvina kniga and the Vitae). The others are written in Glagolitic alphabet and will require a different mapper.
That seems to be all for OCS from that site.

[2016-10-18 12:36] Akash-Pardasani commented on #410
@souravsingh could you take a look at pali_texts_GRETIL ? I've added the texts.

[2016-10-18 16:56] kylepjohnson commented on #259
I'd like that, but a few important clarifications:

* Only use the Malayalam Wikisource, not Wikipedia
* We only want "Classical" Malayam texts. The definition of "Classical" is sometimes difficult, and I am not very knowledgeable about Malayalam's literary history.
* Please read the [Malayalam literature](https://en.wikipedia.org/wiki/Malayalam_literature) Wikipedia page and write back here, in a

[2016-10-19 08:36] Akash-Pardasani commented on #259
I'll get on with it. After reading the Wikipedia's entry and a couple of other sources, I believe the cut off date should be set around late 19th century.

[2016-10-20 03:56] Mesil opened #413 "Missing Files on Installation"
As far as I can tell, I'm missing files when I install cltk.

I follow the pip install method provided in the documentation:

[code]

This produces no errors and returns a list of satisfied requirements.

However, when I attempt to replicate the sample lemmatization file, I encounter missing file errors. My traceback follows:

[code]
Sure enough, when I manually check the cltk_data directory, cltk

[2016-10-20 05:59] kylepjohnson commented on #413
@Mesil That library depends on the `latin_models_cltk` repo. Here are the instructions to download it: http://docs.cltk.org/en/latest/importing_corpora.html

[2016-10-20 05:59] #413 closed

[2016-10-22 08:59] codeSG commented on #247
hey, I want to do this task but as I am new to this , would you please provide some help  to me how to do it?

[2016-10-22 18:20] souravsingh commented on #247
Hello @codeSG Take a look at the repo here- https://github.com/cltk/sanskrit_text_wikisource
Create a fork of the repository and add the texts and the scrapers in your fork.
Once done, Send a pull request to the CLTK repository and we'll take a look.

[2016-10-23 02:41] codeSG commented on #247
Thanks @souravsingh  ,I will do the task and will inform when it is done.

[2016-10-29 14:01] diyclassics commented on #383
I agree that this should be fixed—haven't been able to figure out how (if?) I can do this while keeping the ability to use the following syntax to import the corpus:
`from cltk.corpus.latin import latinlibrary`

Suggestions?

[2016-10-29 16:38] kylepjohnson commented on #383
I think you could move its contents to a class within `cltk/corpus/latin/latinlibrary.py`.

Then users would import with, e.g.: `from cltk.corpus.latin import latinlibrary` and use with `latinlibrary.LatinLibraryReader()`.

Just sharing an idea. A guiding principle I go by is "explicit is better than implicit".

[2016-10-31 01:23] D-K-E commented on #388
@PonteIneptique  I need something like Eulexis to search for forms of lemmata on couple of corpora like EAGLE and PHI. I am willing to help with it as much as I can. I am not really well-versed in php, so I don't understand well some parts of the code. I will upload a gist of what I've understood so far, either tomorrow or during some time this week.
@kylepjohnson This is very useful as it is, but

[2016-10-31 09:10] PonteIneptique commented on #388
@D-K-E I am happy to help you in this matter. Feel free to ping me anytime (for review, help or the likes)

[2016-10-31 15:00] souravsingh commented on #359
@Akhilesh28 Thanks for your contribution to CLTK. I think the issue can be closed now @kylepjohnson

[2016-10-31 16:06] Akhilesh28 commented on #359
Thank you both @kylepjohnson  and @souravsingh. This was my first open source experience from which I learned a lot. :)

[2016-11-04 14:14] D-K-E commented on #388
@PonteIneptique Here is the [gist](https://gist.github.com/D-K-E/5916c2d73f3f91f955cdb58072667bde) that resumes what I have understood so far from the code.  I have made it in a commentary form. Generally speaking, the communication between the two datasets pass from the index numbers, i guess, but I don't understand how the lemmata dataset is parsed. I don't understand the deal with the handling

[2016-11-07 09:03] ykl7 commented on #410
@souravsingh Hi! I could work on Prakrit from GRETIL if the issue is still open. Could you help me understand the problem completely? As far as I can figure out, I will need to scrape the Prakrit corpora and organise it. Is that correct? If yes, could you tell me if a particular folder structure?

[2016-11-09 16:15] souravsingh commented on #410
@ykl7 Sure, you can start working on Prakrit texts. The GRETIL site has a direct download for the texts, so you won't need to do scraping. For Organization, Just store them in a single folder called "prakrit" since there aren't lot of texts in there.

[2016-11-09 16:20] souravsingh opened #416 "Adding support for Damerau-Levenshtein algorithm"
It is quite useful for finding edit distance between two strings.

[2016-11-09 16:26] ykl7 commented on #410
@souravsingh looks like the Prakrit downloads are html pages and i have to extract all of them individually. Will do that soon and notify.

[2016-11-09 17:30] kylepjohnson commented on #416
Have you used this before, Sourav?

Thanks, this gives me some ideas. Would you please experiment with which one is best? I think this one uses Cynthia, which would be useful: https://pypi.python.org/pypi/pyxDamerauLevenshtein

Also, I won't want to make all users install this, but just optionally (sim. To greek-accentuation). Maybe this can just be added to the Multilinual docs?

[2016-11-09 17:38] souravsingh commented on #416
@kylepjohnson I have used the above mentioned package a few days ago to learn about its workings and found it to be quite good. I am rather indecisive about adding this as a dependency, adding this to multilingual docs is not a bad idea

[2016-11-09 18:28] kylepjohnson commented on #416
You want to make docs for this? Instructions can be added to to `multilingual.rst`, following <https://github.com/cltk/cltk/blob/master/docs/multilingual.rst#levenshtein-distance-calculation>.

[2016-11-09 19:03] diyclassics opened #417 "Regex lemmatizers in backoff.py run slowly"
RegexLemmatizer (and related PPLemmatizer,  RomanNumeralLemmatizer, etc.) run slowly because they iterate unnecessarily over both all unlemmatized tokens *and* all regex patterns. Yet the lemmatizer only returns a lemma in a small number of cases. Proposed solution: limit the number of iterations over regex patterns.

[2016-11-09 21:48] #417 closed

[2016-11-11 07:17] SilentFlame commented on #410
what's the status here on these issue?

Can I help on something please?
@souravsingh , @kylepjohnson

[2016-11-11 07:39] SilentFlame commented on #410
I can work on the remaining three language data, as there is not much to extract from them.
@souravsingh , @kylepjohnson

[2016-11-11 07:45] souravsingh commented on #410
Assigned @SilentFlame to remaining languages.

[2016-11-11 19:34] #359 closed

[2016-11-12 02:40] D-K-E opened #420 "Adding a converter for CAL texts"
The main online provider of the official/classical/imperial aramaic texts online is [CAL](http://cal1.cn.huc.edu/) ( Comprehensive Aramaic Lexicon ).  It provides the texts in two form: 1) In Hebrew letters; 2) In CAL code. CAL code means some of the letters are represented with different symbols, rather then their traditional transliteration equivalents, ex. $ for š, or & for ṣ֭. The traditional

[2016-11-12 02:59] D-K-E opened #421 "Adding a converter for MdC texts"
MdC (Manuel de Codage) establishes a couple of conventions for representing classical-egyptian words with latin letters, like A = ꜣ or a = ꜥ, or x = ḫ, etc. These conventions are largely used by the online corpora such as TLA and others. However with the exception of two character, all of the characters used traditionally to transliterate egyptian texts are available in unicode. Though MdC transli

[2016-11-13 11:39] souravsingh commented on #410
@Akash-Pardasani The repository looks good to me. I would like @kylepjohnson to sign off first before the repository is transferred.

[2016-11-15 21:28] kylepjohnson commented on #212
Closing due to recent completion by @lukehollis

[2016-11-15 21:28] #212 closed

[2016-11-16 19:11] #416 closed

[2016-11-16 20:14] kylepjohnson commented on #421
@D-K-E Thank you for offering this code, it is very generous of you.

I have a few ideas where this could go, but would you mind sharing with me the code first, say on <https://gist.github.com>? I would like an idea of what your code looks like and see a real example of how to use it.

[2016-11-16 20:16] kylepjohnson commented on #420
I think this is also a good idea. My need is along the lines of #421 -- please post a minimum working of the code so I can give some feedback. Since this is pretty simple, I assume I won't have much to add.

Thanks, looking forward to this!

[2016-11-16 20:17] kylepjohnson commented on #410
Hey guys, where can I find this repository? I'm happy to take a look now.

[2016-11-16 20:22] kylepjohnson commented on #247
@codeSG How are you doing on this?

[2016-11-16 20:23] kylepjohnson commented on #259
@Akash-Pardasani How are you doing on this task?

[2016-11-16 23:19] D-K-E commented on #421
@kylepjohnson [here](https://gist.github.com/b42eec292a34eae5e541cf6675c6f26b.git) is the gist containing the code and a minimal working example. I have written this one for another repo with gpl-3 license, but i have no issue with changing the license.

[2016-11-16 23:37] kylepjohnson commented on #421
This looks really nice. How about the following:

* Since you're OK with it, change license to MIT (put `__license__ = 'MIT License. See LICENSE.'` (thanks)
* Add your name as author: `__author__ = 'name <email>'`
* Leave only the English docstrings to the module and `mdc_unicode()`
* Remove everything below the function
* Put the module in `cltk/corpus/egyptian/hieroglyphs.py`
* Add an empty `clt

[2016-11-17 01:18] D-K-E commented on #388
@PonteIneptique [Here](https://gist.github.com/6f012127c731e1657bead6329fee1a41.git) is the code so far. In general, i understood how the `cherche` function works, but I don't fully grasp the lines towards the end of the function. You'll see in the gist that after a certain point my commentary on the code ceases. I can safely say from that point on, I can't follow the operation in effect.
       A

[2016-11-17 08:31] PonteIneptique commented on #388
@D-K-E : Thanks ! Sorry for no earlier replies, I was really  busy these last weeks...
I have had a look and I think the next step might be to chime in, mostly if you do not have any PhP experience. The code they wrote works but is already some kind of weird oldy php, so I am happy to make some changes myself :) Here is my forked gist : https://gist.github.com/PonteIneptique/fa9162b5f4e6c5c789fc62

[2016-11-17 10:27] souravsingh commented on #410
Hello @kylepjohnson Here is the repo for Sanskrit-https://github.com/souravsingh/sanskrit_texts_gretil

[2016-11-17 10:27] PonteIneptique commented on #388
Here is a working version, with a lot of simplified things ( I might have removed some capacity of the original work, but it's still nice to have something no ? :) ) Work would not have been possible without the tremendous clean up of @D-K-E :)

https://gist.github.com/PonteIneptique/fa9162b5f4e6c5c789fc620538edb6e0

[2016-11-17 10:29] PonteIneptique commented on #388
I think a good next step would be to make an ingester of the original data to build dicts. The code is less efficient than I thought (Unfortunately, it does not flex like collatinus does, it just has a list of known lemmas/morphs/pos)

[2016-11-17 10:30] PonteIneptique commented on #388
Also, the data exported from here could be used to have a "simple" Greek lemmatizer

[2016-11-17 16:55] ykl7 commented on #410
@kylepjohnson even I have exams right now. I'll structure it and update right after that

[2016-11-18 01:43] D-K-E commented on #388
@PonteIneptique Wow (O_O), this is beyond all my expectations as a feedback. I am from EPHE in Paris, phd student in his second year, a.k.a a newcomer. I am willing to help with building the dicts. Just to be clear about the structure of the dict, we are talking about something like:
`{'lemma':{'flexed form 1':'POStag', 'flexed form 2':'POStag', 'flexed form 3', etc.}` maybe a list of notices like

[2016-11-18 03:03] D-K-E commented on #421
I am okay with all of the suggestions. I just would like to propose that instead of adding the module to `cltk/corpus/egyptian/hieroglyphs.py`, it might be more appropriate to add it to something like `clt/corpus/egyptian/transliteration/mdc_unicode.py` for the following reason:
     Ancient egyptians used 3 scripts at overlapping times, hieroglyphics, hieratic (a cursive writing of hieroglyphics)

[2016-11-18 05:22] kylepjohnson commented on #421
I see, thanks for this. How about `cltk/corpus/egyptian/transliterate_mdc.py`?

[2016-11-18 07:22] Akash-Pardasani commented on #259
@kylepjohnson I've done some work, find it here [malayalam_text_wikisource](https://github.com/Akash-Pardasani/malayalam_text_wikisource).

I had to put it on a pause as I'm having exams right now, get back with it right after them.

[2016-11-18 07:25] Akash-Pardasani commented on #410
Hello @kylepjohnson Find the pali texts at [pali_texts_GRETIL](https://github.com/Akash-Pardasani/malayalam_text_wikisource)

[2016-11-18 20:50] kylepjohnson commented on #259
OK, please check back in when you're ready.

[2016-11-18 21:01] kylepjohnson commented on #410
This looks OK to me, too. @Akash-Pardasani Adding a new corpus is really easy.

* Rename the repo to `pali_texts_gretil`
* Transfer ownership of the repo to the `cltk` organization
* Add this corpus to here: <https://github.com/cltk/cltk/blob/master/cltk/corpus/pali/corpora.py>

[2016-11-19 15:36] ykl7 commented on #410
@kylepjohnson Please have a look at [GRETIL-Prakrit](https://github.com/ykl7/GRETIL-Prakrit) and inform if any changes needed. Hope its up to the mark

[2016-11-19 18:58] kylepjohnson commented on #410
This ticket is too messy. I'm going to open a new issue for this.

[2016-11-19 19:00] kylepjohnson opened #424 "Add gretil Prakrit repo"
For @ykl7 on https://github.com/ykl7/GRETIL-Prakrit

Questions/corrections to make on the repo:
* rm .DS_Store (`git rm .DS_Store) from the repo (you can add it to a `.gitignore` if you want
* I count 8 unique files. Is this *all* of the Prakrit files
* separate the .txt and .html files into separate directories in the root of the repo (`txt` and `html`)
* Rename the repo to `prakrit_texts_gretil`

[2016-11-19 19:09] ykl7 commented on #424
I've downloaded all UTF-8 files for Prakrit available at [GRETIL](http://gretil.sub.uni-goettingen.de)
I'm so sorry I forgot to remove the ```.DS_Store``` file already.
I'll restructure the repo per file type and get this done immediately

[2016-11-19 19:14] ykl7 commented on #424
Is it ok to leave the scraping and cleaning scripts i made in the repo itself? Or should i remove them?

[2016-11-19 19:47] ykl7 commented on #424
@kylepjohnson I've made the required changes. But I don't have the rights to transfer the repo to ```cltk```. Also, could you elaborate on the last step of adding the corpus? If I'm not wrong, all I have to do is send a PR with the required change, right?

[2016-11-20 01:16] kylepjohnson commented on #424
Try again, you should be able.

Have you made a Pull Request on GitHub before? If not, [read this](https://github.com/cltk/cltk/wiki/Example-Git-and-Python-workflow). Once you know how to make a PR, see [this doc on adding a corpus](https://github.com/cltk/cltk/wiki/How-to-add-a-corpus-to-the-CLTK).

[2016-11-20 04:47] ykl7 commented on #424
Attempting to transfer tells me the same thing. 'You don't have admin rights to cltk'.
As soon as the transfer is done, I'll send a PR with the required changes.

[2016-11-20 05:37] ykl7 commented on #424
Also, do I need to add a license to the repository?

[2016-11-20 14:53] prasastoadi opened #426 "Prefer Set to List"
Python Set has O(1) complexity in average when do membership checking because its hashtable. List needs O(N) to iterate the elements.

I propose to convert some lists into set data structure.

Example:

    def __init__(self, stops=STOPS_LIST):
        """Initializer for stemmer, imports stops"""
        self.stops = stops

        return

    def stem(self, text):
        """Stem each word of the

[2016-11-24 17:45] yashk2810 opened #428 "Codebase instructions"
Hi. I'm a newbie here. I'd love to work on cltk. Can I be briefed on the appropriate sections of the codebase ?
Thanks.

[2016-11-24 17:54] ykl7 commented on #383
If this hasn't been done, I can take it up following @kylepjohnson's suggestion

[2016-11-27 01:25] D-K-E commented on #420
@kylepjohnson I started working on this. My initial idea was to offer a support for Biblical Aramaic too, but i don't think it's going to happen. I thought all the characters of the ISO-259 would be covered by the unicode. However that doesn't seem to be the case for a couple of characters, and though it is an iso standard, I have not seen a book using it. So i'll just carry on with Imperial Arama

[2016-11-28 08:59] SilentFlame commented on #410
@kylepjohnson , @ykl7 ,

I have added the Malayalam text in the repo: https://github.com/SilentFlame/GRETIL-Malayalam
please have a look and let me know if anything more needed to be done here?

[2016-11-28 10:09] Shishuii commented on #410
hii, can i add Tibetan corpus  from [http://otdo.aa.tufs.ac.jp/](url). or maybe something else I could do??
Would really like to help.

[2016-11-28 18:19] deathcod commented on #428
There is a wiki section please go through it. Also, you can talk with other contributors in gitter.

[2016-11-29 04:51] SilentFlame commented on #288
@kylepjohnson

What do you mean by re-create?
If write a new from scratch then I'm not sure I can help, but if we need to edit or restructure it I can help in that.
Please let me know what exactly needed to be done for this issue?

[2016-11-29 04:54] SilentFlame commented on #247
@souravsingh @kylepjohnson
anyone doing this?

or can I help on this?

[2016-11-29 19:08] kylepjohnson commented on #426
@prasastoadi I generally prefer the flexibility lists provide over set.

Do you have a problem use case where time complexity is slowing you down?

[2016-11-29 19:24] #428 closed

[2016-11-30 17:19] Akash-Pardasani commented on #410
@kylepjohnson I'm not able to transfer pali_texts_gretil, it says I don't have permission to create repositories on cltk

[2016-11-30 18:10] kylepjohnson commented on #410
@Akash-Pardasani I made you a member, please try again.

[2016-11-30 18:16] kylepjohnson opened #430 "Add GRETIL corpora for Malayalam and Javanese"
Ticket for @SilentFlame

https://github.com/SilentFlame/GRETIL-Malayalam

https://github.com/SilentFlame/GRETIL-Old-Javanese

The formatting looks OK for these.

For each corpus on GRETIL, are these *all* of the texts for each language?

TODO:
* Transfer each to the CLTK
* Explain in README.md where these came from
* Rename each to `malayalam_text_gretil` and `javanese_text_gretil`.
* Add corpus i

[2016-11-30 18:17] kylepjohnson commented on #410
@SilentFlame please see #430 for your Javanese and Malayalam repos. Thanks.

[2016-11-30 18:18] kylepjohnson commented on #410
@Shishuii Please IM me directly on Gitter: <https://gitter.im/kylepjohnson> and we'll talk about scraping <http://otdo.aa.tufs.ac.jp/archives.cgi>. Thank you.

[2016-11-30 18:36] Akash-Pardasani commented on #410
@kylepjohnson I don't think it worked, it's still the same.

[2016-11-30 18:47] Akash-Pardasani commented on #259
@kylepjohnson Can the text file names be numbers (as they are currently) ?
I am not able to save file names in Malayalam (I'm using Windows)

[2016-12-01 01:21] kylepjohnson commented on #259
Can you transliterate the Malayalam to Latin characters?

[2016-12-01 23:48] kylepjohnson commented on #420
Thanks, looking forward to seeing this.

[2016-12-01 23:51] kylepjohnson commented on #410
Thanks @Akash-Pardasani I have merged #431.

[2016-12-01 23:56] kylepjohnson commented on #247
@SilentFlame You can work on this, but I'm going to close this ticket, since it's been open for so long.

Please ping me when you've added everything else. Thx.

[2016-12-01 23:56] #247 closed

[2016-12-02 09:06] SilentFlame commented on #430
Ohh sorry, I guess the script got some isues.
these are not all the text.

Will try to do it as needed ASAP.

[2016-12-02 10:57] SilentFlame commented on #430
@kylepjohnson have a look to the PR, and let me know if anything more needed to be done.

[2016-12-02 14:50] kylepjohnson commented on #430
Yes please get all of these texts, or at least the one more than ~200 years old.

See also my comment on #432.

You will need to finish the scraping (even copy-paste is ok) before I will merge your PR.

Thanks!

[2016-12-03 09:25] SilentFlame commented on #430
currently the repo's which I added have the entire data from the source, nothing is missing.

[2016-12-05 16:22] ykl7 commented on #424
@kylepjohnson this can be closed now. Please let me know if there are more issues that require work. Thanks ;)

[2016-12-07 00:03] D-K-E opened #435 "Greek Phi Symbol or Greek Phi Letter"
I was working with the `alphabet.py` and I noticed that for phi letter, we use "Greek Phi Symbol U+03D5, ϕ" instead of "Greek Small Letter Phi U+03C6, φ" which is strange because other consonants seem to belong to Small Letter group rather than Symbol group. Was there a specific reason behind this? They also don't seem to be compatible even in the case of a `unicodedata.normalize("NFKD", str)`

[2016-12-08 16:19] kylepjohnson opened #436 "NameError in POSTag.tag_crf()"
I'll look into this.

[code]

[2016-12-10 16:42] kylepjohnson commented on #435
Thank you this is a mistake. The person who wrote this did not know Greek well. Would you like to make the PR or should I?

[2016-12-10 17:01] D-K-E commented on #435
I can make the PR

[2016-12-14 06:49] nivaca opened #438 "Ubiquitous "ValueError: unknown locale: UTF-8""
I'm trying to run cltk with Python 3.52 (in a Mac). After a successful installation, I run the tests (by calling `nosetests`) and all fail. The error is always the same: "ValueError: unknown locale: UTF-8".

This is the log of all but the last test (the first eleven ones are really the same):

[code]
I have no problems using `nltk`. It's only with `cltk`.

Any ideas?

[2016-12-14 08:01] ykl7 commented on #438
You could try adding:
```export LC_ALL=en_US.UTF-8```
```export LANG=en_US.UTF-8```
 to your ```.bashrc``` and ```.bash_profile``` file. That did the trick for me when I had the same problem

[2016-12-14 08:06] nivaca commented on #438
Thanks! That solved the problem.

[2016-12-14 08:06] #438 closed

[2016-12-15 02:25] D-K-E commented on #435
@kylepjohnson This has been taking some time for the following reason: While i was doing some tests on the character lists with `unicodedata`, i saw that some characters pass as `str` instead of `chr`. Direct result of this was the `TypeError: name() argument 1 must be a unicode character, not str` for the `unicodedata.name()` method. So i decided to make some changes to ensure that every characte

[2016-12-15 05:21] kylepjohnson commented on #435
Hi I'm looking at the gist you sent -- I just see some Unicode points.

The TypeError you get -- is that from `unicodedata.normalize()`? Please send me a code snippet whereby I can cause the error for myself.

[2016-12-15 11:09] D-K-E commented on #435
[Here](https://gist.github.com/D-K-E/a666dd9ce243ddf2d45abed536123658) is the original list that caused the error. Now that I reexamined the structure of the list, i see that there is a space character in `UPPER_SMOOTH_CIRCUMFLEX[4]`that should not be there. This is probably why `unicodedata` was giving a TypeError. I could just delete the space and change the phi letter for the sake of not diverg

[2016-12-20 14:47] soumyag213 commented on #338
@kylepjohnson Sorry for being absent.
I've made further changes, and documented the issue. I have sent you a pull request on [((https://github.com/kylepjohnson/indic_nlp_soumya.)) ]
Thanks :smile:

[2016-12-21 23:51] sarcanon opened #440 "Install Error on Windows 10"
Following the instructions given for installation on Windows 10, it goes smoothly until the last step (`pip3 install cltk`), at which point at series of warnings and errors occur, and the installation procedure is aborted.

Here is the transcript from my attempt:

[code]

Interestingly, it appears the installation steps result in Python 3.4 being installed, not the version 3.5 that the compatibili

[2016-12-22 00:03] kylepjohnson commented on #440
Thank you so much for reporting this. We need more feedback on Windows 10 w/Ununtu.

The error is raised by the Levematein library which is asking for the Python headers. Do `apt-get install python-dev` and try again `pip3 install -U cltk`. This program isn't essential though so you'll be OK without it fore most work.

About the 3.4 install, I'll check this.

[2016-12-22 00:13] sarcanon commented on #440
Thanks for the help.

The install of python-dev installed several packages based on python 2.7. When I made my second attempt to install cltk, I encountered the same error as before:

[code]

[2016-12-24 03:53] jtauber commented on #435
I have https://github.com/jtauber/greek-utils/blob/master/greekutils/beta2unicode.py if it's of any help (even if just to check things). (There's of course greek-accentuation too which has some character handling stuff)

[2016-12-24 19:52] kylepjohnson commented on #435
Closing w/ PR #441

[2016-12-24 19:52] #435 closed

[2016-12-24 22:21] soumyag213 commented on #338
@kylepjohnson did you get time to review it?

[2017-01-02 00:06] #421 closed

[2017-01-03 15:12] mlj commented on #336
Perhaps I misunderstand, but if the purpose is to train models for **dependency** parsing, then this corpus is not very useful (it is a Penn-style treebank).

[2017-01-03 18:33] jtauber commented on #336
You can always convert it to a dependency structure if there's a clear `head` at each point in the tree.

[2017-01-14 03:59] pranaydeep-af commented on #209
@souravsingh Does this issue still need resolving? I would love to work on it if possible.

[2017-01-17 13:34] D-K-E commented on #70
@kylepjohnson Anything I can help with the greek side of things ?

[2017-01-23 14:03] #292 closed

[2017-01-23 14:03] #282 closed

[2017-01-23 14:10] #426 closed

[2017-01-23 14:11] kylepjohnson commented on #440
@sarcanon Did you ever figure out a fix for this?

I was out of the country for a while and wan't able to reply.

[2017-01-23 14:12] #424 closed

[2017-01-23 14:14] kylepjohnson commented on #409
Let's archive this for now, if movement on it is not imminent, however we can revisit in the future.

[2017-01-23 14:14] #409 closed

[2017-01-23 16:00] kylepjohnson commented on #70
@D-K-E Im just getting back from a long vacation. Yes, if you find a copy of the PHI7, take a look at the indices in it. They're really ugly, but making a modern index to these would be really valuable.

[2017-01-23 16:03] kylepjohnson commented on #209
I'll be honest, this ticket is a mess and I don't know what is going on. This is my fault, I should have kept a better eye on it.

@pranaydeep-af I appreciate the offer but I don't have the bandwidth to guide anyone on this right now.

[2017-01-23 16:03] #209 closed

[2017-01-23 16:14] pranaydeep-af commented on #209
Ah, thats alright. Anything else I can help with around here?

[2017-01-23 16:27] kylepjohnson commented on #209
Please see our gitter.

[2017-01-23 16:27] sarcanon commented on #440
Sorry, but I did not.

[2017-01-23 16:30] kylepjohnson commented on #440
OK. I'll close for now, then. Maybe another can help.

[2017-01-23 16:30] #440 closed

[2017-02-01 01:17] kylepjohnson commented on #430
Closed with #432

[2017-02-01 01:17] #430 closed

[2017-02-01 03:20] kylepjohnson commented on #313
@j-duff I have posted docs for your module:

http://docs.cltk.org/en/latest/greek.html#transliteration

http://docs.cltk.org/en/latest/latin.html#transcription

If there is more to add, let me know. Thx!

[2017-02-01 16:21] j-duff commented on #313
Thanks @kylepjohnson - sorry I've been a bit out of the loop, but over the past few months I've been using these modules a lot for my own research, and have some edits, fixes, and extensions that I will catalog and push sometime soon! I'll also add some more stuff (info on the syllabification and stress switches, at least) to the docs when I get a chance. Hope all's well.

[2017-02-01 16:27] kylepjohnson commented on #313
Yes, we'll be ready for any updates, thanks!

[2017-02-08 13:09] pilmus opened #445 "UnicodeDecodeError when using i.e. ner_tag"
When using ner_tag from cltk.tag I run into the following error:

[code]

I managed to solve the issue by changing `with open(ner_file_path) as file_open:` on line 54 in `C:\Python36-32\Lib\site-packages\cltk\tag\ner.py` to `with open(ner_file_path, encoding='utf-8') as file_open:`.

Is this a known issue? Is there something I should have done differently? Thank you in advance!

[2017-02-08 16:28] pilmus opened #446 "Calling class method on instance when using word2vec.py"
When running `word2vec.py` I ran into the following error:

[code]
I believe the cause is as follows:
In line 148 of `word2vec.py` the following code can be found:

[code]

However, in line 248 of `utils.py` from the Gensim package, `load` is defined as an `@classmethod`, and as such cannot be called on the `w2v` instance.

Changing the original code from `word2vec.py` to

[code]

solved the error

[2017-02-08 16:32] kylepjohnson commented on #446
Hi,

Thanks for sharing your results. Would you please copy-paste a full snippet of this code, so that I can reproduce this error?

[2017-02-08 16:35] kylepjohnson commented on #445
Same as before, post here the minimum amount of code to reproduce the error. Thanks!

[2017-02-08 16:44] pilmus commented on #446
Hi Kyle,

Do you mean my own code? `word2vec.py` and `utils.py` are from cltk and gensim respectively.

[2017-02-08 16:46] kylepjohnson commented on #446
I think I see your issue. Those files are not to be called directly, rather imported. Thus, make your own file and import them, as in the example here:

http://docs.cltk.org/en/latest/greek.html#word2vec

Have you installed the cltk via pip?

[2017-02-08 16:47] pilmus commented on #445
Ah, I understand! My code is as follows:

[code]

[2017-02-08 16:49] pilmus commented on #446
Hi Kyle,

My code is as follows:

[code]

If I'm correct this is the same as in the example you linked to. I did install cltk via pip.

[2017-02-08 17:09] kylepjohnson commented on #445
Here's what I get, on a brand new installation of cltk, through pip, using Mac w/ Python 3.6:

What OS and Python version are you using?

[code]

[2017-02-08 18:22] pilmus commented on #445
Hi Kyle,

Thank you for your answer! I'm using Windows 10. I re-installed cltk through pip and entered the steps as you've described them using ipython. Sadly, I still got the same error:

[code]

[2017-02-08 23:00] kylepjohnson commented on #445
Sadly, we only support Linux and Mac.

Would you try these (experimental) directions for "Bash on Ubuntu on Windows" http://docs.cltk.org/en/latest/installation.html#microsoft-windows

If you get any errors, we'd appreciate a PR to improve them.

[2017-02-08 23:00] #445 closed

[2017-02-08 23:01] kylepjohnson commented on #446
Bug due to Microsoft :mask: :)

[2017-02-08 23:01] #446 closed

[2017-03-02 11:34] francescomambrini opened #447 "Greek prosody scanner for poetry?"
The prosody scanner is terrific, but, as far as I understand, it works by assuming that a text must be tokenized using punctuation marks. That is not very helpful with poetry, since syntactic stops are generally not relevant for metrical analysis.
E.g. if I give the first 30 lines of Sophocles Ajax to analyze, the first item in the returned list is:
'˘¯˘¯¯¯˘¯˘¯˘˘¯¯˘¯¯¯˘¯¯¯˘˘x'
Which is not what I

[2017-03-02 11:47] francescomambrini commented on #447
It works as I want if I set Scansion.punc_stops to "\n"manually:

scanner = Scansion()
scanner.punc_stops = ["\n"]
scanner.scan_text("ἀεὶ μέν, ὦ παῖ Λαρτίου, δέδορκά σε\n")
['˘¯˘¯¯¯˘¯˘¯˘x']

But that is probably not the ideal solution for the code...

[2017-03-02 15:02] TylerKirby commented on #447
Thank you for bringing this up! The prosody module was originally written to scan Greek prose rhythms, but I definitely agree that it should handle poetry as well.

Allowing the module to tokenize line endings is a great place to start. Additionally, it will need to handle epic correption, synizesis, and other prosodic exceptions as well.

Personally, I think the best way of adding these features

[2017-03-02 18:26] francescomambrini commented on #447
Thank you! Yes, I agree. And also, there is all kind of additional complication: genres vary in the treatment of consonant and vowel clusters and some genres (like tragedies with plosive + liquid/nasal) don't show a consistent behavior... There is surely some design choice to be made there: what parameters can be customized to specific texts and genre and what exception is beyond reach?

Anyway, +

[2017-03-02 21:25] kylepjohnson commented on #447
I'd love to see a poetry scanner. You guys go for it. @TylerKirby is more than up to the task

As for requiring James's module, I have decided against it for now. Since our goals are to handle many different languages, I don't want to set a precedent of including many language-specific tools. That said, we do use it in the CLTK and encourage users to install it when they need to.

@francescomambri

[2017-03-03 16:47] TylerKirby commented on #447
@francescomambrini I also really like James's module, but it might be more than we need. I was thinking of modifying the [latin syllabifier](https://github.com/cltk/cltk/blob/master/cltk/stem/latin/syllabifier.py) to take a 'GREEK' argument with all the necessary linguistic data and see how that works.

Then to tokenize based on lines, maybe we could use a tool already available in the [tokenize](

[2017-03-03 21:09] wrat commented on #249
Hello @kylepjohnson  I want to work on this issue.Have you find any resource for Sanskrit language without any problem of licensing ??

[2017-03-06 13:58] djokester opened #448 "Hindi Corpus not available"
[code]

[2017-03-06 15:17] djokester opened #449 "Documentation Update: Update The Documentation for Bengali Language"
Documentation for Bengali Language needs updating to include the tokenization function.

[2017-03-06 22:10] willismonroe opened #451 "Akkadian syllabification and stress"
I've been writing small tools on the side to help with the wider effort in Digital Assyriology.  If the project is interested in them, I'd be more than happy to clean them up and contribute them according to the projects guidelines.

Currently all I've got worthy of inclusion is a small script to syllabify an Akkadian word, and another to find the stress.
 Both of these functions are written based

[2017-03-07 01:41] nikhilpandey360 commented on #448
`>>> import cltk

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: cannot import name 'CorpusImport'

it did not misbehaved as it did in your case. I would recommend to reinstall the library. Do tell if it persist.

[2017-03-07 01:48] #448 closed

[2017-03-07 04:43] kylepjohnson commented on #451
@willismonroe This is a small, but thrilling start.

In brief, yes, we would love to have your knowledge/scripts included into the project. For the above gist, I think it could go into `cltk/stem/akkadian/syllabifier.py` (thus shadowing the API of our Latin syllabifier).

Would you like to make a pull request for this? ([Simple directions here](https://github.com/cltk/cltk/wiki/Example-Git-and-Pyt

[2017-03-07 05:06] kylepjohnson commented on #449
Closed with #450

[2017-03-07 05:06] #449 closed

[2017-03-07 16:03] francescomambrini commented on #447
@TylerKirby sounds like a very reasonable plan! I had a look at the Latin syllabifier and it works well.
One thing I like of this approach is that users can then get both the scansion and the syllabification: I think it's very useful for teaching, because you can show the heavy and light syllables that make the verse in synapheia.
Also the idea of comparing the scansion with a table of possible co

[2017-03-07 19:15] willismonroe commented on #451
Great, I'll work on cleaning up the code and writing proper tests.

Have you thought about the wider issue of dealing with shared ancient scripts?  From my own training and background I can start to work on Akkadian, Sumerian, Hittite, and maybe Ugaritic.  It'd be easiest to start working on tools that deal solely with normalized text in Latin script.  However, at some point it'd be interesting to

[2017-03-07 22:23] D-K-E commented on #451
@willismonroe I can help with elamite and old persian if needed ? A great start would be a c-atf parser for dealing with texts in cdli. If we can extend it to the ORACC Atf all the better. Maybe something to conver c-atf to standard transliteration might also help be helpful, what do you say ?

[2017-03-07 23:08] willismonroe commented on #451
We may not need c-atf soon, it looks like ORACC is starting to offer json versions of encoded texts, with parsing built in.  It'd be nice to get that data into EpiDoc at some point as well.  In any case, I think it's worth writing small tools like what I posted above that are relatively format agnostic and deal more with the language at this point than the encoded text.

[2017-03-08 02:58] jtauber commented on #447
Anything I can do to improve the use of my library without setting a bad precedent?

[2017-03-08 05:07] djokester opened #454 "Indian Tokenizer should recognise deergha virama ("॥") as a SINGLE token."
There are two special punctuation marks in Indian Languages, namely the the purna virama ("|") and deergha virama ("॥"), for Indian language scripts. While indian_tokenizer.py does a good job in tokenizing, it should recognise the deergha virama ("॥") as a single token instead of two tokens.

[code]

[2017-03-08 11:37] lazycoder1 commented on #373
hi !
is some one working on this issue ?
i'll like to help fix it. Anything that will help me with starting out would also be good.

[2017-03-08 20:42] kylepjohnson opened #456 "Add 'about language' to docs"
Ticket open to anyone. Please reply here if interested.

In the way that was done recently for [Bengali](http://docs.cltk.org/en/latest/bengali.html) by @djokester , add a short paragraph about the language, taken from Wikipedia.

Do this for each of the languages in the docs: https://github.com/cltk/cltk/tree/master/docs

and viewable here too: http://docs.cltk.org/en/latest/index.html

[2017-03-09 03:18] aakash5897 commented on #456
Added paragraph to telugu corpus.

[2017-03-09 04:45] nikhilpandey360 commented on #456
I'll do Sanskrit and Hindi.

[2017-03-09 05:45] kylepjohnson commented on #456
Still lots of languages available

[2017-03-09 11:07] lazycoder1 commented on #454
i have changed the regular expression code in the #466 commit. I hope that will do the trick.

[2017-03-09 16:01] djokester commented on #454
@kylepjohnson this is good to go!
I checked it up. Have a look at the output

[2017-03-09 16:21] nikhilpandey360 commented on #454
This is a wrong thing...isn't it?! I mean I have always seen the sentences ended with a '|' but have never seen something ending with '||' unless it is a peculiar form of poem writing.

[2017-03-09 16:46] lazycoder1 commented on #454
In Sanskrit especially in poems, paragraphs end with || . I dont know about other languages though.

[2017-03-09 21:29] rrsk commented on #410
Hi, everyone is there any work remaining here ?

[2017-03-09 22:52] ykl7 commented on #410
@rrsk I think all corpora mentioned in this ticket have been covered.
@kylepjohnson Please close the issue, if there are no more texts to be extracted from GRETIL

[2017-03-11 21:02] ShivangiM commented on #456
Added paragraph to Pali corpus.

[2017-03-13 02:53] TylerKirby commented on #447
@francescomambrini

This is a great idea! Could you point me towards a resource delineating common exceptions?

That might help accommodating those passages in Homer where a digamma is at work or there some strange redoubling of initial consonants:

Another great idea. I definitely do not think it would be over kill. The more options for researchers, the better.

I'll start working on this more th

[2017-03-13 03:03] jtauber commented on #447
I guess I'm wondering why a CLTK user would want to use my syllabifier over the built-in one, though

[2017-03-13 03:28] TylerKirby commented on #447
The current built-in Greek syllabifier is tied directly to the prosody module and is only useful for scansion. The plan is to decouple that syllabifier from the prosody module so that the cltk will have a true built-in syllabifier. This built-in syllabifier will still be pretty bare bones compared to yours and may not be sufficient for a user who needs more support working with accentuation specif

[2017-03-14 16:18] talhajavedmukhtar opened #489 "Adding Persian language to CLTK"
I am planning to add alphabet.py for persian language in the repository.
Persian uses the same alphabet as Urdu, which happens to be my mother tongue.

[2017-03-14 17:03] nikhilpandey360 opened #490 "Stopwords in sanskrit"
The stopWord list for Sanskrit [https://github.com/cltk/cltk/blob/master/cltk/stop/sanskrit/stops.py] is incomplete. Should I modify it?

[2017-03-14 17:08] kylepjohnson commented on #490
Would you please elaborate on how it is incomplete?

[2017-03-14 17:41] kylepjohnson commented on #489
@talhajavedmukhtar This is a wonderful idea. Please do this.

Questions:

* Are the alphabets exactly the same for Persian and Urdu? If so, then it might make sense to only add under `cltk/corpus/persian/alphabet.py`.
* The CLTK only deals with old versions of these languages. Did the alphabets for Urdu and Persian differ 200+ years ago? If so, it is important that we get the old, not modern, vers

[2017-03-14 17:45] kylepjohnson commented on #447
@jtauber to your question of syllabifiers -- if they are sufficiently different, I like the idea of offering choice. We don't need to re-implement yours, but to at least provide docs might prove helpful to a researcher.

[2017-03-14 18:14] talhajavedmukhtar commented on #489
- the Persian alphabets are actually a subset of the Urdu alphabet (Urdu has 6 additional ones). Fun fact: Arabic alphabets are further a subset of the Persian ones (Persian has 4 additional ones).
- to answer your second question let me explain this^. Persian was initially written in Pahlvi script. But after the Islamic conquest of the region, Arabic was imposed there. By the 9th century, it adop

[2017-03-14 18:16] nikhilpandey360 commented on #490
There are lack of general stop words such as 'he', 'she', 'the', 'between' etc in Sanskrit's [stop.py](https://github.com/cltk/cltk/blob/master/cltk/stop/sanskrit/stops.py) . These are the ones which I noticed, definitely there will be more than these. Well, the problem with Sanskrit is that it has different words for all most every case(8), each gender(3) and every three of its number(3)... so th

[2017-03-14 18:29] kylepjohnson commented on #490
Then let's add those, too

Not a bug, but a feature :) Let's work to add all of these variants.

[2017-03-14 18:30] kylepjohnson commented on #490
Before I accept this PR, I want you to do one thing: Open up a new issue with a list of the words *not* currently in `stops.py` but that will need to be in the future. Please also give a simple english translation for each.

Then, you or someone else can work on adding these in the future.

After this, I'll merge this one.

[2017-03-14 18:32] kylepjohnson commented on #489
Thanks for the lesson. So please make separate PRs for the Urdu and Persian alphabets.

[2017-03-14 18:38] nikhilpandey360 commented on #490
Okay. I am doing it now.

[2017-03-14 19:02] nikhilpandey360 opened #492 "Words to be added in Sanskrit's Stop Word Collection"
- ~सः (He)~
- ~स्वयम्(himself)~
- तदीय(theres)
-आसम्(be)
- ज्ञा  (have)
-परि (with)
-शक्नोति(can(verb))
-यद्(if)
-कतम(which)

 add all the words in all their different cases, gender and and all 3 numbers(sin, dual, plural) . If you are doing it right, there must be 72 words exactly for each entity(including a few repetitions). Needs to  be careful when it come to verb's word form, they are entirel

[2017-03-14 19:03] nikhilpandey360 commented on #490
Done.

[2017-03-14 19:06] kylepjohnson commented on #492
Thank you, Nikhil.

This task is open to anyone, however they need to know that **all** inflections of each of the above words must be done.

Please only do 1 word per pull request. Again, for each PR, you must include all forms of that one word.

[2017-03-14 19:18] ykl7 commented on #492
Hi @kylepjohnson @nikhilpandey360 I wouldn't mind taking up this task for सः (He). Do you mind?

[2017-03-14 19:26] kylepjohnson commented on #492
OK. @ykl7 has ` स` (He).

I will give you 3 days to do it. Because there are so many wanting to contribute, we need to have accountability for each assignment. Thanks.

[2017-03-14 20:00] nikhilpandey360 commented on #492
@ykl7 The word you have been assigned, some of its inflections are already there as I see. Please  avoid multiple instances of the same word, add only the missing inflection

[2017-03-14 22:24] kylepjohnson commented on #454
@lazycoder1 what is this supposed to do?

`re.compile('(['+string.punctuation.replace("|","")+'\u0964\u0965'+']|\|+)')`

 I am looking at #466 and I do not see that it addresses the problem stated by @djokester . Please give an example of its use, with the above example.

Also, I consider the following ugly code: `string.punctuation.replace("|","")`. Would you please take this string manipulation

[2017-03-14 22:25] kylepjohnson commented on #492
@nikhilpandey360 good observation. @ykl7 run `list(set())` over the list, to make sure you remove any duplicates

[2017-03-14 22:28] kylepjohnson commented on #456
Thanks all!

[2017-03-14 22:28] #456 closed

[2017-03-14 22:30] kylepjohnson commented on #373
@lazycoder1 Do you still want to try this?

[2017-03-14 22:30] #410 closed

[2017-03-14 22:32] kylepjohnson commented on #249
@wrat Are you still interested? I think you should go for it. This is the repo: https://github.com/cltk/sanskrit_text_sanskrit_documents

[2017-03-15 03:55] wrat commented on #249
Yeah sure I am interested , okay I will see this repo. But I will work on my own repo of sanskrit documents. http://www.sacred-texts.com is good resources.I am scraping data from this website.
As it's done , I will post repo link here.

[2017-03-15 04:19] kylepjohnson commented on #249
@wrat What is it that you need from sacred-texts? Do we not have everything already?

https://github.com/cltk/sanskrit_text_sacred_texts

[2017-03-15 04:25] wrat commented on #249
I didn't know about this repo yet. I guess it's has everything that I suppose to collect .
Okay @kylepjohnson we have sufficient data right?? what will be my work here ??

[2017-03-15 04:56] kylepjohnson commented on #249
@wrat I do not know about the overlap. Would you take a moment to compare? It looks like Sanskrit Documents has a lot.

[2017-03-15 06:20] ykl7 commented on #492
@kylepjohnson Already doing that as I go. There are several other duplicates (of other stopwords) I found in the file as well. Should I take action to fix that too in the PR?

[2017-03-15 10:18] talhajavedmukhtar opened #499 "Punjabi is also written in Urdu/Persian script"
In the alphabet.py for Punjabi, there is only Hindi/Sanskrit script. But in some parts of Punjab, Urdu/Persian script is (and has been) used to write Punjabi. Should this be fixed?

[2017-03-15 12:08] wrat commented on #249
yeah you are  right , it doesn't contain corpus of vedas and Bhagavad Gita. should I add this corpus in sanskrit documents ???

[2017-03-15 14:49] ykl7 commented on #492
@kylepjohnson I have added all inflections of सः (He). However, since there are several inflections of the word which are duplicates of themselves, I think it would be unwise to remove them. Similarly, stop words added previously might be following a particular शब्दरूप (noun inflections). Kindly give your thoughts on the same. I will open a PR accordingly.

[2017-03-15 15:16] nikhilpandey360 commented on #492
@ykl7 to us they might seem to following a particular noun inflections but they are no less duplicates. During parsing there is no way to distinguish between these duplicate words.  रामाम्याम् comes thrice in राम infliction but unless we are context lemmatizing, there is no way to differentiate them. yes, having multiple occurrences won’t harm but it doesn't increase the performance anyhow as they

[2017-03-15 15:41] ykl7 commented on #492
@nikhilpandey360 you have a valid point. But since it is a matter of a few words, computation time does not increase at all. However, it helps us decipher the work done previously, and to continue accordingly. Plus, ```list(set())``` can be used to find unique ones when the module is being used, if necessary.

[2017-03-15 16:12] nikhilpandey360 commented on #492
Infliction of word कतम(which) is being done by me. (male, female and neutral)

[2017-03-15 16:36] #490 closed

[2017-03-15 16:49] kylepjohnson commented on #249
I'd rather get everything in Sanskrit Documents. How much work will this be for you?

[2017-03-15 17:02] kylepjohnson commented on #499
Sure, please do fix this, thank you.

[2017-03-15 17:07] kylepjohnson commented on #499
You can add the Urdu/Persian script with an underscore. For example, see [DEPENDENT_VOWELS](https://github.com/cltk/cltk/blob/master/cltk/corpus/punjabi/alphabet.py#L20). Beneath it, make a new constant called `DEPENDENT_VOWELS_PERSIAN` and give the Persian version there.

Does that make sense?

Also remember to update the docs for `docs/punjabi.rst`.

[2017-03-15 17:29] kylepjohnson commented on #451
@willismonroe

We have a similar case with Arabic/Persian/Urdu/Punjabi, all of which can share the same alphabet (I'm not sure how the Unicode blocks break up, though). And, of course, most Western European languages inherit from the Latin! For these, I have opted for redundancy, putting (say) repetitive alphabets for each. This makes sense, too, since while the characters may be the same, their p

[2017-03-15 17:49] willismonroe commented on #451
Thanks for the input.  I think Cuneiform would be more similar to something like Sanskrit.  Part of the issue is that one particular sign (I'm using glyph for the font-based interpretation of a sign) has many different characteristics:

- Different written forms throughout the 3,000+ year history.  For instance the sign KA₂ has according to this [chart](http://asorblog.org/wp-content/uploads/2016/

[2017-03-15 19:08] shreyaasridhar opened #501 "Other forms to be added"
For इमाम् , त्वम्, अहम् and others shabdas, others for are to be added, in addition to #492 .
For example,
For  त्वम् ,
 dwitiya vibhakti must be तवाम्/त्वा युवाम्/वाम् युष्मान्/वः
File at: https://github.com/cltk/cltk/blob/master/cltk/stop/sanskrit/stops.py

[2017-03-15 22:50] kylepjohnson commented on #492
Merged #500 Let's keep moving on these quickly, before we lose focus.

@nikhilpandey360 We want all inflections of words. Thus, `रामाम्याम्` is not a duplicate of `राम`. Is that clear?

@ykl7 `list(set())` is only for you to remove duplicates. We should not ask our users to remove duplicates for us.

[2017-03-15 22:55] kylepjohnson commented on #451
This is an interesting idea. So long as you think it will benefit other scholars, go for it.

For reference, we have a transliteration module for Greek. Of course, reconstructions of what the language sounded like differ from period to period, and among scholars. The code was written in the way you are thinking, only accessible by parameter, not property (`Transcriber(dialect="Attic", reconstructi

[2017-03-15 22:59] willismonroe commented on #451
It's a good thought piece for thinking about the writing system more generally.  I'm not sure it's that useful yet, which is why I think it's better to focus on tools that work with the normalized language itself.  Assyriologists/Hittitologists etc... never represent Cuneiform as the Unicode glyphs currently so creating a whole tool around them is not to helpful.  I think the next thing I'll tackl

[2017-03-16 04:56] wrat commented on #249
Then it will be good @kylepjohnson . Okay now asap I will scrap rest of data from Sanskrit Document and will make a repo for it. it will be okay ??

[2017-03-16 05:04] codeSG commented on #492
@kylepjohnson  I would like to add inflection of word " स्वयम्" for all three gender. May I?

[2017-03-16 05:31] yeah commented on #249
@wrat – please don't use an `@` in front of `yeah` when you just want to say "yeah". It's my username and I have nothing to do with this thread :-)

[2017-03-16 06:01] rushabhy opened #502 "Typo in Wiki page"
There is a typo in [Wiki - Project ideas](https://github.com/cltk/cltk/wiki/Project-ideas#gsoc-projects) under the heading 'GSoC projects', first bullet point

Shouldn't it be

[2017-03-16 06:22] codeSG commented on #492
@kylepjohnson  I have added inflection of स्वयम्(himself) for all genders .

[2017-03-16 07:11] ykl7 commented on #492
@kylepjohnson As a consequence of previous work, half of the words in the list are duplicate. Is it fine if I open an issue addressing the removal of all duplicates from the list since my PR was merged before I could do it?

[2017-03-16 09:23] nikhilpandey360 commented on #492
I'll do it in my PR if you wouldn't mind...

[2017-03-16 13:34] kylepjohnson commented on #502
Fixed. Thank you.

[2017-03-16 13:34] #502 closed

[2017-03-16 13:35] kylepjohnson commented on #492
I don't care who does it, but would you please give me an example of a duplicate? I am not convinced that we are all talking about the same thing.

Please link to line numbers in the file.

[2017-03-16 13:39] kylepjohnson commented on #501
@shreyaasridhar please add this to #492.

[2017-03-16 13:39] #501 closed

[2017-03-16 13:41] kylepjohnson commented on #249
Yes, go for it. Make a new repo under your own account. Crawl the documents that are *not* already in https://github.com/cltk/sanskrit_text_sanskrit_documents

[2017-03-16 14:47] ykl7 commented on #492
@kylepjohnson for example ```एतस्मिन्``` is repeated 4 times. It can be found on line numbers 269, 211, 213, 214. @nikhilpandey360 has tried to remove the duplicates so please look at the change he's proposed in the ```Files Changed``` tab of the #504 and confirm that it'll work.

[2017-03-16 14:54] ykl7 commented on #492
Inflections for the form ```तद्``` are being handled by me

[2017-03-16 15:12] nikhilpandey360 commented on #492
as mentioned in the PR, the repetition is almost half. That's what I was referring back then that रामाम्याम् is indeed a valid inflection of राम but it comes thrice in the entire राम inflection. Thus words like such are present multiple times instead of just once. @kylepjohnson

[2017-03-16 16:46] kylepjohnson opened #505 "Add thorough setup docs for SyntaxNet"
This is a followup to @souravsingh 's initial effort to add SyntaxNet directions in the docs (see #423).

With the latest release, I would like to see someone add foolproof, step-by-step directions for Mac and Linux. For now, I do not want to integrate SyntaxNet with the core CLTK, as SN only works with Python 2.7 right now.

Put docs in file called `docs/syntaxnet.rst`.

Make sure to explain how

[2017-03-17 03:38] kylepjohnson commented on #492
Hey guys, thanks, I need you to do this for me. We will eventually have a Sanskrit scholar who can help me figure this stuff out. Also so you know we cannot just turn a list into a set -- this will break people's code. A set theoretically works, but I find lists easier for me (and others) to work with

[2017-03-17 03:39] kylepjohnson commented on #492
So are these the remaining stopwords that need to be added?
[code]

[2017-03-17 03:41] codeSG commented on #492
@kylepjohnson If no one is adding these words, I could add some. May I ?

[2017-03-17 03:44] ykl7 commented on #492
@kylepjohnson I can add ```शक्नोति``` to the stopword list. I think @codeSG is also taking up some words.

[2017-03-17 03:50] kylepjohnson commented on #492
OK. @codeSG how about you do `तदीय` and @ykl7 you do `आसम्`?

Remember we want all the possible forms of these.

[2017-03-17 03:56] codeSG commented on #492
@kylepjohnson  ok, I am adding for तदीय.But clear one thing to me , does we need to add 24*3=72 exactly or set (list) , exactly one copy of each word?

[2017-03-17 03:58] ykl7 commented on #492
@kylepjohnson sounds good. I'll start on adding आसम् and try to finish as quickly as possible. However, kindly clarify what @codeSG asked since I have the same question.

[2017-03-17 04:15] nitkul commented on #492
@kylepjohnson these could be easily added via the conjugation/declension engine I talked about.

[2017-03-17 04:22] codeSG commented on #492
@nitkul I have seen your PR#486, It seems that it is directly accessing others engine without permission, and it will add internet requirements, that shouldn't.

[2017-03-17 07:17] ykl7 commented on #492
@nikhilpandey360 Can you please direct me to inflections of ```आसम्```. It was not covered in any of the lessons and I was unable to find it on the Internet or in reference books.

[2017-03-17 10:03] SFord99 opened #508 "Install on oldish Mac fails - Levenshtein module"
CLTK install fails on my Mac running OS X 10.7.5 with both Python 2.7 and Python 3.6 installed.
Fails when 'Running setup.py install for python-Levenshtein .. .' because cannot find stdio.h.  I have performed symbolic link from one of the locations with a copy of stdio.h to /usr/include but did not fix the problem.  Full output below
-------------- terminal output ------------------
(venv) Margare

[2017-03-17 10:14] nitkul commented on #492
@kylepjohnson I have checked INRIA's policy and even discussed this with Gerard Huet, the project head. They are open to use of resources. Moreover, @codeSG internet requirements are nothing to be shy of, imo. (even NLTK uses Google's translation engine)

[2017-03-17 13:41] ykl7 commented on #492
@kylepjohnson @nikhilpandey360 after looking through the books, I found that आसम् is not a noun (believing this caused a lot of sorrow for me) so it will not have 72 inflections. Instead, it is a verb and will have 9 inflections in its corresponding धातुरूप (verb forms). I'm going ahead and adding them.

[2017-03-17 13:41] nikhilpandey360 commented on #492
@ykl7  I am using some text books and since haven't relied on internet so far.

[2017-03-17 13:54] nikhilpandey360 commented on #492
@ykl7 NO! It won't.   It won't have just 9 inflection. Instead it'll have **45**. Sanskrit has  **5** main tenses(although 15 if we go according the absolute grammar). I would suggest you to add all the 45. Get a text book which contains all of its inflection as I remember all of the high school books contained all the inflections in all the respective 5   धातु(tenses). @kylepjohnson, please look

[2017-03-17 13:55] nikhilpandey360 commented on #492
one of the reason why Sankrit was so hard in High School. :)

[2017-03-17 13:56] ykl7 commented on #492
@nikhilpandey360 yes, I was referring to the 9 inflections for present tense. I was unsure other tense inflections were to be added as well.

[2017-03-17 14:02] lukehollis commented on #508
Hi @SFord99, thanks for creating an issue about this. It appears that you're experiencing errors with
the C libraries necessary to install python-Levenshtein. I'm not familiar with older Macs, so if somehow else knows how to remedy this, they should contribute to this issue, but there also might be a way to make the python-Levenshtein package optional or use a pure Python implementation of the Lev

[2017-03-17 14:20] nikhilpandey360 commented on #492
@ykl7 @kylepjohnson  TBH, this is classical language. This is a fine thing that we are gonna add the 45 words,but what about the rest of supposed 90 words? I mean the classical text are going to contain those forms and as of now all we can do is to add those 45 words of inflection at least.

[2017-03-17 14:36] codeSG commented on #492
@nikhilpandey360  Should we remove the repetitions in the inflected words(declension) of the assigned word ?

[2017-03-17 14:44] nikhilpandey360 commented on #492
@codeSG  Let's make the addition of the words first and once the list is completed, you can create a PR addressing the repetitions but first let's add all we can.

[2017-03-17 14:48] ykl7 commented on #492
@nikhilpandey360 I have opened PR #509 accordingly. I will add all inflections of the same.

[2017-03-17 15:06] nikhilpandey360 commented on #492
:+1:

[2017-03-17 16:00] shreyaasridhar commented on #492
@kylepjohnson  @nikhilpandey360
Forms of कतमः seem to deviate from the forms in shabda mangari. Please review the same from line 694.

[2017-03-17 16:44] nikhilpandey360 commented on #492
@shreyaasridhar Did you mean SABDA MANJARI?

[2017-03-17 16:53] shreyaasridhar commented on #492
@nikhilpandey360 शब्द मञ्जरी

[2017-03-17 17:35] nikhilpandey360 commented on #492
@shreyaasridhar I see that. There has been some typo in the text book resulting in some additional म in between a few words. Following is what should have been :
कतमस्य	कतमयोः	कतमानाम्/माणाम्
कतमे	कतमयोः	कतमेषु.
I'll rectify them.

[2017-03-18 02:36] SFord99 commented on #508
Hi @lukehollis, thanks - either option would be good as I'd really like to use CLTK ! (Perhaps Levenshtein in Python preferable in long term as I see someone trying install on Windows had fatal error on Levenshtein a year ago, apparently not resolved)

[2017-03-18 07:03] pranaydeep-af commented on #505
@kylepjohnson Working on this.

[2017-03-18 16:19] kylepjohnson commented on #373
@lazycoder1 Thank you for offering. This was done a while ago, but the ticket was not closed. Sorry about that.

[2017-03-18 16:19] #373 closed

[2017-03-18 19:47] kylepjohnson commented on #505
@pranaydeep-af Mac or Linux?

[2017-03-19 02:38] pranaydeep-af commented on #505
@kylepjohnson Linux

[2017-03-19 17:27] RadixSeven commented on #440
You might try installing `python3-dev` as well as `python-dev` - that cured the missing header problem for me on a different package.

[2017-03-20 14:20] lazycoder1 commented on #454
Apologies for not giving the explanation.
In sanskrit '|' is used to denote the end of a sentence. And '||' to denote end of a paragraph or headings.
Ex:
॥ आ नो भद्राः सूक्तम् ॥

आ नो᳚ भ॒द्राः क्रत॑वो यन्तु वि॒श्वतोऽद॑ब्धासो॒ अप॑रीतास उ॒द्भिदः॑ ।
दे॒वा नो॒ यथा॒ सद॒मिद् वृ॒धे अस॒न्नप्रा᳚युवो रक्षि॒तारो᳚ दि॒वेदि॑वे ॥ १.०८९.०१
दे॒वानां᳚ भ॒द्रा सु॑म॒तिरृ॑जूय॒तां दे॒वानां᳚ रा॒तिर॒भि नो॒ नि व॑र्तताम् ।

[2017-03-21 14:10] talhajavedmukhtar opened #517 "Arabic Alphabet + Docs"
In relation to our communication over email, I think it would be appropriate to also add alphabet and docs for Arabic.
This is going to be no new information though, just a subset of the respective alphabet.py and doc files for persian.

Should I go ahead?

[2017-03-21 17:42] kylepjohnson commented on #517
Sure, please do it just as you did for the others.

[2017-03-23 16:27] #517 closed

[2017-03-23 16:27] #489 closed

[2017-03-29 17:49] zaharzhong opened #525 "what is the meaning of 'a corpus not available for the "chinese" language'"
## Hello,I found cltk from GSOC and I'm trying to extend cltk core to chinese.
## The problem is:
## I don't understand **why I can't import my local corpus**?Should I encoding texts in UTF-8?What can I do to sovle it?
`
from cltk.corpus.utils.importer import CorpusImporter
In [4]:

corpus_importer = CorpusImporter('chinese')
In [5]:

corpus_importer.import_corpus('daozang', '~/zahar/殆知阁古代文献藏书2.0版

[2017-03-29 18:06] kylepjohnson commented on #525
The local corpora are only intended for several special, pre-defined corpora. So you don't want to use the CorpusImporter for them. If you simply want to use the cltk with your texts, do so with Python's standard open/read. To see the possible Chinese corpora available for download or local loading, do `corpus_importer.list_copora`.

If you want to get a little more advanced, you may use our custo

[2017-03-29 18:06] #525 closed

[2017-03-30 05:36] varshavp27 commented on #492
@kylepjohnson Can I add stopwords for "ज्ञा" ? I think it means, "to know". Also, "परि" is a prefix, it doesn't have inflections.

[2017-03-30 13:27] kashyap32 opened #527 "Add Chunking!!"

[2017-03-30 13:56] kylepjohnson commented on #527
@kashyap32 This is not a constructive manner of communicating on GitHub Issues. Please explain further.

[2017-03-30 13:56] #527 closed

[2017-04-17 13:55] Fedorsturov commented on #436
Well, looks like I have found the solution. Try installing `pycrfsuite` with `pip`.

[2017-04-17 16:38] kylepjohnson commented on #436
@Fedorsturov what happened to your comment? Thank you, I think you must be right. I had it at one point, but it didn't re-install. I may add an `ImportError` into our CLTK code.

[2017-05-03 16:47] D-K-E opened #529 "Text Retriever and tf-idf calculator module for Ancient Greek for PHI"
Hi,
I was recently working with some ancient greek texts. I was wondering if implementing the following work-flow as a module would interest you:
Let's say the user has a specific word in mind to search for in PHI.
She enters the word to the api.
Api searches the word in PHI database, returns a list of texts from it.
Then api calculates the tf-idf for the term in a given text, then sorts the text

[2017-05-04 03:15] kylepjohnson commented on #529
We normally do not include work flows into the CLTK, preferring to let users do I/O themselves. However for practical examples of how to do things, we now have [tutorials](https://github.com/cltk/tutorials) available.

That said, I think tf-idf weighting is a good idea and might belong in the CLTK. However I would like to build off the library's current IR capabilities. [Docs here](http://docs.clt

[2017-05-26 04:53] kylepjohnson opened #531 "External punctuation stopped working on Latin sent tokenizer"
Recently reviewing the tokenizer, and it is not capturing exclamation points. I'll look to see the NLTK has changed anything.
[code]

[2017-05-26 22:18] #531 closed

[2017-05-27 00:50] diyclassics commented on #301
@kylepjohnson I think that this can be closed. Everything here is either accounted for or should be given a more specific issue.

[2017-05-27 01:40] #301 closed

[2017-05-30 03:37] sunsheeppoplar commented on #105
Any new word on this? Just found this repo and am loving the work y'all do!

[2017-06-03 16:31] kylepjohnson commented on #198
Fixed with recent commits.

[2017-06-03 16:31] #198 closed

[2017-06-03 17:03] kylepjohnson commented on #508
Resolved with #510

[2017-06-03 17:03] #508 closed

[2017-06-03 17:49] kylepjohnson opened #534 "Move 3 Arabic corpora to CLTK organization"
@LBenzahia : I have merged your corpus code for Arabic.

https://github.com/cltk/cltk/blob/master/cltk/corpus/arabic/corpora.py

Please transfer ownership of these three libraries to the `cltk` organization.

Then one of use can update the above `corpora.py`.

Thank you!

[2017-06-04 17:50] kylepjohnson commented on #436
Fixed with PR #535

[2017-06-04 17:50] #436 closed

[2017-06-04 18:11] kylepjohnson commented on #454
Merged, thanks

[2017-06-04 18:12] #259 closed

[2017-06-04 18:14] #45 closed

[2017-06-04 18:17] #249 closed

[2017-06-04 18:18] kylepjohnson commented on #105
@sunsheeppoplar Apologies for a slow reply. Are you still available to help?

[2017-06-04 18:19] #217 closed

[2017-06-04 18:20] #336 closed

[2017-06-04 18:20] #360 closed

[2017-06-04 18:21] kylepjohnson commented on #499
I merged/added this yesterday. Thank you.

[2017-06-04 18:21] #499 closed

[2017-06-04 18:21] #367 closed

[2017-06-04 18:22] kylepjohnson commented on #361
Closing this (old) ticket. But I am open to something along these lines still.

[2017-06-04 18:23] #492 closed

[2017-06-05 00:41] sunsheeppoplar commented on #105
@kylepjohnson Yeah, I'd love to. I can also work on Chinese-related tasks if there are any. I'm between projects right now, so I'm pretty free!

[2017-06-05 15:29] kylepjohnson commented on #534
@LBenzahia I see you forked this repo: https://github.com/cltk/arabic_text_perseus

However we need to entire ownership transferred. To do this, go to "Settings" -> "Options" -> "Danger Zone" -> "Transfer ownership"

[2017-06-05 15:34] kylepjohnson commented on #105
@sunsheeppoplar How about you start with this task, then move on to a Chinese one after?

Do you have a plan on how to scrape these contents? I haven't looked at this for a while, so I do not have any strong opinions.

[2017-06-05 15:39] kylepjohnson commented on #534
Please also transfer the other two repos, and then rename them:

`quranic-corpus` --> `arabic_text_quranic_corpus`
`quranic-corpus-morphology` --> `arabic_morphology_quranic-corpus`

Thank you! :)

[2017-06-05 20:39] sunsheeppoplar commented on #105
I assume reaching out for a data dump didn't work then?

[2017-06-05 20:42] sunsheeppoplar commented on #105
I don't yet. I've been working with Nokogiri and Ruby a lot recently. Do we have a certain style guide I should look at as far as how the data should be stored?

[2017-06-06 13:09] LBenzahia commented on #534
fixed
Please re-review it and let me know if you find any problem to fix it
Thank you! :+1:

[2017-06-09 00:09] scm2000 opened #538 "importer.py doesn't import Hebrew"
You have a Hebrew corpus, but importer.py doesn't support it.

[2017-06-09 14:30] mlj commented on #361
May I suggest re-opening this issue (and keeping it open) to encourage further discussion and to signpost that this is an open challenge for cltk.

I'm coming to this as an historical linguist, and the attraction for someone like me is that cltk could be a bridge between nltk and a curated collection of corpora. It should be obvious that not having ready-made CorpusReaders for the corpora largely

[2017-06-13 17:01] kylepjohnson commented on #361
Marius, it's important to hear how important a CorpusReader is to your research. I'll share a few thoughts along these lines …

The sloppiness of some of the added corpora is very real. How much of a problem this is depends on what your goals are. Having a stable doc format would be a great help.

On the note of making some kind of universal CLTK format, I have given this some thought. Last summer

[2017-06-13 17:26] mlj commented on #361
I'm absolutely in favour of something that isn't too complex or too over-engineered, otherwise this will be just too much work. So the JSON format is definitely along the right lines!

How do you handle headings etc. in this format? And do you normalise the representation of things like line breaks and paragraph breaks?

One possible drawback of JSON is that it can be difficult to diff unless libe

[2017-06-13 17:34] mlj commented on #361
BTW, for some other corpus-related projects I have worked on we have simply used a restricted form of Markdown with metadata in YAML-style headers. I can't think of any particular advantages of doing it that way compared to using JSON (although it would come with the bonus of pretty rendering on github :) )

[2017-06-13 18:14] jtauber commented on #361
Are there currently any endpoints serving up texts according to that JSON format? I wouldn't mind supporting it in my reader if there are things to consume.

[2017-06-13 18:18] kylepjohnson commented on #361
Encouraging : )

We talked some about this I am not sure we came to a final decision. What I remember suggestion was something along the lines of appending a number and underscore, so as to keep the texts sortable in the right order. For example, imagine the [Γλῶσσαι of Hesychius](https://archive.org/details/hesychiialexand00schmgoog). I believe the traditional organization of this is by first cha

[2017-06-13 18:34] kylepjohnson commented on #361
@jtauber My plans have been to serve this format with the cltk_api ([a new version](https://github.com/cltk/cltk_api_v2) under slow development here). Earlier I thought that we would use this API to serve the website, however the frontend's exact needs have not been 100% nailed down, so I have decided to wait until this is worked through. @lukehollis and @pletcher are doing the hard work on this,

[2017-06-14 15:15] jeffreycwitt opened #540 "error with LemmaReplacer"
I'm trying to follow some of the examples in the docs, specifically for the LemmaReplacer

this is the code I'm running
[code]

But I'm getting this error:

[code]

Can you help me understand where i'm going wrong. It seems like some necessary files are missing specific to the Latin language? Perhaps there was an error on install? Or perhaps I need to install some more packages before I can use th

[2017-06-14 15:18] jeffreycwitt commented on #540
Never mind. I missed this note at the top of the docs:

Obviously, I'm new :)

[2017-06-14 15:18] #540 closed

[2017-06-14 18:31] kylepjohnson commented on #540
Hey Jeffrey, I'm glad you figured this out. If we can make the docs
clearer, let us know.

Let is know if anything else comes up.
--
Kyle P. Johnson, Ph.D.

Natural language processing, AI
https://kyle-p-johnson.com | http://cltk.org

[2017-06-20 15:22] #534 closed

[2017-06-21 16:58] kylepjohnson commented on #534
Thanks this was perfect!

[2017-06-22 05:45] diegocatalao opened #544 "Enter a new group of declinations"
Hello everybody!
Thank you all for continuing this project. I have used CLTK to create a "perseus" in Portuguese - Ivpiter Project. However, I need the declensions and conjugations are more trained. Is it possible to do this manually?

Cheers!

[2017-06-23 02:31] kylepjohnson commented on #544
Hi Diego, Glad the project is useful for you.

Do you mean that you need more training data? There is the Perseus treebank that you know of already, plus this one that we have not done anything with yet: https://github.com/PerseusDL/treebank_data . There are some other treebanks that we have in Latin, too.

[2017-06-23 04:03] kylepjohnson commented on #538
@scm2000 Thanks for letting me know (and sorry nobody replied sooner).

The latest latest release is now on PyPI and you will be able to get our Hebrew corpus (from our friends at Sepharia).

[2017-06-23 04:03] #538 closed

[2017-06-23 17:11] diegocatalao commented on #544
I'm using the imported database by CorpusImporter. Is it possible to update this database?

[2017-06-23 19:16] kylepjohnson commented on #544
@diegocatalao I'm not sure if I answered your question here: https://github.com/cltk/latin_treebank_perseus/pull/3#issuecomment-310747904

If you want to know what data we are using, let us know exactly what code you are using.

[2017-06-27 10:56] mlj opened #546 "Update cltk/multilingual_treebank_proiel"
`cltk/multilingual_treebank_proiel` is several releases behind upstream and should be updated.

I'll be happy to do this but would need permission to push to the repo.

[2017-06-28 15:44] kylepjohnson commented on #546
Thanks, @mlj You have full admin on this now.

https://github.com/cltk/multilingual_treebank_proiel

Anything else let me know … I haven't visited the user permissions yet, but let me know anything else you want and I'll add it.

[2017-06-28 19:07] #546 closed

[2017-07-07 20:51] #544 closed

[2017-07-11 20:08] kylepjohnson opened #554 "Use XMLReader for Open Greek and Latin"
I forked the [First1KGreek](https://github.com/cltk/First1KGreek) repo and added it to the Greek corpora, which is in TEI.

At the suggestion of @diyclassics I have looked into using the NLTK's XML corpus reader. Here's what I see:

[code]

Since `.words()` returns metadata, we will need something else.

What do others think about parsing TEI XML? Do we need to parse our selves using beautiful sou

[2017-07-11 20:15] jtauber commented on #554
I normally use `lxml` and, in the case of TEI, use XPath to just pull out `TEI/text/body` and start from there.

[2017-07-11 20:36] kylepjohnson commented on #554
Thanks James. Do you have a code snippet you could share to get me started? I don't do XML very often. At the very least, I would like to strip out all non-word tokens

Is there a way to inherit the NLTK's readers to make it work for TEI? Or would that be overkill?

[2017-07-11 22:43] jtauber commented on #554
This might be partly useful: https://github.com/jtauber/online-reader/blob/master/prototypes/static-paginated-perseus4/parse_tei2.py

but it was just for a demo.

[2017-07-11 22:46] jtauber commented on #554
I've not used NLTK's readers to see how easy it would be to pass in an element rather than have them load the document.

[2017-07-11 22:51] jtauber commented on #554
Looking at the code, you could subclass `XMLCorpusReader` and override the `xml()` method to return the `TEI/text/body` rather than the root and everything else should just work.

[2017-07-12 06:02] kylepjohnson commented on #554
Thanks. I'll talk about these with Patrick today, see what he thinks would be most useful.

[2017-07-12 07:50] LBenzahia opened #555 "CLTK Arabic support"
## This list for Arabic support issues and todos
### General Improvements
- [ ] Make the code looks good and clean (Optimization/Performance/Quality) [WIP].
- [x] Remove duplicated code [WIP].
### 1. Romanization Systems
- [ ] Improve Arabic Romanization system [WIP].
- [x] Add [Buckwalter transliteration](http://corpus.quran.com/java/buckwalter.jsp).
- [x] Add [ISO233-2 transliteration](https://f

[2017-07-12 08:28] kylepjohnson commented on #554
A request for anyone watching -- may I have help writing an xpath or other xml parser for these TEI files?

Example: https://github.com/cltk/First1KGreek/blob/master/data/tlg0015/tlg001/tlg0015.tlg001.opp-grc1.xml

I can do this, but will be slow and probably make something very brittle. I would strongly prefer using Python's `xml` instead of requiring users to install `lxml`.

Thank you : )

[2017-07-12 08:48] lukehollis commented on #554
Though it doesn't use Python's xml, your task reminded me of this converter I worked on from last fall: http://gitlab.archimedes.digital/archimedes/xml-text-converter  I think I might've already sent this over once in the past, so sorry if this comment is redundant / noise instead of signal, but I had to use this for converting Pindar. If nothing else is useful from this, this was the workaround I

[2017-07-12 08:53] kylepjohnson commented on #554
Update: This repo actually has plain text files in it, already: https://github.com/cltk/First1KGreek/tree/1.1.1603/text

However an XML reader would still be desirable to users, I imagine.

[2017-07-12 09:38] kylepjohnson commented on #554
Another update: I have been forwarded this code, which I'll use to process the XML: https://github.com/Capitains/HookTest/blob/master/HookTest/build.py#L91

[2017-07-12 13:35] kylepjohnson commented on #554
I've written a crude converter, not quite a corpus reader. Anyone is welcome (and encouraged) to make this corpus more accessible.

https://github.com/cltk/cltk/blob/master/cltk/corpus/greek/tei.py

https://github.com/cltk/cltk/blob/master/docs/greek.rst#tei-xml

[2017-07-12 13:35] #554 closed

[2017-07-14 14:07] diyclassics opened #558 "Namespace conflict between cltk.tokenize and Python built-in tokenize"
Starting this week on Python 3.6.1 ([GCC 4.2.1 Compatible Apple LLVM 8.1.0 (clang-802.0.38)] on darwin)—I am seeing the following error on all CLTK imports:

AttributeError: module 'tokenize' has no attribute 'open'

(Full traceback below)

This appears to be a namespace conflict between cltk.tokenize and the built-in Python tokenize module (https://docs.python.org/3/library/tokenize.html). For ex

[2017-07-14 14:12] diyclassics opened #559 "Update stop module with method for building custom stoplists"
I will be updating the cltk.stop module to include methods for generating custom stoplists for a text or collection of texts.

[2017-07-14 16:54] kylepjohnson commented on #558
Hey Patrick, I don't doubt what you're seeing, but I am not getting any error from just `import cltk`:

[code]

GCC info looks equivalent (though not identical).

Try a new virtualenv and pip install, see if that helps?

[2017-07-14 17:07] kylepjohnson opened #560 "CTS and TEI XML parsing project"
Following my modest (if not meagre) [XML parsing code](https://github.com/cltk/cltk/blob/c44eb1810c5a85b0409a2537177862468987bd13/cltk/corpus/greek/tei.py) for the 1KGreek project's corpus, I have heard from multiple people that we ought to have a proper CTS/TEI XML parser, which can grab specific chunks of texts by means of an URN.

This project could be as ambitious as an NLTK CorpusReader, or e

[2017-07-14 17:16] PonteIneptique commented on #560
Hey. I am a bit surprised because this is exactly the purpose of Capitains/MyCapytain. Redoing it would be reinventing the wheel.
You do not need to write this thing, at worst an adapter to it... :)

[2017-07-14 17:18] jtauber commented on #560
I was going to say "just use Capitains" but Thibault beat me to it :-)

[2017-07-14 17:26] kylepjohnson commented on #560
Hi Thibault, thanks for responding so fast. I haven't looked at mycapitains for a while.

Would [this doc page](https://mycapytain.readthedocs.io/en/latest/MyCapytain.local.html) be the best place to start to understand how to work with local files?

I see your [long page about Guidelines](http://capitains.org/pages/guidelines.html) -- to your knowledge, do all CTS/TEI-compliant file meet these st

[2017-07-14 18:08] ThomasK81 commented on #560
+1 for Capitains (especially when working in Python anyway);

For completeness sake, some GoLang solutions. They can easily be compiled
in executables which you can bash from python:

For CTS CEX: https://github.com/cite-architecture/citemicroservices
For CTS XML: https://github.com/ThomasK81/LightWeightCTSServer (it's not an
API though)

Watch this space: https://github.com/ThomasK81/Nucleus (and

[2017-07-14 18:11] ThomasK81 commented on #560
Also +1 for wanting to integrate Capitains or another local CTS solutions
to CLTK.

Dr Thomas Koentges

CHS Fellow in Hellenic Studies,
Harvard University
tkoentges@chs.harvard.edu

Akademischer Assistent (Assistant Professor)
Digital Humanities,
Universität Leipzig
thomas.koentges@uni-leipzig.de

On 14 July 2017 at 20:08, Thomas Köntges <thomas.koentges@gmail.com> wrote:

[2017-07-14 19:02] PonteIneptique commented on #560
MyCapytain provides both adapter for Capitains local repository and general purpose standard cts api.

[2017-07-14 19:19] PonteIneptique commented on #560
I am on weekend and I am trying to take some time off in a very busy time. I'll try to come back to you if you need next week ;)

[2017-07-14 19:30] diyclassics commented on #558
Hmm—a fresh install in a new virtual environment seems to have solved the problem. Still gives me pause about having a module with the same name as a built-in. Anyway, I'll close for now.

[2017-07-14 19:51] kylepjohnson commented on #560
Thanks, all! I'll see what I can do and post back here.

[2017-07-14 20:04] kylepjohnson commented on #558
I had no idea there was such a tokenize module! I don't foresee conflicts by using the namespace `tokenize`, however am not sure.

It's a funny module, btw. Example:

[code]

The word positions are precise, which could be useful for something.

[2017-07-14 20:04] #558 closed

[2017-07-15 11:18] diyclassics opened #561 "Update tokenize module structure"
I would like to reorganize tokenize as follows:
- tokenize
-- __init__.py
-- latin.py
-- greek.py
-- sentence.py
-- word.py
-- etc.

With this plan, e.g.:
- latin.py would have Latin-specific tokenization methods, attributes, etc.
- sentence.py would have general code for sentence tokenization

This is  an effort to...
1. keep more consistency in the core modules
2. separate code from language-spe

[2017-07-16 00:25] jtauber commented on #558
Given it's for tokenizing Python source code, I'm not sure it would be useful for anything other than as an example of how to write a tokenizer for other programming languages (or maybe data formats)

[2017-07-17 16:25] willismonroe opened #562 "Preferred output for Akkadian decliner"
I'm working on incorporating an Akkadian noun decliner in the CLTK, just had a question about what is expected as the return value.

Currently it works like this:
`decline_noun('ilum', 'm')`

`[('ilim', {'case': 'genitive', 'number': 'singular'}),
                  ('ilum', {'case': 'nominative', 'number': 'singular'}),
                  ('ilam', {'case': 'accusative', 'number': 'singular'}),

[2017-07-17 18:30] kylepjohnson commented on #562
Hey thanks for thinking the API. Here's my take on these kind of issues: In the long run, we hope for a common API for all languages (or as common as is reasonable). However in the short- to middle-term, we are still learning what APIs are best, both in general and for particular languages.

So I recommend that you design the input/output for this to be as useful as possible to you and other Akkad

[2017-07-17 18:38] willismonroe commented on #562
Sounds reasonable, I was sorting of thinking in that vein as well.  Once the tools are in place, things can get standardized.

The intent of this function is to output all forms of a noun given a noun in any form and its gender.  There's some complexity in determining gender obviously, so it's defined here in the function call.

Yep, I can certainly write up use cases and examples for this.  I've

[2017-07-17 18:42] kylepjohnson commented on #562
Sounds great.

I don't understand but totally trust you :)

Input from any watchers is encouraged.

[2017-07-17 18:48] willismonroe commented on #562
Akkadian (and semitic languages in general) have forms that are mostly defined by the position and number of consonants.  So you might double the middle consonant of a verb to make it factitive for example, i.e. parāsu becomes parrāsu.  Or you might add a 'tan' infix and double the middle consonant to make it an iterative present form, i.e. iptanarras.  These forms (and many more) are built around

[2017-07-18 06:02] KumaraDilshan commented on #561
I also would like to contribute this issue. Mainly I can see the the module structure of tokenize should be updated. Reorganize tokenizes can be recommended mainly to develop the consistency in the core modules. Also for contributing the current structure should be developed and updated.

[2017-07-18 11:52] PonteIneptique commented on #560
Hey @kylepjohnson
Do you have question regarding this ? Would you like to discuss about it over skype if needed ?
Regarding your primary need in https://github.com/cltk/cltk/issues/560#issue-243055274 , I am pretty sure that a CorpusReader adapter for CLTK based on the resolver classes of MyCapytains would be more than enough for at least the CapiTainS Sphere (Including github.com/lascivaroma, Cro

[2017-07-18 14:09] kylepjohnson commented on #561
@diyclassics I'm all for rationalizing this and the rest of the areas. Would you give us a few examples of what new import statements would look like?

@KumaraDilshan This is a one-person job because it is very high-level. You could help me with #560 if you want to get started somewhere.

[2017-07-20 08:04] chandanakgd opened #563 "Adding pali alphabet"
I haven't seen a pali alphabet ithe pali section then I would like to add pali alphabet to the project.
I am trying to consider following operation to add to alphabet.py

-  DIGITS
-  INDEPENDENT_VOWELS
-  DEPENDENT_VOWELS

etc...

[2017-07-20 16:05] kylepjohnson commented on #563
@chandanakgd Thank you for volunteering. Before you begin work, I would like you to do the following: Write here all the different classifications of the Pali alphabet (like you began, digits, independent vowels, etc.). Also, please give a link to the book or website you use to find this information.

And will this be in Latin characters or the Brahmi-style characters?

Few watchers of this repo k

[2017-07-24 17:24] KumaraDilshan commented on #560
As my view this issue can be solved from using Capitains when referring Capitains organization http://capitains.org/

[2017-07-24 18:29] chandanakgd commented on #563
there are few alphabet of pali in deference language(script).

- Pali in sinhala (I have few book) https://drive.google.com/file/d/0B4TCXG5_oWsuTWRoT003Q2RIZFE/view?usp=sharing

and I refer following as well
- http://www.omniglot.com/writing/pali.htm

- http://www.bps.lk/pali_misc/palipron.html

[2017-07-24 18:42] kylepjohnson commented on #563
The official Unicode blocks are the best place to get the characters: http://www.unicode.org/charts/PDF/U0D80.pdf

Also: https://en.wikipedia.org/wiki/Sinhala_(Unicode_block)

Also

[2017-07-24 18:46] chandanakgd commented on #563
I found few pali dictionary (in Lathin)

1. http://www.buddha-vacana.org/toolbox/dico.html

2. http://dsal.uchicago.edu/dictionaries/pali/

[2017-07-24 18:49] chandanakgd commented on #563
this alphabet in sinhala. I know sinhala very well then I can add pali alphabet using this official Unicode what you mention above

[2017-07-24 18:49] kylepjohnson commented on #563
Ok great! Please start and let us know when you're done.

[2017-08-01 09:55] KumaraDilshan opened #566 "Adding Tamil language to CLTK"
I like to add Tamil language to this project. Basically in letters there are two types of classification in Tamil language.They are
- Vowels
- Consonants

It is suitable to add these type of letters as the Tamil alphabet and other functions can be added later. I'm working on it.

[2017-08-01 13:45] kylepjohnson commented on #566
Thanks, sounds good to me. Go for it.

Does the alphabet of pre-modern Tamil differ from modern?
--
Kyle P. Johnson, Ph.D.

Natural language processing, AI
https://kyle-p-johnson.com | http://cltk.org

[2017-08-01 20:01] KumaraDilshan commented on #566
Yes. There are differences. It is possible to update the Tamil alphabet with modern letters.

[2017-08-01 20:02] KumaraDilshan commented on #566
https://github.com/KumaraDilshan/cltk/tree/Tamil_alphabet/cltk/corpus/tamil
I have added the alphabet and a pull request has been made. The developments are going on.

[2017-08-12 21:48] #105 closed

[2017-08-12 21:57] kylepjohnson commented on #566
@KumaraDilshan I have finally merged #568 (sorry, was traveling for work when I got this).

Would you please add a docs page for this, too, to this directory? https://github.com/cltk/cltk/tree/master/docs

Thank you!

[2017-08-17 09:24] KumaraDilshan commented on #566
Ok. Working on it.

[2017-08-29 05:19] todd-cook commented on #288
I think I have a fix for this, I will clean it up and submit a pull request.

[2017-08-29 17:16] kylepjohnson commented on #288
Terrific, thanks!

[2017-08-31 15:13] kylepjohnson opened #574 "Double-check code and data for new French PR"
This issue is for @nat1881 to follow up on her large PR #571 for Old and Middle French.

Natasha, I would like you to do the following steps, to be certain that the code works as you intended:

* Start a brand new clone of (this) cltk repo.
* Make a new virtual env
* Mk source tarball and install (this should install all dependencies, too): `python setup.py sdist install`
* Temporarily rename your

[2017-09-01 12:08] nat1881 commented on #574
Corpora download in the right place, and ipython tests all work (I've had to add a line to the stop filtering docs so the output prints). Should I add French to the the docs index?

[2017-09-01 14:28] kylepjohnson commented on #574
Yes, good idea.

[2017-09-01 15:14] kylepjohnson commented on #574
Also, I see that some of the text here is not formatted as you wanted: http://docs.cltk.org/en/latest/french.html#lemmatizer

[2017-09-01 17:09] kylepjohnson commented on #574
:balloon: :balloon: :balloon: :balloon: :balloon:

Merged #575 , which means the initial deployment of French to the CLTK!

:confetti_ball: :confetti_ball: :confetti_ball: :confetti_ball: :confetti_ball:

Tagged release: https://github.com/cltk/cltk/releases/tag/v0.1.64

:tada: :tada: :tada: :tada: :tada:

Available now on PyPI

[2017-09-01 17:09] #574 closed

[2017-09-02 11:14] diyclassics opened #576 "Need to trap error in French LemmaReplacer for missing corpora"
The functions `_load_entries` and `_load_forms_and_lemmas` in cltk.lemmatize.french.lemma should trap for "FileNotFoundError" if the required "french_data_cltk" corpus is not installed.

[2017-09-02 11:23] diyclassics opened #577 "Unexpected output for French normalize function?"
When the function `normalize_fr` in cltk.corpus.utils.formatter is used on strings that are longer than one word, words that are not normalized are dropped from the output. Is this the expected output?

E.g.
In [1] text = "Li rois pense que par folie, Sire Tristran, vos aie amé ; Mais Dé plevis ma loiauté, Qui sor mon cors mete flaele, S’onques fors cil qui m’ot pucele Out m’amistié encor nul j

I

[2017-09-02 11:33] diyclassics opened #578 "Stemmers should use tokens for input"
Looking over the related NLTK module (http://www.nltk.org/api/nltk.stem.html), it looks like the expected input for stemmers should be a token not an untokenized sentence, as shown in the Docs for Latin and French (e.g. http://docs.cltk.org/en/latest/latin.html#stemming).

[2017-09-02 14:08] nat1881 commented on #576
Done, should I add this to the basic Latin and Greek lemmatizer too?

[2017-09-06 15:45] kylepjohnson commented on #577
Side note: @diyclassics I probably made a mistake when asking Natasha to move this module into `cltk.corpus.utils.formatter`. (I hadn't looked closely at the kind of normalization it's doing.)

Since this is just French, it would probably be better (for now) in `cltk.corpus.french`.

[2017-09-07 16:28] kylepjohnson commented on #566
@KumaraDilshan I haven't seen this yet … are you still working on it?

[2017-09-24 09:47] KumaraDilshan commented on #566
I'm trying to add the documentation, but it don't give me the permission.

[2017-09-24 19:16] KumaraDilshan commented on #566
[tamil_cltk_documentation.txt](https://github.com/cltk/cltk/files/1327644/tamil_cltk_documentation.txt)
Then please add this documentation to https://github.com/cltk/cltk/tree/master/docs

[2017-09-25 16:45] kylepjohnson commented on #566
@KumaraDilshan You need to make a Pull Request.

Have you made one of these before? If not, here are the directions: https://help.github.com/articles/about-pull-requests/

If you are new to Git, you can start here: https://try.github.io/levels/1/challenges/1

Do I understand your problem right?

[2017-09-26 10:04] KumaraDilshan commented on #566
Ok. I followed the order and made a pull request of the documentation

[2017-09-26 14:18] kylepjohnson commented on #566
You it right. I merged your pull request #582 .

Do you know of any free NLP software in Tamil that could be used to help you bootstrap some features? I see a few resources you could start researching:
* http://www.ctnlpr.com/
* http://www.ijcaonline.org/volume8/number14/pxc3871790.pdf
* http://www.thetamillanguage.com/tamilnlp/

Perhaps the authors of these would be able to help.

[2017-09-26 14:18] #566 closed

[2017-09-28 13:30] krishamehta commented on #578
How can you change it? I would like to help

[2017-09-28 14:50] dareiadareia opened #584 "Problem with gensim and cltk: NameError: name 'Word2Vec' is not defined"
I tried to test some ideas on the word2vec model, but couldn't make the example from the docs work. It is very weird, but after many failed attempts I finally decided to ask whether there is a problem or I am doing something wrong. Thanks in advance.

So, here's the log:

[code]

I found [a similar question on google groups](https://groups.google.com/forum/#!topic/gensim/qIEVM9KJ_wM), but it didn'

[2017-09-28 15:09] kylepjohnson commented on #584
Hi @dareiadareia I'll try this out again myself, later, but till then: Are you sure that you have installed Gensim into your virtualenv (`pip install gensim`)?

[2017-09-28 17:38] KumaraDilshan opened #585 "Add alphabet for Tamil"
I like to add these formatter, importer, numerifier, transliterate to tamil corpora. I have studied these types of codes from other languages. Also other developments which I hope to do in recent need these code segments.

[2017-09-28 17:40] KumaraDilshan commented on #585
I like to add these formatter, importer, numerifier, transliterate to tamil corpora. I have studied these types of codes from other languages. Also other developments which I hope to do in recent need these code segments.

[2017-09-28 17:44] dareiadareia commented on #584
Hi, yes, I have it installed.

[2017-09-28 19:05] dareiadareia commented on #584
@kylepjohnson Checked again: I have it in ~/cltk/venv/lib/python3.6/site-packages/gensim

[2017-10-01 22:03] ibrahimsharaf commented on #555
Hi @LBenzahia, @kylepjohnson, I am a native Arabic speaker with intermediate Python background, and I am willing to contribute to this, where can I start?

[2017-10-02 07:35] LBenzahia commented on #555
Hi @ibrahimsharaf, sure you're very welcome to help CLTK organization, We need contributors for Classical Arabic, you can start from this list pick up a todo or if you have any suggestion add it  in this issue and start working on it.
1. If you're familiar with cltk see [Quickstart-for-contributors](https://github.com/cltk/cltk/wiki/Quickstart-for-contributors) you'll find helpful links,
2.  I wou

[2017-10-03 19:28] ibrahimsharaf commented on #555
Hi @LBenzahia, thanks for the guidance, I've taken a look at the Arabic docs, great work so far.
Are the sub-issues marked with WIP are currently taken? In this case I can start working on  `Re-implement Khoja's Arabic Stemmer(root-based stemmer) with python 3.6.`, what do you think?

[2017-10-03 19:53] LBenzahia commented on #555
Hi @ibrahimsharaf, yes you can it'll be a great contribution khoja's stemmer fits with classical arabic, Please i would you to Remember that we are working on Classical arabic not Modern arabic, you have reduce some patterns of words in khoja stemmer :
   على سبيل المثال في العربية الكلاسكية نستعمل ألف الاستفهام بكثرة بدل من هل خاصة في نصو ص القرآن الكريم
بعض الاوزان الدخيلة ﻻيمكنك معالجتها مثل وز

[2017-10-04 10:42] LBenzahia commented on #555
Hi @kylepjohnson, @ibrahimsharaf ,
I would like from you to take a look at the  code base of arabic-stemmers [ codebase link](https://github.com/LBenzahia/cltk/commit/1218992700b25443cac114cba299ae5951e71e76).
This  organization inspired from `cltk.tokenize.word`  and `nltk.stem.snowball`, the usage and result of this module will be like :
[code]
What do you think ? Any question or Suggestion ?

[2017-10-15 21:05] kylepjohnson opened #592 "Add docs to Marathi"
@MaheshBhosale Thanks for waiting while we merged this.

Would you please add alphabet docs to [docs/marathi.rst](https://github.com/cltk/cltk/blob/master/docs/marathi.rst)?

For guidelines, you may look at [docs/persian.rst](https://github.com/cltk/cltk/blob/master/docs/persian.rst).

[2017-10-19 19:48] varunvora commented on #584
@kylepjohnson I think the line `w2v = Word2Vec()` at line 143 should be inside the try block at line 145.

[2017-10-21 09:57] usmanmuhd98 commented on #584
@kylepjohnson I have created pull request which resolved this issue. Take a look

[2017-10-21 11:02] usmanmuhd98 opened #594 "Help required with PR #593"
The pull request shows that the unit test failed.
As I am new to these test, can anyone help me with this?
Thanks in advance!

[2017-10-21 15:46] MaheshBhosale commented on #592
Done..Creating pull request.

[2017-10-22 05:02] #594 closed

[2017-10-22 05:13] usmanmuhd opened #595 "Adding Kannada Language to CLTK"
I would like to add Kannada Language here.
In Kannada there are three categories of alphabets:
1. Swaras (Vowels)
2. Vyanjanas (Consonants)
3. Yogavaahakas (part vowel, part consonants)

To start with I would be adding the alphabets and corpora as suggested by @kylepjohnson.
As I get more and more acquainted with the code base I will be adding more features!

[2017-10-22 10:37] prakamya-mishra opened #596 "Setup issue"
Can any one suggest how to overcome this error?
<img width="710" alt="screen shot 2017-10-22 at 4 04 12 pm" src="https://user-images.githubusercontent.com/22093105/31861051-0a0d9d12-b743-11e7-9796-a9ff980858bd.png">

[2017-10-23 01:35] kylepjohnson commented on #584
@dareiadareia I've made the fix, it will be available in PyPI in the next 10-20 mins. Also, make sure that you have imported the `latin_word2vec_cltk` corpus. Thanks for letting us know!

@varunvora and @usmanmuhd98 the issue was Gensim's word2vec class. I believe it has changed how models are loaded. See here: https://github.com/cltk/cltk/commit/2e47bc4567a3806d5c4ad02cfd711e68df405314#diff-f3f4f

[2017-10-23 01:35] #584 closed

[2017-10-23 01:42] kylepjohnson commented on #596
Hi, I'm not certain what the issue is. Have you installed Python from 3.6 <https://www.python.org/downloads>? (I can't speak to whether other installations, as with brew, work.)

`python3.6 -m venv venv` is the right way to make the virtualenv.

Instead of `pyvenv venv` do `source venv/bin/activate` (as you do)

[2017-10-23 01:54] kylepjohnson commented on #563
@chandanakgd Have you had a chance to make any progress on this?

[2017-10-23 01:58] kylepjohnson commented on #592
@MaheshBhosale Sorry, Your docs did not come through in your PR #588 . You you try again, please?

[2017-10-23 02:13] kylepjohnson commented on #585
Following up on #586

I think the best way to learn is to go slow :) @KumaraDilshan do you have availability to work on this still?

How about this: Let's make this ticket about adding just the Tamil alphabet.

* follow the steps in the wiki to change code and make a pull request: https://github.com/cltk/cltk/wiki/Example-Git-and-Python-workflow
* make new files `cltk/corpus/tamil/alphabet.py` (wi

[2017-10-23 02:15] kylepjohnson commented on #595
Hello @usmanmuhd98 Thanks for offering! Kannada has a huge amount of ancient writing, so it is important that the CLTK cover it.

For instructions, please see my comments about a similar ticket, only for Tamil: https://github.com/cltk/cltk/issues/585#issuecomment-338530141

Is this clear enough or would you like more explanation?

[2017-10-23 08:41] usmanmuhd98 commented on #595
These instructions are enough. I will be adding the Kannada alphabets and will be sending my first Pull Request.

[2017-10-24 13:02] dareiadareia commented on #584
@varunvora @usmanmuhd98 @kylepjohnson Yes, now it works. Thank you!

[2017-10-24 16:10] kylepjohnson commented on #595
Merged PR #597

Now, please add the following:
* Add docs at `docs/kannada.rst`
  - Look at [docs/persian.rst](https://github.com/cltk/cltk/blob/master/docs/persian.rst) for a pattern to follow
* Add `kannada` to [docs/index.rst](https://github.com/cltk/cltk/blob/master/docs/index.rst)

Thinking about a next step: I believe our Indian language tokenizer works Kannada? ([example](https://github.com

[2017-10-27 00:19] inishchith commented on #563
@kylepjohnson Can you assign me this ? i'm interested in contributing !

[2017-10-29 17:39] MaheshBhosale commented on #592
I have raised another pull request, please take a look.

[2017-11-02 18:44] kylepjohnson commented on #596
Closing, but raise again if you need.

[2017-11-02 18:44] #596 closed

[2017-11-02 18:55] kylepjohnson commented on #592
Closing with PR #599

[2017-11-02 18:55] #592 closed

[2017-11-05 21:29] clemsciences opened #601 "Old Norse stopwords"
I can add to cltk stopwords of Old Norse. Resources for Old Norse are not enough developped, so I would like to help for that and probably for further things.

[2017-11-06 15:39] kylepjohnson commented on #601
@clemsciences This would be terrific. @diyclassics is actively working on the subject of stopwords, in general, so he should chime in, too.

To get this started, you have a few options:
* Find a list of ON stopwords that have been created by scholars; take it and add here :)
* make your own using a ON grammar. The most similar list we now have is [OE](https://github.com/cltk/cltk/blob/master/cltk/

[2017-11-07 11:50] inishchith opened #602 "Adding Odia language to CLTK"
I would like to add Odia(An Indo-Aryan Language) here .
Categories of alphabets in Odia :

 - Swaras (Vowels)
- Byanjana (Consonants)

Initially , I would be adding alphabets , corpora and docs as suggested by @kylepjohnson .
As i get more acquainted with the codebase and the community , i would add more features to it .

[2017-11-07 12:46] clemsciences commented on #601
@kylepjohnson I have not found any stopword list in Old Norse. The only significant work I found about NLP for Old Norse is a POS tagger : [.](https://www.researchgate.net/publication/282778755_Morphological_Tagging_of_Old_Norse_Texts_and_Its_Use_in_Studying_Syntactic_Variation_and_Change) However, the annotated corpora created for this do not seem to be available anywhere. That's why my method is

[2017-11-07 16:07] diyclassics commented on #601
@clemsciences Good to hear you'll be working on extending CLTK to ON.

re: stopwords—I'm close and getting closer to generalizing stop word production for CLTK. Code in progress is here: https://github.com/diyclassics/cltk/blob/stops/cltk/stop/stop.py. Only a "most common words" Class is currently available; document-based Class is commented out and in progress. Feel free to use whatever is helpfu

[2017-11-07 16:12] diyclassics commented on #601
@clemsciences Two other quick points:
1. Please include the Rögnvaldsson & Helgadóttir reference in the comments for your work. Because of the nature of the CLTK, I like seeing references both the the compsci/programming literature as well as academic work.
2. If you decide to contribute an ON word tokenizer, you can make language-specific contributions to tokenize/words.py for now. That said (and

[2017-11-07 23:44] clemsciences commented on #601
I wanted to make a pull request but it failed (Can't Create Pull Request  Push failed:  unable to access 'https://github.com/cltk/cltk.git/': The requested URL returned error: 403) so I'll try later.

[2017-11-09 19:20] kylepjohnson commented on #601
Merged PR #603 . I'll close this once your docs come through.

@clemsciences Responses to the above:

You're the first contrib with ON knowledge, so I believe you would be the right person to clean up the corpora. Perhaps you could move beowulf from [old_norse_text_perseus](https://github.com/cltk/old_norse_text_perseus) into a new repo `old_english_text_perseus`.

This would be a nice, fairly eas

[2017-11-09 19:31] jtauber commented on #601
I'm doing quite a bit of Germanic philology (unrelated to my Perseus work at the moment) so happy to occasionally help out with this too.

[2017-11-09 19:47] kylepjohnson commented on #601
Thanks @jtauber jump in any time with ideas

Just merged #604 and have bumped the vers, so 0.1.72 should be on PyPI once the build server is done.

I'll close this ticket, but @clemsciences I'll open a new one for you, for a tokenizer

[2017-11-09 19:47] #601 closed

[2017-11-09 19:49] kylepjohnson opened #605 "Make Old Norse Tokenizer"
Following from #601 , for @clemsciences

Add to our common tokenizing class, as @diyclassics explains in [this comment from 601](https://github.com/cltk/cltk/issues/601#issuecomment-342533670).

Others in our community likely don't anything about ON, so it'd be helpful if you could describe, briefly here, some of the special aspects of tokenization in this language.

[2017-11-09 20:43] clemsciences commented on #601
@kylepjohnson Ok, I'll make the new repo old_english_text_perseus as soon as I get to know how to do it.

For the POS tagger, I'll send a message to the author of the Old Norse POS tagger to ask if he can help us (I've always wanted to use such a POS tagger. Alone, I didn't dare to ask for it but now, with cltk, I have more reason to do it. I studied much about statistical POS tagger (specific hid

[2017-11-09 20:50] clemsciences commented on #605
To make an Old Norse tokenizer, I firstly need to observe if there are actually forms specific to Old Norse which need to be split into words, because I have not remarked anything like that. I'll write in the docs special aspects.

[2017-11-10 12:48] clemsciences commented on #605
I found NLP tools made by Icelandic researchers : http://nlp.cs.ru.is/icenlp/?lang=en . Unfortunately, it is not exactly what we want, because it is only for modern Icelandic, and we would like something convenient for Old Norse.

I also found a web site http://www.malfong.is/ where Icelandic resources are available (in Icelandic). Something really interesting for us is the Icelandic treebank : ht

[2017-11-10 18:40] kylepjohnson commented on #601
We've used the NLTK's TnT tagger, which the authors use in that paper, for Greek and Latin. To reproduce their results, assuming there we have training data, will be straightforward if you follow our patterns :)

[2017-11-10 18:46] kylepjohnson commented on #605
We look forward to seeing it. Just reach if you want anything -- or need explanations of the code!

[2017-11-15 18:10] aayushbleedblu opened #608 "Adding Gujarati language to CLTK"
I would like to add Gujarati Language here.
In Gujarati there are two categories of alphabets:

1. Swaras (Vowels)
2. Vyanjanas (Consonants)

[2017-11-29 16:44] clovell opened #609 "Latin lemmatizer returns unexpected results for some forms of sum"
For the forms 'es', 'est', and 'estis', the Latin lemmatizer returns the lemma 'edo'. I know these can be forms of 'edo', but they are much more frequently forms of 'sum'.

[2017-11-29 17:59] kylepjohnson commented on #609
You're right, there are some mistakes in the generic lemmatizer. It works OK as a normalizer (reducing complexity) but it does make some wrong reductions.

However, we also have Patrick Burns's Latin lemmatizer, which gives better results: http://docs.cltk.org/en/latest/latin.html#lemmatization-backoff-method

@diyclassics for most users, do you recommend `IdentityLemmatizer()`?

[2017-11-29 20:45] diyclassics commented on #609
Until I can find some time to update/complete the docs (necessary and overdue!), this notebook presents a script that will get users started with the BackoffLemmatizer: https://github.com/diyclassics/scratch/blob/master/Sample%20CLTK%20Backoff%20Lemmatizer%20Workflow.ipynb

[2017-11-29 20:50] diyclassics commented on #609
We should also talk at some point about retiring LemmaReplace (or making it legacy code); TrainLemmatizer offers the same functionality via something like:

[code]

[2017-11-29 21:59] kylepjohnson commented on #609
Agreed. I don't mind dropping it altogether, once you consider your lemmatizer finishes and documented fully.

The old lemmatizer source was based on from Perseus' mapping of dictionary headword to a list all known inflections (plus POS). Something still could be done, I think, with the original Perseus document, to help make word lists + glosses.

@clovell Please let us know how the other lemmati

[2017-11-30 04:10] diyclassics commented on #609
Yes—but I'm working on it. (Also, the backoff "lemmatizer" is really a multipass chain of sub-lemmatizers, cf. https://gist.github.com/diyclassics/b24fbd1ad3bbb726387de443fab84956; the idea is based on the NLTK Backoff Tagger for POS tagging.) The speed problems seem to come from the way I have structured the regex specifically. I'm rewriting it to make use of generators rather than list and becom

[2017-11-30 04:12] diyclassics commented on #609
Depending on how you are using the lemmatizer, you make also find the 'create_lemmatized_texts' function in this notebook useful: https://github.com/diyclassics/ll-experiments/blob/master/Exploring%20Diction%20and%20Topics%20in%20Latin%20Love%20Elegy.ipynb. A work around for reducing the number of regex compiles when using the lemmatizer on multiple texts in sequence.

[2017-12-01 17:52] TylerKirby opened #610 "Latin Syllabifier Fails on Macrons"
The Latin syllabifier seems to fail on words with macrons. For example, `audītū` becomes `['aud', 'ītū']` rather than `['au', 'dī', tū']`.

It looks like we can fix this by just adding the macronized vowels to the  [vowels property](https://github.com/cltk/cltk/blob/master/cltk/stem/latin/syllabifier.py#L27).

@kylepjohnson I can submit a PR for this if it sounds reasonable.

[2017-12-01 18:24] kylepjohnson commented on #610
Definitely reasonable! Pinging @lukehollis who was the module's author. One trap to watch out for is detecting [combined](https://en.wikipedia.org/wiki/Combining_character) or [precomosed](https://en.wikipedia.org/wiki/Precomposed_character) characters.

Here's one fix that we threw in to normalize input: https://github.com/cltk/cltk/blob/master/cltk/corpus/utils/formatter.py#L119

I forget what t

[2017-12-01 18:39] TylerKirby commented on #610
Awesome ok! Thanks for the heads up on combined/precomposed characters.

Re: normalize input, yeah I'm not too sure what NFC/NFKC means but I'll look into that.

[2017-12-01 18:43] kylepjohnson commented on #610
Sure, thank you!

If you get tangled up in the normalization stuff, just reach out and I can dig up my notes on why we made this as we did. KJ

[2017-12-01 20:32] #610 closed

[2017-12-02 20:06] Sedlacekj opened #612 "trouble installing cltk on ubuntu 16.04 with python 3.6.3"
Hi,

This seems to have a problem with regex or python.h
I tried to install CLTK on a new version of ubuntu 16.04 running python 3.6.3.  I followed the instructions to create a venv environment and after the last command received the following error:

$ pip install cltk
Collecting cltk
  Downloading cltk-0.1.74.tar.gz (489kB)
    100% |████████████████████████████████| 491kB 947kB/s
Collecting git

[2017-12-03 18:19] kylepjohnson commented on #612
Interesting, thanks for reporting.

Seeing that a header file is not found, I suspect this will fix it for you: `sudo apt-get install python3-dev`.

However if it does not: are you using the system Python, from a repo, or built from source?

[2017-12-03 21:19] Sedlacekj commented on #612
Thanks Kyle,

I tried that along with python3.6-dev and both failed.  I am using Python3.6 obtained through this command.
sudo apt-get install python3.6
My system was python3.0, so I thought it would be best to do 3.6.

[2017-12-03 21:29] Sedlacekj commented on #612
I tried that along with
sudo apt-get install python3.6-dev
and both failed in some respects.  I am using python3.6 obtained through
sudo apt-get install python3.6
my system originally had 3.0

Here are the new error messages.

$ sudo apt-get install python3-dev
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may me

[2017-12-04 05:28] kylepjohnson commented on #612
Hmmm. Python 3.x from repos can be dodgy sometimes. I use this little script to install  3.6.x from source, on Ubuntu: https://github.com/kylepjohnson/python_bootstrap

Would you be open to giving this a shot?

[code]

[2017-12-04 16:59] Sedlacekj commented on #612
I tried this, but it didn't work either.
I built a fresh Ubuntu16.04 machine and then ran this as the first command.  It also did not work, but asked for curl to be installed.  I installed that, and then it worked, or at least performed an installation.  I went to the link you provided as well, and ran the test suggested, and the python3.6 command was not recognized, so I checked my version, and i

[2017-12-04 17:23] kylepjohnson commented on #612
I appreciate your persistence. I know how frustrating these bugs can be.

Let us know here if you encounter any issues with what seems to have installed OK. Meanwhile, I'll check this out myself over the next day or two, on a new Ubuntu server. A lot of our users are on it, so we need the docs to be solid.

[2017-12-07 11:14] Sedlacekj commented on #612
I ran this again exactly the same way on a fresh install of ubuntu16.04, and this time python3.6.2 installed instead of 3.5.2 and cltk installed without errors.

[2017-12-08 02:17] #612 closed

[2017-12-08 04:33] kylepjohnson commented on #612
Thanks James! Interested to know how you installed 3.6 -- I might add it to the docs.

[2017-12-08 08:02] TinaRussell commented on #196
I hope this issue is still being worked on, somewhere—I love the idea of CLTK but I can’t stand it when programs add new directories to my home directory and won’t let me specify somewhere else. I’m particular about how my computer is organized, and this kind of thing feels like a precocious child is trying to remodel part of my house.

[2017-12-08 14:53] Sedlacekj commented on #612
I did it with your bootstrapper.  For some reason, it gave me 3.5.2 the first time, but the second time it worked with 3.6.2

[2017-12-09 12:45] the-ethan-hunt commented on #602
Is this issue open for work, @kylepjohnson ?

[2017-12-12 00:07] SigmaX opened #615 "Docs for Accessing Corpora"
Either I'm missing something obvious (which is likely), or CLTK offers no documentation on how to use the various corpora the project provides.

After importing the `greek_text_perseus` corpus, for example, its `README.md` tells me

wnload). See the [CLTK's docs](http://docs.cltk.org) for instructions on how to use these files.

The docs, however, only cover how to download corpora and how to proc

[2017-12-12 07:37] clemsciences commented on #615
I totally agree. I had the same thoughts when I used for the first time cltk. My idea to explain that is to make a new tutorial with that intermediate part explained.

[2017-12-12 18:12] diyclassics commented on #615
@SigmaX—thanks for starting this discussion. There is a lot of work that could be (and should be) done with making corpora easier to work with. This is why I wrote a PlaintextCorpusReader wrapper for the CLTK Latin Library corpus (basically, # 2 from your list); cf. https://disiectamembra.wordpress.com/2016/08/11/working-with-the-latin-library-corpus-in-cltk/. I'll be sure to add this functionalit

[2017-12-12 20:37] SigmaX commented on #615
@diyclassics The first thing I did is hack together my own (probably flawed) XML reader for Perseus, so I agree that providing that would be a useful feature!

IMO, though, 80% of the problem can be solved just by pointing out in the docs that new users will have to find a way to parse the corpora themselves.  In my case, it took me longer to figure out that I needed to manually parse the corpus I

[2017-12-13 03:16] kylepjohnson commented on #615
Thank you @SigmaX for raising this valid issue. The challenge with the "toolkit" idea is that things can get messy with more and more contributions come in (a good problem to have, I suppose :)

For tutorials, we have a special repo, however it's never quite been polished enough that I wanted to push it in the docs: <https://github.com/cltk/tutorials>. Someone could make some notebooks illustratin

[2017-12-13 16:06] SigmaX commented on #615
@kylepjohnson : well, [all I did](https://gist.github.com/SigmaX/750ad9f0d185ffdc36f1c9311d326409) was write a brittle loop that pulled out the text inside every `<p>` or `<q>` element, which seemed adequate for the specific text I was working with (Perseus' [_Meditations_](http://www.perseus.tufts.edu/hopper/text?doc=Perseus:text:2008.01.0641)).  The TEI DTD is very intricate, however, so it woul

[2017-12-14 03:06] kylepjohnson commented on #615
Because of the complexity of TEI, I think this probably the best thing to do.

Since you're clearly an able coder, we'd be interested in seeing how you solve this one, even if you don't think the code is production-ready. And of course we're happy to help with any issues you want an extra pair of eyes on.

Should we close this?

[2017-12-14 03:17] SigmaX commented on #615
Personally I'd leave it open until there is at least a sentence in the docs either pointing to a tutorial or saying "you need to figure out how to import the corpora yourself" or such.

[2017-12-14 03:23] kylepjohnson commented on #615
Sure. I'll take care of this and post back here for people to comment on :)

[2017-12-14 04:26] kylepjohnson opened #616 "Finalize Marathi stopword list"
@MaheshBhosale thank you for your additions! I had to merge this manually because of several conflicts.

I need you to do a few things:
1. Take a look at the formatting and changes I made to your code: https://github.com/cltk/cltk/commit/da0164455dc13d852897570cee069fad8ee99a82 (I also deleted the redundant `stops/Marathi/` (use lowercase)
2. Check each of the commands in the docs, to ensure that

[2017-12-14 04:45] jtauber commented on #615
The helper code that Eldarion is developing on top of MyCaptains for the new Perseus will likely help with this. It will hopefully be open source in the next month or so.

[2017-12-21 13:11] LBenzahia opened #617 "Adding Old Anatolian Turkish"
Todos:

- [ ] Add Alphabet of Old Anatolian Turkish (letters/vowels/digits).
- [ ] Add docs.
- [ ] Add Old Anatolian Turkish corpus.

[2017-12-22 18:35] kylepjohnson commented on #617
Thrilled to see this!

[2017-12-23 10:51] MaheshBhosale commented on #616
Hi Kyle,

1 and 2) Apologies that previously I haven't merged cltk-master to my master. I have done that now, so there shouldn't be any redundant rework onwards. I also have checked all the commands from docs.
3) I have created stop list from [Marathi-text Wikisource](https://github.com/cltk/marathi_text_wikisource) from [Dnyaneshwari](https://en.wikipedia.org/wiki/Dnyaneshwari) and [Haripath](htt

[2017-12-23 16:15] MaheshBhosale commented on #616
I have added docs and created pull request https://github.com/cltk/cltk/pull/618

[2017-12-28 01:01] aconser commented on #447
@francescomambrini @TylerKirby @kylepjohnson @jtauber
I hope you don't mind a newcomer on this old thread.  As part of my own research I've built a Greek poetry scanner that might be of interest: [https://github.com/aconser/greek_scansion/blob/master/greek_scansion.py](url).

It currently uses James Tauber's syllabifier, but it could just as easily use the current CLTK built-in.  The long-by-posit

[2017-12-28 01:06] jtauber commented on #447
I should mention https://github.com/jtauber/greek-accentuation/issues/5 here too

[2017-12-28 01:35] TylerKirby commented on #447
@aconser this looks great! It'd definitely be useful for scanning prose, though for poetry it'd be nice if it could account for epic correption, synizesis etc.

[2017-12-28 01:55] aconser commented on #447
@TylerKirby Thanks!

Excellent thoughts.  I'll see about adding a test for epic correption, which I believe is fairly standard in most verse forms.  Synizesis, however, is only recognizable when it is required to make a line match a set metrical pattern - mostly an issue with stichic verse, though occasionally found in antistrophe pairs as well (where functions a lot like resolution).  My tool jus

[2017-12-29 02:36] kylepjohnson commented on #616
This is a fair question, as people have different perspectives on this, often based upon the kind of NLP they are doing. For example, for information retrieval or semantic work, we generally want to preserve high frequency nouns, contain important information, even though they are very common. For example, in the Mahabharata, the words "king", "Arjuna", and "chariot" are very common nouns; if we i

[2018-01-03 09:30] Jarvx opened #619 "Classical Chinese corpus"
I am wondering if the community currently need classical Chinese corpus. If so, I am glad to do some voluntary work.

[2018-01-03 15:15] clemsciences commented on #619
I have no need for classical Chinese corpora, but someone else maybe. Anyway, the need may come if such corpora are available.

[2018-01-03 17:02] kylepjohnson commented on #619
@wjw1993 Chinese is a big need for the project, though to date we have not had many qualified assistants. There are some corpora already -- https://github.com/cltk?utf8=%E2%9C%93&q=chinese&type=&language= -- however there are surely others, too.

What is your knowledge level of Classical Chinese?

[2018-01-04 03:42] wjw1993 commented on #619
@kylepjohnson  Chinese is my first language and I am a big fan of classical Chinese literary works. In addition to that I have background in computer science and natural language processing. So what kind of knowledge level of Classical Chinese is required in that project ?

[2018-01-04 04:17] Jarvx commented on #619
@clemsciences  Thank you for your response

[2018-01-04 06:19] taineleau commented on #619
I would like to help as well!

[2018-01-06 18:25] MaheshBhosale commented on #616
Gotcha. Thanks for the clarification. Working on it.

[2018-01-07 20:13] TylerKirby opened #620 "Latin syllabifier mishandles 'gu' digraph"
Currently the syllabifier returns `['lin', 'gu', 'a']` for `lingua` instead of `['lin', 'gua']`.

I tried to get around this by treating `g` the same as `q` in lines [185](https://github.com/cltk/cltk/blob/master/cltk/stem/latin/syllabifier.py#L185) and [198](https://github.com/cltk/cltk/blob/master/cltk/stem/latin/syllabifier.py#L198), but that only gets us to `['li', 'ngua']` and may have other

[2018-01-07 20:45] kylepjohnson commented on #619
@Jarvx and @taineleau questions for you, as you are the experts:

* Are there other free and open source pre-modern Chinese text corpora that you know of?
* Or treebanks?
* Other data sets?
* What kind of statistical NLP would be possible for us, given the nature of our data?

[2018-01-07 20:47] kylepjohnson commented on #620
Thanks for documenting this bug, Tyler. Dumb question: you're talking about `lingua` and not `linguā`, right?

[2018-01-07 20:53] TylerKirby commented on #620
Yep, I haven't tested it with `linguā` yet.

[2018-01-08 06:43] taineleau commented on #619
One popular project is http://ctext.org

[CityU Treebank of Classical Chinese Poems](http://classicalchinese.lt.cityu.edu.hk/)
[Dependency Treebank](http://www.aclweb.org/anthology/N12-1020) (should be part of the CityU Treebank project)

- (Classical) Chinese Word/[Sentence](http://www.aclweb.org/anthology/W10-4103) Segmentation
- Covert between Traditional and Simplified Chinese: [OpenCC](https:

[2018-01-08 17:10] diyclassics commented on #620
I see here that @lukehollis cites a workflow: "Split Latin words into a list of syllables, based on a set of Latin language syllable specifications and the original work of Father Matthew Spencer in C# and Javascript. Original documentation from Fr. Spencer is preserved where applicable." Two questions:
1. Does this original workflow produce this result? (cc: @lukehollis)
2. As long as this remain

[2018-01-08 23:27] lukehollis commented on #620
Hey all! @TylerKirby great hearing from you on this, and I'm wondering if @todd-cook's syllabifier results in the same error? If so, perhaps it'd be better to migrate to have a single Latin syllabifier shared between projects?

Also you can reference http://marello.org/tools/syllabifier/ and https://forum.musicasacra.com/forum/discussion/comment/64706#Comment_64706 I'll look for emails from Fr. Ma

[2018-01-08 23:34] lukehollis commented on #620
The project Fr. Matthew recommends as of 2016 is here: http://gregorio-project.github.io/hyphen-la/ and in Python https://github.com/gregorio-project/hyphen-la/blob/master/syllabifier/syllabify.py It appears to handle the 'gu' digraph properly. Since I've been out of day-to-day Python development for the last year or so, I'll leave it to you three and the community as to the decision of which syll

[2018-01-09 03:07] TylerKirby commented on #620
@lukehollis thanks for all those resources! I just checked @todd-cook's syllabifier and it seems to have the same problem.

I agree that we should have a single Latin syllabifier. Fr. Matthew's syllabifier handles `lingua` perfectly. My vote is that we update the current Latin syllabifier with Fr. Matthew's most recent code. We could even improve on it a bit by handling some edge cases like `suavi

[2018-01-10 07:38] todd-cook commented on #620
What's the desired correction? The best rule example I can find is more a list of corner cases:
"In most cases the letter u is a vowel, but following certain other letters it is consonantal and so does not scan, e.g., after q, after g in sanguen, unguentum, lingua, and languidus; after suāvis and suēscō and its compounds." Elsewhere we see that "Lucretius varies between vocalic and consonantal u i

[2018-01-10 18:54] TylerKirby commented on #620
@todd-cook thanks for following up on this! I'm having difficulty too trying to find a general rule for cases like `suavis` and `perduellio`. We should include your fix for g + vowel and maybe hard code values for `suavis`, `suesco`, `perduellio` etc. Or we could allow the user to pass in their own list of hard-coded syllabified values, e.g., `Syllabifier([{'suavis': ['sua', 'vis']}]).syllabify('Q

[2018-01-10 19:22] kylepjohnson commented on #620
I don't have any input into how to solve this, however FYI I just merged Todd's PR #621 and sent it to PyPI. Any and all updates welcome, just give me a warning should you not want a PR merged immediately.

[2018-01-11 16:58] the-ethan-hunt opened #622 "Corpora for Gujarati"
In context to Issue #608 and adding up to PR #613 , I would like to continue contributing to CLTK by creating a Gujarati corpora repository. I am an NLP enthusiast and a  GSoC'18 aspirant. Any leads on where to start? :sweat_smile:
P.S. I have researched for free and open-source Gujarati corpora

[2018-01-15 22:33] clemsciences commented on #605
Specific cases for Old Norse are verbs merges with þú and sik. I must think about the simplest way to program the tokenizer.

[2018-01-17 16:36] kylepjohnson commented on #605
Merged #623 .

Want to keep this issue open?

[2018-01-17 18:27] clemsciences commented on #605
The tokenizer development for Old Norse has only begun. Several ideas must be tried : rule-based tokenizer, trainable one or something I have not thought about. I will give my ideas to the community here in this issue, if you think it is the right place. The only other place would be the Germanic forum but there is no activity.
Some papers could help find ideas. I will also use Twitter to share po

[2018-01-18 10:08] LBenzahia commented on #622
@the-ethan-hunt , https://github.com/cltk/cltk/wiki/How-to-add-a-corpus-to-the-CLTK

[2018-01-19 12:02] pranaydeep-af commented on #617
I'll work on this if it's ok? @kylepjohnson @LBenzahia

[2018-01-19 12:05] LBenzahia commented on #617
@pranaydeep-af, Indeed.

[2018-01-24 15:52] rogorido opened #625 "Hints for using cltk with own latin corpus"
This is not really an issue, but a question (I can not find any mailing list on the webpage, sorry).

Since I'm a little lost with the way cltk works, I would appreciate if I could get some help with the following workflow:
I want to work with a 'private' corpus in latin (resolutions of a catholic religious order from 1500 to 1800). My questions are:
1. do I need to create a git repository for tha

[2018-01-24 20:16] kylepjohnson commented on #625
Hi Igor, these are all fair questions. We know that we need to clarify the docs, but haven't been sure exactly how. Here are some answers:

Great. Not many have used this, yet, however it is one of my personal favorite features.

**If your data is on a publicly available Git repo** (such as, say, <https://github.com/rogorido/my-corpus.git>), then follow [the docs on user-defined are here](http://d

[2018-01-25 02:02] diyclassics commented on #625
Let me add quickly to "If your data is only available on your local filesystem" *and* if it is a plaintext corpus, you can use NLTK's PlaintextCorpusReader to help manage the files and get out-of-the-box tokenization (para, sent, word). Cf. https://pynlp.wordpress.com/2013/12/10/unit-5-part-ii-working-with-files-ii-the-plain-text-corpus-reader-of-nltk/. This is the basis of the Latin Library reade

[2018-01-26 19:50] kylepjohnson commented on #602
Merged #606 Let's open new issues for each Odia feature.

[2018-01-26 19:50] #602 closed

[2018-01-27 04:20] inishchith opened #626 "add classical_hindi stopwords"
We have classical_hindi corpous [here](https://github.com/cltk/cltk/tree/master/cltk/corpus/classical_hindi) .
once approved by @kylepjohnson ,  I can add classical_hindi stopwords and also add it's usage to [hindi.rst docs](https://github.com/cltk/cltk/blob/master/docs/hindi.rst)

Once i start working on this issue . i'll follow your guidelines from [here](https://github.com/cltk/cltk/pull/614) .

[2018-01-27 05:45] the-ethan-hunt commented on #608
Should we close this issue @kylepjohnson ?

[2018-01-27 16:36] kylepjohnson commented on #608
Sure. Other ideas for Gujarati? If you are interested in stopwords, please see this recent comment of mine which explains what we what and why: https://github.com/cltk/cltk/issues/616#issuecomment-354389468

[2018-01-27 16:36] #608 closed

[2018-01-27 16:38] kylepjohnson commented on #626
Hi that would be great. For stopwords, follow the directions in my recent comment here: https://github.com/cltk/cltk/issues/616#issuecomment-354389468

Just be sure that you are giving the *old* form of the Hindi language, not modern orthography or grammar (I don't know Hindi, so we rely on you to explain this to us).

[2018-01-27 17:00] inishchith commented on #626
Cool 👍  . I'll ping and add references as i work through this issue . Thanks for replying @kylepjohnson

[2018-01-27 23:04] DLibatique opened #628 "Greek not among word tokenizers"
Hi! I attempted to use the Greek word tokenizer for a really quick search of a plain text file, as follows:

<pre>
from cltk.tokenize.word import WordTokenizer

word_tokenizer = WordTokenizer('greek')

for word in word_tokenizer.tokenize('files/plain_text/1-23_1.1-42.txt'):
	if word.endswith('εαι'):
		print(word)
</pre>

When I tried to call the script, I got the following error:

`AssertionError:

[2018-01-28 03:58] diyclassics commented on #628
@DLibatique See https://github.com/cltk/cltk/pull/629

[2018-01-28 16:08] the-ethan-hunt commented on #608
@kylepjohnson , I would be happy to! :smile: . I am already working on #622 . After creating the corpora, I would begin adding the stopwords. :sweat_smile:

[2018-01-28 16:12] #628 closed

[2018-01-28 16:32] diyclassics opened #630 "Unused imports in word tokenizer module"
The word tokenizer module has a large number of imports from NLTK that are not used anywhere in the module. Removing them 1. cleans up the code, and 2. speeds up testing.

[2018-01-29 00:03] diyclassics opened #632 "CLTK approach/style to deprecation?"
I think it would be a good idea to set up a standard CLTK approach for deprecating methods (or even entire modules). Something like this in cltk.utils that could be imported to modules as necessary may be an option: https://wiki.python.org/moin/PythonDecoratorLibrary#Smart_deprecation_warnings_.28with_valid_filenames.2C_line_numbers.2C_etc..29 Thoughts?

[2018-01-29 00:58] diyclassics commented on #561
@kylepjohnson Update—I've worked out another example of a workable new structure (similar, but not exact to what I laid out above) in this repo/branch: https://github.com/diyclassics/cltk/tree/word-tokenizer-reorg/cltk/tokenize

Tokenizers are placed in a submodule by language and import a class from the main tokenize module. So, e.g., to get the Latin word tokenizer, you would use:
`from cltk.tok

[2018-01-29 01:01] diyclassics commented on #561
Btw one thing to consider... right now my proposal imports like this:
`from cltk.tokenize.[LANGUAGE].word import WordTokenizer`

I can see an argument for:
`from ctlk.tokenize.word.[LANGUAGE] import WordTokenizer`

[2018-01-29 01:41] diyclassics opened #633 "Add Hebrew stoplist?"
Hebrew does not yet have a language-specific submodule in cltk.stop: https://github.com/cltk/cltk/tree/master/cltk/stop

[2018-01-29 01:42] diyclassics opened #634 "Add Coptic stoplist?"
Coptic does not yet have a language-specific submodule in cltk.stop: https://github.com/cltk/cltk/tree/master/cltk/stop

[2018-01-29 01:42] diyclassics opened #635 "Add Classical Chinese stoplist?"
Classical Chinese does not yet have a language-specific submodule in cltk.stop: https://github.com/cltk/cltk/tree/master/cltk/stop

[2018-01-29 01:48] diyclassics opened #636 "Add Hebrew alphabet?"
Hebrew does not yet have a language-specific alphabet in cltk.corpora: https://github.com/cltk/cltk/tree/master/cltk/corpus/hebrew

[2018-01-29 01:50] diyclassics opened #637 "Add Egyptian alphabet(s)?"
Egyptian does not yet have language-specific alphabets (for any period) in cltk.corpora: https://github.com/cltk/cltk/tree/master/cltk/corpus/egyptian

[2018-01-29 01:56] diyclassics opened #638 "Move indian tokenizer inside sentence.py"
It seems like the file "indian_tokenizer.py" inside cltk.tokenizer should be part of sentence.py not in its own file. (Cf. https://github.com/cltk/cltk/blob/master/cltk/tokenize/indian_tokenizer.py)

[2018-01-29 02:01] #609 closed

[2018-01-29 02:06] inishchith commented on #626
@kylepjohnson for the datasets , i'm going ahead with the [cltk classical_hindi corpora](https://github.com/cltk/hindi_text_ltrc) .

[2018-01-29 13:51] D-K-E commented on #637
Good call. Here is the problem. The closest thing to an alphabet in egyptian is hieroglyphics and there is not a stable transliteration system among the egyptologists yet and hieroglyphics are not entirely covered by unicode.

The Manuel de Codage transliteration system is somewhat universal among the *software* treating hieroglyphics, and it is widely used among colleagues, but it is not accurate

[2018-01-29 15:24] diyclassics commented on #637
@D-K-E Thanks for the response—you'll notice that after posting I changed the title to "alphabet(s)" because I realized the simplistic way in which I had originally framed the issue! I think that there may be an argument to be made for putting something in place, say, for hieroglyphic, even without full unicode support, to get some coverage so that someone curious about Egyptian languages and text

[2018-01-29 18:49] inishchith commented on #626
@diyclassics any pointers ?

[2018-01-29 19:18] jtauber commented on #561
+1 on your proposal overall.

My only thought was to put language-specific code in a `lang` subdirectory to keep it grouped but I don't feel strongly either way (and it does lengthen full module names).

[2018-01-29 19:50] clemsciences commented on #637
The uniliteral signs can be seen as an alphabet as expected by @diyclassics : https://en.m.wikipedia.org/wiki/Transliteration_of_Ancient_Egyptian#Uniliteral_signs

[2018-01-29 20:39] markomanninen commented on #615
Could someone point to the tutorial where greek perseus corpora is used to read any text say homer iliad as a plain readable format?

[2018-01-29 21:23] diyclassics commented on #615
@markomanninen—Perseus reader is still an open issue (#361, e.g.).

There are some ways to go about it outside of CLTK though: 1. MyCapytain (cc: @PonteIneptique) http://mycapytain.readthedocs.io/en/latest/ is one option; and 2. I show in this tutorial/notebook how to get plaintext perseus texts using requests/lxml. Let me know if how these options work for you and I'll be sure to move up XML read

[2018-01-29 21:27] jtauber commented on #615
Let me help a little by adding an issue to Scaife to provide a plain text render of a passage directly on Perseus.

[2018-01-29 23:39] kylepjohnson opened #641 "Finish tutorial notebook on n-grams"
See the other Jupyter notebooks for an idea of what to do. Preferably use the Latin language, as in the others.

https://github.com/cltk/tutorials/blob/master/6%20N-grams.ipynb

[2018-01-30 05:14] kylepjohnson commented on #637
@D-K-E I echo @diyclassics's perspective, but I'll put it slightly another way: Our first goal should be help researchers, even if what they do is not perfect. If we can do the Manuel de Codage system first, as well any others that your colleagues use, then that is a good start. After the basics are done, then we are certainly open to more advanced methods and innovation :-)

Sure, please do. If y

[2018-01-30 05:52] markomanninen commented on #615
Thanks for quick feedback. Ill try that notebook. Looks good to me. But could I use already imported corpora from my local machine? I mean cltk import corpora does it fine and I can spot files from my home directory. Problem is that xml or json format should be parsed and some interface would be helpful to retrieve chapters and verses. Anyway let me try.

[2018-01-30 07:23] PonteIneptique commented on #615
Hi @markomanninen , some context for local corpora use : Capitains.org guidelines are used by Perseus and the OpenGreekAndLatin project to encode their text. The requirements for the xml TEI is quite small (*[Guidelines](http://capitains.org/pages/guidelines)*) and so if you are working with xml files from other providers, you could easily "convert" them for being read by Capitains tools.

Once yo

[2018-01-30 09:34] markomanninen commented on #615
Thanks @PonteIneptique It looks like MyCapytain requires lxml.etree version lower than 3.8.0 which are not compatible with my windows systems. I could try to install earlier version of mycapytain, or try other ways of parsing xml data...

[2018-01-30 09:47] PonteIneptique commented on #615
@markomanninen I think it should work with <3.8.0 . Maybe we could move the conversation elsewhere but it seems there is a Windows wheel for 3.8.0 : https://pypi.python.org/pypi/lxml/3.8.0 ?

[2018-01-30 10:06] markomanninen commented on #615
Yeah, this is another issue. My sys.version is:

3.5.4 |Continuum Analytics, Inc.| (default, Aug 14 2017, 13:41:13) [MSC v.1900 64 bit (AMD64)]

but `from lxml import etree` gives error. Only this one works:

import xml.etree.cElementTree as etree

which should be valid import for 2.5+

So to get mycapitain work in my system, I would need to fork and modify that module first...

[2018-01-30 13:36] D-K-E commented on #637
@clemsciences I also think it is a good idea to start with uniliteral signs, however the signs have a lot of variations besides the ones that are listed in the wikipedia. The scribes used these variations according to epoch, context, etc. Maybe supporting the variations that are listed in unicode can be a start.

However the current practice among the egyptologists is to use svg drawings that are

[2018-01-31 14:37] markomanninen commented on #615
I made a gist for parsing local file, this is very raw version, not using any xml parser, thus might have some issues:

https://gist.github.com/markomanninen/a68f200b4e98f018d7618dab0365ffe5#file-perseus_local_file_parser-py

[2018-01-31 15:38] avkumar19 opened #643 "Errors in unicode conversion for Hindi texts."
Almost all the files [here](https://github.com/cltk/hindi_text_ltrc) contains some discrepancy in terms of language which are getting passed down to the tokenization step.
Basically it is of two kinds:-
1. Unnecessary character sequence. (eg. र्र्र्र्र्र्र्र्र्र्र्र्र्र्र्र्र्र्).
2. Wrong conversion of relevant words (eg. गÝरीसा should be गौरीसा and many more).
They need to be corrected for accur

[2018-02-01 03:52] kylepjohnson commented on #643
@avkumar19 If they need any obvious cleaning, then please go for it. Just submit a PR to that repo.

Would you explain a little more for us? Can you make the fixes programmatically?

[2018-02-01 03:54] kylepjohnson commented on #643
Referencing issue on repo: https://github.com/cltk/hindi_text_ltrc/issues/1

[2018-02-01 04:40] inishchith commented on #638
@kylepjohnson @diyclassics i'd like to work on this issue . can you assign this to me ?

[2018-02-01 10:51] avkumar19 commented on #643
@kylepjohnson I found one program to convert the shusha text (Hindi font (Devanagari) to Unicode [here](https://techwelkin.com/tools/shusha-unicode-shusha-font-converter/), but when I tried converting the texts from the [files](https://github.com/cltk/hindi_text_ltrc/tree/master/original_classical_hindi_data) , the errors were still present. The reason for this could be the text in those [files](h

[2018-02-01 16:29] rogorido commented on #625
@kylepjohnson , @diyclassics thanks a lot for your suggestions. I managed to import the texts I want to analyze.

Unfortunately I have another basic question (and maybe not the last one...): which would be the best method to "train" the lemmatizer to be aware of lemmas which were not very common in classical latin (for instance, 'excommunicatio')?

[2018-02-02 17:08] kylepjohnson commented on #625
I think this was the purpose of @diyclassics 's `RegexpLemmatizer()` [[code](https://github.com/cltk/cltk/blob/094f001201a0d5043930b50fd5ab8e090992d9c8/cltk/lemmatize/latin/backoff.py#L200)]. We don't have docs for it, however you can see it being used in a test:

* https://github.com/cltk/cltk/blob/cbd6457c43997b09d35298d42414ce5064db7180/cltk/tests/test_lemmatize.py#L91

[2018-02-02 17:15] kylepjohnson opened #646 "Add Swadesh list for Tocharian B"
Data here: https://en.wiktionary.org/wiki/Appendix:Tocharian_B_Swadesh_list

Follow the pattern here: https://github.com/cltk/cltk/blob/4bf42fc9a19cf711f7eb1e908850fb64c65b0582/cltk/corpus/swadesh.py#L6

Call the list `swadesh_txb`.

[2018-02-02 17:20] kylepjohnson opened #647 "Add Swadesh list for Old and Middle Egyptian"
Data here: https://en.wiktionary.org/wiki/Appendix:Egyptian_Swadesh_list

Follow the pattern here: https://github.com/cltk/cltk/blob/4bf42fc9a19cf711f7eb1e908850fb64c65b0582/cltk/corpus/swadesh.py#L6

Note that this list is actually 2 -- old and middle.

Call the lists `swadesh_egy_old` and `swadesh_egy_middle`.

[2018-02-02 17:25] kylepjohnson opened #648 "Add Swadesh list for Old Portguguese"
Data here: https://en.wiktionary.org/wiki/Appendix:Old_Portuguese_Swadesh_list

Note: Use the original orthography, not the IPA

Follow the pattern here: https://github.com/cltk/cltk/blob/4bf42fc9a19cf711f7eb1e908850fb64c65b0582/cltk/corpus/swadesh.py#L6

Call the list `swadesh_pt_old`.

[2018-02-02 17:28] kylepjohnson opened #649 "Add Swadesh list for Biblical Hebrew"
Data here: http://www.academia.edu/7113238/Swadesh_list_vocabulary_basic_list_for_Ugaritic_Phoenician_Biblical_Hebrew_Syriac_and_Arabic

Please be sure to cite the author of this in a `# comment`

Follow the pattern here: https://github.com/cltk/cltk/blob/4bf42fc9a19cf711f7eb1e908850fb64c65b0582/cltk/corpus/swadesh.py#L6

Call the list `swadesh_hbo`.

[2018-02-02 17:28] kylepjohnson opened #650 "Add Swadesh list for Syriac"
Data here: http://www.academia.edu/7113238/Swadesh_list_vocabulary_basic_list_for_Ugaritic_Phoenician_Biblical_Hebrew_Syriac_and_Arabic

Please be sure to cite the author of this in a `# comment`

Follow the pattern here: https://github.com/cltk/cltk/blob/4bf42fc9a19cf711f7eb1e908850fb64c65b0582/cltk/corpus/swadesh.py#L6

Call the list `swadesh_syc`.

[2018-02-02 17:30] kylepjohnson opened #651 "Add Swadesh list for Ugaritic"
Data here: http://www.academia.edu/7113238/Swadesh_list_vocabulary_basic_list_for_Ugaritic_Phoenician_Biblical_Hebrew_Syriac_and_Arabic

Please be sure to cite the author of this in a `# comment`

Follow the pattern here: https://github.com/cltk/cltk/blob/4bf42fc9a19cf711f7eb1e908850fb64c65b0582/cltk/corpus/swadesh.py#L6

Call the list `swadesh_uga`.

[2018-02-02 17:32] kylepjohnson opened #652 "Add Swadesh list for Phoenician"
Data here: http://www.academia.edu/7113238/Swadesh_list_vocabulary_basic_list_for_Ugaritic_Phoenician_Biblical_Hebrew_Syriac_and_Arabic

Please be sure to cite the author of this in a `# comment`

Follow the pattern here: https://github.com/cltk/cltk/blob/4bf42fc9a19cf711f7eb1e908850fb64c65b0582/cltk/corpus/swadesh.py#L6

Call the list `swadesh_phn`.

[2018-02-02 17:33] kylepjohnson opened #653 "Add Swadesh list for Arabic"
Data here: http://www.academia.edu/7113238/Swadesh_list_vocabulary_basic_list_for_Ugaritic_Phoenician_Biblical_Hebrew_Syriac_and_Arabic

Please be sure to cite the author of this in a `# comment`

Follow the pattern here: https://github.com/cltk/cltk/blob/4bf42fc9a19cf711f7eb1e908850fb64c65b0582/cltk/corpus/swadesh.py#L6

Call the list `swadesh_ar`.

[2018-02-02 17:41] kylepjohnson opened #654 "Add Swadesh list for Sanskrit"
Data here: https://en.wiktionary.org/wiki/Appendix:Sanskrit_Swadesh_list

Please be sure to cite the author of this in a `# comment`

Follow the pattern here: https://github.com/cltk/cltk/blob/4bf42fc9a19cf711f7eb1e908850fb64c65b0582/cltk/corpus/swadesh.py#L6

Call the list `swadesh_sa`.

[2018-02-02 17:51] kylepjohnson opened #655 "Add a new Swadesh list"
Find [a language within scope of the CLTK](https://github.com/cltk/cltk/wiki/List-of-Classical-languages) and add a [Swadesh list](https://en.wikipedia.org/wiki/Swadesh_list).

Steps:
1. Open a new issue explaining what 1 language for which you want to add a list.
2. Follow the pattern here: https://github.com/cltk/cltk/blob/master/cltk/corpus/swadesh.py
3. For the name of this list, call it `swad

[2018-02-02 19:33] kylepjohnson commented on #637
@D-K-E If you believe these would help you and your colleagues, then I think it is a fine plan.

I'll merge this now

A good idea, especially as many non-experts might come to the CLTK expecting to use Unicode. And in the docs, perhaps you can give some brief explanation of their shortcomings.

Sure.

[2018-02-03 09:15] the-ethan-hunt commented on #654
I would love to work on this @kylepjohnson . Just one question: should I create a `swadesh.py` or add the list in the `cltk/cltk/corpus/swadesh.py`?

[2018-02-03 10:47] diyclassics opened #657 "Travis builds failing"
Started receiving this error tonight with Travis CI builds:
ERROR: Failure: ModuleNotFoundError (No module named 'google_compute_engine')

For complete report, see https://travis-ci.org/diyclassics/cltk/builds/336795194

[2018-02-03 12:34] inishchith commented on #657
@diyclassics i think this is a travis-CI environment issue as per the discussion over [here](https://github.com/travis-ci/travis-ci/issues/7940) and [this](https://github.com/bchew/dynamodump/pull/45/files) seems to possibly fix the issue .

[2018-02-03 18:59] diyclassics commented on #657
Agreed—I'll let @kylepjohnson take the lead on updating any travis configuration issues. Still not sure why this came up on the latest sets of builds (I see it happened on the main cltk build as well).

[2018-02-04 03:51] TylerKirby commented on #620
Just ran across an issue with `linguā`, it's syllabified as `['lin', 'gu', 'ā']` by the `cltk.prosody.latin` syllabifier. @todd-cook what would be the easiest way to fix this in your opinion?

[2018-02-04 06:18] todd-cook commented on #620
https://github.com/cltk/cltk/pull/658 @TylerKirby
Thanks for the feedback!

[2018-02-04 16:14] kylepjohnson commented on #655
@yashsharan You need to choose a new language or one of the current. Please read these directions more closely.

[2018-02-04 16:23] kylepjohnson commented on #657
Thanks, Todd's PR #620 failed, too, with this same thing. I'll look into it.

[2018-02-04 17:20] avkumar19 commented on #643
@kylepjohnson I have solved the problem and created a pull request [here](https://github.com/cltk/hindi_text_ltrc/pulls) plz have a look.

[2018-02-04 17:26] kylepjohnson commented on #643
Thank you, I will look at this as soon as I am back in front of my computer. 

4. Feb 2018 09:20 by notifications@github.com:

[2018-02-04 21:25] guruhegde commented on #646
Hello,

I would like to take this up. Will send PR soon.

comments:
* Some word has texts like pl (?) or POS tag like a noun, third-person plural preterite. I removed those. If it is required, I will update the PR.
* For some words, translation doesn't exist. For those, I kept an empty string, to preserve the order across all swadesh lists.

[2018-02-06 00:39] kylepjohnson commented on #657
Thanks @inishchith I'll try one of these fixes.

[2018-02-06 01:37] TylerKirby commented on #620
@todd-cook that fix looks perfect, thanks so much for preparing the PR so quickly!

[2018-02-07 11:15] taineleau commented on #619
@kylepjohnson

[2018-02-07 12:11] taineleau commented on #635
I would like to take it!

[2018-02-07 17:59] kylepjohnson commented on #619
@taineleau A few comments on those corpora:

* CText: Currently, we cannot rehost CText texts, unfortunately. http://ctext.org/faq#copyright
* CityU Treebank of Classical Chinese Poems: There is nothing telling us we cannot rehost this data, however I would like to make sure. Danlu, would you be able to email the maintainers [ Ying Cheuk Hui, John Lee, Yin Hei Kong, Ying Cheuk Hui] of this? You ca

[2018-02-07 18:01] kylepjohnson commented on #619
@Jarvx Please feel free to join this conversation, too.

The maintainers do not know enough about Chinese to propose projects for you, however we would like to hear of some ideas. Right now, the smaller the project the better.

[2018-02-07 20:19] kylepjohnson commented on #619
Regarding one of my questions:

I was just talking with a Chinese colleague of mine, and he explained that simplified characters only simplify the look of characters, not meaning (so there is a 1:1 mapping of simple to traditional). If I understand correctly, then I see that it does not matter whether a user uses simplified or traditional characters in their NLP -- is that true?

Also, regarding a

[2018-02-07 21:33] kylepjohnson commented on #635
@taineleau It's yours if you want it. But first, would you please describe your approach for us?

[2018-02-08 13:09] #626 closed

[2018-02-08 13:43] #630 closed

[2018-02-08 13:48] inishchith opened #663 "Add Swadesh list for Classical hindi language"
In reference to [this](https://github.com/cltk/cltk/issues/655) , I would like to add Swadesh list for classical hindi language .

once approved by @kylepjohnson , I'd like add swadesh_hi from [here](https://en.wiktionary.org/wiki/Appendix:Hindi_Swadesh_list) 😄

[2018-02-08 14:16] #646 closed

[2018-02-08 14:50] kylepjohnson commented on #663
This is a fine task, however as this list is of modern Hindi, would you please explain whether any of these words have changed since the time of classical Hindi. Or are these simple words unchanged?

[2018-02-08 14:52] #620 closed

[2018-02-08 16:08] inishchith commented on #663
@kylepjohnson some of them have changed , still i'll take some time to check through the complete list again and verify .

[2018-02-09 20:12] kylepjohnson opened #668 "Add Swadesh lists to docs"
We currently have 6 Swadesh lists (following from #655 and others), however only docs for 2 (Greek and Latin). You can see the currently available languages here: <https://github.com/cltk/cltk/blob/master/cltk/corpus/swadesh.py>. We need to add docs for:
* Tocharian B (`txb`)
* Old Portuguese (`pt_old`)
* Old English (`eng_old`)
* Old Norse(`old_norse`)

For the docs, follow the pattern here: http

[2018-02-09 20:18] kylepjohnson opened #669 "Commit contributors.md after Travis CI build"
After a successful build on Travis-CI, we want our `contributors.md` to be updated by (a) running `cltk/utils/contributors.py` on the build server, then (b) posting the updated `contributors.md` back to the master branch here on GitHub. I started this work a while back and (a) went fine, however I couldn't get (b) to work right. My Travis config code: <https://github.com/cltk/cltk/blob/push-test/.

[2018-02-10 05:42] #654 closed

[2018-02-10 05:54] #668 closed

[2018-02-10 05:58] kylepjohnson commented on #663
@inishchith Cool, go for it, we look forward to seeing it. Please also add a our [Hindi docs](https://github.com/cltk/cltk/blob/c6cc49a2c506f38a6ea1cfcb7d477a3056e9cdf8/docs/hindi.rst) ([example](https://github.com/cltk/cltk/blob/c6cc49a2c506f38a6ea1cfcb7d477a3056e9cdf8/docs/latin.rst#swadesh)).

[2018-02-10 08:45] the-ethan-hunt commented on #638
@diyclassics , if this issue is yet to be resolved, I would like to solve it. :smile:

[2018-02-12 15:56] inishchith commented on #638
@the-ethan-hunt there has been no response , either of us should go ahead. i's halfway into this on other branch . if you don't mind , should i complete it ?

[2018-02-12 16:14] the-ethan-hunt commented on #638
@inishchith , this might also mean that they are working on this issue. No response does not mean either of us has been assigned or should start working IMHO. Let's wait for a while and let the Owner decide.

[2018-02-12 17:37] Dropout1997 commented on #635
Can I take it? I have got a source of chinese stopwords present in both JSON and txt format

[2018-02-12 17:54] Dropout1997 commented on #650
I wish to take it . I also want to know the difference between 2 types of elements in the list ---- 'dexter'  and 'laevus, sinister'. I mean why is the second element having two words and the first one having a single word.

[2018-02-13 04:55] inishchith commented on #641
@kylepjohnson i'd like to work on this , let me know if any one is assigned / has been working on this issue 😄

[2018-02-13 09:38] Dropout1997 commented on #653
@kylepjohnson  , I went through the dataset and found the task to be quite tedious. Could I use some other links from the internet for doing the same task? I would still cite the author

[2018-02-13 19:50] avkumar19 commented on #643
@kylepjohnson I am really waiting for the feedback on my work, before moving further to solve other issues. I wanted to convey to you that my interest and desire to contribute to [cltk](https://github.com/cltk) projects is very serious, and I am really looking forward to work for cltk in GSoc 2018. Once you verify my work then I will move forward to create stop word list for classical Hindi.
I als

[2018-02-14 11:01] vikrant97 opened #677 "Add swadeshi list for classical punjabi language"
In reference to the issue #655 , I would like to add Swadeshi list for classical Punjabi language. I would add the list from [here](https://en.wiktionary.org/wiki/Appendix:Punjabi_Swadesh_list)

[2018-02-14 11:47] osho-agyeya commented on #641
@kylepjohnson I have completed this exercise. Should I upload the python notebook here itself?

[2018-02-14 12:30] osho-agyeya opened #678 "Add a new Swadesh list for Classical Sanskrit."

[2018-02-14 12:38] osho-agyeya commented on #678
In reference to the issue #655 , I would like to add Swadeshi list for classical Sanskrit language. I would add the list from [https://en.wiktionary.org/wiki/Appendix:Sanskrit_Swadesh_list](here).

[2018-02-14 12:45] osho-agyeya commented on #678
@kylepjohnson  Could you mention any links for moving forward in this regard?

[2018-02-14 20:22] diyclassics opened #680 "Add numpy, scipy, etc. to CLTK requirements?"
I have been working on updating the Stop module to have generic, language-neutral stopword extraction class (cf. https://github.com/diyclassics/cltk/blob/stops-dev/cltk/stop/stop.py). This class uses numpy and scikit-learn, but first checks the user's environment to see if these are installed before running. This is fine. Still, I had to add these packages to the .travis.yml so that the module cou

[2018-02-14 23:46] pabitralenka commented on #678
Hi @osho-agyeya . Swadesh list for Sanskrit has been added already. Please have a look on this #666 . It would be great if you can add the same for some other language. To proceed further, please follow @kylepjohnson instructions here #655 .

Thanks.

[2018-02-15 09:08] osho-agyeya commented on #652
I have taken this up.

[2018-02-15 09:48] vikrant97 opened #681 "Add corpora for classical punjabi language"
Currently, corpora for punjabi only contains the gurbani text. I have researched about many other classical texts for punjabi and would like to add some of them.

[2018-02-15 10:20] osho-agyeya opened #682 "Add Swadesh list for Kannada"
In reference to the issue #655 , I would like to add Swadeshi list for Kannada language.

I will be using the following Swadeshi list:
[here](https://en.wiktionary.org/wiki/Appendix:Dravidian_Swadesh_lists)

The name of the python list will be swadesh_kan.

I am working on it. Will be updating.... :)

[2018-02-15 13:47] vikrant97 opened #684 "Unable to import gujarati corpora"
When I tried to import gujarati corpora, it throws error. When I tried to look into reason behind this, it turns out that the [link](https://github.com/cltk/gujarati_text_wikisource.git) to the repository which contains the corpora is not valid. This ticket is raised in reference to the issue #622 and PR #613 .
Please correct me if I am wrong.

[2018-02-15 13:55] the-ethan-hunt commented on #684
@vikrant97 , please see this PR #645 . The ownership will be transferred to cltk. Please close this issue for now 😄

[2018-02-15 14:54] #684 closed

[2018-02-15 18:19] osho-agyeya commented on #678
Is there anything else that I can add here @kylepjohnson ?

[2018-02-15 18:24] osho-agyeya commented on #636
I am taking this up.

[2018-02-15 20:50] osho-agyeya commented on #636
This was pretty tough. Almost every website has different letters.

[2018-02-16 08:15] osho-agyeya commented on #641
@kylepjohnson I have completed this exercise. Please provide relevant feedback.
[Please see this](https://github.com/cltk/tutorials/pull/5)

[2018-02-16 09:49] osho-agyeya commented on #653
I am completing this.

[2018-02-16 09:50] osho-agyeya opened #690 "Add Swadesh list for arabic"

[2018-02-16 09:50] #690 closed

[2018-02-16 17:11] pratikmjoshi commented on #649
@kylepjohnson  Hi, I'm new here. May I take this issue?

[2018-02-17 06:24] marcos0318 commented on #635
As a chinese, I am very curious about the idea stop words in ancient chinese. Because the ancient chinese do not really have a 'stop word' that is equivalent to English. Can I have a look at what is in your json file?

[2018-02-17 12:29] diyclassics commented on #635
It would be interesting to look [Zou et al., 2006] (https://www.researchgate.net/publication/229022366_Automatic_construction_of_Chinese_stop_word_list) to see the relationship between modern and classical lists. I have implemented Zou's method in the CorpusStoplist class in the new (under development) ``stop`` module: https://github.com/diyclassics/cltk/blob/stops-dev/cltk/stop/stop.py

[2018-02-17 14:58] marcos0318 commented on #619
@kylepjohnson
That traditional/simplified translation is a good point. Actually, the traditional/simplified mapping is not 100% percent 1:1 mapping. Sometimes the multiple traditional character map to one mapping, I can raise some examples. The exact translation between simplified and traditional one depends on the context. That is why we need that openCC

[2018-02-17 15:07] marcos0318 commented on #619
I would like to test the openCC, and if it works well, I would like to add it to a part of my Gsoc project.
I have found a good database for classic Chinese, and I have downloaded it. Still, I am not sure about the copyright issues. It seems that the database is contributed by a forum, they like to read and exchange their ebooks in ancient Chinese. I am trying to connect the maintainer of the data

[2018-02-17 15:38] marcos0318 commented on #619
I have bought some books and did some researches on the difference between ancient Chinese and modern Chinese, and many years ago, I did very well in high school ancient Chinese course.
To make our communication effective, I would like to give you some basic points on how is ancient Chinese like.
-  Chinese is an [Analytic Language](https://en.wikipedia.org/wiki/Analytic_language)
We do not change

[2018-02-17 15:48] marcos0318 commented on #619
- The ancient Chinese do not have [punctuations](https://en.wikipedia.org/wiki/Chinese_punctuation)
Even if ancient passages appear on the books, their punctuations are added by editors for the convenience of reading. **Adding punctuations statistically will be a really good idea.** Many high school student will say thank you if we developed an APP based on this.

[2018-02-17 16:12] marcos0318 commented on #619
- The words are used really flexible. We can even say the POS of ancient Chinese is not totally fixed.
For example, the character "王" means "king" is modern Chinese but in ancient Chinese, it could have a meaning of "Let .... to be the king" or ".... is the king". That really depends on the context, and most of the notional words can be used in a similar way.

[2018-02-17 16:26] marcos0318 commented on #619
- The pattern of the sentence is also flexible.
For example, the modern Chinese has a rather fixed pattern in an ordered way: Subject + adverbial + predicate + object.
However, in ancient Chinese, we put the stressed part in the front and organize other parts of the sentence with the help of function words. Thus, **POS tagging could be a really tough job**, but we can have a try.

[2018-02-17 22:57] osho-agyeya commented on #634
I shall take this.

[2018-02-17 23:19] osho-agyeya opened #693 "Add Japanese stoplist"
I shall be adding Japanese stop list using [this](https://github.com/stopwords-iso/stopwords-ja) as source.

[2018-02-18 02:28] taineleau commented on #619
- OpenCC
 I introduced this package is to resolve the [variant Chinese character](https://en.wikipedia.org/wiki/Variant_Chinese_character) problem. Even within the ancient Chinese, one character might have several variants. (I am not an expert on this) This is not that urgent, but it would be great to port OpenCC to CLTK for later usage (if any).

- word segmentation / POS tagging / parsing
I am a

[2018-02-18 03:44] D-K-E commented on #619
@taineleau I am no specialist on any aspect of classical/modern chinese whatsoever, but in ancient egyptian hieroglyphics we deal with what I assume that can be applied to chinese as well (no word dividing character, very rare usage of punctuation marks, different writing directions, ever changing word patterns, etc). Again in terms of nlp, the most difficult task is word separation.

Maybe I am p

[2018-02-18 03:51] taineleau commented on #635
@diyclassics I will take a look at it after ACL'18 deadline... Part of my submission is working on stopword list.

[2018-02-18 10:09] Asutosh989 opened #695 "Add Oriya stop words list"
I would like to add the oriya stop words list as well some extra information to existing oriya corpus.

[2018-02-18 14:02] shivamsaboo17 opened #696 "Add Marathi stopwords to the corpus."
I would be adding stop words from https://github.com/stopwords-iso/stopwords-mr

[2018-02-18 14:07] the-ethan-hunt opened #697 "Stemmer for Marathi"
I would be adding the stemmer for Marathi language with the testing file also.

[2018-02-18 16:31] marcos0318 commented on #619
@taineleau

Yes, you are right, we have to add this feature. I did not mention the CWS previously because you have mentioned that previously. I did not underestimate the importance of this part.

Thank you very much for pointing out. Previously I just pointing out the basic features of the ancient Chinese.

Also, I have found a [database](http://122.200.75.13/) that is in simplified Chinese. I am

[2018-02-19 17:20] #663 closed

[2018-02-19 17:35] kylepjohnson opened #698 "Redo Old French Swadesh list"
Multiple issues with this Swadesh list.

[code]

1) Some of these words are not properly formatted, like the first (`'jo, jou, je, ge'`). Are these alternative spellings of "I"? If so I don't know which to use … @diyclassics would know better than I.

2) `len(swadesh_fr_old)` is `176`, which is too long. @diyclassics should all of these be 100?

3) Please cite the source you used to make this.

[2018-02-19 17:38] kylepjohnson commented on #693
Thank you Osho. The CLTK only is concerned with pre-modern forms of languages, yet this list looks to account for contemporary Japanese. Do you know the language well enough to answer for us whether these stop words appear in writing that is more than ~200 years old?

[2018-02-19 17:49] kylepjohnson commented on #697
Sure, go for it, but could you explain a little bit more about how you will do this.

[2018-02-19 17:50] inishchith commented on #638
@kylepjohnson need your suggestions to move ahead 😄

[2018-02-19 17:51] kylepjohnson commented on #638
Hey @inishchith please go for it

[2018-02-19 19:19] kylepjohnson opened #699 "Pin Travis to older version"
Pinning this as a reminder to us all, in the future.

About a month ago, Travis CI made a change to its script, that the build reports a fail if there is a preexisting version of the CLTK on PyPI. [About](https://github.com/travis-ci/travis-ci/issues/9134#issuecomment-360335200).

I like the simplicity of just declaring a new vers once in a while in `setup.py`, then having the latest push. So this

[2018-02-19 19:19] #699 closed

[2018-02-20 07:03] the-ethan-hunt opened #700 "Discrepancies in classical Hindi Swadesh list"
The classical Hindi Swadesh list includes the following words in its list:
`[ 'ख़ून', 'दिल','औरत',' इंसान']`
And many other such words which are **borrowed from Urdu** and other languages. These words have native classical Hindi words which are not included in the list. IMHO, this is a Modern Hindi Swadesh list.

 

[2018-02-20 07:11] the-ethan-hunt commented on #697
@kylepjohnson , if we compare English and Marathi:

`I run: मी दवडतो`
`I ran: मी दवडला `

A suffix stripping algorithm is ineffective in English; however it very effective in Marathi as suffixes are added to convert a verb form into past, present or the future. Once the suffixes are stripped, we get the verb.
Would love to hear about this approach from you. :smile:

[2018-02-20 07:27] the-ethan-hunt commented on #698
@kylepjohnson , yes they are all forms of I. It seems some nonproper formatting due to the difference between the words used in Modern French and Old French. Old French was Frankish and Gaulish languages hence the change. For example, `this` in Old French meant  `cist, cest, cestui` but over the years it developed into `ce`.

Since 2010, Swadesh lists have now been extended from 100 to 207. Almost

[2018-02-20 11:21] inishchith commented on #700
@the-ethan-hunt thanks for addressing the issue.

True ,  i did a search on the words mentioned and found backing [here](https://blogs.transparent.com/hindi/hindi-or-urdu/) .
while adding these , i carried out search , didn't find such contradictions then .

I'll have a closer look on the list again . These surely needs corrections .

[2018-02-20 14:16] MissingBytes commented on #682
I would like to work on this issue. My mother tongue is Kannada and I hope that will be much helpful in working on this issue. :)

[2018-02-20 16:22] MissingBytes commented on #652
Can I start working on this issue?

[2018-02-20 17:02] the-ethan-hunt commented on #650
@kylepjohnson , should this issue be closed now? :sweat_smile:

[2018-02-20 17:02] the-ethan-hunt commented on #622
Closing this issue now. :smile:

[2018-02-20 17:02] #622 closed

[2018-02-21 10:18] shubham808 opened #704 "Add Dutch Corpora and Swadesh list"
#703 @kylepjohnson please review the corpora and swadesh list i will follow up with stop words once this looks green :+1:

[2018-02-21 11:38] souravsingh commented on #651
I am interested in working on the issue.

[2018-02-21 22:47] kylepjohnson opened #707 "Add Swadesh list to Egyptian docs"
Following from PR #676 by @Sedictious , add [the Egyptian Swadesh lists](https://github.com/Sedictious/cltk/blob/6d462dc4c54ec8a9d9142a71a03ef68481241bbe/cltk/corpus/swadesh.py) (both `egy_old` and `egy_middle`).

Doc file here: https://github.com/cltk/cltk/blob/master/docs/ancient_egyptian.rst

Issue open for anyone

[2018-02-22 01:03] kylepjohnson commented on #636
PR #689 reviewed, please add docs and I'll merge.

[2018-02-22 13:46] TheFlash10 opened #709 "Add Hindi Stoplist"
I want to add Hindi stoplist using [this](https://github.com/stopwords-iso/stopwords-hi) as the source. Please review. Can I go ahead with editing the hindi.rst if its correct ??

[2018-02-22 14:08] clemsciences commented on #709
Hindi is a modern language, so it does not interest CLTK (where C stands for Classical).

[2018-02-22 15:35] kylepjohnson commented on #709
1. Actually, in this case Clément, there is a good deal of pre-modern Hindi.

The first book printed in Hindi was in 1796 ([source](https://mutiny.wordpress.com/2007/04/13/earliest-printed-books-in-indian-languages/)), so I think it'd be fair to include the "Riti or Srngar poems" era.

All this said @clemsciences , you are right that we only want the pre-modern forms of Hindi … this sometimes is d

[2018-02-22 16:55] TheFlash10 commented on #709
Ok thanks :)

[2018-02-22 16:58] #709 closed

[2018-02-22 18:38] chennakeshava1998 commented on #707
Can you please specify what task is to be done here?
Are you referring to the python dictionaries with names 'egy_old' and 'egy_middle' here https://github.com/Sedictious/cltk/blob/6d462dc4c54ec8a9d9142a71a03ef68481241bbe/cltk/corpus/swadesh.py ?
To which file should we add the egy_old and egy_middle?

[2018-02-26 02:02] TylerKirby opened #716 "Latin Syllabifier Bugs"
Just came across two more bugs with the Latin prosody syllabifier:
[code]
1) It looks like `ui` is always treated as a diphthong even in words like `fuit`
2) I'm not really sure what happened with `iīs`. Even `iis` is currently syllabified as `jis`, so the macron isn't the issue.

@todd-cook what are your thoughts?

[2018-02-26 05:07] Lasers67 opened #717 "Syntax Error in cltk.prosody.latin.Syllabifier"
[code]

[2018-02-26 05:14] #717 closed

[2018-02-26 13:50] salonirk11 commented on #649
@kylepjohnson the data referenced here only accounts to **romanized hebrew**, whereas swadesh list must contain **scripts** of biblical hebrew. I have come across several sources for data, but it would be really helpful if you could point me to a reliable one.
Thank you.

[2018-02-26 15:47] kylepjohnson commented on #649
Romanized or Hebrew alphabet are both fine for our project. There may be scholarly reasons why the above article uses the Latin alphabet, so I would prefer to use what a specialist has published.

Do you want this issues assigned to you?

[2018-02-26 18:26] TheFlash10 commented on #716
Ya the dipthongs are creating a problem. For example "eus" and "eunt" are 2 syllable words but the syllabifier outputs only one output.

[2018-02-26 18:31] salonirk11 commented on #649
Yes I want to take up this issue. If Romanized alphabet is fine I'll make a list using it.

I fell upon [this](http://www.kreuzer-siegfried.de/hilfsmittel/hebr-500-engl.pdf). It contains 500 important words(in Hebrew alphabet) of the Old Testament compiled by a scholar in Old Testament and Biblical Archeology. If this is acceptable I can construct the Swadesh list using this as well.